Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @etkmao, @zealotchen0, @pba-cra, @siguangli, @ozonelmy, @wwwcg

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @etkmao

# cmake related
*.cmake @ilikethese @etkmao
CMakeLists.txt @ilikethese @etkmao

# driver: js
/.eslintignore @zealotchen0
/.eslintrc.js @zealotchen0
/.nycrc @zealotchen0
/package.json @zealotchen0
/package-lock.json @zealotchen0
/ava.config.js @zealotchen0
/core/ @ilikethese @etkmao
/core/js/ @zealotchen0
/packages/ @zealotchen0
/packages/hippy-web-renderer/ @pba-cra @zealotchen0

# framework: android
/android/ @siguangli
/android/**/src/main/jni/ @ilikethese @etkmao

# framework: ios
/ios/ @ozonelmy @wwwcg

# dom: layout
/layout/ @ilikethese

# gh: config
/.github/ @zealotchen0

# doc: example
/examples/ @zealotchen0
/examples/hippy-*-demo/ @zealotchen0
/examples/android-demo/ @siguangli
/examples/android-demo/res/ @zealotchen0
/examples/ios-demo/ @ozonelmy @wwwcg
/examples/ios-demo/res/ @zealotchen0
/static/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/hippy.podspec @ozonelmy @wwwcg
/_Pods.xcodeproj/ @wwwcg @ozonelmy

# build: config
/buildconfig/ @ilikethese @etkmao

# build: js
/tsdoc.json @zealotchen0
/tsconfig.json @zealotchen0
/lerna.json @zealotchen0
/scripts/ @zealotchen0

fix(ios): fix modal view layout issue
  renderer/native/ios/renderer/component/modal/NativeRenderModalHostViewManager.mm
Owners: @ilikethese, @etkmao

fix(ios): fix modal view layout issue
  renderer/native/ios/renderer/component/modal/NativeRenderModalHostViewManager.mm
Owners: @ilikethese, @etkmao

fix(ios): remove highly frequent logs
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/ios/base/bridge/HippyBridge.mm
  modules/footstone/include/footstone/logging.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
Owners: @ilikethese, @etkmao

fix(ios): remove highly frequent logs
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/ios/base/bridge/HippyBridge.mm
  modules/footstone/include/footstone/logging.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
Owners: @ilikethese, @etkmao

chore(ios): update ios podspec for framework
  hippy.podspec
Owners: @ozonelmy, @wwwcg

fix(ios): podspec use_framework support bug
  framework/examples/ios-demo/podfile
  hippy.podspec
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

fix(ios): podspec use_framework support bug
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/examples/ios-demo/podfile
  hippy.podspec
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

chore(ios): update podspec for framework packing
  framework/examples/ios-demo/podfile
  hippy.podspec
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

fix(ios): relayout dom when rootView frame change
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/examples/ios-demo/podfile
  framework/ios/base/bridge/HippyBridge.mm
  renderer/native/ios/renderer/HippyRootView.h
  renderer/native/ios/renderer/HippyRootView.mm
Owners: @ilikethese, @etkmao

fix(ios): relayout dom when rootView frame change
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/examples/ios-demo/podfile
  framework/ios/base/bridge/HippyBridge.mm
  renderer/native/ios/renderer/HippyRootView.h
  renderer/native/ios/renderer/HippyRootView.mm
Owners: @ilikethese, @etkmao

fix(ios): podspec use_framework support bug (#3558)
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/examples/ios-demo/podfile
  hippy.podspec
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

fix(ios): fix uimanager and bundle operation queue's crash
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.m
  renderer/native/ios/renderer/HippyUIManager.mm
Owners: @ilikethese, @etkmao

fix(ios): fix uimanager and bundle operation queue's crash
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.m
  renderer/native/ios/renderer/HippyUIManager.mm
Owners: @ilikethese, @etkmao

chore(docs): remove deprecated api `overScrollEnabled`
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
Owners: @zealotchen0

fix(perf): enable perflog output in debug mode only
  framework/ios/base/bridge/HippyBridge.mm
  modules/footstone/include/footstone/logging.h
Owners: @ilikethese, @etkmao

fix(android): flatten view set multiple event failed
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
Owners: @ilikethese, @etkmao

fix(android): update props reuse null view object
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
Owners: @ilikethese, @etkmao

fix(android): update props reuse null view object
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
Owners: @ilikethese, @etkmao

fix(vue): fix not update style diff crash
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @ilikethese, @etkmao

fix(vue): fix not update style diff crash
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @ilikethese, @etkmao

fix(perf): enable perflog output in debug mode only
  framework/ios/base/bridge/HippyBridge.mm
  modules/footstone/include/footstone/logging.h
Owners: @ilikethese, @etkmao

fix(android): send onSizeChanged message to js
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/HippyRootView.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Owners: @ilikethese, @etkmao

fix(android): send onSizeChanged message to js
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/HippyRootView.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Owners: @ilikethese, @etkmao

fix(ios): animation module multi-instance support 2
  ios/sdk/module/animation2/HippyNextAnimationModule.m
  ios/sdk/module/animation2/pop/HPOPAnimator.h
  ios/sdk/module/animation2/pop/HPOPAnimator.mm
Owners: @ozonelmy, @wwwcg

fix(ios): fix context leak when using shared engine (#3451)
  examples/ios-demo/HippyDemo/ViewController.m
  ios/sdk/base/executors/HippyJSCExecutor.mm
Owners: @ozonelmy, @wwwcg

fix(ios): animation module multi-instance support
  ios/sdk/module/animation2/HippyNextAnimationModule.m
Owners: @ozonelmy, @wwwcg

fix(hippy-react-web): HippyTypes.Style for web (#3468)
  packages/global.d.ts
  packages/hippy-react-web/src/components/list-view.tsx
  packages/hippy-react-web/src/components/text-input.tsx
  packages/hippy-react-web/src/modules/stylesheet.ts
  packages/hippy-react/src/components/list-view.tsx
  packages/hippy-react/src/components/text.tsx
  packages/hippy-react/src/components/view.tsx
  packages/hippy-react/src/modules/stylesheet.ts
  packages/hippy-react/src/types/index.ts
Owners: @zealotchen0

fix(android): fix npe when preload
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
Owners: @siguangli

fix(ios): onChange event not triggered when typing Chinese Pinyin
  ios/sdk/component/textinput/HippyTextField.m
Owners: @ozonelmy, @wwwcg

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/base/file.h
  core/src/base/file.cc
Owners: @ilikethese, @etkmao

fix(core): fix console module log encode
  core/src/modules/console_module.cc
Owners: @ilikethese, @etkmao

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
Owners: @ilikethese, @etkmao

chore(release): released 2.17.2
  CHANGELOG.md
  android/sdk/gradle.properties
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  hippy.podspec
  ios/sdk/base/HippyBridge.mm
  lerna.json
  packages/hippy-react-web/CHANGELOG.md
  packages/hippy-react-web/package-lock.json
  packages/hippy-react-web/package.json
  packages/hippy-react/CHANGELOG.md
  packages/hippy-react/package-lock.json
  packages/hippy-react/package.json
  packages/hippy-vue-css-loader/CHANGELOG.md
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-css-loader/package.json
  packages/hippy-vue-loader/CHANGELOG.md
  packages/hippy-vue-loader/package.json
  packages/hippy-vue-native-components/CHANGELOG.md
  packages/hippy-vue-native-components/package.json
  packages/hippy-vue-next-style-parser/CHANGELOG.md
  packages/hippy-vue-next-style-parser/package-lock.json
  packages/hippy-vue-next-style-parser/package.json
  packages/hippy-vue-next/CHANGELOG.md
  packages/hippy-vue-next/package-lock.json
  packages/hippy-vue-next/package.json
  packages/hippy-vue-router/CHANGELOG.md
  packages/hippy-vue-router/package-lock.json
  packages/hippy-vue-router/package.json
  packages/hippy-vue/CHANGELOG.md
  packages/hippy-vue/package-lock.json
  packages/hippy-vue/package.json
  packages/hippy-web-renderer/CHANGELOG.md
  packages/hippy-web-renderer/package-lock.json
  packages/hippy-web-renderer/package.json
Owners: @zealotchen0, @siguangli, @ozonelmy, @wwwcg, @pba-cra

chore(ios): make sdk version using macro defines
  framework/ios/base/bridge/HippyBridge.mm
  hippy.podspec
  modules/ios/base/HippyDefines.h
  modules/ios/base/HippyUtils.h
  modules/ios/base/HippyUtils.m
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

fix(ios): add missing error log and suppress some warning
  framework/ios/base/modules/HippyModulesSetup.mm
  framework/ios/utils/NSObject+CtxValue.mm
  modules/ios/base/HippyLog.mm
Owners: @ilikethese, @etkmao

fix(ios): refactor iOS gesture system to fix bugs
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyScrollProtocol.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.h
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/HippyViewEventProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesView.m
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.h
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.h
  renderer/native/ios/renderer/component/view/UIView+DomEvent.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.h
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.h
  renderer/native/ios/renderer/touch_handler/HippyCustomTouchHandlerProtocol.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Owners: @ilikethese, @etkmao

fix(dom): fix skip style diff update style map null
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
Owners: @ilikethese, @etkmao

fix(dom): fix skip style diff update style map null
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
Owners: @ilikethese, @etkmao

fix(android): fix compile issue in AS release mode
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
  modules/footstone/include/footstone/logging.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
Owners: @ilikethese, @etkmao

feat(hermes): remove promise and modif webpack vue2 demo
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.android-vendor.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.android.js
Owners: @ilikethese, @etkmao
