Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @etkmao, @zealotchen0, @pba-cra, @siguangli, @ozonelmy, @wwwcg

chore(doc): update `asyncStorage` doc
  docs/api/hippy-react/modules.md
  docs/api/hippy-vue/vue-native.md
Owners: @zealotchen0

fix(animation): animatin play and rotate compatibility error
  packages/hippy-web-renderer/src/module/animation-module.ts
  packages/hippy-web-renderer/src/module/ui-manager-module.ts
Owners: @pba-cra, @zealotchen0

chore(doc): update dimensions api notes
  docs/api/hippy-react/modules.md
Owners: @zealotchen0

feat(uimanagermodule): add getBoundingClientRect api
  packages/hippy-web-renderer/package.json
  packages/hippy-web-renderer/src/module/animation-module.ts
  packages/hippy-web-renderer/src/module/ui-manager-module.ts
Owners: @pba-cra, @zealotchen0

chore(doc): update debug guide docs
  docs/assets/img/device-ctrl.webm
  docs/en-us/assets/img/device-ctrl.webm
  docs/en-us/guide/debug.md
  docs/guide/debug.md
Owners: @zealotchen0

chore(doc): update debug guide docs
  docs/assets/img/device-ctrl.webm
  docs/en-us/assets/img/device-ctrl.webm
  docs/en-us/guide/debug.md
  docs/guide/debug.md
Owners: @zealotchen0

refactor(ios): revert rename for Image component
  renderer/native/ios/renderer/component/image/HippyAnimatedImage.h
  renderer/native/ios/renderer/component/image/HippyAnimatedImage.m
  renderer/native/ios/renderer/component/image/HippyAnimatedImageView.h
  renderer/native/ios/renderer/component/image/HippyAnimatedImageView.m
  renderer/native/ios/renderer/component/image/HippyImageView.h
  renderer/native/ios/renderer/component/image/HippyImageView.m
  renderer/native/ios/renderer/component/image/HippyImageViewManager.h
  renderer/native/ios/renderer/component/image/HippyImageViewManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageCache.h
  renderer/native/ios/renderer/component/image/NativeRenderImageCache.m
Owners: @ilikethese, @etkmao

fix(ios): add type exist check and fix bugs
  framework/ios/module/dev/HippyRedBox.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Owners: @ilikethese, @etkmao

fix(ios): reload textfield to take effect after altering returnKeyType
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
Owners: @ilikethese, @etkmao

fix(ios): reload textfield to take effect after altering returnKeyType
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
Owners: @ilikethese, @etkmao

feat(hermes): add hermes pod spec file
  hippy.podspec
Owners: @ozonelmy, @wwwcg

fix(ios): add type exist check and fix bugs
  framework/ios/module/dev/HippyRedBox.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Owners: @ilikethese, @etkmao

fix(android): waterfall preloadItemNumber not working
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/WaterfallEndChecker.java
Owners: @siguangli

refactor(ios): revert rename for Image component
  renderer/native/ios/renderer/component/image/HippyAnimatedImage.h
  renderer/native/ios/renderer/component/image/HippyAnimatedImage.m
  renderer/native/ios/renderer/component/image/HippyAnimatedImageView.h
  renderer/native/ios/renderer/component/image/HippyAnimatedImageView.m
  renderer/native/ios/renderer/component/image/HippyImageView.h
  renderer/native/ios/renderer/component/image/HippyImageView.m
  renderer/native/ios/renderer/component/image/HippyImageViewManager.h
  renderer/native/ios/renderer/component/image/HippyImageViewManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageCache.h
  renderer/native/ios/renderer/component/image/NativeRenderImageCache.m
Owners: @ilikethese, @etkmao

fix(ios): reaload textfield after changing keyboardType
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
Owners: @ilikethese, @etkmao

fix(ios): reaload textfield after changing keyboardType
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
Owners: @ilikethese, @etkmao

fix(doc): remove unused animated property definition from docs
  docs/api/hippy-react/components.md
Owners: @zealotchen0

chore(android): add file license header
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/WaterfallEndChecker.java
Owners: @siguangli

feat(hermes): pod spec version 3.0.0-hermes
  hippy.podspec
Owners: @ozonelmy, @wwwcg

fix(android): waterfall preloadItemNumber not working
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/WaterfallEndChecker.java
Owners: @siguangli

chore(android): add file license header
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/WaterfallEndChecker.java
Owners: @siguangli

fix(doc): remove unused animated property definition from docs
  docs/api/hippy-react/components.md
Owners: @zealotchen0

feat(hermes): pod spec source
  hippy.podspec
Owners: @ozonelmy, @wwwcg

fix(ios): add caretColor property support
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
Owners: @ilikethese, @etkmao

fix(ios): add caretColor property support
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
Owners: @ilikethese, @etkmao

feat(hermes): modify hippy.podspec
  hippy.podspec
Owners: @ozonelmy, @wwwcg

fix(ios): add type exist check and fix bugs
  framework/ios/module/dev/HippyRedBox.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Owners: @ilikethese, @etkmao

refactor(ios): revert rename for Image component
  renderer/native/ios/renderer/component/image/HippyAnimatedImage.h
  renderer/native/ios/renderer/component/image/HippyAnimatedImage.m
  renderer/native/ios/renderer/component/image/HippyAnimatedImageView.h
  renderer/native/ios/renderer/component/image/HippyAnimatedImageView.m
  renderer/native/ios/renderer/component/image/HippyImageView.h
  renderer/native/ios/renderer/component/image/HippyImageView.m
  renderer/native/ios/renderer/component/image/HippyImageViewManager.h
  renderer/native/ios/renderer/component/image/HippyImageViewManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageCache.h
  renderer/native/ios/renderer/component/image/NativeRenderImageCache.m
Owners: @ilikethese, @etkmao

chore(ios): make sdk version using macro defines
  framework/ios/base/bridge/HippyBridge.mm
  hippy.podspec
  modules/ios/base/HippyDefines.h
  modules/ios/base/HippyUtils.h
  modules/ios/base/HippyUtils.m
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

fix(ios): refactor iOS gesture system to fix bugs
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyScrollProtocol.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.h
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/HippyViewEventProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesView.m
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.h
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.h
  renderer/native/ios/renderer/component/view/UIView+DomEvent.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.h
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.h
  renderer/native/ios/renderer/touch_handler/HippyCustomTouchHandlerProtocol.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Owners: @ilikethese, @etkmao

fix(ios): add missing error log and suppress some warning
  framework/ios/base/modules/HippyModulesSetup.mm
  framework/ios/utils/NSObject+CtxValue.mm
  modules/ios/base/HippyLog.mm
Owners: @ilikethese, @etkmao

fix(ios): listview performance optimization and bug fix (#3572)
  framework/examples/ios-demo/podfile
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewDataSource.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Owners: @ilikethese, @etkmao

fix(ios): fix an endless loop when updating rootView's frame
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
Owners: @ilikethese, @etkmao

fix(ios): fix view background image frame bug
  renderer/native/ios/renderer/component/view/HippyView.m
Owners: @ilikethese, @etkmao

fix(ios): add missing alwaysBounceVertical for ListView
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Owners: @ilikethese, @etkmao

fix(android): support host override notifyInitialListReady
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
Owners: @ilikethese, @etkmao

fix(android): support host override notifyInitialListReady
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
Owners: @ilikethese, @etkmao

fix(ios): make use of darkStatusBarText property in modal controller
  framework/examples/ios-demo/HippyDemo/Info.plist
  renderer/native/ios/renderer/component/modal/HippyModalHostView.m
  renderer/native/ios/renderer/component/modal/HippyModalTransitioningDelegate.m
Owners: @ilikethese, @etkmao

fix(ios): make use of darkStatusBarText property in modal controller
  framework/examples/ios-demo/HippyDemo/Info.plist
  renderer/native/ios/renderer/component/modal/HippyModalHostView.m
  renderer/native/ios/renderer/component/modal/HippyModalTransitioningDelegate.m
Owners: @ilikethese, @etkmao

feat(renderer): reset time when setPage and format code
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.mm
Owners: @ilikethese, @etkmao

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @etkmao

# cmake related
*.cmake @ilikethese @etkmao
CMakeLists.txt @ilikethese @etkmao

# driver: js
/.eslintignore @zealotchen0
/.eslintrc.js @zealotchen0
/.nycrc @zealotchen0
/package.json @zealotchen0
/package-lock.json @zealotchen0
/ava.config.js @zealotchen0
/core/ @ilikethese @etkmao
/core/js/ @zealotchen0
/packages/ @zealotchen0
/packages/hippy-web-renderer/ @pba-cra @zealotchen0

# framework: android
/android/ @siguangli
/android/**/src/main/jni/ @ilikethese @etkmao

# framework: ios
/ios/ @ozonelmy @wwwcg

# dom: layout
/layout/ @ilikethese

# gh: config
/.github/ @zealotchen0

# doc: example
/examples/ @zealotchen0
/examples/hippy-*-demo/ @zealotchen0
/examples/android-demo/ @siguangli
/examples/android-demo/res/ @zealotchen0
/examples/ios-demo/ @ozonelmy @wwwcg
/examples/ios-demo/res/ @zealotchen0
/static/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/hippy.podspec @ozonelmy @wwwcg
/_Pods.xcodeproj/ @wwwcg @ozonelmy

# build: config
/buildconfig/ @ilikethese @etkmao

# build: js
/tsdoc.json @zealotchen0
/tsconfig.json @zealotchen0
/lerna.json @zealotchen0
/scripts/ @zealotchen0
