Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @churchill-zhang, @zealotchen0, @siguangli, @ozonelmy, @lvfen, @skindhu, @vimerzhao, @lavnFan

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @churchill-zhang

# cmake related
*.cmake @ilikethese @churchill-zhang
CMakeLists.txt @ilikethese @churchill-zhang

# driver: js
/driver/js/ @churchill-zhang @ilikethese
/driver/js/*.js @zealotchen0
/driver/js/.eslintignore @zealotchen0
/driver/js/.eslintrc.js @zealotchen0
/driver/js/.nycrc @zealotchen0
/driver/js/tsconfig.json @zealotchen0
/driver/js/tsdoc.json @zealotchen0
/driver/js/lerna.json @zealotchen0
/driver/js/package.json @zealotchen0
/driver/js/package-lock.json @zealotchen0
/driver/js/examples/ @zealotchen0
/driver/js/scripts/ @zealotchen0
/driver/js/packages/ @zealotchen0

# driver: vl:
/driver/vl/ @ilikethese @churchill-zhang

# framework: android
/framework/android/ @siguangli
/framework/android/**/src/main/cpp/ @churchill-zhang @ilikethese

# framework: ios
/framework/ios/ @ozonelmy

# framework: voltron
/framework/voltron/ @lvfen @skindhu

# dom: others
/dom/ @churchill-zhang @ilikethese

# renderer: native
/renderer/native/android/ @siguangli
/renderer/native/ios/ @ozonelmy

# renderer: tdf
/renderer/tdf/ @vimerzhao
/renderer/tdf/android/ @siguangli
/renderer/tdf/android/**/src/main/cpp/ @ilikethese @churchill-zhang
/renderer/tdf/ios/ @ozonelmy

# renderer: voltron
/renderer/voltron/ @lvfen @skindhu

# module: vfs
/modules/vfs/ @churchill-zhang @ilikethese
/modules/vfs/android/ @siguangli
/modules/vfs/android/**/src/main/cpp/ @churchill-zhang @ilikethese
/modules/vfs/ios/ @ozonelmy
/modules/vfs/voltron/ @lvfen @skindhu

# module: voltron
/modules/voltron/ @lvfen @skindhu

# module: android
/modules/android/ @siguangli
/modules/android/jni/ @churchill-zhang @ilikethese

# module: ios
/modules/ios/ @ozonelmy

# module: footstone
/modules/footstone/ @churchill-zhang @ilikethese

# devtools: backend
/devtools/ @lavnFan

# gh: config
/.github/ @zealotchen0

# doc: example
/framework/examples/android-demo/ @siguangli
/framework/examples/android-demo/res/ @zealotchen0
/framework/examples/ios-demo/ @ozonelmy
/framework/examples/ios-demo/res/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/HippySDK.xcworkspace/ @ozonelmy
/hippy.podspec @ozonelmy
/xcodeinitscript.sh @ozonelmy

# build: config
/buildconfig/ @ilikethese @churchill-zhang

# build: ci
/package.json @zealotchen0
/package-lock.json @zealotchen0
/commitlint.config.js @zealotchen0
/.editorconfig @zealotchen0
/.gitattributes @zealotchen0
/.gitignore @zealotchen0
/.markdownlintrc.json @zealotchen0
/PUBLISH.md @zealotchen0
/README.md @zealotchen0

feat(ios): add inspectable for ios
  framework/ios/base/bridge/HippyBridge.h
Owners: @ozonelmy

feat(voltron): compat vm opt for voltron android
  framework/voltron/core/include/bridge/bridge_runtime.h
  framework/voltron/core/include/bridge/ffi_bridge_runtime.h
  framework/voltron/core/src/bridge/android/bridge_impl.cc
  framework/voltron/core/src/bridge/android/bridge_impl.h
  framework/voltron/core/src/bridge/android/dart2js.cc
  framework/voltron/core/src/bridge/android/dart2js.h
  framework/voltron/core/src/bridge/android/exception_handler.cc
  framework/voltron/core/src/bridge/android/exception_handler.h
  framework/voltron/core/src/bridge/android/js2dart.cc
  framework/voltron/core/src/bridge/android/js2dart.h
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/core/src/bridge/ffi_bridge_runtime.cc
  renderer/voltron/core/include/render/bridge/bridge_manager.h
  renderer/voltron/core/src/render/bridge/bridge_manager.cc
Owners: @lvfen, @skindhu

feat(driver): remove redundant code
  driver/js/include/driver/scope.h
  driver/js/src/scope.cc
Owners: @churchill-zhang, @ilikethese

fix(voltron): fix conflict to v3.0-dev
  framework/voltron/android/build.gradle
  framework/voltron/core/include/bridge/bridge_runtime.h
  framework/voltron/core/include/bridge/ffi_bridge_runtime.h
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/core/src/bridge/ffi_bridge_runtime.cc
  renderer/voltron/core/include/render/bridge/bridge_manager.h
  renderer/voltron/core/src/render/bridge/bridge_manager.cc
Owners: @lvfen, @skindhu

fix(android): text default color
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Owners: @siguangli

fix(driver): fix code conflicts
  driver/js/src/js_driver_utils.cc
  driver/js/src/modules/timer_module.cc
Owners: @churchill-zhang, @ilikethese

fix(ios): change plugins from Swift to Objective-C
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.h
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.m
  framework/voltron/ios/Classes/SwiftVoltronPlugin.h
  framework/voltron/ios/Classes/SwiftVoltronPlugin.m
  framework/voltron/ios/Classes/SwiftVoltronPlugin.swift
Owners: @lvfen, @skindhu

fix(voltron): delete swift plugin file
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.swift
  framework/voltron/ios/Classes/SwiftVoltronPlugin.swift
  framework/voltron/ios/Classes/TencentVoltronRenderPlugin.h
  framework/voltron/ios/Classes/TencentVoltronRenderPlugin.m
  framework/voltron/ios/Classes/VoltronPlugin.h
  framework/voltron/ios/Classes/VoltronPlugin.m
Owners: @lvfen, @skindhu

feat(android): provide sdk version information
  driver/js/lib/global/Platform.js
  driver/js/src/vm/jsc/native_source_code_ios.cc
  driver/js/src/vm/v8/native_source_code_android.cc
  framework/android/build.gradle
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  framework/voltron/core/src/bridge/native_source_code_flutter.cc
Owners: @churchill-zhang, @ilikethese, @siguangli, @lvfen, @skindhu

fix(android): support read custom local file path
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyResourceLoader.java
Owners: @siguangli

fix(iOS): change plugin implement and remove useless plugin
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.h
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.m
  framework/voltron/ios/Classes/SwiftVoltronPlugin.h
  framework/voltron/ios/Classes/SwiftVoltronPlugin.m
  framework/voltron/ios/Classes/TencentVoltronRenderPlugin.h
  framework/voltron/ios/Classes/TencentVoltronRenderPlugin.m
  framework/voltron/ios/Classes/VoltronPlugin.m
Owners: @lvfen, @skindhu

fix(voltron): add license in plugin impl
  framework/voltron/ios/Classes/VoltronPlugin.m
Owners: @lvfen, @skindhu

fix(iOS): change plugin implement and remove useless plugin
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.h
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.m
  framework/voltron/ios/Classes/SwiftVoltronPlugin.h
  framework/voltron/ios/Classes/SwiftVoltronPlugin.m
  framework/voltron/ios/Classes/TencentVoltronRenderPlugin.h
  framework/voltron/ios/Classes/TencentVoltronRenderPlugin.m
  framework/voltron/ios/Classes/VoltronPlugin.m
Owners: @lvfen, @skindhu

fix(voltron): add license in plugin impl
  framework/voltron/ios/Classes/VoltronPlugin.m
Owners: @lvfen, @skindhu

fix(ios): change plugins from Swift to Objective-C
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.h
  framework/voltron/ios/Classes/SwiftTencentVoltronRenderPlugin.m
  framework/voltron/ios/Classes/SwiftVoltronPlugin.h
  framework/voltron/ios/Classes/SwiftVoltronPlugin.m
  framework/voltron/ios/Classes/SwiftVoltronPlugin.swift
Owners: @lvfen, @skindhu

fix(voltron): fix ios vm compile error
  framework/voltron/core/src/bridge/ios/VoltronJSCExecutor.mm
  framework/voltron/core/src/bridge/ios/VoltronJSEnginesMapper.mm
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
  framework/voltron/core/src/bridge/ios/utils/NSObject+CtxValue.mm
  framework/voltron/example/ios/Podfile.lock
  framework/voltron/ios/Classes/VoltronPlugin.h
  framework/voltron/ios/Classes/VoltronPlugin.m
Owners: @lvfen, @skindhu

fix(Android): Demo uses NoSnapshot by default
  examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Owners: @ilikethese, @churchill-zhang

fix(Android): Demo uses NoSnapshot by default
  examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Owners: @ilikethese, @churchill-zhang

feat(core): add readme for snapshot
  docs/_navbar.md
  docs/android/_sidebar.md
  docs/android/snapshot.md
  docs/en-us/_navbar.md
  docs/en-us/android/_sidebar.md
  docs/en-us/android/snapshot.md
Owners: @zealotchen0

feat(core): add readme for snapshot
  docs/_navbar.md
  docs/android/_sidebar.md
  docs/android/snapshot.md
  docs/en-us/_navbar.md
  docs/en-us/android/_sidebar.md
  docs/en-us/android/snapshot.md
Owners: @zealotchen0

fix(android): support read custom local file path
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyResourceLoader.java
Owners: @siguangli

feat(android): impl entry of snapshot
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/LayoutUtils.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/MainActivity.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageManagement.kt
Owners: @ilikethese, @churchill-zhang

fix(ios): text need to do layout after marking dirty
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderObjectTextView.mm
Owners: @ozonelmy

fix(ios): text need to do layout after marking dirty
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderObjectTextView.mm
Owners: @ozonelmy

fix(android): text default color
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Owners: @siguangli

fix(driver): fix reload crash
  driver/js/include/driver/js_driver_utils.h
  driver/js/src/js_driver_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/voltron/core/src/bridge/android/bridge_impl.cc
Owners: @churchill-zhang, @ilikethese, @lvfen, @skindhu

fix(driver): fix reload crash
  driver/js/include/driver/js_driver_utils.h
  driver/js/src/js_driver_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/voltron/core/src/bridge/android/bridge_impl.cc
Owners: @churchill-zhang, @ilikethese, @lvfen, @skindhu

fix(driver): fix group id bug
  driver/js/src/js_driver_utils.cc
Owners: @churchill-zhang, @ilikethese

fix(driver): fix group id bug
  driver/js/src/js_driver_utils.cc
Owners: @churchill-zhang, @ilikethese

fix(driver): fix breakpoint bug
  driver/js/include/driver/js_driver_utils.h
  driver/js/include/driver/vm/js_vm.h
  driver/js/src/js_driver_utils.cc
  driver/js/src/vm/v8/v8_vm.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/voltron/core/src/bridge/android/bridge_impl.cc
Owners: @churchill-zhang, @ilikethese, @lvfen, @skindhu

fix(driver): fix breakpoint bug
  driver/js/include/driver/js_driver_utils.h
  driver/js/include/driver/vm/js_vm.h
  driver/js/src/js_driver_utils.cc
  driver/js/src/vm/v8/v8_vm.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/voltron/core/src/bridge/android/bridge_impl.cc
Owners: @churchill-zhang, @ilikethese, @lvfen, @skindhu

fix(android): cookies must be set for each request
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
Owners: @siguangli

fix(android): fix debug portal
  framework/examples/android-demo/src/main/AndroidManifest.xml
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/module/TestModule.java
Owners: @siguangli

fix(android): cookies must be set for each request
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
Owners: @siguangli

feat(android): add engine destroy impl
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineHelper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageManagement.kt
  framework/examples/android-demo-new/src/main/res/drawable/delete_page_2x.png
  framework/examples/android-demo-new/src/main/res/layout/page_index_item.xml
Owners: @ilikethese, @churchill-zhang

refactor(ios): remove unused code of viewPager
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.h
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerManager.mm
Owners: @ozonelmy

fix(ios): fix ConsoleModule.log not working (#2812)
  modules/footstone/src/platform/ios/logging.cc
Owners: @churchill-zhang, @ilikethese

refactor(vfs): add Terminate for vfs
  framework/android/src/main/cpp/src/entry.cc
  framework/ios/base/bridge/HippyConvenientBridge.mm
  modules/vfs/native/include/vfs/uri_loader.h
  modules/vfs/native/src/uri_loader.cc
Owners: @churchill-zhang, @ilikethese, @ozonelmy

refactor(vfs): add Terminate for vfs
  framework/android/src/main/cpp/src/entry.cc
  framework/ios/base/bridge/HippyConvenientBridge.mm
  modules/vfs/native/include/vfs/uri_loader.h
  modules/vfs/native/src/uri_loader.cc
Owners: @churchill-zhang, @ilikethese, @ozonelmy

fix(driver): fix finish crash
  driver/js/src/js_driver_utils.cc
  driver/js/src/vm/v8/inspector/v8_inspector_client_impl.cc
  driver/js/src/vm/v8/v8_vm.cc
  modules/footstone/src/task_runner.cc
Owners: @churchill-zhang, @ilikethese
