Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @churchill-zhang, @ilikethese, @zealotchen0, @pba-cra, @siguangli, @wwwcg, @ruifanyuan

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @churchill-zhang @ilikethese

# cmake related
*.cmake @churchill-zhang @ilikethese
CMakeLists.txt @churchill-zhang @ilikethese

# driver: js
/.eslintignore @zealotchen0
/.eslintrc.js @zealotchen0
/.nycrc @zealotchen0
/package.json @zealotchen0
/package-lock.json @zealotchen0
/ava.config.js @zealotchen0
/core/ @churchill-zhang @ilikethese
/core/js/ @zealotchen0
/packages/ @zealotchen0
/packages/hippy-web-renderer/ @pba-cra @zealotchen0

# framework: android
/android/ @siguangli
/android/**/src/main/jni/ @churchill-zhang @ilikethese

# framework: ios
/ios/ @wwwcg @ruifanyuan

# dom: layout
/layout/ @ilikethese

# gh: config
/.github/ @zealotchen0

# doc: example
/examples/ @zealotchen0
/examples/hippy-*-demo/ @zealotchen0
/examples/android-demo/ @siguangli
/examples/android-demo/res/ @zealotchen0
/examples/ios-demo/ @wwwcg @ruifanyuan
/examples/ios-demo/res/ @zealotchen0
/static/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/hippy.podspec @wwwcg @ruifanyuan
/_Pods.xcodeproj/ @wwwcg @ruifanyuan

# build: config
/buildconfig/ @churchill-zhang @ilikethese

# build: js
/tsdoc.json @zealotchen0
/tsconfig.json @zealotchen0
/lerna.json @zealotchen0
/scripts/ @zealotchen0

fix(ios): turbo module not get called on destroyInstance event
  docs/en-us/guide/jsi.md
  docs/guide/jsi.md
  examples/hippy-react-demo/src/main.js
  examples/ios-demo/HippyDemo/TestModule.m
  ios/sdk/base/HippyBatchedBridge.mm
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyBridge.mm
Owners: @zealotchen0, @wwwcg, @ruifanyuan

fix(ios): avoid zero size crash when using UIGraphics api in debug mode
  ios/sdk/component/view/HippyView.m
  ios/sdk/debug/devtools/inspector/model/HippyPageModel.m
Owners: @wwwcg, @ruifanyuan

fix(ios): loss of touch end or cancel event in multi-finger scenarios
  ios/sdk/base/HippyTouchHandler.m
Owners: @wwwcg, @ruifanyuan

perf(ios): draw backgroundImage asynchronously for performance (#3844)
  ios/sdk/component/view/HippyView.m
Owners: @wwwcg, @ruifanyuan

feat(ios): pageIndex of ViewPager auto update after data changes
  ios/sdk/component/viewPager/HippyViewPager.m
Owners: @wwwcg, @ruifanyuan

fix(ios): auto-update of page index may lag by one frame in view pager
  ios/sdk/component/viewPager/HippyViewPager.m
Owners: @wwwcg, @ruifanyuan

chore(build): update husky commit hook command
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Owners: @churchill-zhang, @ilikethese

fix(ios): make getTurboModule return null when module not exist
  ios/sdk/module/turbo/HippyTurboModuleManager.mm
Owners: @wwwcg, @ruifanyuan

fix(ios): potential deadlock in layout & unify all ScreenScale calls
  ios/sdk/base/HippyDeviceBaseInfo.m
  ios/sdk/component/image/HippyDefaultImageProvider.m
  ios/sdk/component/view/HippyBackgroundImageCacheManager.m
  ios/sdk/component/view/HippyShadowView.mm
  ios/sdk/component/view/HippyViewManager.mm
  ios/sdk/component/waterfalllist/HippyCollectionViewWaterfallLayout.m
  ios/sdk/layout/x5LayoutUtil.m
Owners: @wwwcg, @ruifanyuan

fix(ios): add protection for targetContentOffset outliers in ViewPager
  ios/sdk/component/viewPager/HippyViewPager.m
Owners: @wwwcg, @ruifanyuan

fix(ios): resolve exception where touchView may be nil
  ios/sdk/base/HippyTouchHandler.m
Owners: @wwwcg, @ruifanyuan
