Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns, @lvfen, @battleAgain

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @ilikethese @churchill-zhang @zoomchan-cxj @siguangli @ozonelmy @medns

*.js @zoomchan-cxj
*.java @siguangli
*.cc @churchill-zhang @medns @ilikethese
*.h @ozonelmy
*.m @ozonelmy
*.mm @ozonelmy

# ci, build & doc related
/.github/ @zoomchan-cxj @medns
/.gitattributes @zoomchan-cxj @medns
/.husky/ @zoomchan-cxj
/docker/ @medns
/buildconfig/ @medns
/docker/ @medns
/.editorconfig @zoomchan-cxj
/.gitignore @zoomchan-cxj
/.markdownlintrc.json @zoomchan-cxj
/docs/ @zoomchan-cxj

# dom related
/dom/ @churchill-zhang @ilikethese @medns

# js core related
/driver/js/core/ @churchill-zhang @zoomchan-cxj
/driver/js/core/js/ @zoomchan-cxj

# examples related
/driver/js/examples/android-demo/ @siguangli
/driver/js/examples/android-demo/res/ @zoomchan-cxj @siguangli
/driver/js/examples/ios-demo/ @ozonelmy
/driver/js/examples/ios-demo/res/ @zoomchan-cxj @ozonelmy
/driver/js/examples/hippy-react-demo/ @zoomchan-cxj
/driver/js/examples/hippy-vue-demo/ @zoomchan-cxj

# js related
/driver/js/packages/ @zoomchan-cxj
/driver/js/.eslintignore @zoomchan-cxj
/driver/js/lerna.json @zoomchan-cxj
/driver/js/tsconfig.json @zoomchan-cxj
/driver/js/package.json @zoomchan-cxj
/driver/js/package-lock.json @zoomchan-cxj
/driver/js/.nycrc @zoomchan-cxj
/driver/js/scripts/ @zoomchan-cxj
/package.json @zoomchan-cxj
/package-lock.json @zoomchan-cxj

# layout related
/layout/ @ilikethese @churchill-zhang

# android related
/driver/js/android/ @siguangli @churchill-zhang
/renderer/native/android/ @siguangli @churchill-zhang
/modules/android/ @siguangli @churchill-zhang
/gradle/ @siguangli @medns
/gradle.properties @siguangli @medns
/gradlew @siguangli @medns
/gradlew.bat @siguangli @medns
/build.gradle @siguangli @medns
/setting.gradle @siguangli @medns

# ios related
/driver/js/ios/ @ozonelmy @churchill-zhang
/renderer/native/ios/ @ozonelmy @churchill-zhang
/modules/ios/ @ozonelmy @churchill-zhang
/hippy.podspec @ozonelmy

# flutter related
/renderer/flutter/ @lvfen @battleAgain
/driver/js/flutter/ @lvfen @battleAgain

# devtools related
/devtools/ @churchill-zhang @medns

feat(hippy-react-web): fix web style issues
  examples/hippy-react-demo/scripts/template.html
  packages/hippy-react-web/README.md
  packages/hippy-react-web/src/adapters/hide-scrollbar.ts
  packages/hippy-react-web/src/components/list-view.tsx
  packages/hippy-react-web/src/components/refresh-wrapper.tsx
  packages/hippy-react-web/src/components/scroll-view.tsx
  packages/hippy-react-web/src/components/text.tsx
  packages/hippy-react-web/src/components/view-pager.tsx
  packages/hippy-react-web/src/components/view.tsx
  packages/hippy-react-web/src/constants.ts
Owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns

ci(workflows): add `CodeQL` code security scanning tool
  .github/workflows/security_codeql_analyses.yml
  .github/workflows/security_codeql_analyses_bypass.yml
Owners: @zoomchan-cxj, @medns

ci(workflows): add `CodeQL` code security scanning tool
  .github/workflows/security_codeql_analyses.yml
  .github/workflows/security_codeql_analyses_bypass.yml
Owners: @zoomchan-cxj, @medns

docs(homepage): update layout default value
  docs/en-us/_navbar.md
  docs/en-us/guide/_sidebar.md
  docs/en-us/structure/introduction.md
  docs/en-us/style/appearance.md
  docs/en-us/style/layout.md
  docs/style/appearance.md
  docs/style/layout.md
Owners: @zoomchan-cxj

fix(npm): update got from vulnerable to safe version
  package-lock.json
  package.json
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-css-loader/package.json
  packages/hippy-vue/package-lock.json
  packages/hippy-vue/package.json
Owners: @zoomchan-cxj, @ilikethese, @churchill-zhang, @siguangli, @ozonelmy, @medns
