Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @churchill-zhang, @zealotchen0, @siguangli, @ozonelmy, @lvfen, @skindhu, @vimerzhao, @lavnFan

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @churchill-zhang

# cmake related
*.cmake @ilikethese @churchill-zhang
CMakeLists.txt @ilikethese @churchill-zhang

# driver: js
/driver/js/ @churchill-zhang @ilikethese
/driver/js/*.js @zealotchen0
/driver/js/.eslintignore @zealotchen0
/driver/js/.eslintrc.js @zealotchen0
/driver/js/.nycrc @zealotchen0
/driver/js/tsconfig.json @zealotchen0
/driver/js/tsdoc.json @zealotchen0
/driver/js/lerna.json @zealotchen0
/driver/js/package.json @zealotchen0
/driver/js/package-lock.json @zealotchen0
/driver/js/examples/ @zealotchen0
/driver/js/scripts/ @zealotchen0
/driver/js/packages/ @zealotchen0

# driver: vl:
/driver/vl/ @ilikethese @churchill-zhang

# framework: android
/framework/android/ @siguangli
/framework/android/**/src/main/cpp/ @churchill-zhang @ilikethese

# framework: ios
/framework/ios/ @ozonelmy

# framework: voltron
/framework/voltron/ @lvfen @skindhu

# dom: others
/dom/ @churchill-zhang @ilikethese

# renderer: native
/renderer/native/android/ @siguangli
/renderer/native/ios/ @ozonelmy

# renderer: tdf
/renderer/tdf/ @vimerzhao
/renderer/tdf/android/ @siguangli
/renderer/tdf/android/**/src/main/cpp/ @ilikethese @churchill-zhang
/renderer/tdf/ios/ @ozonelmy

# renderer: voltron
/renderer/voltron/ @lvfen @skindhu

# module: vfs
/modules/vfs/ @churchill-zhang @ilikethese
/modules/vfs/android/ @siguangli
/modules/vfs/android/**/src/main/cpp/ @churchill-zhang @ilikethese
/modules/vfs/ios/ @ozonelmy
/modules/vfs/voltron/ @lvfen @skindhu

# module: voltron
/modules/voltron/ @lvfen @skindhu

# module: android
/modules/android/ @siguangli
/modules/android/jni/ @churchill-zhang @ilikethese

# module: ios
/modules/ios/ @ozonelmy

# module: footstone
/modules/footstone/ @churchill-zhang @ilikethese

# devtools: backend
/devtools/ @lavnFan

# gh: config
/.github/ @zealotchen0

# doc: example
/framework/examples/android-demo/ @siguangli
/framework/examples/android-demo/res/ @zealotchen0
/framework/examples/ios-demo/ @ozonelmy
/framework/examples/ios-demo/res/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/HippySDK.xcworkspace/ @ozonelmy
/hippy.podspec @ozonelmy
/xcodeinitscript.sh @ozonelmy

# build: config
/buildconfig/ @ilikethese @churchill-zhang

# build: ci
/package.json @zealotchen0
/package-lock.json @zealotchen0
/commitlint.config.js @zealotchen0
/.editorconfig @zealotchen0
/.gitattributes @zealotchen0
/.gitignore @zealotchen0
/.markdownlintrc.json @zealotchen0
/PUBLISH.md @zealotchen0
/README.md @zealotchen0

fix(driver): fix ui_manager_module bug
  driver/js/src/modules/ui_manager_module.cc
Owners: @churchill-zhang, @ilikethese

fix(voltron): remove unused import
  modules/voltron/ffi/core/src/port_holder.cc
Owners: @lvfen, @skindhu

fix(voltron): add copyright header
  renderer/voltron/lib/serialization/primitive_value_serializer.dart
  renderer/voltron/lib/serialization/serializer.dart
Owners: @lvfen, @skindhu

fix(voltron): fix voltron render failed on flutter multi engint
  framework/voltron/android/build.gradle
  framework/voltron/core/include/bridge/bridge_define.h
  framework/voltron/core/include/bridge/bridge_ffi_impl.h
  framework/voltron/core/include/bridge/bridge_runtime.h
  framework/voltron/core/include/bridge/ffi_bridge_runtime.h
  framework/voltron/core/src/bridge/bridge_define.cc
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/core/src/bridge/ffi_bridge_runtime.cc
  framework/voltron/lib/bridge/bridge_define.dart
  framework/voltron/lib/bridge/voltron_api.dart
  modules/vfs/voltron/core/include/wrapper.h
  modules/vfs/voltron/core/src/wrapper.cc
  modules/vfs/voltron/lib/define.dart
  modules/vfs/voltron/lib/vfs_wrapper.dart
  modules/voltron/ffi/core/CMakeLists.txt
  modules/voltron/ffi/core/include/callback_manager.h
  modules/voltron/ffi/core/include/dart_port.h
  modules/voltron/ffi/core/include/ffi_define.h
  modules/voltron/ffi/core/include/port_holder.h
  modules/voltron/ffi/core/src/callback_manager.cc
  modules/voltron/ffi/core/src/ffi_define.cc
  modules/voltron/ffi/core/src/port_holder.cc
  modules/voltron/ffi/lib/define.dart
  modules/voltron/ffi/lib/ffi_manager.dart
  renderer/voltron/core/include/render/bridge/bridge_define.h
  renderer/voltron/core/include/render/bridge/bridge_manager.h
  renderer/voltron/core/include/render/bridge/render_bridge_ffi_impl.h
  renderer/voltron/core/src/render/bridge/bridge_define.cc
  renderer/voltron/core/src/render/bridge/bridge_manager.cc
  renderer/voltron/core/src/render/bridge/render_bridge_ffi_impl.cc
  renderer/voltron/core/src/render/queue/render_task_runner.cc
  renderer/voltron/lib/bridge/render_api.dart
Owners: @lvfen, @skindhu

feat(voltron): update voltron version to 0.0.25
  framework/voltron/CHANGELOG.md
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/pubspec.yaml
Owners: @lvfen, @skindhu

feat(voltron): fix first debug error
  framework/voltron/CHANGELOG.md
  framework/voltron/example/ios/Podfile
  framework/voltron/example/ios/Podfile.lock
  framework/voltron/pubspec.yaml
  modules/vfs/voltron/CHANGELOG.md
  modules/vfs/voltron/pubspec.yaml
  modules/voltron/ffi/CHANGELOG.md
  modules/voltron/ffi/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/lib/bridge/render_api.dart
  renderer/voltron/lib/render/render_context.dart
  renderer/voltron/pubspec.yaml
Owners: @lvfen, @skindhu

feat(voltron): disable local cmake and update voltron version
  framework/voltron/CHANGELOG.md
  framework/voltron/android/build.gradle
  framework/voltron/pubspec.yaml
Owners: @lvfen, @skindhu

feat(voltron): update voltron version to 0.0.22
  framework/voltron/CHANGELOG.md
  framework/voltron/pubspec.yaml
  modules/vfs/voltron/CHANGELOG.md
  modules/vfs/voltron/pubspec.yaml
  modules/voltron/ffi/CHANGELOG.md
  modules/voltron/ffi/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/pubspec.yaml
Owners: @lvfen, @skindhu

fix(voltron): fix voltron two byte string encode error
  renderer/voltron/lib/serialization/primitive_value_serializer.dart
  renderer/voltron/lib/serialization/serialization_tag.dart
  renderer/voltron/lib/serialization/writer/binary_writer.dart
  renderer/voltron/test/test_serializer.dart
Owners: @lvfen, @skindhu

fix(voltron): fix find call func failed log
  modules/vfs/voltron/core/src/wrapper.cc
  modules/voltron/ffi/core/include/port_holder.h
  modules/voltron/ffi/core/src/port_holder.cc
Owners: @lvfen, @skindhu

fix(ios): make sure engine key is nonnull
  framework/ios/base/bridge/HippyConvenientBridge.mm
  framework/ios/base/executors/HippyJSEnginesMapper.mm
Owners: @ozonelmy

feat(ios, js): remove clipboard module
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  examples/hippy-react-demo/src/modules/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-vue-native.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  ios/sdk/module/clipboard/HippyClipboardModule.h
  ios/sdk/module/clipboard/HippyClipboardModule.m
Owners: @zealotchen0, @ilikethese, @churchill-zhang

feat(ios): add inspectable for jscontext
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyJavaScriptExecutor.h
  ios/sdk/base/executors/HippyJSCExecutor.mm
Owners: @ilikethese, @churchill-zhang

feat(ios, js): remove clipboard module
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  examples/hippy-react-demo/src/modules/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-vue-native.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  ios/sdk/module/clipboard/HippyClipboardModule.h
  ios/sdk/module/clipboard/HippyClipboardModule.m
Owners: @zealotchen0, @ilikethese, @churchill-zhang

fix(driver): fix calluifunction holder bug
  driver/js/include/driver/scope.h
  driver/js/src/modules/timer_module.cc
  driver/js/src/modules/ui_manager_module.cc
Owners: @churchill-zhang, @ilikethese

feat(ios): add inspectable for jscontext
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyJavaScriptExecutor.h
  ios/sdk/base/executors/HippyJSCExecutor.mm
Owners: @ilikethese, @churchill-zhang

fix(driver): fix calluifunction holder bug
  driver/js/include/driver/scope.h
  driver/js/src/modules/timer_module.cc
  driver/js/src/modules/ui_manager_module.cc
  driver/js/src/scope.cc
Owners: @churchill-zhang, @ilikethese

fix(driver): fix calluifunction holder bug
  driver/js/include/driver/scope.h
  driver/js/src/modules/timer_module.cc
  driver/js/src/modules/ui_manager_module.cc
  driver/js/src/scope.cc
Owners: @churchill-zhang, @ilikethese

chore(ios): remove unnecessary workflow for ios
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

chore(ios): simpfy ios work flow
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

chore(ios): simpfy ios work flow
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

chore(ios): remove unnecessary workflow for ios
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

chore(ios): simpfy ios work flow
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

chore(ios): simpfy ios work flow
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

chore(ios): remove ios test files
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

chore(ios): remove unnecessary workflow for ios
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

fix(core): fix multithreading bug
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/task/worker_task_runner.h
  core/src/task/worker_task_runner.cc
Owners: @ilikethese, @churchill-zhang

chore(ios): remove unnecessary workflow for ios
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Owners: @zealotchen0

fix(core): fix multithreading bug
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/task/worker_task_runner.h
  core/src/task/worker_task_runner.cc
Owners: @ilikethese, @churchill-zhang

fix(ios): fix rounding error using double instead of float
  ios/sdk/layout/MTTNode.cpp
  ios/sdk/layout/MTTNode.h
  ios/sdk/layout/MTTUtil.cpp
  ios/sdk/layout/MTTUtil.h
Owners: @ilikethese, @churchill-zhang

fix(ios): fix rounding error using double instead of float
  ios/sdk/layout/MTTNode.cpp
  ios/sdk/layout/MTTNode.h
  ios/sdk/layout/MTTUtil.cpp
  ios/sdk/layout/MTTUtil.h
Owners: @ilikethese, @churchill-zhang

feat(ios): support skipping inner decoding when use custom image loader
  ios/sdk/component/image/HippyImageView.m
  ios/sdk/component/image/HippyImageViewCustomLoader.h
Owners: @ilikethese, @churchill-zhang

feat(android): provide sdk version information
  driver/js/lib/global/Platform.js
  driver/js/src/vm/jsc/native_source_code_ios.cc
  driver/js/src/vm/v8/native_source_code_android.cc
  framework/android/build.gradle
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  framework/voltron/core/src/bridge/native_source_code_flutter.cc
Owners: @churchill-zhang, @ilikethese, @siguangli, @lvfen, @skindhu

refactor(driver): refactor timer module
  driver/js/include/driver/modules/timer_module.h
  driver/js/src/modules/timer_module.cc
  modules/footstone/src/base_timer.cc
Owners: @churchill-zhang, @ilikethese

refactor(driver): refactor timer module
  driver/js/include/driver/modules/timer_module.h
  driver/js/src/modules/timer_module.cc
  modules/footstone/src/base_timer.cc
Owners: @churchill-zhang, @ilikethese

fix(core): fix snapshot bug when using dynamicLoad
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/jni/include/bridge/entry.h
  android/sdk/src/main/jni/include/loader/adr_loader.h
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/loader/adr_loader.cc
  examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Owners: @ilikethese, @churchill-zhang

fix(android): WebView backgroundColor not working
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/webview/HippyWebViewController.java
Owners: @siguangli

feat(android): new example support muti window
  framework/examples/android-demo-new/build.gradle
  framework/examples/android-demo-new/src/main/assets/assets/defaultSource.jpg
  framework/examples/android-demo-new/src/main/assets/assets/hippyLogoWhite.png
  framework/examples/android-demo-new/src/main/assets/asyncComponentFromHttp.android.js
  framework/examples/android-demo-new/src/main/assets/asyncComponentFromLocal.android.js
  framework/examples/android-demo-new/src/main/assets/fonts/TTTGB.otf
  framework/examples/android-demo-new/src/main/assets/index.android.js
  framework/examples/android-demo-new/src/main/assets/vendor-manifest.json
  framework/examples/android-demo-new/src/main/assets/vendor.android.js
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineHelper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/LayoutUtils.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/MainActivity.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageIndexItem.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageManagement.kt
  framework/examples/android-demo-new/src/main/res/layout/activity_page_configuration.xml
  framework/examples/android-demo-new/src/main/res/layout/page_index_item.xml
  framework/examples/android-demo-new/src/main/res/values/dimens.xml
  framework/examples/android-demo-new/src/main/res/values/strings.xml
  gradle.properties
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/webview/HippyWebViewInner.java
Owners: @ilikethese, @churchill-zhang, @siguangli

fix(core): fix snapshot bug when using dynamicLoad
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/jni/include/bridge/entry.h
  android/sdk/src/main/jni/include/loader/adr_loader.h
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/loader/adr_loader.cc
  examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Owners: @ilikethese, @churchill-zhang

fix(android): WebView backgroundColor not working
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/webview/HippyWebViewController.java
Owners: @siguangli
