Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @churchill-zhang, @zealotchen0, @siguangli, @ozonelmy, @lvfen, @skindhu, @vimerzhao, @lavnFan

fix(android): fix incremental build
  framework/android/build.gradle
Owners: @siguangli

feat(android): add visibility style
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
Owners: @siguangli

fix(performance): fix performance bug
  driver/js/src/modules/performance/performance_mark_module.cc
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/performance/performance.cc
Owners: @churchill-zhang, @ilikethese

feat(ios): nested rich text support vertical alignment setting (#2521)
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.h
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
  renderer/native/ios/utils/HPConvert+NativeRender.h
  renderer/native/ios/utils/HPConvert+NativeRender.m
Owners: @ozonelmy

feat(ios): nested rich text support vertical alignment setting (#2521)
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.h
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
  renderer/native/ios/utils/HPConvert+NativeRender.h
  renderer/native/ios/utils/HPConvert+NativeRender.m
Owners: @ozonelmy

fix(performance): fix performance bug (#3236)
  driver/js/src/modules/performance/performance_mark_module.cc
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/performance/performance.cc
Owners: @churchill-zhang, @ilikethese

fix(performance): fix performance crash
  driver/js/src/modules/performance/performance_entry_module.cc
  driver/js/src/modules/performance/performance_frame_timing_module.cc
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/modules/performance/performance_navigation_timing_module.cc
  driver/js/src/modules/performance/performance_paint_timing_module.cc
  driver/js/src/modules/performance/performance_resource_timing_module.cc
  driver/js/src/performance/performance_mark.cc
  framework/ios/utils/NSObject+CtxValue.mm
Owners: @churchill-zhang, @ilikethese, @ozonelmy

fix(performance): fix performance crash (#3237)
  driver/js/src/modules/performance/performance_entry_module.cc
  driver/js/src/modules/performance/performance_frame_timing_module.cc
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/modules/performance/performance_navigation_timing_module.cc
  driver/js/src/modules/performance/performance_paint_timing_module.cc
  driver/js/src/modules/performance/performance_resource_timing_module.cc
  driver/js/src/performance/performance_mark.cc
  framework/ios/utils/NSObject+CtxValue.mm
Owners: @churchill-zhang, @ilikethese, @ozonelmy

fix(ios): repath vue2 demo folder
  framework/examples/ios-demo/HippyDemo/ViewController.mm
Owners: @ozonelmy

fix(ios): repath vue2 demo folder
  framework/examples/ios-demo/HippyDemo/ViewController.mm
Owners: @ozonelmy

fix(ios): padding result needs to set to render object
  renderer/native/ios/renderer/NativeRenderImpl.mm
Owners: @ozonelmy

fix(ios): padding result needs to set to render object
  renderer/native/ios/renderer/NativeRenderImpl.mm
Owners: @ozonelmy

fix(layout): get default correct value when delete some properties
  dom/src/dom/diff_utils.cc
  dom/src/dom/taitank_layout_node.cc
Owners: @churchill-zhang, @ilikethese

Revert "refactor(ios): refactor reusable mechanism for list and waterfall"
  ios/sdk/base/HippyReusableViewPool.m
  ios/sdk/component/listview/HippyBaseListView.m
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.h
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.m
  ios/sdk/component/waterfalllist/HippyWaterfallView.m
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.h
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.m
  ios/sdk/module/uimanager/HippyUIManager.h
  ios/sdk/module/uimanager/HippyUIManager.mm
Owners: @ilikethese, @churchill-zhang

Revert "refactor(ios): refactor reusable mechanism for list and waterfall"
  ios/sdk/base/HippyReusableViewPool.m
  ios/sdk/component/listview/HippyBaseListView.m
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.h
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.m
  ios/sdk/component/waterfalllist/HippyWaterfallView.m
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.h
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.m
  ios/sdk/module/uimanager/HippyUIManager.h
  ios/sdk/module/uimanager/HippyUIManager.mm
Owners: @ilikethese, @churchill-zhang

fix(ios): fix initial contentoffset bug for listview
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
Owners: @ozonelmy

fix(ios): fix initial contentoffset bug for listview
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
Owners: @ozonelmy

fix(vue): not to move node when refNode is same as newNode
  driver/js/packages/hippy-vue-next/src/runtime/node/hippy-node.ts
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @zealotchen0

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @churchill-zhang

# cmake related
*.cmake @ilikethese @churchill-zhang
CMakeLists.txt @ilikethese @churchill-zhang

# driver: js
/driver/js/ @churchill-zhang @ilikethese
/driver/js/*.js @zealotchen0
/driver/js/.eslintignore @zealotchen0
/driver/js/.eslintrc.js @zealotchen0
/driver/js/.nycrc @zealotchen0
/driver/js/tsconfig.json @zealotchen0
/driver/js/tsdoc.json @zealotchen0
/driver/js/lerna.json @zealotchen0
/driver/js/package.json @zealotchen0
/driver/js/package-lock.json @zealotchen0
/driver/js/examples/ @zealotchen0
/driver/js/scripts/ @zealotchen0
/driver/js/packages/ @zealotchen0

# driver: vl:
/driver/vl/ @ilikethese @churchill-zhang

# framework: android
/framework/android/ @siguangli
/framework/android/**/src/main/cpp/ @churchill-zhang @ilikethese

# framework: ios
/framework/ios/ @ozonelmy

# framework: voltron
/framework/voltron/ @lvfen @skindhu

# dom: others
/dom/ @churchill-zhang @ilikethese

# renderer: native
/renderer/native/android/ @siguangli
/renderer/native/ios/ @ozonelmy

# renderer: tdf
/renderer/tdf/ @vimerzhao
/renderer/tdf/android/ @siguangli
/renderer/tdf/android/**/src/main/cpp/ @ilikethese @churchill-zhang
/renderer/tdf/ios/ @ozonelmy

# renderer: voltron
/renderer/voltron/ @lvfen @skindhu

# module: vfs
/modules/vfs/ @churchill-zhang @ilikethese
/modules/vfs/android/ @siguangli
/modules/vfs/android/**/src/main/cpp/ @churchill-zhang @ilikethese
/modules/vfs/ios/ @ozonelmy
/modules/vfs/voltron/ @lvfen @skindhu

# module: voltron
/modules/voltron/ @lvfen @skindhu

# module: android
/modules/android/ @siguangli
/modules/android/jni/ @churchill-zhang @ilikethese

# module: ios
/modules/ios/ @ozonelmy

# module: footstone
/modules/footstone/ @churchill-zhang @ilikethese

# devtools: backend
/devtools/ @lavnFan

# gh: config
/.github/ @zealotchen0

# doc: example
/framework/examples/android-demo/ @siguangli
/framework/examples/android-demo/res/ @zealotchen0
/framework/examples/ios-demo/ @ozonelmy
/framework/examples/ios-demo/res/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/HippySDK.xcworkspace/ @ozonelmy
/hippy.podspec @ozonelmy
/xcodeinitscript.sh @ozonelmy

# build: config
/buildconfig/ @ilikethese @churchill-zhang

# build: ci
/package.json @zealotchen0
/package-lock.json @zealotchen0
/commitlint.config.js @zealotchen0
/.editorconfig @zealotchen0
/.gitattributes @zealotchen0
/.gitignore @zealotchen0
/.markdownlintrc.json @zealotchen0
/PUBLISH.md @zealotchen0
/README.md @zealotchen0
