Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @churchill-zhang, @zealotchen0, @siguangli, @ozonelmy, @lvfen, @skindhu, @vimerzhao, @lavnFan

fix(driver): fix finish crash
  driver/js/src/js_driver_utils.cc
  driver/js/src/vm/v8/inspector/v8_inspector_client_impl.cc
  driver/js/src/vm/v8/v8_vm.cc
  modules/footstone/src/task_runner.cc
Owners: @churchill-zhang, @ilikethese

chore(build): modify voltron js
  driver/js/scripts/build-example.js
  framework/voltron/example/assets/jsbundle/react/assets/defaultSource.jpg
  framework/voltron/example/assets/jsbundle/react/assets/hippyLogoWhite.png
  framework/voltron/example/assets/jsbundle/react/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/react/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/react/index.android.js
  framework/voltron/example/assets/jsbundle/react/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/react/vendor.android.js
  framework/voltron/example/assets/jsbundle/vue2/assets/defaultSource.jpg
  framework/voltron/example/assets/jsbundle/vue2/assets/hippyLogoWhite.png
  framework/voltron/example/assets/jsbundle/vue2/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/vue2/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/vue2/index.android.js
  framework/voltron/example/assets/jsbundle/vue2/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/vue2/vendor.android.js
  framework/voltron/example/assets/jsbundle/vue3/assets/defaultSource.jpg
  framework/voltron/example/assets/jsbundle/vue3/assets/hippyLogoWhite.png
  framework/voltron/example/assets/jsbundle/vue3/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/vue3/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/vue3/index.android.js
  framework/voltron/example/assets/jsbundle/vue3/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/vue3/vendor.android.js
Owners: @zealotchen0, @lvfen, @skindhu

chore(build): modify voltron js
  driver/js/scripts/build-example.js
  framework/voltron/example/assets/jsbundle/react/assets/defaultSource.jpg
  framework/voltron/example/assets/jsbundle/react/assets/hippyLogoWhite.png
  framework/voltron/example/assets/jsbundle/react/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/react/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/react/index.android.js
  framework/voltron/example/assets/jsbundle/react/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/react/vendor.android.js
  framework/voltron/example/assets/jsbundle/vue2/assets/defaultSource.jpg
  framework/voltron/example/assets/jsbundle/vue2/assets/hippyLogoWhite.png
  framework/voltron/example/assets/jsbundle/vue2/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/vue2/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/vue2/index.android.js
  framework/voltron/example/assets/jsbundle/vue2/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/vue2/vendor.android.js
  framework/voltron/example/assets/jsbundle/vue3/assets/defaultSource.jpg
  framework/voltron/example/assets/jsbundle/vue3/assets/hippyLogoWhite.png
  framework/voltron/example/assets/jsbundle/vue3/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/vue3/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/vue3/index.android.js
  framework/voltron/example/assets/jsbundle/vue3/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/vue3/vendor.android.js
Owners: @zealotchen0, @lvfen, @skindhu

feat(ios): support skipping inner decoding when use custom image loader
  ios/sdk/component/image/HippyImageView.m
  ios/sdk/component/image/HippyImageViewCustomLoader.h
Owners: @ilikethese, @churchill-zhang

fix(ios): maxlength property not working in hippy-vue
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
Owners: @ozonelmy

fix(ios): maxlength property not working in hippy-vue
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
Owners: @ozonelmy

refactor(ios): remove unused code of viewPager
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.h
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerManager.mm
Owners: @ozonelmy

chore(build): fix voltron test check error
  framework/voltron/example/pubspec.yaml
Owners: @lvfen, @skindhu

fix(android): layer drawable not set null element
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
Owners: @siguangli

chore(build): fix voltron test check error
  framework/voltron/example/pubspec.yaml
Owners: @lvfen, @skindhu

fix(voltron): fix voltron ios encode error
  framework/voltron/core/src/bridge/android/bridge_impl.cc
  framework/voltron/core/src/bridge/android/dart2js.cc
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/core/src/bridge/ios/VoltronJSCExecutor.mm
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
  framework/voltron/example/ios/Runner/AppDelegate.swift
  modules/vfs/voltron/core/src/wrapper.cc
  modules/voltron/ffi/core/include/data_holder.h
  modules/voltron/ffi/core/src/callback_manager.cc
  modules/voltron/ffi/core/src/data_holder.cc
  modules/voltron/ffi/core/src/port_holder.cc
  renderer/voltron/core/src/render/bridge/render_bridge_ffi_impl.cc
Owners: @lvfen, @skindhu

feat(ios): add onKeyboardWillHide callback for iOS
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  renderer/native/ios/renderer/component/textinput/NativeRenderBaseTextInput.h
  renderer/native/ios/renderer/component/textinput/NativeRenderBaseTextInput.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.h
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.h
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
Owners: @zealotchen0, @ozonelmy

fix(voltron): fix voltron ios encode error
  framework/voltron/example/lib/main.dart
  framework/voltron/example/pubspec.yaml
Owners: @lvfen, @skindhu

feat(ios): add onKeyboardWillHide callback for iOS
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  renderer/native/ios/renderer/component/textinput/NativeRenderBaseTextInput.h
  renderer/native/ios/renderer/component/textinput/NativeRenderBaseTextInput.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.h
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.h
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
Owners: @zealotchen0, @ozonelmy

fix(android): fix debug portal
  framework/examples/android-demo/src/main/AndroidManifest.xml
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/module/TestModule.java
Owners: @siguangli

fix(android): add image data key
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataKey.java
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataPool.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageLoader.java
Owners: @siguangli

fix(android): add image holder redf count
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataKey.java
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataPool.java
  modules/android/pool/src/main/java/com/openhippy/pool/ImageRecycleObject.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageLoader.java
Owners: @siguangli

fix(android): add image holder redf count
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataKey.java
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataPool.java
  modules/android/pool/src/main/java/com/openhippy/pool/ImageRecycleObject.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageLoader.java
Owners: @siguangli

fix(android): layer drawable not set null element
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
Owners: @siguangli

fix(android): add image data key
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataKey.java
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataPool.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageLoader.java
Owners: @siguangli

feat(android): new example support muti window
  framework/examples/android-demo-new/build.gradle
  framework/examples/android-demo-new/src/main/assets/assets/defaultSource.jpg
  framework/examples/android-demo-new/src/main/assets/assets/hippyLogoWhite.png
  framework/examples/android-demo-new/src/main/assets/asyncComponentFromHttp.android.js
  framework/examples/android-demo-new/src/main/assets/asyncComponentFromLocal.android.js
  framework/examples/android-demo-new/src/main/assets/fonts/TTTGB.otf
  framework/examples/android-demo-new/src/main/assets/index.android.js
  framework/examples/android-demo-new/src/main/assets/vendor-manifest.json
  framework/examples/android-demo-new/src/main/assets/vendor.android.js
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineHelper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/LayoutUtils.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/MainActivity.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageIndexItem.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageManagement.kt
  framework/examples/android-demo-new/src/main/res/layout/activity_page_configuration.xml
  framework/examples/android-demo-new/src/main/res/layout/page_index_item.xml
  framework/examples/android-demo-new/src/main/res/values/dimens.xml
  framework/examples/android-demo-new/src/main/res/values/strings.xml
  gradle.properties
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/webview/HippyWebViewInner.java
Owners: @ilikethese, @churchill-zhang, @siguangli

feat(android): impl entry of snapshot
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/LayoutUtils.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/MainActivity.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageManagement.kt
Owners: @ilikethese, @churchill-zhang

feat(android): add engine destroy impl
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineHelper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageManagement.kt
  framework/examples/android-demo-new/src/main/res/drawable/delete_page_2x.png
  framework/examples/android-demo-new/src/main/res/layout/page_index_item.xml
Owners: @ilikethese, @churchill-zhang

feat(android): support PageConfiguration orientation change
  framework/examples/android-demo-new/src/main/AndroidManifest.xml
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineHelper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo-new/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo-new/src/main/res/drawable/delete_page_2x.png
  framework/examples/android-demo-new/src/main/res/layout/activity_page_configuration.xml
  framework/examples/android-demo-new/src/main/res/layout/driver_setting.xml
  framework/examples/android-demo-new/src/main/res/layout/page_index_item.xml
  framework/examples/android-demo-new/src/main/res/values/strings.xml
Owners: @ilikethese, @churchill-zhang

feat(ios): add reset size method for root node
  framework/ios/base/bridge/HippyConvenientBridge.h
  framework/ios/base/bridge/HippyConvenientBridge.mm
Owners: @ozonelmy

fix(voltron): fix voltron ios unload crash
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
  framework/voltron/example/pubspec.yaml
Owners: @lvfen, @skindhu

fix(android): add uses-permission
  framework/examples/android-demo/src/main/AndroidManifest.xml
  framework/examples/android-demo/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageManagement.kt
Owners: @siguangli

fix(driver): fix scope release bug
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Owners: @churchill-zhang, @ilikethese

fix(driver): fix scope release bug
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Owners: @churchill-zhang, @ilikethese

feat(ios): add reset size method for root node
  framework/ios/base/bridge/HippyConvenientBridge.h
  framework/ios/base/bridge/HippyConvenientBridge.mm
Owners: @ozonelmy

fix(voltron): fix voltron ios encode error (#3223)
  framework/voltron/core/src/bridge/android/bridge_impl.cc
  framework/voltron/core/src/bridge/android/dart2js.cc
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/core/src/bridge/ios/VoltronJSCExecutor.mm
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
  framework/voltron/example/ios/Runner/AppDelegate.swift
  framework/voltron/example/lib/main.dart
  framework/voltron/example/pubspec.yaml
  modules/vfs/voltron/core/src/wrapper.cc
  modules/voltron/ffi/core/include/data_holder.h
  modules/voltron/ffi/core/src/callback_manager.cc
  modules/voltron/ffi/core/src/data_holder.cc
  modules/voltron/ffi/core/src/port_holder.cc
  renderer/voltron/core/src/render/bridge/render_bridge_ffi_impl.cc
Owners: @lvfen, @skindhu

fix(android): add get engine id for native renderer
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Owners: @siguangli

fix(android): add get engine id for native renderer
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Owners: @siguangli

fix(android): fix incremental build
  framework/android/build.gradle
Owners: @siguangli

fix(android): reset backgroundImage doesn't work
  renderer/native/android/src/main/java/com/tencent/renderer/component/ComponentController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageComponent.java
Owners: @siguangli

feat(android): add visibility style
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
Owners: @siguangli

fix(android): modal may not be fullscreen
  framework/android/src/main/res/values/themes.xml
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
Owners: @siguangli

fix(android): support new demo debug mode
  build.gradle
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  framework/examples/android-demo/build.gradle
  framework/examples/android-demo/hippydemo.jks
  framework/examples/android-demo/src/main/AndroidManifest.xml
  framework/examples/android-demo/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageManagement.kt
  framework/examples/android-demo/src/main/res/layout/activity_page_configuration.xml
  framework/examples/android-demo/src/main/res/values/strings.xml
Owners: @siguangli

fix(android): support new demo debug mode
  build.gradle
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  framework/examples/android-demo/build.gradle
  framework/examples/android-demo/hippydemo.jks
  framework/examples/android-demo/src/main/AndroidManifest.xml
  framework/examples/android-demo/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageManagement.kt
  framework/examples/android-demo/src/main/res/layout/activity_page_configuration.xml
  framework/examples/android-demo/src/main/res/values/strings.xml
Owners: @siguangli

fix(android): reset backgroundImage doesn't work
  renderer/native/android/src/main/java/com/tencent/renderer/component/ComponentController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageComponent.java
Owners: @siguangli

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @churchill-zhang

# cmake related
*.cmake @ilikethese @churchill-zhang
CMakeLists.txt @ilikethese @churchill-zhang

# driver: js
/driver/js/ @churchill-zhang @ilikethese
/driver/js/*.js @zealotchen0
/driver/js/.eslintignore @zealotchen0
/driver/js/.eslintrc.js @zealotchen0
/driver/js/.nycrc @zealotchen0
/driver/js/tsconfig.json @zealotchen0
/driver/js/tsdoc.json @zealotchen0
/driver/js/lerna.json @zealotchen0
/driver/js/package.json @zealotchen0
/driver/js/package-lock.json @zealotchen0
/driver/js/examples/ @zealotchen0
/driver/js/scripts/ @zealotchen0
/driver/js/packages/ @zealotchen0

# driver: vl:
/driver/vl/ @ilikethese @churchill-zhang

# framework: android
/framework/android/ @siguangli
/framework/android/**/src/main/cpp/ @churchill-zhang @ilikethese

# framework: ios
/framework/ios/ @ozonelmy

# framework: voltron
/framework/voltron/ @lvfen @skindhu

# dom: others
/dom/ @churchill-zhang @ilikethese

# renderer: native
/renderer/native/android/ @siguangli
/renderer/native/ios/ @ozonelmy

# renderer: tdf
/renderer/tdf/ @vimerzhao
/renderer/tdf/android/ @siguangli
/renderer/tdf/android/**/src/main/cpp/ @ilikethese @churchill-zhang
/renderer/tdf/ios/ @ozonelmy

# renderer: voltron
/renderer/voltron/ @lvfen @skindhu

# module: vfs
/modules/vfs/ @churchill-zhang @ilikethese
/modules/vfs/android/ @siguangli
/modules/vfs/android/**/src/main/cpp/ @churchill-zhang @ilikethese
/modules/vfs/ios/ @ozonelmy
/modules/vfs/voltron/ @lvfen @skindhu

# module: voltron
/modules/voltron/ @lvfen @skindhu

# module: android
/modules/android/ @siguangli
/modules/android/jni/ @churchill-zhang @ilikethese

# module: ios
/modules/ios/ @ozonelmy

# module: footstone
/modules/footstone/ @churchill-zhang @ilikethese

# devtools: backend
/devtools/ @lavnFan

# gh: config
/.github/ @zealotchen0

# doc: example
/framework/examples/android-demo/ @siguangli
/framework/examples/android-demo/res/ @zealotchen0
/framework/examples/ios-demo/ @ozonelmy
/framework/examples/ios-demo/res/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/HippySDK.xcworkspace/ @ozonelmy
/hippy.podspec @ozonelmy
/xcodeinitscript.sh @ozonelmy

# build: config
/buildconfig/ @ilikethese @churchill-zhang

# build: ci
/package.json @zealotchen0
/package-lock.json @zealotchen0
/commitlint.config.js @zealotchen0
/.editorconfig @zealotchen0
/.gitattributes @zealotchen0
/.gitignore @zealotchen0
/.markdownlintrc.json @zealotchen0
/PUBLISH.md @zealotchen0
/README.md @zealotchen0
