Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns, @lvfen, @skindhu

chore(ios): set cpp version to c++17
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  hippy.podspec
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
Owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns

fix(workflows): add missing colon in PR path labeler configuration
  .github/workflows/config/pr-path-labeler.yml
Owners: @zoomchan-cxj

ci(workflows): adjust the labeling rules
  .github/labeler.yml
  .github/workflows/config/pr-path-labeler.yml
  .github/workflows/config/pr-size-labeler.yml
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

fix(workflows): add missing repository checkpoint within PR labeler
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

fix(workflows): add missing colon in PR path labeler configuration
  .github/workflows/config/pr-path-labeler.yml
Owners: @zoomchan-cxj

chore(ios): set cpp version to c++17
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  hippy.podspec
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
Owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns

ci(workflows): adjust the labeling rules
  .github/labeler.yml
  .github/workflows/config/pr-path-labeler.yml
  .github/workflows/config/pr-size-labeler.yml
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

chore(ios): set cpp version to c++17
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  hippy.podspec
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
Owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns

feat(workflows): add auto-merge labeler in PR
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

feat(workflows): add auto-merge labeler in PR
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

fix(devtools): voltron devtools include
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/native/include/devtools/devtools_data_source.h
  devtools/devtools-integration/native/src/devtools_data_source.cc
Owners: @churchill-zhang, @medns

fix(listview): fix listview insert item position error
  packages/hippy-web-renderer/src/component/list-view.ts
Owners: @zoomchan-cxj

feat(workflows): change stale label name
  .github/workflows/gh_mark_and_close_stalled.yml
Owners: @zoomchan-cxj

feat(workflows): change license check configuration file path
  .github/workflows/config/license-check.json
  .github/workflows/gh_licence_checks.yml
Owners: @zoomchan-cxj

feat(workflows): change stale label name
  .github/workflows/gh_mark_and_close_stalled.yml
Owners: @zoomchan-cxj

feat(workflows): change license check configuration file path
  .github/workflows/config/license-check.json
  .github/workflows/gh_licence_checks.yml
Owners: @zoomchan-cxj

feat(workflows): add auto-merge labeler in PR
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

feat(workflows): change stale label name
  .github/workflows/gh_mark_and_close_stalled.yml
Owners: @zoomchan-cxj

feat(workflows): change license check configuration file path
  .github/workflows/config/license-check.json
  .github/workflows/gh_licence_checks.yml
Owners: @zoomchan-cxj

fix(devtools): voltron devtools include
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/native/include/devtools/devtools_data_source.h
  devtools/devtools-integration/native/src/devtools_data_source.cc
Owners: @churchill-zhang, @medns

feat(workflows): change stale label name
  .github/workflows/gh_mark_and_close_stalled.yml
Owners: @zoomchan-cxj

feat(workflows): change license check configuration file path
  .github/workflows/config/license-check.json
  .github/workflows/gh_licence_checks.yml
Owners: @zoomchan-cxj

feat(workflows): add auto-merge labeler in PR
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

ci(workflows): add js release workflow
  .github/workflows/project_artifact_release.yml
  lerna.json
  package-lock.json
  package.json
  scripts/release-to-latest.js
Owners: @zoomchan-cxj, @ilikethese, @churchill-zhang, @siguangli, @ozonelmy, @medns

ci(workflows): add js release workflow
  .github/workflows/project_artifact_release.yml
  lerna.json
  package-lock.json
  package.json
  scripts/release-to-latest.js
Owners: @zoomchan-cxj, @ilikethese, @churchill-zhang, @siguangli, @ozonelmy, @medns

fix(connector): temporarily compatible with devtools
  driver/js/CMakeLists.txt
  framework/android/gradle.properties
Owners: @churchill-zhang, @ilikethese, @siguangli

fix(connector): temporarily compatible with devtools
  driver/js/CMakeLists.txt
  framework/android/gradle.properties
Owners: @churchill-zhang, @ilikethese, @siguangli

feat(workflows): add PR review notification
  .github/workflows/gh_pr_review.yml
  .github/workflows/gh_pr_review_notification.yml
Owners: @zoomchan-cxj

feat(workflows): add PR review notification
  .github/workflows/gh_pr_review.yml
  .github/workflows/gh_pr_review_notification.yml
Owners: @zoomchan-cxj

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @ilikethese @churchill-zhang @zoomchan-cxj @siguangli @ozonelmy @medns

*.js @zoomchan-cxj
*.jsx @zoomchan-cxj
*.vue @zoomchan-cxj
*.ts @zoomchan-cxj
*.tsx @zoomchan-cxj
*.java @siguangli
*.cc @churchill-zhang @medns @ilikethese
*.h @ozonelmy @churchill-zhang
*.m @ozonelmy
*.mm @ozonelmy

# android gradle related
*.gradle @siguangli
gradle.properties @siguangli

# cmake related
*.cmake @medns
CMakeLists.txt @medns


# ci, build & doc related
/.github/ @zoomchan-cxj
/.gitattributes @zoomchan-cxj
/.gitignore @zoomchan-cxj
/.husky/ @zoomchan-cxj
/docker/ @medns
/buildconfig/ @medns
/docker/ @medns
/.editorconfig @zoomchan-cxj
/.markdownlintrc.json @zoomchan-cxj
/docs/ @zoomchan-cxj

# dom related
/dom/ @ilikethese @churchill-zhang

# driver related
/driver/js/ @churchill-zhang @ilikethese
/driver/js/lib/ @zoomchan-cxj

# examples related
/framework/examples/android-demo/ @siguangli
/framework/examples/ios-demo/ @ozonelmy
/framework/examples/android-demo/res/ @zoomchan-cxj
/framework/examples/ios-demo/res/ @zoomchan-cxj
/driver/js/examples/hippy-react-demo/ @zoomchan-cxj
/driver/js/examples/hippy-vue-demo/ @zoomchan-cxj

# js related
/driver/js/packages/ @zoomchan-cxj
/driver/js/.eslintignore @zoomchan-cxj
/driver/js/lerna.json @zoomchan-cxj
/driver/js/tsconfig.json @zoomchan-cxj
/driver/js/package.json @zoomchan-cxj
/driver/js/package-lock.json @zoomchan-cxj
/driver/js/.nycrc @zoomchan-cxj
/driver/js/scripts/ @zoomchan-cxj
/package.json @zoomchan-cxj
/package-lock.json @zoomchan-cxj

# layout related
/layout/ @ilikethese

# android related
/framework/android/ @siguangli
/framework/android/src/main/cpp/ @churchill-zhang
/renderer/native/android/ @siguangli
/renderer/native/android/src/main/jni @churchill-zhang
/gradle/ @siguangli
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/build.gradle @siguangli
/setting.gradle @siguangli

# ios related
/framework/ios/ @ozonelmy
/renderer/native/ios/ @ozonelmy
/hippy.podspec @ozonelmy

# voltron related
/renderer/voltron/ @lvfen @skindhu
/framework/voltron/ @lvfen @skindhu
/modules/voltron/ @lvfen @skindhu
/modules/vfs/voltron/ @lvfen @skindhu

# devtools related
/devtools/ @churchill-zhang @medns

# modules related
/modules/footstone @churchill-zhang
/modules/android/ @siguangli
/modules/android/jni @churchill-zhang
/modules/ios/ @ozonelmy
/modules/vfs/ @churchill-zhang

# tdf renderer related
/renderer/tdf/android/src/main/java/ @siguangli
