Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @etkmao, @zealotchen0, @pba-cra, @siguangli, @ozonelmy, @wwwcg

feat(vue-next): fix div demo issue & native background android issue
  examples/hippy-vue-next-ssr-demo/src/components/demo/demo-div.vue
  examples/hippy-vue-next-ssr-demo/src/components/demo/demo-set-native-props.vue
  packages/hippy-vue-next-style-parser/src/style-match/css-append.ts
Owners: @zealotchen0

fix(vue-next): fix div demo issue & native background android issue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-div.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-p.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-set-native-props.vue
  driver/js/packages/hippy-vue-next-style-parser/src/style-match/css-append.ts
Owners: @ilikethese, @etkmao

docs(vue-next): update ssr docs
  docs/en-us/hippy-vue/vue3.md
  docs/hippy-vue/vue3.md
Owners: @zealotchen0

docs(vue-next): add new vue-next ssr docs
  docs/api/hippy-vue/vue3.md
  docs/assets/img/hippy-vue-next-ssr-arch-cn.png
Owners: @zealotchen0

fix(v8): v8 code cache file broken protect (#3538)
  android/sdk/src/main/jni/src/bridge/entry.cc
Owners: @ilikethese, @etkmao

feat(doc): update main branch homepage url
  README.md
Owners: @zealotchen0

feat(doc): update main branch homepage url
  README.md
Owners: @zealotchen0

fix(dom): handle event by platform
  dom/src/dom/dom_node.cc
Owners: @ilikethese, @etkmao

fix(dom): handle event by platform
  dom/src/dom/dom_node.cc
Owners: @ilikethese, @etkmao

refactor(ios): Revert rename Hippy prefix part3
  framework/examples/ios-demo/HippyDemo/HippyConvenientBridge.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyBridgeDelegate.h
  framework/ios/base/executors/HippyJSExecutor.h
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/base/modules/HippyModuleData.h
  framework/ios/base/modules/HippyModulesSetup.h
  framework/ios/module/dev/HippyDevMenu.mm
  framework/ios/module/dev/HippyRedBox.mm
  framework/ios/module/localstorage/HippyAsyncLocalStorage.h
  framework/ios/module/netinfo/HippyNetInfo.h
  modules/ios/base/HippyInvalidating.h
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderRootView.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Owners: @ilikethese, @etkmao

refactor(ios): Revert rename from Hippy prefix to NativeRender part1
  renderer/native/ios/renderer/NativeRenderComponentData.mm
  renderer/native/ios/renderer/NativeRenderComponentProtocol.h
  renderer/native/ios/renderer/component/footerrefresh/NativeRenderFooterRefresh.h
  renderer/native/ios/renderer/component/footerrefresh/NativeRenderFooterRefreshManager.mm
  renderer/native/ios/renderer/component/headerrefresh/NativeRenderHeaderRefresh.h
  renderer/native/ios/renderer/component/headerrefresh/NativeRenderHeaderRefreshManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageView.h
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListItemViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.h
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewManager.mm
  renderer/native/ios/renderer/component/modal/NativeRenderModalHostView.h
  renderer/native/ios/renderer/component/modal/NativeRenderModalHostViewManager.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapper.m
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollView.h
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollViewManager.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.h
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerViewManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.h
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.h
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.h
  renderer/native/ios/renderer/component/view/UIView+DomEvent.mm
  renderer/native/ios/renderer/component/view/UIView+MountEvent.h
  renderer/native/ios/renderer/component/view/UIView+MountEvent.m
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.h
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerManager.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewManager.mm
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.h
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebViewManager.mm
Owners: @ilikethese, @etkmao

refactor(ios): make hippy3 native component compatible with hippy2
  docs/architecture/render/ios/native-render.md
  docs/development/native-component.md
  framework/examples/ios-demo/HippyDemo/myview/MyViewManager.mm
  framework/ios/base/modules/HippyModulesSetup.mm
  renderer/native/ios/renderer/HippyComponentData.h
  renderer/native/ios/renderer/HippyComponentData.mm
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderDefines.h
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/UIView+Render.h
  renderer/native/ios/renderer/UIView+Render.mm
  renderer/native/ios/renderer/component/footerrefresh/NativeRenderFooterRefreshManager.mm
  renderer/native/ios/renderer/component/headerrefresh/NativeRenderHeaderRefreshManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListItemViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewManager.mm
  renderer/native/ios/renderer/component/modal/NativeRenderModalHostViewManager.mm
  renderer/native/ios/renderer/component/navigator/NativeRenderNavigatorViewManager.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperItemViewManager.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerViewManager.mm
  renderer/native/ios/renderer/component/text/NativeRenderTextManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerItemManager.mm
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerManager.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallItemViewManager.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewManager.mm
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebViewManager.mm
Owners: @zealotchen0, @ilikethese, @etkmao

fix(android): revert sInForeground impl
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
Owners: @ilikethese, @etkmao

fix(android): revert sInForeground impl
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
Owners: @ilikethese, @etkmao

refactor(ios): Revert rename Hippy prefix to NativeRender part 11
  docs/development/native-component.md
  framework/examples/ios-demo/HippyDemo/HippyConvenientBridge.mm
  framework/examples/ios-demo/HippyDemo/myview/MyViewManager.mm
  renderer/native/ios/renderer/HippyComponentData.mm
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/footerrefresh/NativeRenderFooterRefreshManager.mm
  renderer/native/ios/renderer/component/headerrefresh/NativeRenderHeaderRefreshManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewManager.mm
  renderer/native/ios/renderer/component/navigator/NativeRenderNavigatorViewManager.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerViewManager.mm
  renderer/native/ios/renderer/component/text/NativeRenderTextManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerManager.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewManager.mm
Owners: @zealotchen0, @ilikethese, @etkmao

chore(doc): update dimensions api notes
  docs/api/hippy-react/modules.md
Owners: @zealotchen0

chore(release): released 3.0.2-beta.4
  driver/js/packages/hippy-vue/package.json
Owners: @ilikethese, @etkmao

feat(android): support get custom type face
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/font/DefaultFontScaleAdapter.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/FontAdapter.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TypeFaceUtil.java
Owners: @ilikethese, @etkmao

feat(android): support get custom type face
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/font/DefaultFontScaleAdapter.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/FontAdapter.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TypeFaceUtil.java
Owners: @ilikethese, @etkmao

refactor(ios): Revert rename and sdk frame refactor part 12
  framework/examples/ios-demo/HippyDemo/HippyConvenientBridge.h
  framework/examples/ios-demo/HippyDemo/HippyConvenientBridge.mm
  framework/examples/ios-demo/HippyDemo/PageManager/HippyPageCache.h
  framework/examples/ios-demo/HippyDemo/PageManager/HippyPageCache.m
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  hippy.podspec
  modules/ios/base/NSObject+Render.h
  modules/ios/base/NSObject+Render.mm
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

refactor(ios): Revert rename and sdk frame refactor part 13
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/base/modules/HippyModulesSetup.mm
  hippy_backup.podspec
  modules/ios/base/HippyAsserts.m
  modules/ios/base/HippyDefines.h
  renderer/native/ios/renderer/HippyRootView.h
  renderer/native/ios/renderer/HippyRootView.m
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyRootViewDelegate.h
Owners: @ilikethese, @etkmao

feat(ios): Improve method of getting UI state and Add NightMode
  framework/examples/ios-demo/podfile
  framework/ios/base/HippyDeviceBaseInfo.h
  framework/ios/base/HippyDeviceBaseInfo.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyBridgeDelegate.h
  framework/ios/base/executors/HippyJSExecutor.h
  framework/ios/base/executors/HippyJSExecutor.mm
  renderer/native/ios/renderer/HippyComponentData.h
  renderer/native/ios/renderer/HippyComponentData.mm
  renderer/native/ios/renderer/HippyRootView.h
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyRootViewDelegate.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/utils/NativeRenderUtils.h
Owners: @ilikethese, @etkmao

fix(ios): bridge and rootView's memory issue when dealloc
  framework/examples/ios-demo/HippyDemo/PageManager/HippyPageCache.h
  framework/examples/ios-demo/HippyDemo/PageManager/HippyPageCache.m
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/module/dev/HippyRedBox.h
  framework/ios/module/dev/HippyRedBox.mm
  framework/ios/utils/HippyWeakProxy.h
  framework/ios/utils/HippyWeakProxy.m
  modules/ios/base/HippyLog.mm
  renderer/native/ios/renderer/HippyComponentMap.mm
  renderer/native/ios/renderer/HippyRootView.h
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyUIManager.mm
Owners: @ilikethese, @etkmao

refactor(ios): Revert rename and sdk frame refactor part 14
  framework/ios/base/bridge/HippyBridge.h
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
Owners: @ilikethese, @etkmao

fix(ios): listview and waterfall reload animation bug
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewDataSource.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewDataSource.mm
Owners: @ilikethese, @etkmao

feat(android): reduce layout event when size not change
  dom/src/dom/dom_node.cc
Owners: @ilikethese, @etkmao

fix(driver): fix multi thead conflict when destroy engine
  driver/js/include/driver/js_driver_utils.h
  driver/js/src/js_driver_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Owners: @ilikethese, @etkmao

fix(dom): fix docallback multi thread conflict
  renderer/native/android/src/main/cpp/src/renderer/native_render_jni.cc
Owners: @ilikethese, @etkmao

fix(driver): fix multi thead conflict when destroy engine
  driver/js/include/driver/js_driver_utils.h
  driver/js/src/js_driver_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Owners: @ilikethese, @etkmao

feat(perf): add logs to pinpoint performance issues
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  modules/footstone/include/footstone/logging.h
  modules/footstone/src/platform/ios/logging.cc
  modules/ios/base/HPLog.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
Owners: @ilikethese, @etkmao

fix(ios): fix text rendering issue
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
Owners: @ilikethese, @etkmao

fix(ios): fix text rendering issue
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
Owners: @ilikethese, @etkmao

fix(ios): fix text rendering issue
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
Owners: @ilikethese, @etkmao

fix(dom): fix docallback multi thread conflict
  renderer/native/android/src/main/cpp/src/renderer/native_render_jni.cc
Owners: @ilikethese, @etkmao

feat(dom): add dom style diff
  dom/include/dom/diff_utils.h
  dom/include/dom/dom_node.h
  dom/src/dom/diff_utils.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_manager_unittests.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
Owners: @ilikethese, @etkmao

feat(vue): add vue style diff
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @ilikethese, @etkmao

fix(ios): fix hippy3 podspec's bug
  framework/examples/ios-demo/podfile
  hippy.podspec
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

fix(android): update layout for first child of DialogRootView
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
Owners: @ilikethese, @etkmao

feat(vue): add style diff perf (#3553)
  dom/include/dom/diff_utils.h
  dom/include/dom/dom_node.h
  dom/src/dom/diff_utils.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_manager_unittests.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
  driver/js/src/modules/scene_builder_module.cc
Owners: @ilikethese, @etkmao

fix(android): update layout for first child of DialogRootView
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
Owners: @ilikethese, @etkmao

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @etkmao

# cmake related
*.cmake @ilikethese @etkmao
CMakeLists.txt @ilikethese @etkmao

# driver: js
/.eslintignore @zealotchen0
/.eslintrc.js @zealotchen0
/.nycrc @zealotchen0
/package.json @zealotchen0
/package-lock.json @zealotchen0
/ava.config.js @zealotchen0
/core/ @ilikethese @etkmao
/core/js/ @zealotchen0
/packages/ @zealotchen0
/packages/hippy-web-renderer/ @pba-cra @zealotchen0

# framework: android
/android/ @siguangli
/android/**/src/main/jni/ @ilikethese @etkmao

# framework: ios
/ios/ @ozonelmy @wwwcg

# dom: layout
/layout/ @ilikethese

# gh: config
/.github/ @zealotchen0

# doc: example
/examples/ @zealotchen0
/examples/hippy-*-demo/ @zealotchen0
/examples/android-demo/ @siguangli
/examples/android-demo/res/ @zealotchen0
/examples/ios-demo/ @ozonelmy @wwwcg
/examples/ios-demo/res/ @zealotchen0
/static/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/hippy.podspec @ozonelmy @wwwcg
/_Pods.xcodeproj/ @wwwcg @ozonelmy

# build: config
/buildconfig/ @ilikethese @etkmao

# build: js
/tsdoc.json @zealotchen0
/tsconfig.json @zealotchen0
/lerna.json @zealotchen0
/scripts/ @zealotchen0
