Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @etkmao, @zealotchen0, @pba-cra, @siguangli, @ozonelmy, @wwwcg

feat(vue-next): update ssr demo node engines min version
  examples/hippy-vue-next-demo/package.json
Owners: @zealotchen0

fix(core): crash protect for worker on ios
  modules/footstone/src/task_runner.cc
Owners: @ilikethese, @etkmao

fix(core): crash protect for worker on ios
  modules/footstone/src/task_runner.cc
Owners: @ilikethese, @etkmao

feat(vue-next): optimize ssr render string transform performance
  examples/hippy-vue-next-demo/README.md
  packages/hippy-vue-next-server-renderer/src/util.ts
Owners: @zealotchen0

feat(vue): not update node when add/remove listener (#3520)
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @ilikethese, @etkmao

feat(vue): revert css match
  driver/js/packages/hippy-vue/src/renderer/native/style/css-selectors.js
Owners: @ilikethese, @etkmao

feat(vue): block PseudoClassSelector dynamic
  driver/js/packages/hippy-vue/src/renderer/native/style/css-selectors.js
Owners: @ilikethese, @etkmao

feat(vue): revert css match (#3528)
  driver/js/packages/hippy-vue/src/renderer/native/style/css-selectors.js
Owners: @ilikethese, @etkmao

feat(vue): not update node when add/remove listener (#3520)
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @ilikethese, @etkmao

feat(vue): revert css match (#3528)
  driver/js/packages/hippy-vue/src/renderer/native/style/css-selectors.js
Owners: @ilikethese, @etkmao

feat(vue): remove updateEvent params
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @ilikethese, @etkmao

feat(vue): remove updateEvent params
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @ilikethese, @etkmao

feat(vue): remove updateEvent params
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Owners: @ilikethese, @etkmao

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/base/file.h
  core/src/base/file.cc
Owners: @ilikethese, @etkmao

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/base/file.h
  core/src/base/file.cc
Owners: @ilikethese, @etkmao

fix(driver): fix destroy driver before scope initialization
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Owners: @ilikethese, @etkmao

feat(vue-next): remove unused method & fix ts type issue
  driver/js/packages/hippy-vue-next/__test__/runtime/element/hippy-input-element.test.ts
  driver/js/packages/hippy-vue-next/src/runtime/element/hippy-input-element.ts
  driver/js/packages/hippy-vue-next/src/runtime/websocket/websocket.ts
Owners: @ilikethese, @etkmao

fix(driver): fix destroy driver before scope initialization
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Owners: @ilikethese, @etkmao

feat(vue-next): optimize build file types & update doc
  driver/js/examples/hippy-vue-next-demo/src/main-native.ts
  driver/js/examples/hippy-vue-next-ssr-demo/README.md
  driver/js/scripts/vue-next-configs.js
Owners: @ilikethese, @etkmao

fix(ios): animation module multi-instance support
  ios/sdk/module/animation2/HippyNextAnimationModule.m
Owners: @ozonelmy, @wwwcg

fix(ios): animation module multi-instance support 2
  ios/sdk/module/animation2/HippyNextAnimationModule.m
  ios/sdk/module/animation2/pop/HPOPAnimator.h
  ios/sdk/module/animation2/pop/HPOPAnimator.mm
Owners: @ozonelmy, @wwwcg

fix(ios): fix context leak when using shared engine (#3451)
  examples/ios-demo/HippyDemo/ViewController.m
  ios/sdk/base/executors/HippyJSCExecutor.mm
Owners: @ozonelmy, @wwwcg

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/base/file.h
  core/src/base/file.cc
Owners: @ilikethese, @etkmao

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/base/file.h
  core/src/base/file.cc
Owners: @ilikethese, @etkmao

fix(vue-next): fix eslint issue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-p.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/ssr-node-ops.ts
Owners: @ilikethese, @etkmao

fix(android): remove vsync on destroy root
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
Owners: @ilikethese, @etkmao

fix(dom): fix multi-thread access event_options conflict
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/root_node.cc
Owners: @ilikethese, @etkmao

fix(vue-next): compatible hippy 3.x node operate method & ui
  driver/js/examples/hippy-vue-next-ssr-demo/package.json
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/env-polyfill.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/hippy-webpack.web-renderer.dev.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/hippy-webpack.web-renderer.js
  driver/js/examples/hippy-vue-next-ssr-demo/server.ts
  driver/js/examples/hippy-vue-next-ssr-demo/src/app.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-div.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-iframe.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-img.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-list.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-p.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-shadow.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-websocket.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/demo-dialog.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/demo-nested-scroll.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/demo-pull-header-footer.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/demo-swiper.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/demo-vue-native.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/demo-waterfall.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/main-native.ts
  driver/js/examples/hippy-vue-next-ssr-demo/src/main-server.ts
  driver/js/examples/hippy-vue-next-ssr-demo/src/ssr-node-ops.ts
  driver/js/examples/hippy-vue-next-ssr-demo/src/webpack-plugin.ts
  driver/js/packages/hippy-vue-next-server-renderer/src/renderer.ts
  driver/js/packages/hippy-vue-next-style-parser/src/style-match/css-append.ts
  driver/js/packages/hippy-vue-next/src/index.ts
  driver/js/packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  driver/js/packages/hippy-vue-next/src/runtime/node/hippy-node.ts
Owners: @ilikethese, @etkmao

fix(vue-next): remove unused code
  driver/js/examples/hippy-vue-next-ssr-demo/src/main.ts
  driver/js/examples/hippy-vue-next-ssr-demo/src/webpack-plugin.ts
  driver/js/packages/hippy-vue-next-style-parser/src/style-match/css-append.ts
Owners: @ilikethese, @etkmao

fix(ios): fix remove vsync event when release on ios
  framework/examples/ios-demo/HippyDemo/HippyConvenientBridge.mm
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Owners: @ilikethese, @etkmao

feat(vue-next): fix ssr demo issue & optimize comment
  examples/hippy-vue-next-ssr-demo/src/env.ts
  packages/hippy-vue-next-compiler-ssr/src/ssrCodegenTransform.ts
  packages/hippy-vue-next-compiler-ssr/src/transforms/ssrTransformElement.ts
Owners: @zealotchen0

fix(dom): fix multi-thread access event_options conflict
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/root_node.cc
  framework/examples/ios-demo/HippyDemo/HippyConvenientBridge.mm
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Owners: @ilikethese, @etkmao

fix(vue-next): fix ssr demo issue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-div.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-list.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-p.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-shadow.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/demo/demo-textarea.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/animations/color-change.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/animations/cubic-bezier.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/animations/loop.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/demo-nested-scroll.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/components/native-demo/demo-waterfall.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/env.ts
  driver/js/packages/hippy-vue-next/src/native-component/swiper.ts
Owners: @ilikethese, @etkmao

fix(dom): fix thread conflict on measure function
  dom/include/dom/taitank_layout_node.h
  dom/src/dom/taitank_layout_node.cc
Owners: @ilikethese, @etkmao

fix(dom): fix thread conflict on measure function
  dom/include/dom/taitank_layout_node.h
  dom/src/dom/taitank_layout_node.cc
Owners: @ilikethese, @etkmao

fix(core): fix console module log encode
  core/src/modules/console_module.cc
Owners: @ilikethese, @etkmao

fix(core): fix console module log encode
  core/src/modules/console_module.cc
Owners: @ilikethese, @etkmao

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
Owners: @ilikethese, @etkmao

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
Owners: @ilikethese, @etkmao

fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
Owners: @ilikethese, @etkmao

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @etkmao

# cmake related
*.cmake @ilikethese @etkmao
CMakeLists.txt @ilikethese @etkmao

# driver: js
/.eslintignore @zealotchen0
/.eslintrc.js @zealotchen0
/.nycrc @zealotchen0
/package.json @zealotchen0
/package-lock.json @zealotchen0
/ava.config.js @zealotchen0
/core/ @ilikethese @etkmao
/core/js/ @zealotchen0
/packages/ @zealotchen0
/packages/hippy-web-renderer/ @pba-cra @zealotchen0

# framework: android
/android/ @siguangli
/android/**/src/main/jni/ @ilikethese @etkmao

# framework: ios
/ios/ @ozonelmy @wwwcg

# dom: layout
/layout/ @ilikethese

# gh: config
/.github/ @zealotchen0

# doc: example
/examples/ @zealotchen0
/examples/hippy-*-demo/ @zealotchen0
/examples/android-demo/ @siguangli
/examples/android-demo/res/ @zealotchen0
/examples/ios-demo/ @ozonelmy @wwwcg
/examples/ios-demo/res/ @zealotchen0
/static/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/hippy.podspec @ozonelmy @wwwcg
/_Pods.xcodeproj/ @wwwcg @ozonelmy

# build: config
/buildconfig/ @ilikethese @etkmao

# build: js
/tsdoc.json @zealotchen0
/tsconfig.json @zealotchen0
/lerna.json @zealotchen0
/scripts/ @zealotchen0
