Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns, @lvfen, @skindhu

feat(android): add unit test for native renderer
  build.gradle
  framework/android/build.gradle
  modules/android/hippy_support/build.gradle
  modules/android/serialization/build.gradle
  modules/vfs/android/build.gradle
  renderer/native/android/build.gradle
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderContext.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderException.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/UIPromise.java
  renderer/native/android/src/main/java/com/tencent/renderer/UITaskExecutor.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/DispatchDrawHelper.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/FlatViewGroup.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BaseDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextStyleSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ListItemRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RootRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/pool/ImageDataPool.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/DiffUtils.java
  renderer/native/android/src/test/java/com/tencent/renderer/component/ComponentControllerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/serialization/DeserializerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/serialization/SerializerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/ChoreographerUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/DiffUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/MapUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/PropertyUtilsTest.java
Owners: @siguangli, @churchill-zhang

feat(android): add unit test for native renderer
  build.gradle
  framework/android/build.gradle
  modules/android/hippy_support/build.gradle
  modules/android/serialization/build.gradle
  modules/vfs/android/build.gradle
  renderer/native/android/build.gradle
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderContext.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderException.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/UIPromise.java
  renderer/native/android/src/main/java/com/tencent/renderer/UITaskExecutor.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/DispatchDrawHelper.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/FlatViewGroup.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BaseDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextStyleSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ListItemRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RootRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/pool/ImageDataPool.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/DiffUtils.java
  renderer/native/android/src/test/java/com/tencent/renderer/component/ComponentControllerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/serialization/DeserializerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/serialization/SerializerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/ChoreographerUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/DiffUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/MapUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/PropertyUtilsTest.java
Owners: @siguangli, @churchill-zhang

chore(ios): modify podspec file for cocoapods integration
  driver/js/include/driver/engine.h
  hippy.podspec
Owners: @churchill-zhang, @ilikethese, @ozonelmy

chore(ios): modify podspec file for cocoapods integration
  driver/js/include/driver/engine.h
  hippy.podspec
Owners: @churchill-zhang, @ilikethese, @ozonelmy

feat(connector): add dom jsdriver renderer connector
  framework/android/build.gradle
  framework/android/connector/dom/.gitignore
  framework/android/connector/dom/build.gradle
  framework/android/connector/dom/gradle.properties
  framework/android/connector/dom/proguard-rules.pro
  framework/android/connector/dom/src/main/AndroidManifest.xml
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/connector/driver/js/.gitignore
  framework/android/connector/driver/js/build.gradle
  framework/android/connector/driver/js/gradle.properties
  framework/android/connector/driver/js/proguard-rules.pro
  framework/android/connector/driver/js/src/main/AndroidManifest.xml
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JSBridgeProxy.java
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/NativeCallback.java
  framework/android/connector/renderer/native/.gitignore
  framework/android/connector/renderer/native/build.gradle
  framework/android/connector/renderer/native/gradle.properties
  framework/android/connector/renderer/native/proguard-rules.pro
  framework/android/connector/renderer/native/src/main/AndroidManifest.xml
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/NativeCallback.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/bundleloader/HippyAssetBundleLoader.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/bundleloader/HippyBundleLoader.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/bundleloader/HippyFileBundleLoader.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/bundleloader/HippyRemoteBundleLoader.java
  framework/examples/android-demo/build.gradle
  settings.gradle
Owners: @siguangli

feat(connector): remove link_supplier
  framework/android/build.gradle
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/connector/renderer/native/src/main/java/com/openhippy/connector/NativeRenderer.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/examples/android-demo/build.gradle
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyControllerProvider.java
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/adapter/MyImageLoader.java
  modules/android/link_supplier/.gitignore
  modules/android/link_supplier/build.gradle
  modules/android/link_supplier/gradle.properties
  modules/android/link_supplier/proguard-rules.pro
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/LinkHelper.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/Linker.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/proxy/LinkProxy.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/proxy/dom/DomProxy.java
  renderer/native/android/build.gradle
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderProvider.java
  renderer/native/android/src/main/java/com/tencent/renderer/RenderProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageComponent.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextStyleSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TypeFaceUtil.java
  settings.gradle
Owners: @siguangli

feat(connector): remove gitignore
  framework/android/connector/dom/.gitignore
  framework/android/connector/driver/js/.gitignore
  framework/android/connector/renderer/native/.gitignore
Owners: @siguangli

feat(connector): adapt devtools
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/android/src/main/java/com/tencent/devtools/DevtoolsManager.java
  dom/src/dom/dom_manager.cc
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Owners: @churchill-zhang, @medns, @ilikethese, @siguangli

feat(connector): add license
  dom/src/dom/dom_manager.cc
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JSBridgeProxy.java
Owners: @ilikethese, @churchill-zhang, @siguangli

feat(connector): refactor invocation
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/connector/support/.gitignore
  framework/android/src/main/cpp/src/jni/entry.cc
  modules/android/jni/CMakeLists.txt
  modules/android/jni/include/jni/jni_env.h
  modules/android/jni/include/jni/jni_invocation.h
  modules/android/jni/include/jni/jni_register.h
  modules/android/jni/src/jni_env.cc
  modules/android/jni/src/jni_invocation.cc
  modules/android/jni/src/jni_load.cc
  modules/android/jni/src/jni_register.cc
  modules/vfs/android/src/main/cpp/include/vfs/handler/jni_delegate_handler.h
  modules/vfs/android/src/main/cpp/include/vfs/uri.h
  modules/vfs/android/src/main/cpp/src/handler/jni_delegate_handler.cc
  modules/vfs/android/src/main/cpp/src/handler/uri.cc
  modules/vfs/android/src/main/cpp/src/vfs_resource_holder.cc
  renderer/native/android/src/main/cpp/CMakeLists.txt
  renderer/native/android/src/main/cpp/include/renderer/native_render_jni.h
  renderer/native/android/src/main/cpp/include/renderer/native_render_manager.h
  renderer/native/android/src/main/cpp/src/renderer/native_render_jni.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
Owners: @churchill-zhang, @medns, @siguangli

feat(connector): adjust entry dependency
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/src/main/cpp/src/jni/entry.cc
  modules/android/jni/include/jni/jni_load.h
  modules/android/jni/src/jni_load.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
  renderer/tdf/android/src/main/cpp/include/render/tdf_render_bridge.h
  renderer/tdf/android/src/main/cpp/src/render/tdf_render_bridge.cc
Owners: @churchill-zhang, @medns, @ilikethese, @siguangli, @ozonelmy

feat(connector): remove link_supplier
  framework/android/build.gradle
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/connector/renderer/native/src/main/java/com/openhippy/connector/NativeRenderer.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/examples/android-demo/build.gradle
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyControllerProvider.java
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/adapter/MyImageLoader.java
  modules/android/link_supplier/.gitignore
  modules/android/link_supplier/build.gradle
  modules/android/link_supplier/gradle.properties
  modules/android/link_supplier/proguard-rules.pro
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/LinkHelper.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/Linker.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/proxy/LinkProxy.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/proxy/dom/DomProxy.java
  renderer/native/android/build.gradle
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderProvider.java
  renderer/native/android/src/main/java/com/tencent/renderer/RenderProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageComponent.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextStyleSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TypeFaceUtil.java
  settings.gradle
Owners: @siguangli

feat(connector): adjust entry dependency
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/src/main/cpp/src/jni/entry.cc
  modules/android/jni/include/jni/jni_load.h
  modules/android/jni/src/jni_load.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
  renderer/tdf/android/src/main/cpp/include/render/tdf_render_bridge.h
  renderer/tdf/android/src/main/cpp/src/render/tdf_render_bridge.cc
Owners: @churchill-zhang, @medns, @ilikethese, @siguangli, @ozonelmy

feat(connector): refactor invocation
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/connector/support/.gitignore
  framework/android/src/main/cpp/src/jni/entry.cc
  modules/android/jni/CMakeLists.txt
  modules/android/jni/include/jni/jni_env.h
  modules/android/jni/include/jni/jni_invocation.h
  modules/android/jni/include/jni/jni_register.h
  modules/android/jni/src/jni_env.cc
  modules/android/jni/src/jni_invocation.cc
  modules/android/jni/src/jni_load.cc
  modules/android/jni/src/jni_register.cc
  modules/vfs/android/src/main/cpp/include/vfs/handler/jni_delegate_handler.h
  modules/vfs/android/src/main/cpp/include/vfs/uri.h
  modules/vfs/android/src/main/cpp/src/handler/jni_delegate_handler.cc
  modules/vfs/android/src/main/cpp/src/handler/uri.cc
  modules/vfs/android/src/main/cpp/src/vfs_resource_holder.cc
  renderer/native/android/src/main/cpp/CMakeLists.txt
  renderer/native/android/src/main/cpp/include/renderer/native_render_jni.h
  renderer/native/android/src/main/cpp/include/renderer/native_render_manager.h
  renderer/native/android/src/main/cpp/src/renderer/native_render_jni.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
Owners: @churchill-zhang, @medns, @siguangli

feat(connector): adapt devtools
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/android/src/main/java/com/tencent/devtools/DevtoolsManager.java
  dom/src/dom/dom_manager.cc
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Owners: @churchill-zhang, @medns, @ilikethese, @siguangli

feat(connector): add dom jsdriver renderer connector
  framework/android/build.gradle
  framework/android/connector/dom/.gitignore
  framework/android/connector/dom/build.gradle
  framework/android/connector/dom/gradle.properties
  framework/android/connector/dom/proguard-rules.pro
  framework/android/connector/dom/src/main/AndroidManifest.xml
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/connector/driver/js/.gitignore
  framework/android/connector/driver/js/build.gradle
  framework/android/connector/driver/js/gradle.properties
  framework/android/connector/driver/js/proguard-rules.pro
  framework/android/connector/driver/js/src/main/AndroidManifest.xml
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JSBridgeProxy.java
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/NativeCallback.java
  framework/android/connector/renderer/native/.gitignore
  framework/android/connector/renderer/native/build.gradle
  framework/android/connector/renderer/native/gradle.properties
  framework/android/connector/renderer/native/proguard-rules.pro
  framework/android/connector/renderer/native/src/main/AndroidManifest.xml
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/NativeCallback.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/bundleloader/HippyAssetBundleLoader.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/bundleloader/HippyBundleLoader.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/bundleloader/HippyFileBundleLoader.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/bundleloader/HippyRemoteBundleLoader.java
  framework/examples/android-demo/build.gradle
  settings.gradle
Owners: @siguangli

feat(connector): add license
  dom/src/dom/dom_manager.cc
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JSBridgeProxy.java
Owners: @ilikethese, @churchill-zhang, @siguangli

feat(connector): remove gitignore
  framework/android/connector/dom/.gitignore
  framework/android/connector/driver/js/.gitignore
  framework/android/connector/renderer/native/.gitignore
Owners: @siguangli

feat(connector): refactor entry
  framework/android/src/main/cpp/CMakeLists.txt
  framework/android/src/main/cpp/include/jni/entry.h
  framework/android/src/main/cpp/src/entry.cc
Owners: @churchill-zhang

feat(connector): refactor entry
  framework/android/src/main/cpp/CMakeLists.txt
  framework/android/src/main/cpp/include/jni/entry.h
  framework/android/src/main/cpp/src/entry.cc
Owners: @churchill-zhang

feat(connector): remove unused header
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Owners: @siguangli

fix(android): nested scroll conflict
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
Owners: @siguangli

feat(connector): remove unused header
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Owners: @siguangli

fix(android): nested scroll conflict
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
Owners: @siguangli

feat(driver): add promise reject handle
  driver/js/include/driver/napi/js_native_api_types.h
  driver/js/include/driver/napi/v8/js_native_api_v8.h
  driver/js/include/driver/runtime/v8/v8_bridge_utils.h
  driver/js/lib/modules/PromiseRejectHandle.js
  driver/js/scripts/build-core.js
  driver/js/src/modules/timer_module.cc
  driver/js/src/napi/v8/js_native_api_v8.cc
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  driver/js/src/scope.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/connector/driver/js/src/main/cpp/src/native_source_code_android.cc
  framework/ios/base/native_source_code_ios.cc
Owners: @churchill-zhang, @ilikethese, @zoomchan-cxj, @siguangli, @ozonelmy

chore(hippy-react-demo): remove hippy:dev from web:dev
  examples/hippy-react-demo/package.json
Owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns

chore(hippy-react-demo): fix image path error in web-renderer dev mode
  examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.dev.js
Owners: @zoomchan-cxj

docs(web): Update integration.md and package.json
  docs/web/integration.md
  examples/hippy-react-demo/package.json
Owners: @zoomchan-cxj, @ilikethese, @churchill-zhang, @siguangli, @ozonelmy, @medns

fix(android): nested scroll conflicts with pull refresh
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
Owners: @siguangli

fix(android): nested scroll conflicts with pull refresh
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
Owners: @siguangli

feat(vue): add beforeRenderToNative hook to support computed style
  ava.config.js
  packages/hippy-vue-css-loader/src/__tests__/color-parser.test.js
  packages/hippy-vue-css-loader/src/color-parser.js
  packages/hippy-vue-css-loader/src/css-loader.js
  packages/hippy-vue-css-loader/src/css-parser.js
  packages/hippy-vue/src/renderer/__tests__/before-render-to-native-hook.test.js
  packages/hippy-vue/src/renderer/native/index.js
  packages/hippy-vue/src/runtime/index.js
  packages/hippy-vue/src/runtime/native.js
  packages/hippy-vue/src/util/index.js
Owners: @zoomchan-cxj

fix(android): fix JSI cause JNI local reference table overflow
  android/sdk/src/main/jni/src/jni/convert_utils.cc
Owners: @churchill-zhang, @medns, @ilikethese

refactor(ios): set xcode project compatility vertion to xcode 10.0
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
Owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns

fix(core): fix the problem of multi-threading at startup time
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/engine.h
  core/src/engine.cc
  ios/sdk/base/HippyJSEnginesMapper.mm
Owners: @churchill-zhang, @medns, @ilikethese, @ozonelmy

chore(docs): add homepage and README some docs
  README.md
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/components.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
Owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns

chore(release): released 2.15.4
  CHANGELOG.md
  android/sdk/gradle.properties
  examples/android-demo/res/vendor.android.js
  examples/ios-demo/res/vendor.ios.js
  hippy.podspec
  ios/sdk/base/HippyBridge.mm
  lerna.json
  packages/hippy-react-web/CHANGELOG.md
  packages/hippy-react-web/package-lock.json
  packages/hippy-react-web/package.json
  packages/hippy-react/CHANGELOG.md
  packages/hippy-react/package-lock.json
  packages/hippy-react/package.json
  packages/hippy-vue-css-loader/CHANGELOG.md
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-css-loader/package.json
  packages/hippy-vue-loader/CHANGELOG.md
  packages/hippy-vue-loader/package.json
  packages/hippy-vue-native-components/CHANGELOG.md
  packages/hippy-vue-native-components/package.json
  packages/hippy-vue-next-style-parser/CHANGELOG.md
  packages/hippy-vue-next-style-parser/package-lock.json
  packages/hippy-vue-next-style-parser/package.json
  packages/hippy-vue-next/CHANGELOG.md
  packages/hippy-vue-next/package-lock.json
  packages/hippy-vue-next/package.json
  packages/hippy-vue-router/CHANGELOG.md
  packages/hippy-vue-router/package-lock.json
  packages/hippy-vue-router/package.json
  packages/hippy-vue/CHANGELOG.md
  packages/hippy-vue/package-lock.json
  packages/hippy-vue/package.json
Owners: @ilikethese, @churchill-zhang, @zoomchan-cxj, @siguangli, @ozonelmy, @medns

ci(workflows): adjust the labeling rules
  .github/labeler.yml
  .github/workflows/config/pr-path-labeler.yml
  .github/workflows/config/pr-size-labeler.yml
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

ci(workflows): adjust the labeling rules
  .github/labeler.yml
  .github/workflows/config/pr-path-labeler.yml
  .github/workflows/config/pr-size-labeler.yml
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

fix(workflows): add missing repository checkpoint within PR labeler
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

ci(workflows): adjust the labeling rules
  .github/labeler.yml
  .github/workflows/config/pr-path-labeler.yml
  .github/workflows/config/pr-size-labeler.yml
  .github/workflows/gh_pr_labeler.yml
Owners: @zoomchan-cxj

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @ilikethese @churchill-zhang @zoomchan-cxj @siguangli @ozonelmy @medns

*.js @zoomchan-cxj
*.jsx @zoomchan-cxj
*.vue @zoomchan-cxj
*.ts @zoomchan-cxj
*.tsx @zoomchan-cxj
*.java @siguangli
*.cc @churchill-zhang @medns @ilikethese
*.h @ozonelmy @churchill-zhang
*.m @ozonelmy
*.mm @ozonelmy

# android gradle related
*.gradle @siguangli
gradle.properties @siguangli

# cmake related
*.cmake @medns
CMakeLists.txt @medns


# ci, build & doc related
/.github/ @zoomchan-cxj
/.gitattributes @zoomchan-cxj
/.gitignore @zoomchan-cxj
/.husky/ @zoomchan-cxj
/docker/ @medns
/buildconfig/ @medns
/docker/ @medns
/.editorconfig @zoomchan-cxj
/.markdownlintrc.json @zoomchan-cxj
/docs/ @zoomchan-cxj

# dom related
/dom/ @ilikethese @churchill-zhang

# driver related
/driver/js/ @churchill-zhang @ilikethese
/driver/js/lib/ @zoomchan-cxj

# examples related
/framework/examples/android-demo/ @siguangli
/framework/examples/ios-demo/ @ozonelmy
/framework/examples/android-demo/res/ @zoomchan-cxj
/framework/examples/ios-demo/res/ @zoomchan-cxj
/driver/js/examples/hippy-react-demo/ @zoomchan-cxj
/driver/js/examples/hippy-vue-demo/ @zoomchan-cxj

# js related
/driver/js/packages/ @zoomchan-cxj
/driver/js/.eslintignore @zoomchan-cxj
/driver/js/lerna.json @zoomchan-cxj
/driver/js/tsconfig.json @zoomchan-cxj
/driver/js/package.json @zoomchan-cxj
/driver/js/package-lock.json @zoomchan-cxj
/driver/js/.nycrc @zoomchan-cxj
/driver/js/scripts/ @zoomchan-cxj
/package.json @zoomchan-cxj
/package-lock.json @zoomchan-cxj

# layout related
/layout/ @ilikethese

# android related
/framework/android/ @siguangli
/framework/android/src/main/cpp/ @churchill-zhang
/renderer/native/android/ @siguangli
/renderer/native/android/src/main/jni @churchill-zhang
/gradle/ @siguangli
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/build.gradle @siguangli
/setting.gradle @siguangli

# ios related
/framework/ios/ @ozonelmy
/renderer/native/ios/ @ozonelmy
/hippy.podspec @ozonelmy

# voltron related
/renderer/voltron/ @lvfen @skindhu
/framework/voltron/ @lvfen @skindhu
/modules/voltron/ @lvfen @skindhu
/modules/vfs/voltron/ @lvfen @skindhu

# devtools related
/devtools/ @churchill-zhang @medns

# modules related
/modules/footstone @churchill-zhang
/modules/android/ @siguangli
/modules/android/jni @churchill-zhang
/modules/ios/ @ozonelmy
/modules/vfs/ @churchill-zhang

# tdf renderer related
/renderer/tdf/android/src/main/java/ @siguangli
