Repository Tencent/Hippy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ilikethese, @etkmao, @zealotchen0, @pba-cra, @siguangli, @ozonelmy, @wwwcg

feat(hermes): lamda capture uri in run script
  driver/js/src/scope.cc
Owners: @ilikethese, @etkmao

fix(android): should create view if has custom props
  framework/examples/android-demo/src/main/java/com/openhippy/example/ExampleAPIProvider.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/ExampleCustomPropsController.kt
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
Owners: @ilikethese, @etkmao

fix(android): should create view if has custom props
  framework/examples/android-demo/src/main/java/com/openhippy/example/ExampleAPIProvider.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/ExampleCustomPropsController.kt
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
Owners: @ilikethese, @etkmao

fix(android): fix compile issue in AS release mode
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
  modules/footstone/include/footstone/logging.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
Owners: @ilikethese, @etkmao

chore(ios): make sdk version using macro defines
  framework/ios/base/bridge/HippyBridge.mm
  hippy.podspec
  modules/ios/base/HippyDefines.h
  modules/ios/base/HippyUtils.h
  modules/ios/base/HippyUtils.m
Owners: @ilikethese, @etkmao, @ozonelmy, @wwwcg

fix(ios): refactor iOS gesture system to fix bugs
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyScrollProtocol.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.h
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/HippyViewEventProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesView.m
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.h
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.h
  renderer/native/ios/renderer/component/view/UIView+DomEvent.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.h
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.h
  renderer/native/ios/renderer/touch_handler/HippyCustomTouchHandlerProtocol.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Owners: @ilikethese, @etkmao

fix(ios): add missing error log and suppress some warning
  framework/ios/base/modules/HippyModulesSetup.mm
  framework/ios/utils/NSObject+CtxValue.mm
  modules/ios/base/HippyLog.mm
Owners: @ilikethese, @etkmao

fix(ios): listview performance optimization and bug fix p1
  framework/examples/ios-demo/podfile
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewDataSource.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Owners: @ilikethese, @etkmao

fix(ios): listview performance optimization and bug fix p2
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewDataSource.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.mm
Owners: @ilikethese, @etkmao

fix(ios): fix listview amendLayoutBeforeMount bug
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.mm
Owners: @ilikethese, @etkmao

fix(ios): listview performance optimization and bug fix (#3572)
  framework/examples/ios-demo/podfile
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewDataSource.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Owners: @ilikethese, @etkmao

fix(ios): fix an endless loop when updating rootView's frame
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
Owners: @ilikethese, @etkmao

fix(ios): fix view background image frame bug
  renderer/native/ios/renderer/component/view/HippyView.m
Owners: @ilikethese, @etkmao

fix(ios): fix an endless loop when updating rootView's frame
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
Owners: @ilikethese, @etkmao

fix(ios): fix view background image frame bug
  renderer/native/ios/renderer/component/view/HippyView.m
Owners: @ilikethese, @etkmao

feat(renderer): support scrollEventThrottle on Android and iOS
  driver/js/examples/hippy-react-demo/src/components/ViewPager/index.jsx
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPagerController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/ViewPagerPageChangeListener.java
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.h
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.mm
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerManager.mm
Owners: @ilikethese, @etkmao

chore(doc): update `asyncStorage` doc
  docs/api/hippy-react/modules.md
  docs/api/hippy-vue/vue-native.md
Owners: @zealotchen0

feat(renderer): cr fix
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPagerController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/ViewPagerPageChangeListener.java
Owners: @ilikethese, @etkmao

fix(ios): add missing alwaysBounceVertical for ListView
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Owners: @ilikethese, @etkmao

fix(ios): add user agent and method support
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.h
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.m
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebViewManager.mm
Owners: @ilikethese, @etkmao

feat(renderer): cr fix
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/ViewPagerPageChangeListener.java
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.h
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.mm
Owners: @ilikethese, @etkmao

feat(renderer): support iOS
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.mm
Owners: @ilikethese, @etkmao

feat(renderer): support android
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/ViewPagerPageChangeListener.java
Owners: @ilikethese, @etkmao

fix(ios): add user agent and method support
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.h
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.m
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebViewManager.mm
Owners: @ilikethese, @etkmao

feat(renderer): aligning iOS and android
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.mm
Owners: @ilikethese, @etkmao

feat(renderer): opt iOS onPageScroll
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.mm
Owners: @ilikethese, @etkmao

feat(renderer): opt iOS onPageScroll
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.mm
Owners: @ilikethese, @etkmao

fix(ios): add missing alwaysBounceVertical for ListView
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Owners: @ilikethese, @etkmao

fix(core): fix GetInternalField animation 0x241d000023a1 crash
  driver/js/src/modules/animation_module.cc
Owners: @ilikethese, @etkmao

fix(core): fix GetInternalField animation 0x241d000023a1 crash
  driver/js/src/modules/animation_module.cc
Owners: @ilikethese, @etkmao

feat(renderer): replenishment doc
  docs/api/hippy-react/components.md
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/ViewPagerPageChangeListener.java
Owners: @zealotchen0, @ilikethese, @etkmao

feat(renderer): replenishment example and doc
  docs/api/hippy-vue/external-components.md
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-swiper.vue
  driver/js/examples/hippy-vue-next-demo/src/components/native-demo/demo-swiper.vue
Owners: @zealotchen0, @ilikethese, @etkmao

feat(renderer): replenishment example and doc
  docs/api/hippy-vue/external-components.md
Owners: @zealotchen0

docs(vue-next): add register custom-component doc & use case
  docs/en-us/hippy-vue/vue3.md
  docs/hippy-vue/vue3.md
Owners: @zealotchen0

docs(vue-next): add register custom-component doc & use case
  docs/en-us/hippy-vue/vue3.md
  docs/hippy-vue/vue3.md
Owners: @zealotchen0

feat(renderer): fix api doc
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/external-components.md
Owners: @zealotchen0

fix(scrollView): fix when parent flex 1, size is indefinite, scrollview can't scroll
  packages/hippy-web-renderer/src/component/scroll-view.ts
Owners: @pba-cra, @zealotchen0

version(0.1.44)
  packages/hippy-web-renderer/package.json
Owners: @pba-cra, @zealotchen0

feat(android): reduce layout event when size not change
  dom/src/dom/dom_node.cc
Owners: @ilikethese, @etkmao

chore(docs): remove deprecated api `overScrollEnabled`
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
Owners: @zealotchen0

.github/CODEOWNERS:

#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @ilikethese @etkmao

# cmake related
*.cmake @ilikethese @etkmao
CMakeLists.txt @ilikethese @etkmao

# driver: js
/.eslintignore @zealotchen0
/.eslintrc.js @zealotchen0
/.nycrc @zealotchen0
/package.json @zealotchen0
/package-lock.json @zealotchen0
/ava.config.js @zealotchen0
/core/ @ilikethese @etkmao
/core/js/ @zealotchen0
/packages/ @zealotchen0
/packages/hippy-web-renderer/ @pba-cra @zealotchen0

# framework: android
/android/ @siguangli
/android/**/src/main/jni/ @ilikethese @etkmao

# framework: ios
/ios/ @ozonelmy @wwwcg

# dom: layout
/layout/ @ilikethese

# gh: config
/.github/ @zealotchen0

# doc: example
/examples/ @zealotchen0
/examples/hippy-*-demo/ @zealotchen0
/examples/android-demo/ @siguangli
/examples/android-demo/res/ @zealotchen0
/examples/ios-demo/ @ozonelmy @wwwcg
/examples/ios-demo/res/ @zealotchen0
/static/ @zealotchen0

# doc: pages
/*.md @zealotchen0
/docs/ @zealotchen0

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/hippy.podspec @ozonelmy @wwwcg
/_Pods.xcodeproj/ @wwwcg @ozonelmy

# build: config
/buildconfig/ @ilikethese @etkmao

# build: js
/tsdoc.json @zealotchen0
/tsconfig.json @zealotchen0
/lerna.json @zealotchen0
/scripts/ @zealotchen0
