Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

feat(android): add v8 memory(heap) to performance
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/v8/V8.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/v8/memory/V8HeapCodeStatistics.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/v8/memory/V8HeapSpaceStatistics.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/v8/memory/V8HeapStatistics.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/v8/memory/V8Memory.java
  android/sdk/src/main/jni/CMakeLists.txt
  android/sdk/src/main/jni/include/performance/memory.h
  android/sdk/src/main/jni/src/performance/memory.cc
  core/CMakeLists.txt
  core/include/core/core.h
  core/include/core/napi/v8/memory_module.h
  core/js/entry/android/hippy.js
  core/js/entry/ios/hippy.js
  core/js/global/MemoryModule.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/memory_module.cc
  core/src/napi/v8/native_source_code_android.cc
  docs/_navbar.md
  docs/android/_sidebar.md
  docs/android/v8-api.md
  docs/en-us/_navbar.md
  docs/en-us/android/_sidebar.md
  docs/en-us/android/v8-api.md
  docs/en-us/guide/_sidebar.md
  docs/en-us/guide/performance.md
  docs/guide/_sidebar.md
  docs/guide/performance.md
Labels: android, core, js, documentation

fix(vue): fix regular expressions catastrophic backtracking
  packages/hippy-react/src/dom/element-node.ts
  packages/hippy-vue-css-loader/src/css-parser.js
  packages/hippy-vue/src/renderer/element-node.js
Labels: js

fix(vue): fix regular expressions catastrophic backtracking
  packages/hippy-react/src/dom/element-node.ts
  packages/hippy-vue-css-loader/src/css-parser.js
  packages/hippy-vue/src/renderer/element-node.js
Labels: js

fix(vue): revert a catastrophic backtracking fix
  packages/hippy-vue-css-loader/src/css-parser.js
Labels: js

fix(vue): revert a catastrophic backtracking fix
  packages/hippy-vue-css-loader/src/css-parser.js
Labels: js

fix(ios): turbo runtime must release in js thread
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: ios

fix(ios): turbo runtime must release in js thread
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: none

fix(ios): turbo runtime must release in js thread
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: ios

fix(ios): turbo runtime must release in js thread
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: none

feat(hippy-vue-next): fix CR problem
  packages/hippy-vue-next/__test__/patch-prop.test.ts
  packages/hippy-vue-next/__test__/runtime/element/hippy-element.test.ts
  packages/hippy-vue-next/__test__/util/index.test.ts
  packages/hippy-vue-next/src/modules/attrs.ts
  packages/hippy-vue-next/src/modules/style.ts
  packages/hippy-vue-next/src/native-component/animation.ts
  packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  packages/hippy-vue-next/src/util/index.ts
Labels: js

feat(hippy-vue-next): app start support both callback & promise
  examples/hippy-vue-next-demo/src/app.ts
  packages/hippy-vue-next/src/index.ts
Labels: demo, js

fix(ios): padding not working on text's subview
  examples/hippy-react-demo/src/components/Text/index.jsx
  ios/sdk/component/text/HippyShadowText.mm
Labels: ios, demo, js

fix(ios): fix refresh component bug
  ios/sdk/component/refresh/HippyRefresh.m
Labels: ios

fix(ios): hippy-vue textInput isFocused not working
  ios/sdk/component/textinput/HippyTextField.m
Labels: ios

refactor(core): perf native2js logic
  core/js/bridge/android/native2js.js
  core/js/bridge/ios/native2js.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
  examples/android-demo/res/index.android.js
  examples/ios-demo/res/index.ios.js
Labels: core, demo, js

chore(license): update some files license
  .eslintignore
  .eslintrc.js
  ava.config.js
  commitlint.config.js
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/package.json
  examples/hippy-vue-demo/package.json
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  lint-staged.config.js
Labels: demo, js

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - 'tsconfig.json'
  - '.eslintignore'
  - '.nycrc'
  - 'lerna.json'
  - '**/*.js'
  - '**/*.vue'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - '**/*.css'
  - '**/*.less'
  - '**/*.scss'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'
