Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

refactor(demo): perf react&vue demo
  docs/hippy-react/modules.md
  docs/hippy-vue/introduction.md
  docs/hippy-vue/vue-native.md
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  driver/js/examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  driver/js/examples/hippy-react-demo/src/components/index.js
  driver/js/examples/hippy-react-demo/src/routes.js
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-list.vue
  driver/js/examples/hippy-vue-demo/src/components/list-items/style1.js
  driver/js/examples/hippy-vue-demo/src/components/list-items/style2.js
  driver/js/examples/hippy-vue-demo/src/components/list-items/style5.js
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-react/src/components/pull-footer.tsx
Labels: js, documentation

refactor(cmake): optimize build scripts using modernized cmake
  devtools/devtools-backend/CMakeLists.txt
  dom/CMakeLists.txt
  driver/js/android/gradle.properties
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/android/src/main/jni/src/bridge/java2js.cc
  driver/js/core/CMakeLists.txt
  layout/CMakeLists.txt
  renderer/native/android/src/main/jni/CMakeLists.txt
Labels: layout

refactor(cmake): optimize build scripts using modernized cmake
  devtools/devtools-backend/CMakeLists.txt
  dom/CMakeLists.txt
  driver/js/android/gradle.properties
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/android/src/main/jni/src/bridge/java2js.cc
  driver/js/core/CMakeLists.txt
  layout/CMakeLists.txt
  renderer/native/android/src/main/jni/CMakeLists.txt
Labels: layout

feat(devtools): support remote debug
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineHost.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManager.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevFactory.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevRemoteServerData.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerConfig.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerHelper.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImplDisable.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevSupportManager.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/BaseActivity.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivityDeprecated.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/module/TestModule.java
Labels: none

feat(dom): refactor codes for RootNode
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/layer_optimized_render_manager.h
  dom/include/dom/render_manager.h
  dom/include/dom/root_node.h
  dom/include/dom/scene_builder.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/layer_optimized_render_manager.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/scope.h
  driver/js/core/src/modules/scene_builder.cc
  driver/js/core/src/modules/ui_manager_module.cc
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: none

feat(devtools): support remote debug
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineHost.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManager.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevFactory.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevRemoteServerData.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerConfig.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerHelper.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImplDisable.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevSupportManager.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/BaseActivity.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivityDeprecated.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/module/TestModule.java
Labels: none

fix(android): pull foot and header can exist at same time
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: android

fix(android): pull foot and header can exist at same time
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: android

fix(voltron): fix animation problem
  renderer/flutter/core/src/render/ffi/bridge_manager.cc
Labels: none

fix(devtools): fix compile issue when inspector does not exist in V8
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/include/devtools/devtools_macro.h
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/adapter/impl/hippy_tracing_adapter.cc
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
Labels: none

fix(ios): fix a crash caused by thread race
  ios/sdk/base/HippyBatchedBridge.mm
Labels: ios

chore(cmake): introduce `GlobalPackages` to improve project cohesion
  android/sdk/src/main/jni/CMakeLists.txt
  buildconfig/cmake/GlobalPackagesModule.cmake
  buildconfig/cmake/InfraPackagesModule.cmake
  buildconfig/cmake/compiler_toolchain.cmake
  core/CMakeLists.txt
Labels: android, core

chore(cmake): introduce `GlobalPackages` to improve project cohesion
  buildconfig/cmake/GlobalPackagesModule.cmake
  buildconfig/cmake/InfraPackagesModule.cmake
  buildconfig/cmake/compiler_toolchain.cmake
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/core/CMakeLists.txt
  renderer/native/android/src/main/jni/CMakeLists.txt
Labels: none

chore(cmake): introduce `GlobalPackages` to improve project cohesion
  android/sdk/src/main/jni/CMakeLists.txt
  buildconfig/cmake/GlobalPackagesModule.cmake
  buildconfig/cmake/InfraPackagesModule.cmake
  buildconfig/cmake/compiler_toolchain.cmake
  core/CMakeLists.txt
Labels: android, core

chore(cmake): introduce `GlobalPackages` to improve project cohesion
  buildconfig/cmake/GlobalPackagesModule.cmake
  buildconfig/cmake/InfraPackagesModule.cmake
  buildconfig/cmake/compiler_toolchain.cmake
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/core/CMakeLists.txt
  renderer/native/android/src/main/jni/CMakeLists.txt
Labels: none

fix(devtools): fix compile issue when inspector does not exist in V8
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/include/devtools/devtools_macro.h
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/adapter/impl/hippy_tracing_adapter.cc
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
Labels: none

fix(ios): fix a crash caused by thread race
  ios/sdk/base/HippyBatchedBridge.mm
Labels: ios

feat(dom): refactor multi root node
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/render_manager.h
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  driver/js/android/src/main/jni/src/bridge/entry.cc
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
  renderer/native/ios/renderer/NativeRenderManager.h
Labels: none

feat(devtools): fix ios profile error and update ENABLE_INSPECTOR
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: none

feat(devtools): change nlohmann json version
  devtools/devtools-backend/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/flutter/cmake/framework_core.cmake
Labels: none

feat(devtools): add clang diagnostic ignored for nlohmann json
  devtools/devtools-backend/include/api/adapter/devtools_common_protocol_adapter.h
  devtools/devtools-backend/include/devtools_base/devtools_json.h
  devtools/devtools-backend/include/devtools_base/parse_json_util.h
  devtools/devtools-backend/include/devtools_base/transform_string_util.h
  devtools/devtools-backend/include/module/model/css_model.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/include/module/request/base_request.h
  devtools/devtools-backend/src/module/domain/network_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
Labels: none

feat(devtools): revert devtools_json
  devtools/devtools-backend/include/api/adapter/devtools_common_protocol_adapter.h
  devtools/devtools-backend/include/devtools_base/devtools_json.h
  devtools/devtools-backend/include/devtools_base/parse_json_util.h
  devtools/devtools-backend/include/devtools_base/transform_string_util.h
  devtools/devtools-backend/include/module/model/css_model.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/include/module/request/base_request.h
  devtools/devtools-backend/src/module/domain/network_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/module/request/network_response_body_request.cc
Labels: none

feat(devtools): remove pragma clang diagnostic
  devtools/devtools-backend/include/devtools_base/devtools_json.h
Labels: none

fix(devtools): fix compile issue when inspector does not exist in V8
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/include/devtools/devtools_macro.h
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/adapter/impl/hippy_tracing_adapter.cc
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
Labels: none

feat(dom): refactor dom_manager and root_node
  dom/include/dom/dom_manager.h
  dom/include/dom/root_node.h
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
Labels: none

chore(cmake): introduce `GlobalPackages` to improve project cohesion
  buildconfig/cmake/GlobalPackagesModule.cmake
  buildconfig/cmake/InfraPackagesModule.cmake
  buildconfig/cmake/compiler_toolchain.cmake
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/core/CMakeLists.txt
  renderer/native/android/src/main/jni/CMakeLists.txt
Labels: none

feat(devtools): support remote debug
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineHost.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManager.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevFactory.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevRemoteServerData.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerConfig.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerHelper.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImplDisable.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevSupportManager.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/BaseActivity.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivityDeprecated.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/module/TestModule.java
Labels: none

fix(voltron): fix cr problem
  driver/js/core/include/core/core.h
  driver/js/core/include/core/runtime/v8/runtime.h
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  renderer/flutter/core/src/render/queue/voltron_render_manager.cc
Labels: none

feat(ios): apply multiple root nodes feature for ios part
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/base/HippyRootView.mm
  renderer/native/ios/renderer/HippyComponentMap.h
  renderer/native/ios/renderer/HippyComponentMap.mm
  renderer/native/ios/renderer/HippyRenderContext.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/UIView+Render.h
  renderer/native/ios/renderer/UIView+Render.mm
  renderer/native/ios/renderer/component/listview/HippyBaseListView.mm
  renderer/native/ios/renderer/component/smartViewPager/HippySmartViewPagerView.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.h
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
Labels: none

feat(ios): comment dev tools code need dev tools to adapt multiple root nodes feature
  driver/js/core/src/devtools/devtools_utils.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: none

feat(voltron): update log
  renderer/flutter/lib/widget/image.dart
Labels: none

fix(core): fix animation module and disable devtools
  driver/js/android/gradle.properties
  driver/js/core/src/modules/animation_module.cc
  driver/js/core/src/modules/scene_builder.cc
Labels: none

feat(devtools): fix android json compile error
  devtools/devtools-backend/CMakeLists.txt
Labels: none

feat(ios): apply multiple root nodes feature for ios part
  dom/include/dom/dom_node.h
  dom/src/dom/dom_node.cc
  driver/js/core/src/devtools/devtools_utils.cc
  driver/js/core/src/modules/scene_builder.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/ios/base/HippyBatchedBridge.mm
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: none

fix(android): crash of sticky item view
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
Labels: android

fix(android): crash of sticky item view
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
Labels: android

feat(devtools): fix ios profile error and update ENABLE_INSPECTOR (#2030)
  devtools/devtools-backend/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/flutter/cmake/framework_core.cmake
Labels: none

refactor(js): move js related scripts to driver/js
  .eslintignore
  .github/workflows/frontend_build_tests.yml
  .github/workflows/frontend_build_tests_bypass.yml
  .husky/pre-commit
  .npmignore
  PUBLISH.md
  PUBLISH.zh_CN.md
  README.md
  README.zh_CN.md
  driver/js/.eslintignore
  driver/js/.eslintrc.js
  driver/js/.nycrc
  driver/js/ava.config.js
  driver/js/lerna.json
  driver/js/lint-staged.config.js
  driver/js/package-lock.json
  driver/js/package.json
  driver/js/packages/hippy-react/src/components/focusable.tsx
  driver/js/scripts/build-core.js
  driver/js/scripts/build-debug-server.js
  driver/js/scripts/build-example.js
  driver/js/scripts/build.js
  driver/js/scripts/debug-example.js
  driver/js/scripts/flow-remove-types.js
  driver/js/scripts/init-example.js
  driver/js/scripts/mock-global.js
  driver/js/scripts/react-configs.js
  driver/js/scripts/vue-configs.js
  driver/js/tsconfig.json
  package-lock.json
  package.json
Labels: js, documentation, ci

refactor(js): move js related scripts to driver/js
  .eslintignore
  .github/workflows/frontend_build_tests.yml
  .github/workflows/frontend_build_tests_bypass.yml
  .husky/pre-commit
  .npmignore
  PUBLISH.md
  PUBLISH.zh_CN.md
  README.md
  README.zh_CN.md
  driver/js/.eslintignore
  driver/js/.eslintrc.js
  driver/js/.nycrc
  driver/js/ava.config.js
  driver/js/lerna.json
  driver/js/lint-staged.config.js
  driver/js/package-lock.json
  driver/js/package.json
  driver/js/packages/hippy-react/src/components/focusable.tsx
  driver/js/scripts/build-core.js
  driver/js/scripts/build-debug-server.js
  driver/js/scripts/build-example.js
  driver/js/scripts/build.js
  driver/js/scripts/debug-example.js
  driver/js/scripts/flow-remove-types.js
  driver/js/scripts/init-example.js
  driver/js/scripts/mock-global.js
  driver/js/scripts/react-configs.js
  driver/js/scripts/vue-configs.js
  driver/js/tsconfig.json
  package-lock.json
  package.json
Labels: js, documentation, ci

feat(devtools): change to debug-server-next
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/package.json
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.web.js
  driver/js/examples/hippy-react-demo/src/app.jsx
  driver/js/examples/hippy-react-demo/src/components/Image/index.jsx
  driver/js/examples/hippy-react-demo/src/externals/DyanmicImport/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/WebSocket/README.md
  driver/js/examples/hippy-react-demo/src/pages/debug.jsx
  driver/js/examples/hippy-react-demo/src/pages/remote-debug.jsx
  driver/js/examples/hippy-vue-demo/package.json
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-vue-demo/src/app.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-dynamicimport.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  driver/js/examples/hippy-vue-demo/src/pages/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/remote-debug.vue
  driver/js/examples/hippy-vue-demo/src/routes.js
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-debug-server/hippy-debug.js
  driver/js/packages/hippy-debug-server/hippy-dev.js
  driver/js/packages/hippy-react/src/hippy.ts
Labels: js, documentation

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'
