Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

feat(devtools): change to debug-server-next
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/package.json
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.web.js
  driver/js/examples/hippy-react-demo/src/app.jsx
  driver/js/examples/hippy-react-demo/src/components/Image/index.jsx
  driver/js/examples/hippy-react-demo/src/externals/DyanmicImport/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/WebSocket/README.md
  driver/js/examples/hippy-react-demo/src/pages/debug.jsx
  driver/js/examples/hippy-react-demo/src/pages/remote-debug.jsx
  driver/js/examples/hippy-vue-demo/package.json
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-vue-demo/src/app.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-dynamicimport.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  driver/js/examples/hippy-vue-demo/src/pages/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/remote-debug.vue
  driver/js/examples/hippy-vue-demo/src/routes.js
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-debug-server/hippy-debug.js
  driver/js/packages/hippy-debug-server/hippy-dev.js
  driver/js/packages/hippy-react/src/hippy.ts
Labels: js, documentation

feat(malicious): malicious test DO NOT merge
  .github/workflows/android_build_tests_bypass.yml
Labels: ci

ci(js): add node_modules cache
  .github/workflows/docs_markdown_lint.yml
  .github/workflows/frontend_build_tests.yml
  .github/workflows/git_commit_lint.yml
  driver/js/scripts/build-example.js
  driver/js/scripts/init-example.js
Labels: js, ci

ci(js): add node_modules cache
  .github/workflows/docs_markdown_lint.yml
  .github/workflows/frontend_build_tests.yml
  .github/workflows/git_commit_lint.yml
  driver/js/scripts/build-example.js
  driver/js/scripts/init-example.js
Labels: js, ci

docs(README): remove Chinese readme
  PUBLISH.md
  PUBLISH.zh_CN.md
  README.md
  README.zh_CN.md
Labels: documentation

feat(react,vue): add collapsePullHeaderWithOptions api
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/components/pull-header.tsx
  packages/hippy-vue-native-components/src/pulls.js
Labels: demo, js

fix(ios): fix scroll parameter of scrollto method
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
Labels: none

fix(core): fix import error
  driver/js/core/include/core/core.h
Labels: none

fix(ios): fix scroll parameter of scrollto method
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
Labels: none

fix(ios): fix a crash caused by thread race
  ios/sdk/base/HippyBatchedBridge.mm
Labels: ios

fix(ios): fix a crash caused by thread race
  ios/sdk/base/HippyBatchedBridge.mm
Labels: ios

fix(android): pull foot and header can exist at same time
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: none

ci(js): add node_modules cache
  .github/workflows/docs_markdown_lint.yml
  .github/workflows/frontend_build_tests.yml
  .github/workflows/git_commit_lint.yml
  packages/hippy-react/src/components/focusable.tsx
  scripts/build-example.js
  scripts/init-example.js
Labels: js, ci

ci(js): add node_modules cache
  .github/workflows/docs_markdown_lint.yml
  .github/workflows/frontend_build_tests.yml
  .github/workflows/git_commit_lint.yml
  packages/hippy-react/src/components/focusable.tsx
  scripts/build-example.js
  scripts/init-example.js
Labels: js, ci

docs(README): remove Chinese readme
  PUBLISH.md
  PUBLISH.zh_CN.md
  README.md
  README.zh_CN.md
Labels: documentation

feat(react,vue): add collapsePullHeaderWithOptions api
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/components/pull-header.tsx
  packages/hippy-vue-native-components/src/pulls.js
Labels: demo, js

fix(ios): fix refresh component delay reset bug need to reset timer when new timer invoked
  ios/sdk/component/refresh/HippyRefresh.m
Labels: ios

fix(ios): fix refresh component delay reset bug need to reset timer when new timer invoked
  ios/sdk/component/refresh/HippyRefresh.m
Labels: ios

fix(ios): fix refresh component delay reset bug need to reset timer when new timer invoked
  renderer/native/ios/renderer/component/refresh/HippyRefresh.mm
Labels: none

fix(ios): fix refresh component delay reset bug need to reset timer when new timer invoked
  renderer/native/ios/renderer/component/refresh/HippyRefresh.mm
Labels: none

feat(devtools): add comments for cmake, revert tests and flutter cmake
  devtools/devtools-backend/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/flutter/cmake/framework_core.cmake
Labels: none

feat(devtools): add comments for cmake, revert tests and flutter cmake
  devtools/devtools-backend/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/flutter/cmake/framework_core.cmake
Labels: none

feat(devtools): update context name to frontend
  driver/js/core/src/scope.cc
Labels: none

feat(dom): root node support for android hippy bridge
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/android/src/main/jni/include/bridge/root_node_repo.h
  driver/js/android/src/main/jni/src/bridge/root_node_repo.cc
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: none

feat(voltron): support animation
  renderer/flutter/lib/render/node.dart
  renderer/flutter/lib/util/render_vsync_util.dart
Labels: none

docs(hippy-vue): edit external-components
  docs/en-us/hippy-vue/external-components.md
Labels: documentation

fix(voltron): code error
  renderer/flutter/lib/util/render_vsync_util.dart
Labels: none

refactor(dom): fix warning and refactor animation
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  driver/js/core/src/modules/animation_module.cc
  driver/js/core/src/modules/scene_builder.cc
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/ios/base/HippyBridge.mm
Labels: none

refactor(dom): refactor snapshot
  dom/include/dom/dom_manager.h
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
Labels: none

fix(android): crash of sticky item view
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
Labels: none

fix(ios): fix zpoistion error for indicator and header view
  ios/sdk/component/listview/HippyBaseListView.m
Labels: ios

fix(ios): fix zpoistion error for indicator and header view
  ios/sdk/component/listview/HippyBaseListView.m
Labels: ios

fix(android): crash of sticky item view
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
Labels: none

fix(android): pull foot and header can exist at same time
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: none

fix(dom): fix animation cb crash
  driver/js/core/src/modules/animation_module.cc
Labels: none

feat(devtools): update context name to frontend
  driver/js/core/src/scope.cc
Labels: none

fix(dom): fix animation cb crash
  driver/js/core/src/modules/animation_module.cc
Labels: none

feat(devtools): fix ios profile error and update ENABLE_INSPECTOR (#2030)
  devtools/devtools-backend/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/flutter/cmake/framework_core.cmake
Labels: none

refactor(js): move js related scripts to driver/js
  .eslintignore
  .github/workflows/frontend_build_tests.yml
  .github/workflows/frontend_build_tests_bypass.yml
  .husky/pre-commit
  .npmignore
  PUBLISH.md
  PUBLISH.zh_CN.md
  README.md
  README.zh_CN.md
  driver/js/.eslintignore
  driver/js/.eslintrc.js
  driver/js/.nycrc
  driver/js/ava.config.js
  driver/js/lerna.json
  driver/js/lint-staged.config.js
  driver/js/package-lock.json
  driver/js/package.json
  driver/js/packages/hippy-react/src/components/focusable.tsx
  driver/js/scripts/build-core.js
  driver/js/scripts/build-debug-server.js
  driver/js/scripts/build-example.js
  driver/js/scripts/build.js
  driver/js/scripts/debug-example.js
  driver/js/scripts/flow-remove-types.js
  driver/js/scripts/init-example.js
  driver/js/scripts/mock-global.js
  driver/js/scripts/react-configs.js
  driver/js/scripts/vue-configs.js
  driver/js/tsconfig.json
  package-lock.json
  package.json
Labels: js, documentation, ci

feat(devtools): change to debug-server-next
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/package.json
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.web.js
  driver/js/examples/hippy-react-demo/src/app.jsx
  driver/js/examples/hippy-react-demo/src/components/Image/index.jsx
  driver/js/examples/hippy-react-demo/src/externals/DyanmicImport/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/WebSocket/README.md
  driver/js/examples/hippy-react-demo/src/pages/debug.jsx
  driver/js/examples/hippy-react-demo/src/pages/remote-debug.jsx
  driver/js/examples/hippy-vue-demo/package.json
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-vue-demo/src/app.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-dynamicimport.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  driver/js/examples/hippy-vue-demo/src/pages/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/remote-debug.vue
  driver/js/examples/hippy-vue-demo/src/routes.js
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-debug-server/hippy-debug.js
  driver/js/packages/hippy-debug-server/hippy-dev.js
  driver/js/packages/hippy-react/src/hippy.ts
Labels: js, documentation

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'
