Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'modules/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'modules/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'driver/js/tsconfig.json'
  - 'driver/js/.eslintignore'
  - 'driver/js/.nycrc'
  - 'driver/js/lerna.json'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'

fix(ios): fix potential crash due to dangling pointer
  driver/js/ios/base/HippyBatchedBridge.mm
Labels: ios, driver

fix(ios): fix potential crash due to dangling pointer
  driver/js/ios/base/HippyBatchedBridge.mm
Labels: ios, driver

fix(android): add ClipChildrenView interface to mark clip child
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/HippyViewUtil.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/common/ClipChildrenView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/RefreshWrapper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallView.java
Labels: android, renderer

fix(android): add ClipChildrenView interface to mark clip child
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/HippyViewUtil.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/common/ClipChildrenView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/RefreshWrapper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallView.java
Labels: android, renderer

fix(android): water fall view getItemNode exception
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallView.java
Labels: android, renderer

refactor(android): update AGP to 7.2.1
  android/sdk/build.gradle
  android/sdk/gradle.properties
  build.gradle
  examples/android-demo/build.gradle
  gradle.properties
Labels: android

feat(dom): adjust static render manager map to presistent object map
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/third_party/base/include/base/persistent_object_map.h
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: android, driver, renderer, core, dependencies

feat(dom): adjust static render manager map to presistent object map
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/third_party/base/include/base/persistent_object_map.h
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: android, driver, renderer, core, dependencies

refactor(android): update AGP to 7.2.1
  android/sdk/build.gradle
  android/sdk/gradle.properties
  build.gradle
  examples/android-demo/build.gradle
  gradle.properties
Labels: android

fix(Android): web socket client boolean to AtomicBoolean
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/uimanager/UIManagerModule.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/WebSocketClient.java
Labels: none

fix(devtools): fix mini scale for screen cast
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/model/PageModel.java
Labels: none

fix(devtools): fix mini scale for screen cast
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/model/PageModel.java
Labels: none

fix(hippy-vue): remove unused code
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
Labels: js, driver

fix(hippy-vue): remove unused code
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
Labels: js, driver

fix(Android): web socket client boolean to AtomicBoolean
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/uimanager/UIManagerModule.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/WebSocketClient.java
Labels: none

ci(workflows): update stale actions parameters
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

ci(workflows): update stale actions parameters
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

ci(workflows): update stale actions parameters
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

ci(workflows): update stale actions parameters
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

fix(react): add ref null judgement for getElementFromFiberRef
  packages/hippy-react/src/modules/ui-manager-module.ts
Labels: js

fix(react): add ref null judgement for getElementFromFiberRef
  packages/hippy-react/src/modules/ui-manager-module.ts
Labels: js

fix(react): add ref null judgement for getElementFromFiberRef
  driver/js/packages/hippy-react/src/modules/ui-manager-module.ts
Labels: js, driver

feat(core): refactor corejs code
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/bridge/android/js2native.js
  driver/js/core/js/bridge/android/native2js.js
  driver/js/core/js/bridge/flutter/native2js.js
  driver/js/core/js/bridge/ios/js2native.js
  driver/js/core/js/bridge/ios/native2js.js
  driver/js/core/js/global/UIManagerModule.js
  driver/js/core/js/global/android/global.js
  driver/js/core/js/global/android/requestAnimationFrame.js
  driver/js/core/js/global/flutter/global.js
  driver/js/core/js/global/ios/global.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/native_source_code_ios.cc
  driver/js/packages/global.d.ts
Labels: android, ios, flutter, js, driver, core

ci(workflows): change stale startup time
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

ci(workflows): change stale startup time
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

ci(workflows): change stale startup time (#2155)
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

ci(workflows): change stale startup time
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

ci(workflows): change stale startup time
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

fix(react): add ref null judgement for getElementFromFiberRef
  driver/js/packages/hippy-react/src/modules/ui-manager-module.ts
Labels: js, driver

feat(core): refactor corejs code
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/bridge/android/js2native.js
  driver/js/core/js/bridge/android/native2js.js
  driver/js/core/js/bridge/flutter/native2js.js
  driver/js/core/js/bridge/ios/js2native.js
  driver/js/core/js/bridge/ios/native2js.js
  driver/js/core/js/global/UIManagerModule.js
  driver/js/core/js/global/android/global.js
  driver/js/core/js/global/android/requestAnimationFrame.js
  driver/js/core/js/global/flutter/global.js
  driver/js/core/js/global/ios/global.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/native_source_code_ios.cc
  driver/js/packages/global.d.ts
Labels: android, ios, flutter, js, driver, core

fix(android): set defatult border color to TRANSPARENT
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/asyncimage/BackgroundDrawable.java
Labels: android, renderer

fix(core): fix measureInWindow compatible issue
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/bridge/android/js2native.js
  driver/js/core/js/bridge/ios/js2native.js
  driver/js/core/js/entry/android/hippy.js
  driver/js/core/js/entry/flutter/hippy.js
  driver/js/core/js/entry/ios/hippy.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: android, ios, flutter, js, driver, core

fix(core): fix measureInWindow compatible issue
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/bridge/android/js2native.js
  driver/js/core/js/bridge/ios/js2native.js
  driver/js/core/js/entry/android/hippy.js
  driver/js/core/js/entry/flutter/hippy.js
  driver/js/core/js/entry/ios/hippy.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: android, ios, flutter, js, driver, core

feat(core): add unloadInstance callback
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/bridge/android/native2js.js
  driver/js/core/js/bridge/ios/native2js.js
  driver/js/core/js/global/Event.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: android, ios, flutter, js, driver, core

fix(devtools): fix reload v8 reset not include devtools
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/domain/page_domain.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
  driver/js/core/include/core/runtime/v8/inspector/v8_channel_impl.h
  driver/js/core/include/core/runtime/v8/inspector/v8_inspector_client_impl.h
  driver/js/core/include/core/runtime/v8/runtime.h
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: driver, core, devtools

fix(android): should clip bounds when draw image
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/asyncimage/ContentDrawable.java
Labels: android, renderer

refactor(android): only end batch need to executeUITask
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: android, renderer

fix(android): should clip bounds when draw image
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/asyncimage/ContentDrawable.java
Labels: android, renderer

refactor(android): only end batch need to executeUITask
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: android, renderer

fix(android): set defatult border color to TRANSPARENT
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/asyncimage/BackgroundDrawable.java
Labels: android, renderer
