Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'

refactor(android): rebuild NetworkModule and DefaultHttpAdapter
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: android

feat(hippy-react-web): support tree-sharking & fix issues
  packages/hippy-react-web/package.json
  packages/hippy-react-web/src/components/scroll-view.tsx
  packages/hippy-react-web/src/index.ts
  packages/hippy-react-web/src/modules/net-info.ts
  packages/hippy-react-web/src/native.ts
  packages/hippy-react-web/src/utils/index.ts
  scripts/build.js
  scripts/react-configs.js
Labels: js

refactor(android): rebuild NetworkModule and DefaultHttpAdapter
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: android

feat(ios): make item view be a subclass of hippyview border attribute can be setted for item view
  ios/sdk/component/listview/HippyBaseListItemView.h
  ios/sdk/component/waterfalllist/HippyWaterfallItemView.h
Labels: ios

feat(ios): adjust borderColor display conditions border color is only displayed when border style and width setted
  renderer/native/ios/renderer/component/view/HippyBorderDrawing.m
  renderer/native/ios/renderer/component/view/HippyBorderStyle.h
  renderer/native/ios/renderer/component/view/HippyView.mm
  renderer/native/ios/utils/HippyConvert.mm
Labels: none

feat(hippy-react-web): use en comment
  scripts/react-configs.js
Labels: js

fix(ios): modify cookie setting logic
  ios/sdk/module/network/HippyNetWork.m
Labels: ios

feat(hippy-react-web): support tree-sharking & fix issues (#2069)
  packages/hippy-react-web/package.json
  packages/hippy-react-web/src/components/scroll-view.tsx
  packages/hippy-react-web/src/index.ts
  packages/hippy-react-web/src/modules/net-info.ts
  packages/hippy-react-web/src/native.ts
  packages/hippy-react-web/src/utils/index.ts
  scripts/build.js
  scripts/react-configs.js
Labels: js

feat(ios): make item view be a subclass of hippyview border attribute can be setted for item view
  renderer/native/ios/renderer/component/listview/HippyBaseListItemView.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallItemView.h
Labels: none

fix(ios): modify cookie setting logic
  ios/sdk/module/network/HippyNetWork.m
Labels: ios

feat(ios): make item view be a subclass of hippyview border attribute can be setted for item view
  renderer/native/ios/renderer/component/listview/HippyBaseListItemView.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallItemView.h
Labels: none

fix(ios): modify cookie setting logic
  driver/js/ios/module/network/HippyNetWork.m
Labels: none

fix(ios): modify cookie setting logic
  driver/js/ios/module/network/HippyNetWork.m
Labels: none

feat(android): support wrap-reverse and space-evenly (#742)
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/flex/FlexAlign.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/flex/FlexJustify.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/StyleNode.java
  android/sdk/src/main/java/com/tencent/smtt/flexbox/FlexNodeStyle.java
Labels: android

fix(android): should catch exception from CookieManager.getInstance()
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: android

feat(hippy-vue): add animaiton actionsDidUpdate hook
  docs/hippy-vue/external-components.md
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/animations/color-change.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/cubic-bezier.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/loop.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-animation.vue
  packages/hippy-vue-native-components/src/animation.js
Labels: demo, js, documentation

feat(hippy-react): add callUIFunction debug log
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/modules/ui-manager-module.ts
Labels: demo, js

refactor(demo): perf react&vue demo
  docs/hippy-react/modules.md
  docs/hippy-vue/introduction.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/package.json
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  examples/hippy-react-demo/src/components/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/package.json
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  examples/hippy-vue-demo/src/components/list-items/style1.js
  examples/hippy-vue-demo/src/components/list-items/style2.js
  examples/hippy-vue-demo/src/components/list-items/style5.js
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/components/pull-footer.tsx
Labels: demo, js, documentation

chore(cmake): introduce `GlobalPackages` to improve project cohesion
  android/sdk/src/main/jni/CMakeLists.txt
  buildconfig/cmake/GlobalPackagesModule.cmake
  buildconfig/cmake/InfraPackagesModule.cmake
  buildconfig/cmake/compiler_toolchain.cmake
  core/CMakeLists.txt
Labels: android, core

fix(docker): use 2.7 version of `get-pip.py` instead
  docker/android-release/Dockerfile
Labels: none

fix(cmake): fix `core.modules` not automatically registered problem
  android/sdk/src/main/jni/CMakeLists.txt
  core/CMakeLists.txt
Labels: android, core

fix(ios): fix a crash caused by thread race
  ios/sdk/base/HippyBatchedBridge.mm
Labels: ios

chore(docker): add `pip` package installer for Python
  docker/android-release/Dockerfile
Labels: none

ci(workflows): optimize the use of `HIP`
  .github/workflows/3rd_prebuilt_v8.yml
Labels: ci

fix(ios): fix memory leaks method and block invoked in the thread created by cpp should contain a autorelease scope, or memory leaks will occur
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/utils/HippyLog.mm
Labels: ios

feat(react,vue): add collapsePullHeaderWithOptions api
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/components/pull-header.tsx
  packages/hippy-vue-native-components/src/pulls.js
Labels: demo, js

fix(android): pull foot and header can exist at same time
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: android

fix(ios): fix a crash caused by thread race
  ios/sdk/base/HippyBatchedBridge.mm
Labels: ios

refactor(cmake): refactor using modernized cmake with `target_*`
  android/sdk/gradle.properties
  android/sdk/src/main/jni/CMakeLists.txt
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
  android/sdk/src/main/jni/src/bridge/js2java.cc
  android/sdk/src/main/jni/src/jni/convert_utils.cc
  android/sdk/src/main/jni/src/jni/java_turbo_module.cc
  core/CMakeLists.txt
  core/include/core/napi/v8/js_native_api_v8.h
  core/src/napi/v8/js_native_turbo_v8.cc
Labels: android, core

ci(js): add node_modules cache
  .github/workflows/docs_markdown_lint.yml
  .github/workflows/frontend_build_tests.yml
  .github/workflows/git_commit_lint.yml
  packages/hippy-react/src/components/focusable.tsx
  scripts/build-example.js
  scripts/init-example.js
Labels: js, ci

docs(README): remove Chinese readme
  PUBLISH.md
  PUBLISH.zh_CN.md
  README.md
  README.zh_CN.md
Labels: documentation

fix(android): crash of sticky item view
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
Labels: android

fix(ios): fix refresh component delay reset bug need to reset timer when new timer invoked
  ios/sdk/component/refresh/HippyRefresh.m
Labels: ios

fix(ios): fix border bottom color display error because background image covers bottom border color
  ios/sdk/component/view/HippyView.m
Labels: ios

ci(workflows): new for auto checks approval robot
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

refactor(android): rebuild NetworkModule and DefaultHttpAdapter
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: android

chore(cmake): support setting `INFA_PACKAGES_URL` via env variable
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: none

feat(devtools): support devtools connect after disconnect
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DebugWebSocketClient.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/HybiParser.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/WebSocketClient.java
Labels: android

feat(hippy-react-web): support tree-sharking & fix issues (#2069)
  packages/hippy-react-web/package.json
  packages/hippy-react-web/src/components/scroll-view.tsx
  packages/hippy-react-web/src/index.ts
  packages/hippy-react-web/src/modules/net-info.ts
  packages/hippy-react-web/src/native.ts
  packages/hippy-react-web/src/utils/index.ts
  scripts/build.js
  scripts/react-configs.js
Labels: js

feat(core): support other options for fetch request
  core/js/global/Network.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
  docs/en-us/guide/network-request.md
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/guide/network-request.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: core, demo, js, documentation
