Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'modules/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'modules/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'driver/js/tsconfig.json'
  - 'driver/js/.eslintignore'
  - 'driver/js/.nycrc'
  - 'driver/js/lerna.json'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'

fix(android): reset hippy view group clip children to true
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/view/HippyViewGroup.java
Labels: none

fix(android): reset hippy view group clip children to true
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/view/HippyViewGroup.java
Labels: none

feat(android): set hippy view group clip children to false
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPagerController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyScrollViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/view/HippyViewGroup.java
Labels: android, renderer

ci(stale): add stale related workflow
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

fix(core): fix CreateJSCString bug
  core/src/napi/jsc/js_native_api_value_jsc.cc
Labels: none

feat(dom): adjust dom event bubble order
  dom/src/dom/root_node.cc
Labels: dom

feat(dom): support dom event phase
  dom/include/dom/dom_event.h
  dom/src/dom/root_node.cc
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/modules/event_module.cc
Labels: driver, dom, core

fix(android): viewpager scrollEnabled
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
Labels: none

fix(Android): hippypager layout and pageselect event
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPagerController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/PageSelectNotifier.java
Labels: none

fix(android): viewpager scrollEnabled
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
Labels: none

fix(Android): hippypager layout and pageselect event
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPagerController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/PageSelectNotifier.java
Labels: none

fix(core): fix CreateJSCString bug
  core/src/napi/jsc/js_native_api_value_jsc.cc
Labels: none

fix(android): text input setUnderlineColor exception
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: android, renderer

fix(react,vue): fix event register error
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/element-node.ts
  driver/js/packages/hippy-react/src/event/dispatcher.ts
  driver/js/packages/hippy-react/src/event/event.ts
  driver/js/packages/hippy-react/src/utils/node.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/event/__tests__/dispatcher.test.js
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
  driver/js/packages/hippy-vue/src/renderer/native/event/event.js
  driver/js/packages/hippy-vue/src/util/node.js
Labels: flutter, js, driver, demo

fix(react,vue): fix event register error
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/element-node.ts
  driver/js/packages/hippy-react/src/event/dispatcher.ts
  driver/js/packages/hippy-react/src/event/event.ts
  driver/js/packages/hippy-react/src/utils/node.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/event/__tests__/dispatcher.test.js
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
  driver/js/packages/hippy-vue/src/renderer/native/event/event.js
  driver/js/packages/hippy-vue/src/util/node.js
Labels: flutter, js, driver, demo

feat(dom): decoupling SceneBuilder from Scope which is private for hippy
  dom/include/dom/dom_listener.h
  dom/include/dom/root_node.h
  dom/include/dom/scene_builder.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_listener.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/scope.h
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/modules/scene_builder.cc
  driver/js/core/src/scope.cc
  driver/js/ios/base/HippyBridge.mm
Labels: android, ios, driver, dom, core

ci(workflow): add stale related workflow
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

ci(workflow): add stale related workflow
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

feat(dom): adjust dom event bubble order
  dom/src/dom/root_node.cc
Labels: dom

feat(dom): support dom event phase
  dom/include/dom/dom_event.h
  dom/src/dom/root_node.cc
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/modules/event_module.cc
Labels: driver, dom, core

feat(android): set hippy view group clip children to false
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPagerController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyScrollViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/view/HippyViewGroup.java
Labels: android, renderer

fix(android): implicit narrowing conversion in compound assignment
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/recyclerview/RecyclerViewBase.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/recyclerview/Scroller.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextImageSpan.java
Labels: android, renderer

fix(android): text input setUnderlineColor exception
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: android, renderer

ci(workflow): add stale related workflow
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

fix(ios): fix undo crash for uitextfiled component
  ios/sdk/component/textinput/HippyTextField.m
Labels: none

feat(onLayout): onLayout change first trigger time
  packages/hippy-web-renderer/src/component/hippy-web-view.ts
  packages/hippy-web-renderer/src/module/ui-manager-module.ts
Labels: js

feat(AnimationSet): support AnimationSet
  packages/hippy-web-renderer/src/module/animation-module.ts
Labels: js

fix(android): water fall view getItemNode exception
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallView.java
Labels: android, renderer

ci(workflow): add stale related workflow
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

fix(scrollEnabled): fix scrollEnabled prop name error
  packages/hippy-web-renderer/src/component/scroll-view.ts
Labels: js

fix(animation-module): fix animationSet error
  packages/hippy-web-renderer/src/module/animation-module.ts
Labels: js

style(lint): fix lint warning
  packages/hippy-web-renderer/src/index.ts
Labels: js

style(lint): fix lint warning
  packages/hippy-web-renderer/src/index.ts
Labels: js

fix(scrollEnabled): fix scrollEnabled prop name error
  packages/hippy-web-renderer/src/component/scroll-view.ts
Labels: js

style(readme): remove no use code
  packages/hippy-web-renderer/README.md
Labels: documentation

fix(ios): fix undo crash for uitextfiled component
  ios/sdk/component/textinput/HippyTextField.m
Labels: none

fix(ios): fix undo crash for uitextfiled component
  renderer/native/ios/renderer/component/textinput/HippyTextField.mm
Labels: ios, renderer

fix(ios): fix potential crash due to dangling pointer
  ios/sdk/base/HippyBatchedBridge.mm
Labels: none

fix(ios): fix potential crash due to dangling pointer
  ios/sdk/base/HippyBatchedBridge.mm
Labels: none

fix(ios): fix undo crash for uitextfiled component
  renderer/native/ios/renderer/component/textinput/HippyTextField.mm
Labels: ios, renderer
