Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

feat(dom): move test directory and change unittests file name
  dom/CMakeLists.txt
  dom/src/dom/deserializer_unittests.cc
  dom/src/dom/dom_manager_unittests.cc
  dom/src/dom/dom_value_unittests.cc
  dom/src/dom/serializer_unittests.cc
  dom/tests/.clang-format
  dom/tests/CMakeLists.txt
  dom/tests/dependency/create_node.json
  dom/tests/main.cc
Labels: none

feat(android): support wrap-reverse and space-evenly (#742)
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/flex/FlexAlign.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/flex/FlexJustify.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/StyleNode.java
  android/sdk/src/main/java/com/tencent/smtt/flexbox/FlexNodeStyle.java
Labels: android

feat(dom): move test directory and change unittests file name
  dom/CMakeLists.txt
  dom/src/dom/deserializer_unittests.cc
  dom/src/dom/dom_manager_unittests.cc
  dom/src/dom/dom_value_unittests.cc
  dom/src/dom/serializer_unittests.cc
  dom/tests/.clang-format
  dom/tests/CMakeLists.txt
  dom/tests/dependency/create_node.json
  dom/tests/main.cc
Labels: none

feat(dom): standardize build script and fix lint problem
  dom/CMakeLists.txt
  dom/include/dom/animation/animation_manager.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/cubic_bezier_animation.cc
Labels: none

chore(lint): lint problem fix
  package-lock.json
  package.json
  packages/hippy-web-renderer/example/index.html
  packages/hippy-web-renderer/package.json
Labels: js

fix(list): fix list scrollEnabled error
  packages/hippy-web-renderer/src/component/list-view.ts
Labels: js

feat(dom): standardize build script and fix lint problem
  dom/CMakeLists.txt
  dom/include/dom/animation/animation_manager.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/cubic_bezier_animation.cc
Labels: none

feat(native_renderer): standardize build script
  renderer/native/android/src/main/jni/CMakeLists.txt
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: none

feat(native_renderer): standardize build script
  renderer/native/android/src/main/jni/CMakeLists.txt
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: none

fix(ios): ceil width and height that text layout needs
  driver/js/ios/utils/HippyLogging.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
Labels: none

fix(ios): ceil width and height that text layout needs
  driver/js/ios/utils/HippyLogging.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
Labels: none

feat(devtools): standardize build script
  devtools/devtools-backend/CMakeLists.txt
Labels: none

feat(devtools): standardize build script
  devtools/devtools-backend/CMakeLists.txt
Labels: none

fix(ios): fix a bug that fetch a wrong frame due to transform
  renderer/native/ios/renderer/component/view/HippyView.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: none

fix(ios): fix a bug that fetch a wrong frame due to transform
  renderer/native/ios/renderer/component/view/HippyView.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: none

feat(dom): snapshot
  dom/src/dom/dom_manager.cc
  dom/src/dom/root_node.cc
Labels: none

fix(dom): fix snapshot
  dom/include/dom/deserializer.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/src/dom/deserializer.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
Labels: none

fix(dom): fix snapshot crash
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/utils/HippyDomNodeUtils.mm
Labels: none

fix(hippy-vue): fix dialog default style not take effect
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-dialog.vue
  driver/js/packages/hippy-vue-native-components/src/dialog.js
Labels: js

feat(react,vue): use callUIFunction to call measureInWindow
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/modules/ui-manager-module.ts
  driver/js/packages/hippy-vue/src/runtime/native.js
Labels: js

fix(vue-demo): remove redundant demo class file
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-remote-bundle.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/index.js
Labels: js

feat(react,vue): use callUIFunction to call measureInWindow
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/modules/ui-manager-module.ts
  driver/js/packages/hippy-vue/src/runtime/native.js
Labels: js

fix(hippy-vue): fix dialog default style not take effect
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-dialog.vue
  driver/js/packages/hippy-vue-native-components/src/dialog.js
Labels: js

fix(vue-demo): remove redundant demo class file
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-remote-bundle.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/index.js
Labels: js

fix(dom): fix animation bug
  dom/include/dom/animation/animation_set.h
  dom/src/dom/animation/animation_set.cc
Labels: none

refactor(ios): move measure method from uimanager to view manager
  renderer/native/ios/renderer/HippyComponentData.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/utils/HippyDefines.h
Labels: none

fix(dom): fix animation bug
  dom/include/dom/animation/animation_set.h
  dom/src/dom/animation/animation_set.cc
Labels: none

refactor(ios): move measure method from uimanager to view manager
  renderer/native/ios/renderer/HippyComponentData.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/utils/HippyDefines.h
Labels: none

feat(devtools): fix pr question
  driver/js/flutter/core/src/bridge/android/bridge_impl.cc
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.h
  driver/js/flutter/lib/bridge/voltron_bridge.dart
Labels: none

feat(devtools): adapter voltron network
  devtools/devtools-backend/include/api/adapter/devtools_network_adapter.h
  devtools/devtools-backend/include/api/devtools_data_provider.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_loading_finished.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_request.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_response.h
  devtools/devtools-backend/include/api/notification/default/default_network_notification.h
  devtools/devtools-backend/include/module/domain/network_domain.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_loading_finished.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_request.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_response.cc
  devtools/devtools-backend/src/api/notification/default/default_network_notification.cc
  devtools/devtools-backend/src/module/domain/network_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/flutter/cmake/framework_core.cmake
  driver/js/flutter/core/include/ffi/bridge_ffi_impl.h
  driver/js/flutter/core/src/bridge/android/bridge_impl.cc
  driver/js/flutter/core/src/bridge/android/bridge_impl.h
  driver/js/flutter/core/src/bridge/ios/VoltronFlutterBridge.h
  driver/js/flutter/core/src/bridge/ios/VoltronFlutterBridge.mm
  driver/js/flutter/core/src/bridge/ios/VoltronJSCExecutor.mm
  driver/js/flutter/core/src/bridge/ios/VoltronJavaScriptExecutor.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.mm
  driver/js/flutter/core/src/ffi/bridge_ffi_impl.cc
  driver/js/flutter/lib/bridge/bridge_define.dart
  driver/js/flutter/lib/bridge/voltron_api.dart
  driver/js/flutter/lib/bridge/voltron_bridge.dart
  driver/js/flutter/lib/devtools/network_inspector.dart
  driver/js/flutter/lib/engine/js_engine_context.dart
  driver/js/flutter/lib/inspector/dev.dart
  driver/js/flutter/script/build.py
  renderer/flutter/core/src/render/ffi/bridge_manager.cc
  renderer/flutter/lib/controller/controller.dart
  renderer/flutter/lib/util/devtools_util.dart
Labels: none

feat(devtools): adapter voltron network
  devtools/devtools-backend/include/api/adapter/devtools_network_adapter.h
  devtools/devtools-backend/include/api/devtools_data_provider.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_loading_finished.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_request.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_response.h
  devtools/devtools-backend/include/api/notification/default/default_network_notification.h
  devtools/devtools-backend/include/module/domain/network_domain.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_loading_finished.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_request.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_response.cc
  devtools/devtools-backend/src/api/notification/default/default_network_notification.cc
  devtools/devtools-backend/src/module/domain/network_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/flutter/cmake/framework_core.cmake
  driver/js/flutter/core/include/ffi/bridge_ffi_impl.h
  driver/js/flutter/core/src/bridge/android/bridge_impl.cc
  driver/js/flutter/core/src/bridge/android/bridge_impl.h
  driver/js/flutter/core/src/bridge/ios/VoltronFlutterBridge.h
  driver/js/flutter/core/src/bridge/ios/VoltronFlutterBridge.mm
  driver/js/flutter/core/src/bridge/ios/VoltronJSCExecutor.mm
  driver/js/flutter/core/src/bridge/ios/VoltronJavaScriptExecutor.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.mm
  driver/js/flutter/core/src/ffi/bridge_ffi_impl.cc
  driver/js/flutter/lib/bridge/bridge_define.dart
  driver/js/flutter/lib/bridge/voltron_api.dart
  driver/js/flutter/lib/bridge/voltron_bridge.dart
  driver/js/flutter/lib/devtools/network_inspector.dart
  driver/js/flutter/lib/engine/js_engine_context.dart
  driver/js/flutter/lib/inspector/dev.dart
  driver/js/flutter/script/build.py
  renderer/flutter/core/src/render/ffi/bridge_manager.cc
  renderer/flutter/lib/controller/controller.dart
  renderer/flutter/lib/util/devtools_util.dart
Labels: none

feat(hippy-vue): add animaiton actionsDidUpdate hook
  docs/hippy-vue/external-components.md
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/animations/color-change.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/cubic-bezier.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/loop.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-animation.vue
  packages/hippy-vue-native-components/src/animation.js
Labels: demo, js, documentation

fix(dom): fix animation bug
  dom/include/dom/animation/animation_set.h
  dom/src/dom/animation/animation_set.cc
Labels: none

refactor(ios): remove legacy code for 2.0 dev tools
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/debug/devtools/HippyDevManager.h
  driver/js/ios/debug/devtools/HippyDevManager.mm
  driver/js/ios/debug/devtools/HippyDevWebSocketClient.h
  driver/js/ios/debug/devtools/HippyDevWebSocketClient.m
  driver/js/ios/debug/devtools/inspector/HippyDevCommand.h
  driver/js/ios/debug/devtools/inspector/HippyDevCommand.m
  driver/js/ios/debug/devtools/inspector/HippyInspector.h
  driver/js/ios/debug/devtools/inspector/HippyInspector.m
  driver/js/ios/debug/devtools/inspector/domain/HippyCSSDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyCSSDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyDomDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyDomDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyInspectorDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyInspectorDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyPageDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyPageDomain.mm
  driver/js/ios/debug/devtools/inspector/model/HippyCSSModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyCSSModel.mm
  driver/js/ios/debug/devtools/inspector/model/HippyCSSPropsDefine.h
  driver/js/ios/debug/devtools/inspector/model/HippyCSSPropsDefine.m
  driver/js/ios/debug/devtools/inspector/model/HippyDomModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyDomModel.mm
  driver/js/ios/debug/devtools/inspector/model/HippyPageModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyPageModel.mm
  renderer/native/ios/renderer/HippyInvalidating.h
Labels: none

feat(hippy-react): add callUIFunction debug log
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/modules/ui-manager-module.ts
Labels: demo, js

feat(hippy-vue): add animaiton actionsDidUpdate hook
  docs/hippy-vue/external-components.md
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/modules/Animation/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/color-change.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/cubic-bezier.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/loop.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-animation.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-vue-native-components/src/animation.js
Labels: js, documentation

refactor(ios): remove legacy code for 2.0 dev tools
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/debug/devtools/HippyDevManager.h
  driver/js/ios/debug/devtools/HippyDevManager.mm
  driver/js/ios/debug/devtools/HippyDevWebSocketClient.h
  driver/js/ios/debug/devtools/HippyDevWebSocketClient.m
  driver/js/ios/debug/devtools/inspector/HippyDevCommand.h
  driver/js/ios/debug/devtools/inspector/HippyDevCommand.m
  driver/js/ios/debug/devtools/inspector/HippyInspector.h
  driver/js/ios/debug/devtools/inspector/HippyInspector.m
  driver/js/ios/debug/devtools/inspector/domain/HippyCSSDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyCSSDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyDomDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyDomDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyInspectorDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyInspectorDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyPageDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyPageDomain.mm
  driver/js/ios/debug/devtools/inspector/model/HippyCSSModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyCSSModel.mm
  driver/js/ios/debug/devtools/inspector/model/HippyCSSPropsDefine.h
  driver/js/ios/debug/devtools/inspector/model/HippyCSSPropsDefine.m
  driver/js/ios/debug/devtools/inspector/model/HippyDomModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyDomModel.mm
  driver/js/ios/debug/devtools/inspector/model/HippyPageModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyPageModel.mm
  renderer/native/ios/renderer/HippyInvalidating.h
Labels: none

feat(hippy-vue): add animaiton actionsDidUpdate hook
  docs/hippy-vue/external-components.md
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/animations/color-change.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/cubic-bezier.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/loop.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-animation.vue
  packages/hippy-vue-native-components/src/animation.js
Labels: demo, js, documentation

feat(hippy-react): add callUIFunction debug log
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/modules/ui-manager-module.ts
Labels: demo, js

feat(hippy-vue): add animaiton actionsDidUpdate hook
  docs/hippy-vue/external-components.md
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/modules/Animation/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/color-change.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/cubic-bezier.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/loop.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-animation.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-vue-native-components/src/animation.js
Labels: js, documentation

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'
