Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'

ci(devtools): add ios pod for ci
  .github/workflows/ios_build_tests.yml
Labels: ci

feat(devtools): refactor devtools macro
  devtools/devtools-backend/include/module/domain_dispatch.h
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/devtool_data_source.cc
Labels: driver, core, devtools

fix(devtools): fix request
  devtools/devtools-backend/include/module/domain/tdf_performance_domain.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/devtools_base/logging.cc
  devtools/devtools-backend/src/module/domain/tdf_performance_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/module/model/css_model.cc
  devtools/devtools-backend/src/module/request/css_edit_style_texts_request.cc
  devtools/devtools-backend/src/module/request/css_node_data_request.cc
  devtools/devtools-backend/src/module/request/dom_node_data_request.cc
  devtools/devtools-backend/src/module/request/dom_node_for_location_request.cc
  devtools/devtools-backend/src/module/request/network_response_body_request.cc
  devtools/devtools-backend/src/module/request/screen_shot_request.cc
  devtools/devtools-backend/src/module/request/selected_render_object_request.cc
Labels: devtools

feat(devtools): fix view size error
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
Labels: android, renderer

feat(devtools): fix ios compilation issues
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/examples/ios-demo/gen_core_proj.sh
  driver/js/ios/base/HippyBatchedBridge.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: ios, driver, renderer, core, demo, devtools

feat(devtools): refactor tcp channel
  devtools/devtools-backend/include/tunnel/net_channel.h
  devtools/devtools-backend/include/tunnel/tcp/frame_codec.h
  devtools/devtools-backend/include/tunnel/tcp/tcp_channel.h
  devtools/devtools-backend/include/tunnel/tunnel_service.h
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
  devtools/devtools-backend/src/tunnel/net_channel.cc
  devtools/devtools-backend/src/tunnel/tcp/frame_codec.cpp
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cpp
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
Labels: devtools

feat(devtools): fix dom/css pr issue
  devtools/devtools-backend/include/module/model/css_model.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/model/css_model.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
Labels: devtools

feat(devtools): update hippy include devtools problems
  devtools/devtools-backend/include/api/adapter/devtools_vm_request_adapter.h
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/include/api/devtools_data_provider.h
  devtools/devtools-backend/include/api/devtools_notification_center.h
  devtools/devtools-backend/include/api/notification/default/default_v8_response_notification.h
  devtools/devtools-backend/include/api/notification/devtools_vm_response_notification.h
  devtools/devtools-backend/include/module/domain_dispatch.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/api/notification/default/default_v8_response_notification.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
  driver/js/core/include/devtools/adapter/hippy_v8_request_adapter.h
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/src/devtools/adapter/impl/hippy_elements_request_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_v8_request_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
Labels: driver, core, devtools

feat(devtools): restore delete files
  driver/js/core/include/devtools/adapter/hippy_v8_request_adapter.h
  driver/js/core/include/devtools/adapter/hippy_vm_request_adapter.h
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/include/devtools/devtool_helper.h
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/include/devtools/devtools_helper.h
  driver/js/core/include/devtools/devtools_util.h
  driver/js/core/include/devtools/devtools_utils.h
  driver/js/core/src/devtools/adapter/impl/hippy_v8_request_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_vm_request_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/devtools/devtools_util.cc
  driver/js/core/src/devtools/devtools_utils.cc
Labels: driver, core

feat(devtools): add devtools notes
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/include/api/adapter/data/dom_node_location.h
  devtools/devtools-backend/include/api/adapter/data/domain_metas.h
  devtools/devtools-backend/include/api/adapter/data/update_dom_node_metas.h
  devtools/devtools-backend/include/api/adapter/devtools_common_protocol_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_dom_tree_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_elements_request_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_memory_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_network_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_performance_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_render_tree_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_runtime_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_screen_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_tracing_adapter.h
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/include/api/devtools_config.h
  devtools/devtools-backend/include/api/devtools_data_channel.h
  devtools/devtools-backend/include/api/devtools_notification_center.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_loading_finished.h
  devtools/devtools-backend/include/api/notification/default/default_elements_response_notification.h
  devtools/devtools-backend/include/api/notification/default/default_log_notification.h
  devtools/devtools-backend/include/api/notification/default/default_network_notification.h
  devtools/devtools-backend/include/api/notification/default/default_runtime_notification.h
  devtools/devtools-backend/include/api/notification/default/default_v8_response_notification.h
  devtools/devtools-backend/include/api/notification/devtools_elements_response_notification.h
  devtools/devtools-backend/include/api/notification/devtools_log_notification.h
  devtools/devtools-backend/include/api/notification/devtools_network_notification.h
  devtools/devtools-backend/include/api/notification/devtools_runtime_notification.h
  devtools/devtools-backend/include/api/notification/devtools_vm_response_notification.h
Labels: devtools

feat(devtools): fix pr issue
  devtools/devtools-backend/include/devtools_base/tdf_string_util.h
  devtools/devtools-backend/src/module/model/css_model.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-backend/src/module/request/css_edit_style_texts_request.cc
  devtools/devtools-backend/src/module/request/css_node_data_request.cc
  devtools/devtools-backend/src/module/request/dom_node_data_request.cc
  devtools/devtools-backend/src/module/request/network_response_body_request.cc
Labels: devtools

feat(devtools): modify for iteractive
  devtools/devtools-backend/src/api/adapter/data/dom_node_location.cc
Labels: devtools

fix(devtools): add close destroy callback
  devtools/devtools-backend/src/tunnel/channel_factory.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
Labels: devtools

feat(devtools): fix ios compile issue
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/Podfile
  driver/js/examples/ios-demo/Podfile.lock
  driver/js/examples/ios-demo/gen_devtools_proj.sh
Labels: driver, core, demo

feat(devtools): use fetchcontent replace submodules
  .github/workflows/android_build_tests.yml
  .github/workflows/ios_build_tests.yml
  .gitmodules
  devtools/devtools-backend/CMakeLists.txt
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: driver, demo, devtools, ci

fix(devtools): remove unuse cmake
  devtools/devtools-backend/CMakeLists.txt
Labels: devtools

feat(android): build dom tree by refInfo
  dom/include/dom/animation_manager.h
  dom/include/dom/dom_action_interceptor.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/layer_optimized_render_manager.h
  dom/include/dom/render_manager.h
  dom/include/dom/root_node.h
  dom/include/dom/scene_builder.h
  dom/src/dom/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/layer_optimized_render_manager.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  driver/js/core/src/modules/scene_builder.cc
  renderer/native/android/src/main/jni/include/render/hippy_render_manager.h
  renderer/native/android/src/main/jni/src/render/hippy_render_manager.cc
Labels: android, driver, dom, renderer, core

feat(vue): use new node apis
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-react/src/utils/index.ts
  driver/js/packages/hippy-vue/src/renderer/native/__tests__/index.test.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
  driver/js/packages/hippy-vue/src/renderer/view-node.js
  driver/js/packages/hippy-vue/src/util/index.js
  driver/js/packages/hippy-vue/src/util/node.js
Labels: js, driver, demo

fix(ios): apply new interface of dom node
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: ios, driver, renderer, demo

feat(react): use new node apis
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/view-node.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-react/src/utils/node.ts
Labels: js, driver, demo

fix(dom): code review
  dom/include/dom/dom_node.h
  dom/src/dom/animation_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
Labels: dom

fix(dom): code review
  dom/include/dom/dom_node.h
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
Labels: dom

fix(dom): code review
  dom/include/dom/dom_node.h
  dom/src/dom/dom_node.cc
Labels: dom

fix(dom): build err
  dom/src/dom/dom_node.cc
Labels: dom

* feat(android): build dom tree by refInfo
  dom/include/dom/animation_manager.h
  dom/include/dom/dom_action_interceptor.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/layer_optimized_render_manager.h
  dom/include/dom/render_manager.h
  dom/include/dom/root_node.h
  dom/include/dom/scene_builder.h
  dom/src/dom/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/layer_optimized_render_manager.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  driver/js/core/src/modules/scene_builder.cc
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/view-node.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-react/src/utils/index.ts
  driver/js/packages/hippy-react/src/utils/node.ts
  driver/js/packages/hippy-vue/src/renderer/native/__tests__/index.test.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
  driver/js/packages/hippy-vue/src/renderer/view-node.js
  driver/js/packages/hippy-vue/src/util/index.js
  driver/js/packages/hippy-vue/src/util/node.js
  renderer/native/android/src/main/jni/include/render/hippy_render_manager.h
  renderer/native/android/src/main/jni/src/render/hippy_render_manager.cc
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: android, ios, js, driver, dom, renderer, core, demo

feat(android): use androidX recyclerView
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyCoreAPI.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
Labels: none

refactor(hippy-react-web): fix some lint problems
  docs/hippy-react/web.md
Labels: documentation

fix(android): add RecyclerView extra class name
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
Labels: none

feat(ios): add textinput keyboard height changed event
  ios/sdk/component/textinput/HippyBaseTextInput.h
  ios/sdk/component/textinput/HippyBaseTextInput.m
  ios/sdk/component/textinput/HippyTextField.h
  ios/sdk/component/textinput/HippyTextField.m
  ios/sdk/component/textinput/HippyTextView.h
  ios/sdk/component/textinput/HippyTextView.mm
  ios/sdk/component/textinput/HippyTextViewManager.mm
Labels: none

feat(react): change updateNode to batch operation & perf event binding
  packages/hippy-react/src/components/list-view.tsx
  packages/hippy-react/src/dom/element-node.ts
  packages/hippy-react/src/renderer/host-configs.ts
  packages/hippy-react/src/renderer/render.ts
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/renderer/native/__tests__/index.test.js
  packages/hippy-vue/src/renderer/native/index.js
Labels: js

feat(hippy-vue): support to remove event & merge alias event registered
  examples/android-demo/res/vendor.android.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/components/list-view.tsx
  packages/hippy-react/src/renderer/host-configs.ts
  packages/hippy-vue/src/renderer/__tests__/element-node.test.js
  packages/hippy-vue/src/renderer/__tests__/list-item-node.test.js
  packages/hippy-vue/src/renderer/__tests__/list-node.test.js
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/renderer/list-item-node.js
  packages/hippy-vue/src/renderer/list-node.js
  packages/hippy-vue/src/renderer/native/event/emitter.js
  packages/hippy-vue/src/renderer/native/index.js
Labels: js

chore(gitignore): remove wrong assets tracking
  .gitignore
Labels: none

chore(docker): replacing `centos` with `debian` as base image
  docker/android-release/Dockerfile
Labels: none

chore(android): adapt to `debian`-based compiled images
  .github/workflows/update_v8.yml
Labels: ci

feat(android): fix and provide `gradlew` command support
  .gitattributes
  android/sdk/gradle/wrapper/gradle-wrapper.jar
  android/sdk/gradle/wrapper/gradle-wrapper.properties
  android/sdk/gradlew
  android/sdk/gradlew.bat
  examples/android-demo/build_gradle.sh
  examples/android-demo/enable_lfs.sh
  examples/android-demo/gradle/wrapper/gradle-wrapper.jar
  examples/android-demo/gradle/wrapper/gradle-wrapper.properties
Labels: none

ci(android): add android build tests on PR stage
  .github/workflows/android_build_tests.yml
Labels: ci

feat(android): support sync restoreInstanceState
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/DomManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
Labels: none

ci(workflows): adjust optional status checks to be required
  .github/workflows/3rd_v8_update.yml
  .github/workflows/android_build_tests.yml
  .github/workflows/android_build_tests_bypass.yml
  .github/workflows/docker_android_build_image.yml
  .github/workflows/docs_markdown_lint.yml
  .github/workflows/docs_markdown_lint_bypass.yml
  .github/workflows/frontend_build_tests.yml
  .github/workflows/frontend_build_tests_bypass.yml
  .github/workflows/git_commit_lint.yml
  .github/workflows/ios.yml
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Labels: ci

fix(ci): fix android build tests workflow throw `gradle not found` error
  .github/workflows/android_build_tests.yml
Labels: ci

feat(android): add gradlew script execute permission
  android/sdk/gradlew
  android/sdk/gradlew.bat
  examples/android-demo/gradlew
  examples/android-demo/gradlew.bat
Labels: none
