Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

fix(voltron): add unload instance function
  driver/js/core/include/core/runtime/v8/v8_bridge_utils.h
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/flutter/core/src/bridge/android/bridge_impl.cc
  driver/js/flutter/core/src/bridge/android/bridge_impl.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.mm
  driver/js/flutter/core/src/ffi/bridge_ffi_impl.cc
Labels: none

fix(voltron): fix conflict
  driver/js/flutter/core/src/bridge/android/bridge_impl.cc
Labels: none

fix(voltron): fix cr problem
  driver/js/core/include/core/core.h
  driver/js/core/include/core/runtime/v8/runtime.h
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: none

docs(hippy-vue): edit en-us docs
  docs/en-us/hippy-vue/vue-native.md
Labels: documentation

feat(voltron): add DevSupportManager
  driver/js/flutter/example/lib/main.dart
  driver/js/flutter/example/lib/page_test.dart
  driver/js/flutter/lib/bridge/voltron_bridge.dart
  driver/js/flutter/lib/engine/bundle.dart
  driver/js/flutter/lib/engine/engine_define.dart
  driver/js/flutter/lib/engine/js_engine_context.dart
  driver/js/flutter/lib/engine/js_init_params.dart
  driver/js/flutter/lib/engine/voltron_js_engine.dart
  driver/js/flutter/lib/inspector.dart
  driver/js/flutter/lib/inspector/dev.dart
  driver/js/flutter/lib/inspector/dev_factory.dart
  driver/js/flutter/lib/inspector/dev_server_config.dart
  driver/js/flutter/lib/inspector/dev_server_helper.dart
  driver/js/flutter/lib/inspector/dev_server_impl.dart
  driver/js/flutter/lib/inspector/dev_server_impl_disable.dart
  driver/js/flutter/lib/inspector/dev_server_interface.dart
  driver/js/flutter/pubspec.yaml
  renderer/flutter/lib/widget/root.dart
Labels: none

fix(dom): fix snapshot
  dom/include/dom/dom_manager.h
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/ios/base/HippyBridge.mm
Labels: none

fix(snapshot): add snapshot driver
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
Labels: none

docs(hippy-vue): edit en-us docs animation
  docs/en-us/hippy-vue/external-components.md
Labels: documentation

fix(voltron): fix ios compile error
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.mm
Labels: none

feat(dom): add snapshot
  dom/include/dom/deserializer.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/src/dom/deserializer.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/ios/base/HippyBridge.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/utils/HippyDomNodeUtils.mm
Labels: none

feat(dom): add snapshot
  dom/include/dom/deserializer.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/src/dom/deserializer.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/ios/base/HippyBridge.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/utils/HippyDomNodeUtils.mm
Labels: none

refactor(ios): remove legacy animation code
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/module/animation/CALayer+HippyAnimation.h
  driver/js/ios/module/animation/CALayer+HippyAnimation.m
  driver/js/ios/module/animation/HippyAnimation+Group.h
  driver/js/ios/module/animation/HippyAnimation+Value.h
  driver/js/ios/module/animation/HippyAnimation+Value.mm
  driver/js/ios/module/animation/HippyAnimation.h
  driver/js/ios/module/animation/HippyAnimation.mm
  driver/js/ios/module/animation/HippyAnimationGroup.h
  driver/js/ios/module/animation/HippyAnimationGroup.mm
  driver/js/ios/module/animation/HippyAnimationModule.h
  driver/js/ios/module/animation/HippyAnimationModule.mm
  driver/js/ios/module/animation/HippyAnimationViewParams.h
  driver/js/ios/module/animation/HippyAnimationViewParams.mm
  driver/js/ios/module/animation/HippyAnimator.h
  driver/js/ios/module/animation/HippyAnimator.mm
  driver/js/ios/module/animation/RSTimingFunction.h
  driver/js/ios/module/animation/RSTimingFunction.m
  driver/js/ios/module/animation/TimingAnimation.h
  driver/js/ios/module/animation/TimingAnimation.mm
  driver/js/ios/module/animation/TimingAnimationCollection.h
  driver/js/ios/module/animation/TimingAnimationCollection.mm
  driver/js/ios/module/animation/TimingAnimationVSync.h
  driver/js/ios/module/animation/TimingAnimationVSync.m
  renderer/native/ios/renderer/HippyRenderContext.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/RenderVsyncManager.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.h
  renderer/native/ios/renderer/component/view/HippyView+HippyViewAnimation.h
  renderer/native/ios/renderer/component/view/HippyView+HippyViewAnimation.mm
  renderer/native/ios/renderer/component/view/UIView+HippyAnimationProtocol.h
  renderer/native/ios/renderer/component/view/UIView+HippyAnimationProtocol.mm
Labels: none

chore(docker): add `pip` package installer for Python
  docker/android-release/Dockerfile
Labels: none

ci(workflows): optimize the use of `HIP`
  .github/workflows/3rd_prebuilt_v8.yml
Labels: ci

chore(docker): add `pip` package installer for Python
  docker/android-release/Dockerfile
Labels: none

ci(workflows): optimize the use of `HIP`
  .github/workflows/3rd_prebuilt_v8.yml
Labels: ci

fix(docker): use 2.7 version of `get-pip.py` instead
  docker/android-release/Dockerfile
Labels: none

fix(docker): use 2.7 version of `get-pip.py` instead
  docker/android-release/Dockerfile
Labels: none

refactor(cmake): refactor using modernized cmake with `target_*`
  android/sdk/gradle.properties
  android/sdk/src/main/jni/CMakeLists.txt
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
  android/sdk/src/main/jni/src/bridge/js2java.cc
  android/sdk/src/main/jni/src/jni/convert_utils.cc
  android/sdk/src/main/jni/src/jni/java_turbo_module.cc
  core/CMakeLists.txt
  core/include/core/napi/v8/js_native_api_v8.h
  core/src/napi/v8/js_native_turbo_v8.cc
Labels: android, core

refactor(ios): remove legacy animation code
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/module/animation/CALayer+HippyAnimation.h
  driver/js/ios/module/animation/CALayer+HippyAnimation.m
  driver/js/ios/module/animation/HippyAnimation+Group.h
  driver/js/ios/module/animation/HippyAnimation+Value.h
  driver/js/ios/module/animation/HippyAnimation+Value.mm
  driver/js/ios/module/animation/HippyAnimation.h
  driver/js/ios/module/animation/HippyAnimation.mm
  driver/js/ios/module/animation/HippyAnimationGroup.h
  driver/js/ios/module/animation/HippyAnimationGroup.mm
  driver/js/ios/module/animation/HippyAnimationModule.h
  driver/js/ios/module/animation/HippyAnimationModule.mm
  driver/js/ios/module/animation/HippyAnimationViewParams.h
  driver/js/ios/module/animation/HippyAnimationViewParams.mm
  driver/js/ios/module/animation/HippyAnimator.h
  driver/js/ios/module/animation/HippyAnimator.mm
  driver/js/ios/module/animation/RSTimingFunction.h
  driver/js/ios/module/animation/RSTimingFunction.m
  driver/js/ios/module/animation/TimingAnimation.h
  driver/js/ios/module/animation/TimingAnimation.mm
  driver/js/ios/module/animation/TimingAnimationCollection.h
  driver/js/ios/module/animation/TimingAnimationCollection.mm
  driver/js/ios/module/animation/TimingAnimationVSync.h
  driver/js/ios/module/animation/TimingAnimationVSync.m
  renderer/native/ios/renderer/HippyRenderContext.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/RenderVsyncManager.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.h
  renderer/native/ios/renderer/component/view/HippyView+HippyViewAnimation.h
  renderer/native/ios/renderer/component/view/HippyView+HippyViewAnimation.mm
  renderer/native/ios/renderer/component/view/UIView+HippyAnimationProtocol.h
  renderer/native/ios/renderer/component/view/UIView+HippyAnimationProtocol.mm
Labels: none

fix(voltron): fix load instance crash
  driver/js/flutter/core/src/ffi/bridge_ffi_impl.cc
  renderer/flutter/core/src/render/ffi/bridge_manager.cc
Labels: none

fix(ios): fix memory leaks due to lack of autoreleasepool
  renderer/native/ios/renderer/HippyFont.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
Labels: none

fix(ios): fix memory leaks due to lack of autoreleasepool
  renderer/native/ios/renderer/HippyFont.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
Labels: none

ci(workflows): optimize the use of `HIP`
  .github/workflows/3rd_prebuilt_v8.yml
  docker/android-release/Dockerfile
Labels: ci

ci(workflows): optimize the use of `HIP`
  .github/workflows/3rd_prebuilt_v8.yml
  docker/android-release/Dockerfile
Labels: ci

feat(voltron): modify voltron android demo status bar color
  driver/js/flutter/example/lib/main.dart
  driver/js/flutter/example/lib/page_test.dart
  renderer/flutter/lib/render/operator_runner.dart
Labels: none

refactor(cmake): refactor using modernized cmake with `target_*`
  android/sdk/gradle.properties
  android/sdk/src/main/jni/CMakeLists.txt
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
  android/sdk/src/main/jni/src/bridge/js2java.cc
  android/sdk/src/main/jni/src/jni/convert_utils.cc
  android/sdk/src/main/jni/src/jni/java_turbo_module.cc
  core/CMakeLists.txt
  core/include/core/napi/v8/js_native_api_v8.h
  core/src/napi/v8/js_native_turbo_v8.cc
Labels: android, core

feat(devtools): fix error invalidate reason
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  renderer/native/ios/renderer/HippyInvalidating.h
Labels: none

feat(devtools): fix error invalidate reason
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  renderer/native/ios/renderer/HippyInvalidating.h
Labels: none

feat(dom): optimize the operation of handling event listeners
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: none

fix(ios): fix memory leaks method and block invoked in the thread created by cpp should contain a autorelease scope, or memory leaks will occur
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/utils/HippyLog.mm
Labels: ios

feat(dom): optimize the operation of handling event listeners
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: none

fix(ios): fix memory leaks method and block invoked in the thread created by cpp should contain a autorelease scope, or memory leaks will occur
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/utils/HippyLog.mm
Labels: ios

fix(ios): fix memory leaks method and block invoked in the thread created by cpp should contain a autorelease scope, or memory leaks will occur
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/utils/HippyLogging.mm
Labels: none

fix(ios): fix memory leaks method and block invoked in the thread created by cpp should contain a autorelease scope, or memory leaks will occur
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/utils/HippyLogging.mm
Labels: none

refactor(demo): perf react&vue demo
  docs/hippy-react/modules.md
  docs/hippy-vue/introduction.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/package.json
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  examples/hippy-react-demo/src/components/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/package.json
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  examples/hippy-vue-demo/src/components/list-items/style1.js
  examples/hippy-vue-demo/src/components/list-items/style2.js
  examples/hippy-vue-demo/src/components/list-items/style5.js
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/components/pull-footer.tsx
Labels: demo, js, documentation

refactor(demo): perf react&vue demo
  docs/hippy-react/modules.md
  docs/hippy-vue/introduction.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/package.json
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  examples/hippy-react-demo/src/components/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/package.json
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  examples/hippy-vue-demo/src/components/list-items/style1.js
  examples/hippy-vue-demo/src/components/list-items/style2.js
  examples/hippy-vue-demo/src/components/list-items/style5.js
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/components/pull-footer.tsx
Labels: demo, js, documentation

fix(cmake): fix `core.modules` not automatically registered problem
  android/sdk/src/main/jni/CMakeLists.txt
  core/CMakeLists.txt
Labels: android, core

fix(cmake): fix `core.modules` not automatically registered problem
  android/sdk/src/main/jni/CMakeLists.txt
  core/CMakeLists.txt
Labels: android, core

refactor(demo): perf react&vue demo
  docs/hippy-react/modules.md
  docs/hippy-vue/introduction.md
  docs/hippy-vue/vue-native.md
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  driver/js/examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  driver/js/examples/hippy-react-demo/src/components/index.js
  driver/js/examples/hippy-react-demo/src/routes.js
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-list.vue
  driver/js/examples/hippy-vue-demo/src/components/list-items/style1.js
  driver/js/examples/hippy-vue-demo/src/components/list-items/style2.js
  driver/js/examples/hippy-vue-demo/src/components/list-items/style5.js
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-react/src/components/pull-footer.tsx
Labels: js, documentation

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'
