Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

feat(devtools): add comments for cmake, revert tests and flutter cmake
  devtools/devtools-backend/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/flutter/cmake/framework_core.cmake
Labels: none

ci(js): add node_modules cache
  .github/workflows/docs_markdown_lint.yml
  .github/workflows/frontend_build_tests.yml
  .github/workflows/git_commit_lint.yml
  driver/js/scripts/build-example.js
  driver/js/scripts/init-example.js
Labels: js, ci

fix(ios): fix refresh component delay reset bug need to reset timer when new timer invoked
  renderer/native/ios/renderer/component/refresh/HippyRefresh.mm
Labels: none

fix(android): pull foot and header can exist at same time
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: none

fix(ios): fix scroll parameter of scrollto method
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
Labels: none

fix(android): crash of sticky item view
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
Labels: none

feat(devtools): update context name to frontend
  driver/js/core/src/scope.cc
Labels: none

fix(dom): fix animation cb crash
  driver/js/core/src/modules/animation_module.cc
Labels: none

fix(ios): fix refresh bug for header refresh and footer refresh
  ios/sdk/component/footerrefresh/HippyFooterRefresh.m
  ios/sdk/component/headerrefresh/HippyHeaderRefresh.m
Labels: ios

feat(voltron): optimize remove event
  renderer/flutter/lib/render/node.dart
Labels: none

feat(devtools): add prefix for context name
  devtools/devtools-backend/src/api/notification/default/default_runtime_notification.cc
Labels: none

fix(ios): fix refresh bug for header refresh and footer refresh
  ios/sdk/component/footerrefresh/HippyFooterRefresh.m
  ios/sdk/component/headerrefresh/HippyHeaderRefresh.m
Labels: ios

feat(devtools): add __HIPPYNATIVEGLOBAL__.Debug
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: none

feat(devtools): fix ios client id inconsistency
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/debug/devtools/HippyDevInfo.h
  driver/js/ios/debug/devtools/HippyDevInfo.m
Labels: none

docs(hippy-vue): edit external-components
  docs/en-us/hippy-vue/external-components.md
Labels: documentation

ci(workflows): new for auto checks approval robot
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

ci(workflows): new for auto checks approval robot
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

ci(workflows): new for auto checks approval robot
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

ci(workflows): new for auto checks approval robot
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

docs(hippy-vue): add en-us docs (#1910)
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/hippy-vue/components.md
  docs/en-us/hippy-vue/customize.md
  docs/en-us/hippy-vue/external-components.md
  docs/en-us/hippy-vue/introduction.md
  docs/en-us/hippy-vue/native-event.md
  docs/en-us/hippy-vue/router.md
  docs/en-us/hippy-vue/vue-native.md
Labels: documentation

feat(core): support other options for fetch request
  core/js/global/Network.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
  docs/en-us/guide/network-request.md
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/guide/network-request.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: core, demo, js, documentation

docs(react,vue): add renderPullFooter & collpase options docs
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/components.md
  docs/hippy-vue/external-components.md
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
Labels: demo, js, documentation

feat(contentContainerStyle): scrollView support contentContainerStyle
  packages/hippy-web-renderer/src/component/scroll-view.ts
Labels: js

feat(contentContainerStyle): scrollView support contentContainerStyle
  packages/hippy-web-renderer/src/component/scroll-view.ts
Labels: js

fix(list): fix list scrollEnabled error
  packages/hippy-web-renderer/src/component/list-view.ts
Labels: js

docs(event): add delloc event
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/native-event.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/native-event.md
Labels: documentation

feat(core): support other options for fetch request
  core/js/global/Network.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
  docs/en-us/guide/network-request.md
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/guide/network-request.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: core, demo, js, documentation

docs(event): add delloc event
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/native-event.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/native-event.md
Labels: documentation

docs(react,vue): add renderPullFooter & collpase options docs
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/components.md
  docs/hippy-vue/external-components.md
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
Labels: demo, js, documentation

fix(ios): fix border bottom color display error because background image covers bottom border color
  ios/sdk/component/view/HippyView.m
Labels: ios

docs(web-renderer): web-renderer add support detail
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  docs/web/custom-component.md
  docs/web/custom-module.md
  docs/web/event.md
Labels: documentation

fix(ios): fix border bottom color display error because background image covers bottom border color
  ios/sdk/component/view/HippyView.m
Labels: ios

fix(ios): check cookie availabity before commit
  ios/sdk/module/network/HippyNetWork.m
Labels: ios

fix(ios): check cookie availabity before commit
  ios/sdk/module/network/HippyNetWork.m
Labels: ios

refactor(examples): update listview demo
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

fix(ios): fix border bottom color display error because background image covers bottom border color
  renderer/native/ios/renderer/component/view/HippyView.h
  renderer/native/ios/renderer/component/view/HippyView.mm
Labels: none

fix(ios): fix border bottom color display error because background image covers bottom border color
  renderer/native/ios/renderer/component/view/HippyView.h
  renderer/native/ios/renderer/component/view/HippyView.mm
Labels: none

fix(ios): check cookie availabity before commit
  driver/js/ios/module/network/HippyNetWork.m
Labels: none

fix(ios): check cookie availabity before commit
  driver/js/ios/module/network/HippyNetWork.m
Labels: none

refactor(examples): update listview demo
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'
