Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

feat(devtools): add readme for dectools
  devtools/devtools-backend/README.md
Labels: documentation, devtools

feat(devtools): support getscreenshot continued
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
Labels: android, driver, renderer, core

fix(devtools): fix werror problems
  devtools/devtools-backend/include/api/adapter/data/domain_metas.h
  devtools/devtools-backend/include/devtools_base/common/logging.h
  devtools/devtools-backend/include/devtools_base/common/macros.h
  devtools/devtools-backend/src/devtools_base/common/task_runner.cc
  devtools/devtools-backend/src/devtools_base/common/worker.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/src/devtools/devtool_utils.cc
Labels: driver, core, devtools

feat(devtools): fix ios compilation issue
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: driver, demo

fix(devtools): remove no-exception declare
  devtools/devtools-backend/CMakeLists.txt
Labels: devtools

feat(devtools): remote sh and update readme
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/CPPLINT.cfg
  devtools/devtools-backend/README.md
  devtools/devtools-backend/build.sh
  devtools/devtools-backend/build_android_lib.sh
  devtools/devtools-backend/build_ios_lib.sh
Labels: documentation, devtools

feat(devtools): add ENABLE_INSPECTOR macro for v8
  driver/js/android/src/main/jni/include/bridge/bridge.h
  driver/js/android/src/main/jni/include/hippy.h
  driver/js/android/src/main/jni/src/bridge/bridge.cc
  driver/js/android/src/main/jni/src/bridge/java2js.cc
  driver/js/core/include/core/runtime/v8/bridge.h
  driver/js/core/include/core/runtime/v8/runtime.h
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: android, driver, core

fix(devtools): fix tag, attributes and text display
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/core/src/devtools/devtool_utils.cc
Labels: driver, core

feat(devtools): fix build failed
  devtools/devtools-backend/include/tunnel/tunnel_service.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
Labels: devtools

feat(devtools): fix api/adapter/data issue
  devtools/devtools-backend/include/api/adapter/data/dom_node_location.h
  devtools/devtools-backend/include/api/adapter/data/dom_node_metas.h
  devtools/devtools-backend/include/api/adapter/data/domain_metas.h
  devtools/devtools-backend/include/api/adapter/data/frame_timing_metas.h
  devtools/devtools-backend/include/api/adapter/data/memory_metas.h
  devtools/devtools-backend/include/api/adapter/data/render_diagnostic_metas.h
  devtools/devtools-backend/include/api/adapter/data/render_node_metas.h
  devtools/devtools-backend/include/api/adapter/data/trace_event_metas.h
  devtools/devtools-backend/include/api/adapter/data/update_dom_node_metas.h
  devtools/devtools-backend/src/api/adapter/data/dom_node_location.cc
  devtools/devtools-backend/src/api/adapter/data/dom_node_metas.cc
  devtools/devtools-backend/src/api/adapter/data/domain_metas.cc
  devtools/devtools-backend/src/api/adapter/data/frame_timing_metas.cc
  devtools/devtools-backend/src/api/adapter/data/memory_metas.cc
  devtools/devtools-backend/src/api/adapter/data/render_diagnostic_metas.cc
  devtools/devtools-backend/src/api/adapter/data/render_node_metas.cc
  devtools/devtools-backend/src/api/adapter/data/trace_event_metas.cc
Labels: devtools

feat(devtools): fix error when tagName does not exist
  driver/js/core/src/modules/scene_builder.cc
Labels: driver, core

fix(devtools): fix hippy include devtools
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/runtime/v8/v8_bridge_utils.h
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: android, driver, core

feat(devtools): modify devtools pr issue
  driver/js/core/include/devtools/adapter/hippy_runtime_adapter.h
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/include/devtools/adapter/hippy_tracing_adapter.h
  driver/js/core/include/devtools/adapter/hippy_v8_request_adapter.h
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/core/include/devtools/devtools_macro.h
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
Labels: android, driver, renderer, core

feat(devtools): fix could not dispatch to DOM CSS issue
  devtools/devtools-backend/src/module/domain_dispatch.cc
Labels: devtools

feat(devtools): json parse add check
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_inspector_domain.cc
  driver/js/core/src/modules/ui_manager_module.cc
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: ios, driver, core, devtools

feat(devtools): fix rebase error
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/src/devtools/devtool_utils.cc
  driver/js/core/src/modules/ui_manager_module.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/native_source_code_ios.cc
Labels: android, ios, driver, core, demo

feat(devtools): fic tcp channel warining
  devtools/devtools-backend/include/tunnel/net_channel.h
  devtools/devtools-backend/include/tunnel/tcp/frame_codec.h
  devtools/devtools-backend/include/tunnel/tunnel_service.h
  devtools/devtools-backend/src/tunnel/tcp/frame_codec.cpp
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cpp
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
Labels: devtools

feat(devtools): fix rebase devtools error
  driver/js/ios/base/HippyBatchedBridge.mm
Labels: ios, driver

feat(devtools): fix ios page issue
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: ios, renderer

feat(devtools): add bridge for devtools
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/modules/ui_manager_module.h
  driver/js/core/include/core/runtime/v8/inspector/v8_channel_impl.h
  driver/js/core/include/core/scope.h
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/include/devtools/devtool_helper.h
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: android, driver, core, devtools

fix(devtools): update ios header search path
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: driver, demo

feat(devtools): fix ios compilation issues
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: driver, demo

feat(devtools): remove -fexceptions
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/third_party/asio/include/asio/detail/throw_exception.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/common/cpp11.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/connection.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/endpoint.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/error.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/http/constants.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/http/impl/parser.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/http/impl/request.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/http/impl/response.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/http/parser.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/http/request.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/http/response.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/impl/connection_impl.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/impl/endpoint_impl.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/impl/utilities_impl.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/logger/basic.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/roles/client_endpoint.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/roles/server_endpoint.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/sha1/sha1.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/transport/asio/connection.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/transport/asio/endpoint.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/transport/asio/security/none.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/transport/asio/security/tls.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/transport/base/endpoint.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/transport/stub/endpoint.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/uri.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/utilities.hpp
  devtools/devtools-backend/third_party/websocketpp/websocketpp/version.hpp
Labels: dependencies, devtools

fix(devtools): fix annotation
  devtools/devtools-backend/src/module/domain_dispatch.cc
Labels: devtools

feat(devtools): CMakeList add -DOS_IOS
  devtools/devtools-backend/CMakeLists.txt
Labels: devtools

feat(devtools): modify stream hander cpplint
  devtools/devtools-backend/include/tunnel/tcp/stream_handler.h
  devtools/devtools-backend/include/tunnel/tcp/tcp_channel.h
  devtools/devtools-backend/src/tunnel/tcp/stream_handler.cpp
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cpp
Labels: devtools

feat(devtools): fix build failed
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtool_utils.cc
Labels: driver, core

feat(devtools): modify default datachannel type
  driver/js/core/src/devtools/devtool_data_source.cc
Labels: driver, core

feat(devtools): base_domain add RegisterCallback method
  devtools/devtools-backend/include/module/domain/base_domain.h
  devtools/devtools-backend/include/module/domain/css_domain.h
  devtools/devtools-backend/include/module/domain/dom_domain.h
  devtools/devtools-backend/include/module/domain/network_domain.h
  devtools/devtools-backend/include/module/domain/page_domain.h
  devtools/devtools-backend/include/module/domain/tdf_common_protocol_domain.h
  devtools/devtools-backend/include/module/domain/tdf_inspector_domain.h
  devtools/devtools-backend/include/module/domain/tdf_memory_domain.h
  devtools/devtools-backend/include/module/domain/tdf_performance_domain.h
  devtools/devtools-backend/include/module/domain/tdf_runtime_domain.h
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/domain/network_domain.cc
  devtools/devtools-backend/src/module/domain/page_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_common_protocol_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_inspector_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_memory_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_performance_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
Labels: devtools

fix(devtools): fix tag name obtain
  dom/src/dom/layer_optimized_render_manager.cc
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
  renderer/native/android/src/main/jni/src/render/hippy_render_manager.cc
Labels: android, driver, dom, renderer, core

fix(devtools): update u16 to u8
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
Labels: driver, core, devtools

feat(devtools): optimize cmake
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/cmake/android/CMakeLists.txt
  devtools/devtools-backend/cmake/ios/CMakeLists.txt
  devtools/devtools-backend/cmake/ios/ios.toolchain.cmake
Labels: devtools

fix(devtools): fix debug mode depends on create
  driver/js/core/include/core/scope.h
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/src/devtools/adapter/impl/hippy_runtime_adapter.cc
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: driver, core

docs(devtools): update docs for devtools introduction
  devtools/devtools-backend/README.md
  driver/js/examples/ios-demo/gen_core_proj.sh
  driver/js/examples/ios-demo/gen_devtools_proj.sh
Labels: driver, demo, documentation, devtools

ci(devtools): add devtools dir
  .github/workflows/android_build_tests.yml
  .github/workflows/android_build_tests_bypass.yml
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Labels: ci

feat(devtools): fix screen shot imp
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  driver/js/core/include/devtools/adapter/hippy_elements_request_adapter.h
  driver/js/core/include/devtools/adapter/hippy_runtime_adapter.h
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
  renderer/native/ios/utils/HippyLog.mm
Labels: android, ios, driver, renderer, core, devtools

feat(devtools): modify backend file name
  devtools/devtools-backend/include/module/domain/base_domain.h
  devtools/devtools-backend/include/module/domain_dispatch.h
  devtools/devtools-backend/include/module/inspect_event.h
  devtools/devtools-backend/test/inspect/domain_dispatch_ut.cc
Labels: devtools

feat(devtools): modify backend cmake macro ois define
  devtools/devtools-backend/CMakeLists.txt
Labels: devtools

feat(devtools): fix ios screenshot scale error
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: ios, driver, renderer, core

feat(devtools): remove tunnelservice this
  devtools/devtools-backend/include/tunnel/tunnel_service.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
Labels: devtools

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'
