Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'

feat(devtools): add prefix for context name
  devtools/devtools-backend/src/api/notification/default/default_runtime_notification.cc
Labels: none

feat(devtools): add __HIPPYNATIVEGLOBAL__.Debug
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: none

feat(devtools): fix ios client id inconsistency
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/debug/devtools/HippyDevInfo.h
  driver/js/ios/debug/devtools/HippyDevInfo.m
Labels: none

fix(android): fix occasional crash when jsi convert
  driver/js/android/src/main/jni/include/jni/convert_utils.h
  driver/js/android/src/main/jni/src/jni/convert_utils.cc
Labels: none

fix(android): fix occasional crash when jsi convert
  driver/js/android/src/main/jni/include/jni/convert_utils.h
  driver/js/android/src/main/jni/src/jni/convert_utils.cc
Labels: none

feat(react,vue): add collapsePullHeaderWithOptions api
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/packages/hippy-react/src/components/pull-header.tsx
  driver/js/packages/hippy-vue-native-components/src/pulls.js
Labels: js

docs(hippy-vue): add en-us docs (#1910)
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/hippy-vue/components.md
  docs/en-us/hippy-vue/customize.md
  docs/en-us/hippy-vue/external-components.md
  docs/en-us/hippy-vue/introduction.md
  docs/en-us/hippy-vue/native-event.md
  docs/en-us/hippy-vue/router.md
  docs/en-us/hippy-vue/vue-native.md
Labels: documentation

feat(core): support other options for fetch request
  docs/en-us/guide/network-request.md
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/guide/network-request.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/global/Network.js
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  driver/js/examples/hippy-react-demo/src/routes.js
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/ios/base/native_source_code_ios.cc
Labels: js, documentation

docs(react,vue): add renderPullFooter & collpase options docs
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/components.md
  docs/hippy-vue/external-components.md
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
Labels: js, documentation

docs(event): add delloc event
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/native-event.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/native-event.md
Labels: documentation

refactor(examples): update listview demo
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-list.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
Labels: js

chore(cmake): support setting `INFA_PACKAGES_URL` via env variable
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: none

ci(workflows): switch to self-hosted runners
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/android_build_tests.yml
  .github/workflows/docker_android_build_image.yml
Labels: ci

docs(hippy-vue): add en-us docs (#1910)
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/hippy-vue/components.md
  docs/en-us/hippy-vue/customize.md
  docs/en-us/hippy-vue/external-components.md
  docs/en-us/hippy-vue/introduction.md
  docs/en-us/hippy-vue/native-event.md
  docs/en-us/hippy-vue/router.md
  docs/en-us/hippy-vue/vue-native.md
Labels: documentation

feat(react,vue): add collapsePullHeaderWithOptions api
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/packages/hippy-react/src/components/pull-header.tsx
  driver/js/packages/hippy-vue-native-components/src/pulls.js
Labels: js

feat(core): support other options for fetch request
  docs/en-us/guide/network-request.md
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/guide/network-request.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/global/Network.js
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  driver/js/examples/hippy-react-demo/src/routes.js
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/ios/base/native_source_code_ios.cc
Labels: js, documentation

docs(react,vue): add renderPullFooter & collpase options docs
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/components.md
  docs/hippy-vue/external-components.md
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
Labels: js, documentation

refactor(examples): update listview demo
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-list.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
Labels: js

docs(event): add delloc event
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/native-event.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/native-event.md
Labels: documentation

chore(cmake): support setting `INFA_PACKAGES_URL` via env variable
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: none

ci(workflows): switch to self-hosted runners
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/android_build_tests.yml
  .github/workflows/docker_android_build_image.yml
Labels: ci

chore(cmake): support setting `INFA_PACKAGES_URL` via env variable
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: none

ci(workflows): switch to self-hosted runners
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/android_build_tests.yml
  .github/workflows/docker_android_build_image.yml
Labels: ci

chore(cmake): support setting `INFA_PACKAGES_URL` via env variable
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: none

ci(workflows): switch to self-hosted runners
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/android_build_tests.yml
  .github/workflows/docker_android_build_image.yml
Labels: ci

feat(ios): adjust borderColor display conditions border color is only displayed when border style and width setted
  renderer/native/ios/renderer/component/view/HippyView.mm
Labels: none

refactor(examples): add borderStyle
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/app.jsx
  driver/js/examples/hippy-react-demo/src/components/Image/index.jsx
  driver/js/examples/hippy-react-demo/src/components/Modal/index.jsx
  driver/js/examples/hippy-react-demo/src/components/RippleViewAndroid/index.jsx
  driver/js/examples/hippy-react-demo/src/components/ScrollView/index.jsx
  driver/js/examples/hippy-react-demo/src/components/Text/index.jsx
  driver/js/examples/hippy-react-demo/src/components/TextInput/index.jsx
  driver/js/examples/hippy-react-demo/src/components/View/index.jsx
  driver/js/examples/hippy-react-demo/src/components/WebView/index.jsx
  driver/js/examples/hippy-react-demo/src/externals/TabHost/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/Animation/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/AsyncStorage/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/NativeEvent/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  driver/js/examples/hippy-react-demo/src/pages/gallery.jsx
  driver/js/examples/hippy-react-demo/src/shared/PagerItemView.jsx
  driver/js/examples/hippy-vue-demo/src/app.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-div.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-img.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-input.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-websocket.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  driver/js/examples/hippy-vue-demo/src/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/remote-debug.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
Labels: js

refactor(examples): add borderStyle
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/app.jsx
  driver/js/examples/hippy-react-demo/src/components/Image/index.jsx
  driver/js/examples/hippy-react-demo/src/components/Modal/index.jsx
  driver/js/examples/hippy-react-demo/src/components/RippleViewAndroid/index.jsx
  driver/js/examples/hippy-react-demo/src/components/ScrollView/index.jsx
  driver/js/examples/hippy-react-demo/src/components/Text/index.jsx
  driver/js/examples/hippy-react-demo/src/components/TextInput/index.jsx
  driver/js/examples/hippy-react-demo/src/components/View/index.jsx
  driver/js/examples/hippy-react-demo/src/components/WebView/index.jsx
  driver/js/examples/hippy-react-demo/src/externals/TabHost/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/Animation/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/AsyncStorage/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/NativeEvent/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  driver/js/examples/hippy-react-demo/src/pages/gallery.jsx
  driver/js/examples/hippy-react-demo/src/shared/PagerItemView.jsx
  driver/js/examples/hippy-vue-demo/src/app.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-div.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-img.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-input.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-websocket.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  driver/js/examples/hippy-vue-demo/src/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/remote-debug.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
Labels: js

refactor(examples): add borderStyle
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/app.jsx
  examples/hippy-react-demo/src/components/Image/index.jsx
  examples/hippy-react-demo/src/components/Modal/index.jsx
  examples/hippy-react-demo/src/components/RippleViewAndroid/index.jsx
  examples/hippy-react-demo/src/components/ScrollView/index.jsx
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-react-demo/src/components/TextInput/index.jsx
  examples/hippy-react-demo/src/components/View/index.jsx
  examples/hippy-react-demo/src/components/WebView/index.jsx
  examples/hippy-react-demo/src/externals/TabHost/index.jsx
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-react-demo/src/modules/AsyncStorage/index.jsx
  examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  examples/hippy-react-demo/src/modules/NativeEvent/index.jsx
  examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  examples/hippy-react-demo/src/pages/gallery.jsx
  examples/hippy-react-demo/src/shared/PagerItemView.jsx
  examples/hippy-vue-demo/src/app.vue
  examples/hippy-vue-demo/src/components/demos/demo-div.vue
  examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  examples/hippy-vue-demo/src/components/demos/demo-img.vue
  examples/hippy-vue-demo/src/components/demos/demo-input.vue
  examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  examples/hippy-vue-demo/src/components/demos/demo-websocket.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  examples/hippy-vue-demo/src/pages/menu.vue
  examples/hippy-vue-demo/src/pages/remote-debug.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

refactor(examples): add borderStyle
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/app.jsx
  examples/hippy-react-demo/src/components/Image/index.jsx
  examples/hippy-react-demo/src/components/Modal/index.jsx
  examples/hippy-react-demo/src/components/RippleViewAndroid/index.jsx
  examples/hippy-react-demo/src/components/ScrollView/index.jsx
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-react-demo/src/components/TextInput/index.jsx
  examples/hippy-react-demo/src/components/View/index.jsx
  examples/hippy-react-demo/src/components/WebView/index.jsx
  examples/hippy-react-demo/src/externals/TabHost/index.jsx
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-react-demo/src/modules/AsyncStorage/index.jsx
  examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  examples/hippy-react-demo/src/modules/NativeEvent/index.jsx
  examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  examples/hippy-react-demo/src/pages/gallery.jsx
  examples/hippy-react-demo/src/shared/PagerItemView.jsx
  examples/hippy-vue-demo/src/app.vue
  examples/hippy-vue-demo/src/components/demos/demo-div.vue
  examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  examples/hippy-vue-demo/src/components/demos/demo-img.vue
  examples/hippy-vue-demo/src/components/demos/demo-input.vue
  examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  examples/hippy-vue-demo/src/components/demos/demo-websocket.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  examples/hippy-vue-demo/src/pages/menu.vue
  examples/hippy-vue-demo/src/pages/remote-debug.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

feat(voltron): improve animation
  renderer/flutter/lib/render/manager.dart
  renderer/flutter/lib/render/node.dart
  renderer/flutter/lib/util/render_vsync_util.dart
Labels: none

feat(ios): adjust borderColor display conditions border color is only displayed when border style and width setted
  renderer/native/ios/renderer/component/view/HippyBorderDrawing.m
  renderer/native/ios/renderer/component/view/HippyBorderStyle.h
  renderer/native/ios/renderer/component/view/HippyView.mm
  renderer/native/ios/utils/HippyConvert.mm
Labels: none

feat(voltron): improve animation
  renderer/flutter/lib/render/manager.dart
  renderer/flutter/lib/render/node.dart
Labels: none

feat(devtools): support devtools reload and update context
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DebugWebSocketClient.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/Inspector.java
Labels: android

feat(devtools): support devtools connect after disconnect
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DebugWebSocketClient.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/HybiParser.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/WebSocketClient.java
Labels: android

feat(devtools): support devtools reload and update context
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DebugWebSocketClient.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/Inspector.java
Labels: android

feat(devtools): support devtools connect after disconnect
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DebugWebSocketClient.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/HybiParser.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/WebSocketClient.java
Labels: android

feat(voltron): improve animation
  driver/js/flutter/lib/engine/js_api_provider.dart
  renderer/flutter/lib/controller.dart
  renderer/flutter/lib/controller/controller.dart
  renderer/flutter/lib/controller/manager.dart
  renderer/flutter/lib/controller/root_node.dart
  renderer/flutter/lib/render/manager.dart
  renderer/flutter/lib/render/node.dart
Labels: none

feat(voltron): improve animation
  driver/js/flutter/lib/engine/js_api_provider.dart
  renderer/flutter/lib/controller/root_node.dart
Labels: none

feat(ios): make item view be a subclass of hippyview border attribute can be setted for item view
  ios/sdk/component/listview/HippyBaseListItemView.h
  ios/sdk/component/waterfalllist/HippyWaterfallItemView.h
Labels: ios
