Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, core, layout, demo, js, documentation, dependencies, ci

fix(ios): fix zpoistion error for indicator and header view
  ios/sdk/component/listview/HippyBaseListView.m
Labels: ios

fix(ios): fix refresh bug for header refresh and footer refresh
  ios/sdk/component/footerrefresh/HippyFooterRefresh.m
  ios/sdk/component/headerrefresh/HippyHeaderRefresh.m
Labels: ios

refactor(examples): add borderStyle
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/app.jsx
  examples/hippy-react-demo/src/components/Image/index.jsx
  examples/hippy-react-demo/src/components/Modal/index.jsx
  examples/hippy-react-demo/src/components/RippleViewAndroid/index.jsx
  examples/hippy-react-demo/src/components/ScrollView/index.jsx
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-react-demo/src/components/TextInput/index.jsx
  examples/hippy-react-demo/src/components/View/index.jsx
  examples/hippy-react-demo/src/components/WebView/index.jsx
  examples/hippy-react-demo/src/externals/TabHost/index.jsx
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-react-demo/src/modules/AsyncStorage/index.jsx
  examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  examples/hippy-react-demo/src/modules/NativeEvent/index.jsx
  examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  examples/hippy-react-demo/src/pages/gallery.jsx
  examples/hippy-react-demo/src/shared/PagerItemView.jsx
  examples/hippy-vue-demo/src/app.vue
  examples/hippy-vue-demo/src/components/demos/demo-div.vue
  examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  examples/hippy-vue-demo/src/components/demos/demo-img.vue
  examples/hippy-vue-demo/src/components/demos/demo-input.vue
  examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  examples/hippy-vue-demo/src/components/demos/demo-websocket.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  examples/hippy-vue-demo/src/pages/menu.vue
  examples/hippy-vue-demo/src/pages/remote-debug.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

docs(react,vue): add renderPullFooter & collpase options docs
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/components.md
  docs/hippy-vue/external-components.md
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
Labels: demo, js, documentation

docs(hippy-vue): add en-us docs (#1910)
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/hippy-vue/components.md
  docs/en-us/hippy-vue/customize.md
  docs/en-us/hippy-vue/external-components.md
  docs/en-us/hippy-vue/introduction.md
  docs/en-us/hippy-vue/native-event.md
  docs/en-us/hippy-vue/router.md
  docs/en-us/hippy-vue/vue-native.md
Labels: documentation

fix(ios): check cookie availabity before commit
  ios/sdk/module/network/HippyNetWork.m
Labels: ios

feat(devtools): support devtools reload and update context
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DebugWebSocketClient.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/Inspector.java
Labels: android

fix(ios): modify cookie setting logic
  ios/sdk/module/network/HippyNetWork.m
Labels: ios

refactor(examples): update listview demo
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

feat(ios): make item view be a subclass of hippyview border attribute can be setted for item view
  ios/sdk/component/listview/HippyBaseListItemView.h
  ios/sdk/component/waterfalllist/HippyWaterfallItemView.h
Labels: ios

docs(event): add delloc event
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/native-event.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/native-event.md
Labels: documentation

ci(workflows): switch to self-hosted runners
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/android_build_tests.yml
  .github/workflows/docker_android_build_image.yml
Labels: ci

chore(release): released 2.14.0
  CHANGELOG.md
  android/sdk/gradle.properties
  examples/android-demo/res/vendor.android.js
  examples/ios-demo/res/vendor.ios.js
  hippy.podspec
  ios/sdk/base/HippyBridge.mm
  lerna.json
  packages/hippy-debug-server/CHANGELOG.md
  packages/hippy-debug-server/package-lock.json
  packages/hippy-debug-server/package.json
  packages/hippy-react-web/CHANGELOG.md
  packages/hippy-react-web/package-lock.json
  packages/hippy-react-web/package.json
  packages/hippy-react/CHANGELOG.md
  packages/hippy-react/package-lock.json
  packages/hippy-react/package.json
  packages/hippy-vue-css-loader/CHANGELOG.md
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-css-loader/package.json
  packages/hippy-vue-loader/CHANGELOG.md
  packages/hippy-vue-loader/package-lock.json
  packages/hippy-vue-loader/package.json
  packages/hippy-vue-native-components/CHANGELOG.md
  packages/hippy-vue-native-components/package.json
  packages/hippy-vue-router/CHANGELOG.md
  packages/hippy-vue-router/package-lock.json
  packages/hippy-vue-router/package.json
  packages/hippy-vue/CHANGELOG.md
  packages/hippy-vue/package-lock.json
  packages/hippy-vue/package.json
Labels: android, ios, demo, js, documentation

docs(cookies): update cookies introduction
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
Labels: documentation

docs(cookies): update cookies introduction
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
Labels: documentation

feat(devtools): remove ios inspector instance
  ios/sdk/debug/devtools/HippyDevManager.m
  ios/sdk/debug/devtools/inspector/HippyInspector.h
  ios/sdk/debug/devtools/inspector/HippyInspector.m
Labels: ios

refactor(android): rebuild NetworkModule and DefaultHttpAdapter
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpAdapter.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: none

feat(devtools): remove ios inspector instance
  ios/sdk/debug/devtools/HippyDevManager.m
  ios/sdk/debug/devtools/inspector/HippyInspector.h
  ios/sdk/debug/devtools/inspector/HippyInspector.m
Labels: ios

refactor(android): rebuild NetworkModule and DefaultHttpAdapter
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpAdapter.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: none

docs(en-us): update english doc
  docs/_navbar.md
  docs/en-us/README.md
  docs/en-us/_navbar.md
  docs/en-us/android/_sidebar.md
  docs/en-us/guide/_sidebar.md
  docs/en-us/guide/support.md
  docs/en-us/hippy-react/_sidebar.md
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/structure/_sidebar.md
  docs/en-us/structure/core.md
Labels: documentation

docs(en-us): update english doc
  docs/_navbar.md
  docs/en-us/README.md
  docs/en-us/_navbar.md
  docs/en-us/android/_sidebar.md
  docs/en-us/guide/_sidebar.md
  docs/en-us/guide/support.md
  docs/en-us/hippy-react/_sidebar.md
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/structure/_sidebar.md
  docs/en-us/structure/core.md
Labels: documentation

fix(android): remove unnecessary dir form git ignore
  .gitignore
Labels: none

fix(android): remove unnecessary dir form git ignore
  .gitignore
Labels: none

refactor(ios): temporarily mask the devtools code
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: none

refactor(ios): remove unused method statement
  ios/sdk/component/listview/HippyBaseListView.h
Labels: ios

refactor(ios): remove unused method statement
  ios/sdk/component/listview/HippyBaseListView.h
Labels: ios

fix(android): updateEventListener for root node
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/RenderRootNode.java
Labels: none

fix(android): updateEventListener for root node
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/RenderRootNode.java
Labels: none

chore(codeowner): change codeowners config
  .github/CODEOWNERS
  .npmignore
Labels: ci

feat(dom): fix the error logic of UpdateNodeSize() about RootNode
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
Labels: none

chore(codeowner): change codeowners config
  .github/CODEOWNERS
  .npmignore
Labels: ci

chore(codeowner): change codeowners config
  .github/CODEOWNERS
Labels: ci

feat(dom): fix the error logic of UpdateNodeSize() about RootNode
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
Labels: none

chore(codeowner): change codeowners config
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
Labels: documentation, ci

feat(hippy-react-web): support tree-sharking & fix issues
  driver/js/packages/hippy-react-web/package.json
  driver/js/packages/hippy-react-web/src/components/scroll-view.tsx
  driver/js/packages/hippy-react-web/src/index.ts
  driver/js/packages/hippy-react-web/src/modules/net-info.ts
  driver/js/packages/hippy-react-web/src/native.ts
  driver/js/packages/hippy-react-web/src/utils/index.ts
  driver/js/scripts/build.js
  driver/js/scripts/react-configs.js
Labels: js

docs(homepage): update homepage documents
  docs/_navbar.md
  docs/en-us/README.md
  docs/en-us/_navbar.md
  docs/en-us/android/_sidebar.md
  docs/en-us/guide/_sidebar.md
  docs/en-us/guide/support.md
  docs/en-us/hippy-react/_sidebar.md
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/hippy-vue/vue-native.md
  docs/en-us/structure/_sidebar.md
  docs/en-us/structure/core.md
  docs/hippy-react/modules.md
  docs/hippy-vue/external-components.md
  docs/hippy-vue/vue-native.md
Labels: documentation

feat(devtools): support multi root view
  devtools/devtools-backend/include/api/adapter/devtools_dom_tree_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_elements_request_adapter.h
  devtools/devtools-backend/include/api/devtools_data_provider.h
  devtools/devtools-backend/include/api/devtools_notification_center.h
  devtools/devtools-backend/include/api/notification/default/default_dom_tree_notification.h
  devtools/devtools-backend/include/api/notification/devtools_dom_tree_notification.h
  devtools/devtools-backend/include/api/notification/devtools_elements_response_notification.h
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  driver/js/android/gradle.properties
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/CMakeLists.txt
  driver/js/core/include/devtools/adapter/hippy_dom_tree_adapter.h
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/include/devtools/devtools_utils.h
  driver/js/core/include/devtools/hippy_dom_data.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_elements_request_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/devtools/devtools_utils.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: none

chore(codeowner): change codeowners config
  .github/CODEOWNERS
Labels: ci

.github/labeler.yml:

android:
  - 'android/**/*'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'ios/**/*'
  - 'hippy.podspec'
core:
  - 'core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'examples/**/*'
js:
  - 'packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
ci:
  - '.github/**/*'
