Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'modules/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'modules/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'driver/js/tsconfig.json'
  - 'driver/js/.eslintignore'
  - 'driver/js/.nycrc'
  - 'driver/js/lerna.json'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'

feat(devtools): add dom tree update notify
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/src/devtools/devtools_data_source.cc
Labels: driver, core

feat(devtools): add DOM.pushNodesByBackendIdsToFrontend protocol
  devtools/devtools-backend/include/module/domain/dom_domain.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/include/module/request/dom_push_nodes_request.h
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-backend/src/module/request/dom_push_nodes_request.cc
Labels: devtools

feat(devtools): add DOM.pushNodeByPathToFrontend protocol
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/include/api/adapter/data/dom_push_node_path_metas.h
  devtools/devtools-backend/include/api/adapter/devtools_dom_tree_adapter.h
  devtools/devtools-backend/include/module/domain/dom_domain.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/include/module/request/dom_push_node_by_path_request.h
  devtools/devtools-backend/src/api/adapter/data/dom_push_node_path_metas.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-backend/src/module/request/dom_push_node_by_path_request.cc
  driver/js/core/include/devtools/devtools_utils.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/devtools_utils.cc
Labels: driver, core, devtools

feat(dom): support capture parameter in addEventListener function
  dom/include/dom/scene_builder.h
  dom/src/dom/deserializer.cc
  dom/src/dom/scene_builder.cc
  driver/js/core/include/core/napi/js_native_api_types.h
  driver/js/core/include/core/napi/jsc/js_native_api_jsc.h
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/modules/scene_builder.cc
  driver/js/core/src/napi/jsc/js_native_api_jsc.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
Labels: driver, dom, core

feat(voltron): improve animation
  driver/js/flutter/lib/engine/js_api_provider.dart
  renderer/flutter/lib/controller.dart
  renderer/flutter/lib/controller/controller.dart
  renderer/flutter/lib/controller/manager.dart
  renderer/flutter/lib/controller/root_node.dart
  renderer/flutter/lib/render/manager.dart
  renderer/flutter/lib/render/node.dart
Labels: flutter, driver, renderer

feat(voltron): improve animation
  renderer/flutter/lib/render/manager.dart
  renderer/flutter/lib/render/node.dart
Labels: flutter, renderer

feat(voltron): support animation
  renderer/flutter/lib/render/node.dart
  renderer/flutter/lib/util/render_vsync_util.dart
Labels: flutter, renderer

feat(voltron): improve animation
  renderer/flutter/lib/render/manager.dart
  renderer/flutter/lib/render/node.dart
  renderer/flutter/lib/util/render_vsync_util.dart
Labels: flutter, renderer

fix(voltron): code error
  renderer/flutter/lib/util/render_vsync_util.dart
Labels: flutter, renderer

feat(voltron): optimize remove event
  renderer/flutter/lib/render/node.dart
Labels: flutter, renderer

feat(voltron): improve animation
  driver/js/flutter/lib/engine/js_api_provider.dart
  renderer/flutter/lib/controller/root_node.dart
Labels: flutter, driver, renderer

ci(workflows): optimize CodeQL analysis when PRs
  .github/workflows/security_codeql_analyses.yml
  .github/workflows/security_codeql_analyses_bypass.yml
Labels: ci

feat(dom): support capture parameter in addEventListener function
  dom/include/dom/scene_builder.h
  dom/src/dom/deserializer.cc
  dom/src/dom/scene_builder.cc
  driver/js/core/include/core/napi/js_native_api_types.h
  driver/js/core/include/core/napi/jsc/js_native_api_jsc.h
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/modules/scene_builder.cc
  driver/js/core/src/napi/jsc/js_native_api_jsc.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
Labels: driver, dom, core

feat(react,vue): support event capture & bubbling
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/element-node.ts
  driver/js/packages/hippy-react/src/event/dispatcher.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
Labels: flutter, js, driver, demo

feat(react,vue): support event capture & bubbling
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/element-node.ts
  driver/js/packages/hippy-react/src/event/dispatcher.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
Labels: flutter, js, driver, demo

feat(android): support border style none
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/text/HippyTextView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/IBorder.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/asyncimage/AsyncImageView.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/asyncimage/BackgroundDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BorderDrawable.java
Labels: android, renderer

ci(workflows): optimize CodeQL analysis when PRs
  .github/workflows/security_codeql_analyses.yml
  .github/workflows/security_codeql_analyses_bypass.yml
Labels: ci

feat(devtools): add rootnode listen
  devtools/devtools-backend/src/module/model/frame_poll_model.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/src/devtools/devtools_data_source.cc
Labels: driver, core, devtools

ci(workflows): optimize CodeQL analysis when PRs
  .github/workflows/security_codeql_analyses.yml
  .github/workflows/security_codeql_analyses_bypass.yml
Labels: ci

fix(workflows): fix CodeQL not working as expected
  .github/workflows/security_codeql_analyses.yml
Labels: ci

fix(workflows): fix CodeQL not working as expected
  .github/workflows/security_codeql_analyses.yml
Labels: ci

refactor(hippy-react-demo): update package and comments
  examples/hippy-react-demo/src/main.web.js
Labels: js

ci(workflows): remove CodeQL paths ignore
  .github/workflows/security_codeql_analyses.yml
Labels: ci

chore(devtools): chore node push
  devtools/devtools-backend/include/api/adapter/data/dom_push_node_path_metas.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
Labels: devtools

ci(workflows): remove CodeQL paths ignore
  .github/workflows/security_codeql_analyses.yml
Labels: ci

feat(example): add native exception alert show
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Labels: driver, demo

refactor(android): use call function handle measureInWindow
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderDelegate.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderProvider.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: android, renderer

fix(android): set text input default GravityVertical to center
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
Labels: android, renderer

feat(android): support border style none
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/text/HippyTextView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/IBorder.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/asyncimage/AsyncImageView.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/asyncimage/BackgroundDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BorderDrawable.java
Labels: android, renderer

feat(example): add native exception alert show
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Labels: driver, demo

ci(codeowners): update codeowners file
  .github/CODEOWNERS
Labels: ci

ci(codeowners): update codeowners file
  .github/CODEOWNERS
Labels: ci

ci(codeowners): update codeowners file
  .github/CODEOWNERS
Labels: ci

ci(codeowners): update codeowners file
  .github/CODEOWNERS
Labels: ci

ci(codeowners): update codeowners file
  .github/CODEOWNERS
Labels: ci

ci(codeowners): update codeowners file
  .github/CODEOWNERS
Labels: ci

fix(android): implicit narrowing conversion in compound assignment
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyImageSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyLineHeightSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/recyclerview/RecyclerViewBase.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/recyclerview/Scroller.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
Labels: none

fix(android): implicit narrowing conversion in compound assignment
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyImageSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyLineHeightSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/recyclerview/RecyclerViewBase.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/recyclerview/Scroller.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
Labels: none

feat(devtools): add elements protocol and dom update listen (#2102)
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/include/api/adapter/data/dom_push_node_path_metas.h
  devtools/devtools-backend/include/api/adapter/devtools_dom_tree_adapter.h
  devtools/devtools-backend/include/module/domain/dom_domain.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/include/module/request/dom_push_node_by_path_request.h
  devtools/devtools-backend/include/module/request/dom_push_nodes_request.h
  devtools/devtools-backend/src/api/adapter/data/dom_push_node_path_metas.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-backend/src/module/model/frame_poll_model.cc
  devtools/devtools-backend/src/module/request/dom_push_node_by_path_request.cc
  devtools/devtools-backend/src/module/request/dom_push_nodes_request.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/include/devtools/devtools_utils.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/devtools/devtools_utils.cc
Labels: driver, core, devtools

fix(ios): fix potentian crash due to dangling pointer use strong ptr instead of weak ptr
  ios/sdk/component/image/HippyImageView.m
Labels: none
