Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

feat(hippy-vue): rm compatible process for endReached & loadMore event
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/renderer/list-item-node.js
  packages/hippy-vue/src/renderer/list-node.js
Labels: js

fix(ci): fix front-end bypass jobs event issue
  .github/workflows/frontend_build_tests_bypass.yml
Labels: ci

fix(hippy-vue): update hippy-vue node test
  packages/hippy-vue/src/renderer/__tests__/element-node.test.js
  packages/hippy-vue/src/renderer/__tests__/list-node.test.js
Labels: js

Feat/run script (#1822)
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/jni/include/bridge/entry.h
  android/sdk/src/main/jni/src/bridge/entry.cc
Labels: none

ci(android): change gradlew working directory
  .github/workflows/android_build_tests.yml
Labels: ci

fix(docs): add debug access introduction
  docs/guide/debug.md
Labels: documentation

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'
