Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'modules/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'modules/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'driver/js/tsconfig.json'
  - 'driver/js/.eslintignore'
  - 'driver/js/.nycrc'
  - 'driver/js/lerna.json'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'

fix(ios): fix potentian crash due to dangling pointer use strong ptr instead of weak ptr
  ios/sdk/component/image/HippyImageView.m
Labels: none

docs(homepage): update layout default value
  docs/en-us/_navbar.md
  docs/en-us/guide/_sidebar.md
  docs/en-us/structure/introduction.md
  docs/en-us/style/appearance.md
  docs/en-us/style/layout.md
  docs/style/appearance.md
  docs/style/layout.md
Labels: documentation

fix(npm): update got from vulnerable to safe version
  driver/js/package-lock.json
  driver/js/package.json
  driver/js/packages/hippy-vue-css-loader/package-lock.json
  driver/js/packages/hippy-vue-css-loader/package.json
  driver/js/packages/hippy-vue/package-lock.json
  driver/js/packages/hippy-vue/package.json
Labels: js, driver

feat(hippy-react-web): fix web style issues (#2087)
  driver/js/examples/hippy-react-demo/scripts/template.html
  driver/js/packages/hippy-react-web/README.md
  driver/js/packages/hippy-react-web/src/adapters/hide-scrollbar.ts
  driver/js/packages/hippy-react-web/src/components/list-view.tsx
  driver/js/packages/hippy-react-web/src/components/refresh-wrapper.tsx
  driver/js/packages/hippy-react-web/src/components/scroll-view.tsx
  driver/js/packages/hippy-react-web/src/components/text.tsx
  driver/js/packages/hippy-react-web/src/components/view-pager.tsx
  driver/js/packages/hippy-react-web/src/components/view.tsx
  driver/js/packages/hippy-react-web/src/constants.ts
Labels: js, driver, demo, documentation

docs(homepage): update layout default value
  docs/en-us/_navbar.md
  docs/en-us/guide/_sidebar.md
  docs/en-us/structure/introduction.md
  docs/en-us/style/appearance.md
  docs/en-us/style/layout.md
  docs/style/appearance.md
  docs/style/layout.md
Labels: documentation

fix(npm): update got from vulnerable to safe version
  driver/js/package-lock.json
  driver/js/package.json
  driver/js/packages/hippy-vue-css-loader/package-lock.json
  driver/js/packages/hippy-vue-css-loader/package.json
  driver/js/packages/hippy-vue/package-lock.json
  driver/js/packages/hippy-vue/package.json
Labels: js, driver

feat(hippy-react-web): fix web style issues (#2087)
  driver/js/examples/hippy-react-demo/scripts/template.html
  driver/js/packages/hippy-react-web/README.md
  driver/js/packages/hippy-react-web/src/adapters/hide-scrollbar.ts
  driver/js/packages/hippy-react-web/src/components/list-view.tsx
  driver/js/packages/hippy-react-web/src/components/refresh-wrapper.tsx
  driver/js/packages/hippy-react-web/src/components/scroll-view.tsx
  driver/js/packages/hippy-react-web/src/components/text.tsx
  driver/js/packages/hippy-react-web/src/components/view-pager.tsx
  driver/js/packages/hippy-react-web/src/components/view.tsx
  driver/js/packages/hippy-react-web/src/constants.ts
Labels: js, driver, demo, documentation

fix(workflows): fix the problem that CodeQL results are not generated
  .github/workflows/security_codeql_analyses.yml
Labels: ci

fix(workflows): fix the problem that CodeQL results are not generated
  .github/workflows/security_codeql_analyses.yml
Labels: ci

fix(hippy-vue): fix referendeNode not found error
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/view-node.js
Labels: js, driver

fix(hippy-vue): fix referendeNode not found error
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/view-node.js
Labels: js, driver

ci(codeowners): update codeowners file (#2106)
  .github/CODEOWNERS
Labels: ci

feat(workflows): optimize for speed when CodeQL is not required
  .github/workflows/security_codeql_analyses.yml
Labels: ci

feat(workflows): optimize for speed when CodeQL is not required
  .github/workflows/security_codeql_analyses.yml
Labels: ci

fix(ios): fix potentian crash due to dangling pointer use strong ptr instead of weak ptr
  renderer/native/ios/renderer/component/image/HippyImageView.m
Labels: ios, renderer

fix(ios): fix potentian crash due to dangling pointer use strong ptr instead of weak ptr
  renderer/native/ios/renderer/component/image/HippyImageView.m
Labels: ios, renderer

fix(ios): fix potentian crash due to dangling pointer (#2110)
  renderer/native/ios/renderer/component/image/HippyImageView.m
Labels: ios, renderer

feat(workflows): optimize logic to reduce misjudgment
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

feat(workflows): optimize logic to reduce misjudgment
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

fix(android): fix the `skipCmakeAndNinja` flag does not take effect
  driver/js/android/build.gradle
Labels: android, driver

feat(workflows): optimize logic to reduce misjudgment
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

refactor(ios): add autorelease pool for bundle load scope
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: none

ci(workflows): CodeQL analyses add `v3.0-dev` branch
  .github/workflows/security_codeql_analyses.yml
Labels: ci

ci(workflows): CodeQL analyses add `v3.0-dev` branch
  .github/workflows/security_codeql_analyses.yml
Labels: ci

feat(workflows): optimize logic to reduce misjudgment
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

fix(android): fix the `skipCmakeAndNinja` flag does not take effect
  driver/js/android/build.gradle
Labels: android, driver

refactor(ios): add autorelease pool for bundle load scope
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: none

refactor(ios): add autorelease pool for bundle load scope
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: ios, driver

fix(animation): fix animationEndEvent error
  packages/hippy-web-renderer/src/component/hippy-web-view.ts
  packages/hippy-web-renderer/src/component/view-pager.ts
  packages/hippy-web-renderer/src/module/animation-module.ts
  packages/hippy-web-renderer/src/types/index.ts
Labels: js

refactor(ios): add autorelease pool for bundle load scope
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: ios, driver

ci(workflows): enable CodeQL analyses on PRs
  .github/workflows/security_codeql_analyses.yml
Labels: ci

ci(workflows): enable CodeQL analyses on PRs
  .github/workflows/security_codeql_analyses.yml
Labels: ci

feat(ios): remove uncall codes
  ios/sdk/module/turbo/HippyOCTurboModule.mm
  ios/sdk/module/turbo/NSObject+HippyTurbo.h
  ios/sdk/module/turbo/NSObject+HippyTurbo.mm
Labels: none

fix(dom): fix addEventListener crash error
  driver/js/core/src/modules/scene_builder.cc
Labels: driver, core

feat(android): set hippy view group clip children to false
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyScrollViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/view/HippyViewGroup.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPagerController.java
Labels: none

fix(android): re implementation progress long value switch to int
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyImageSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
Labels: none

fix(android): re implementation progress long value switch to int
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyImageSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
Labels: none

feat(android): set hippy view group clip children to false
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyScrollViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/view/HippyViewGroup.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPagerController.java
Labels: none

fix(android): implicit narrowing conversion in compound assignment
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/recyclerview/RecyclerViewBase.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/recyclerview/Scroller.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextImageSpan.java
Labels: android, renderer

fix(dom): fix addEventListener crash error
  driver/js/core/src/modules/scene_builder.cc
Labels: driver, core
