Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

feat(devtools): remove char* interface
  devtools/devtools-backend/include/module/domain_dispatch.h
  devtools/devtools-backend/include/tunnel/net_channel.h
  devtools/devtools-backend/include/tunnel/tunnel_service.h
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cpp
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
Labels: devtools

feat(devtools): refactor domain_dispatch
  devtools/devtools-backend/include/devtools_base/common/macros.h
  devtools/devtools-backend/include/devtools_base/tdf_string_util.h
  devtools/devtools-backend/include/module/domain_dispatch.h
  devtools/devtools-backend/src/devtools_base/tdf_string_util.cc
  devtools/devtools-backend/src/module/domain/base_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/tunnel/net_channel.cc
Labels: devtools

feat(devtools): replace taskrunner to timer.h
  devtools/devtools-backend/include/api/adapter/data/domain_metas.h
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_loading_finished.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_request.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_response.h
  devtools/devtools-backend/include/devtools_base/common/time_delta.h
  devtools/devtools-backend/include/module/model/frame_poll_model.h
  devtools/devtools-backend/include/tunnel/timer.h
  devtools/devtools-backend/src/module/model/frame_poll_model.cc
  devtools/devtools-backend/src/tunnel/timer.cc
  driver/js/core/include/devtools/adapter/hippy_dom_tree_adapter.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_elements_request_adapter.cc
Labels: driver, core, devtools

feat(devtools): fix dom css pr issue
  devtools/devtools-backend/include/api/adapter/data/update_dom_node_metas.h
  devtools/devtools-backend/include/module/domain/base_domain.h
  devtools/devtools-backend/include/module/domain/css_domain.h
  devtools/devtools-backend/include/module/domain/dom_domain.h
  devtools/devtools-backend/include/module/domain/network_domain.h
  devtools/devtools-backend/include/module/domain/page_domain.h
  devtools/devtools-backend/include/module/domain/tdf_common_protocol_domain.h
  devtools/devtools-backend/include/module/domain/tdf_inspector_domain.h
  devtools/devtools-backend/include/module/domain/tdf_memory_domain.h
  devtools/devtools-backend/include/module/domain/tdf_performance_domain.h
  devtools/devtools-backend/include/module/domain/tdf_runtime_domain.h
  devtools/devtools-backend/include/module/model/css_model.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/include/module/request/css_edit_style_texts_request.h
  devtools/devtools-backend/include/module/request/css_node_data_request.h
  devtools/devtools-backend/src/api/adapter/data/update_dom_node_metas.cc
  devtools/devtools-backend/src/module/domain/base_domain.cc
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/domain/network_domain.cc
  devtools/devtools-backend/src/module/domain/page_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_common_protocol_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_inspector_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_memory_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_performance_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/module/model/css_model.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-backend/src/module/request/css_edit_style_texts_request.cc
  devtools/devtools-backend/src/module/request/css_node_data_request.cc
Labels: devtools

feat(devtools): fix some warning
  driver/js/android/src/main/jni/CMakeLists.txt
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
Labels: android, driver, renderer

feat(devtools): fix record logger crash
  devtools/devtools-backend/include/module/record_logger.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/record_logger.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
Labels: devtools

fix(devtools): fix ios conflict
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: driver, demo

feat(devtools): fix devtools_util type name too long issue
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/core/src/devtools/devtool_utils.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: driver, core, demo

feat(devtools): fix cmakelist.txt
  driver/js/android/src/main/jni/CMakeLists.txt
Labels: android, driver

feat(devtools): css_model use + replace append
  devtools/devtools-backend/src/module/model/css_model.cc
Labels: devtools

feat(devtools): fix ios demo gen_devtools_proj.sh
  driver/js/examples/ios-demo/gen_devtools_proj.sh
Labels: driver, demo

feat(devtools): fix tcp strong this ptr
  devtools/devtools-backend/include/module/domain_dispatch.h
  devtools/devtools-backend/include/tunnel/net_channel.h
  devtools/devtools-backend/include/tunnel/tcp/tcp_channel.h
  devtools/devtools-backend/include/tunnel/tunnel_service.h
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
  devtools/devtools-backend/src/module/domain/base_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/tunnel/net_channel.cc
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cpp
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
Labels: devtools

feat(devtools): fix css key error
  devtools/devtools-backend/src/module/model/css_model.cc
Labels: devtools

feat(devtools): rename devtool->devtools
  devtools/devtools-backend/include/tunnel/tunnel_service.h
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/scope.h
  driver/js/core/include/devtools/adapter/hippy_elements_request_adapter.h
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/include/devtools/devtools_helper.h
  driver/js/core/include/devtools/devtools_util.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_elements_request_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/devtools/devtools_util.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
Labels: android, driver, core, devtools

feat(devtools): refactor about devtools class
  devtools/devtools-backend/include/api/adapter/data/update_dom_node_metas.h
  devtools/devtools-backend/include/api/adapter/devtools_dom_tree_adapter.h
  devtools/devtools-backend/src/module/domain/base_domain.cc
  driver/js/core/include/devtools/adapter/hippy_dom_tree_adapter.h
  driver/js/core/include/devtools/adapter/hippy_elements_request_adapter.h
  driver/js/core/include/devtools/adapter/hippy_runtime_adapter.h
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_elements_request_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_tracing_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/devtools/devtool_utils.cc
  driver/js/core/src/devtools/trace_control.cc
Labels: driver, core, devtools

feat(devtools): modify cmakelist macro
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/android/gradle.properties
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/adapter/impl/hippy_tracing_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/devtools/trace_control.cc
Labels: android, driver, core, devtools

feat(devtools): remove rtti
  devtools/devtools-backend/CMakeLists.txt
Labels: devtools

feat(devtools): fix ios compilation failed
  devtools/devtools-backend/include/api/devtools_notification_center.h
  devtools/devtools-backend/include/api/notification/default/default_runtime_notification.h
  devtools/devtools-backend/include/api/notification/devtools_runtime_notification.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/api/notification/default/default_runtime_notification.cc
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/include/core/modules/ui_manager_module.h
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/js/global/Others.js
  driver/js/core/js/global/UIManagerModule.js
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/modules/ui_manager_module.cc
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/base/native_source_code_ios.cc
  driver/js/ios/debug/devtools/HippyDevInfo.h
  driver/js/ios/debug/devtools/HippyDevInfo.m
Labels: android, ios, js, driver, core, devtools

fix(devtools): use string view utils to change u16
  driver/js/core/include/devtools/adapter/hippy_runtime_adapter.h
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: driver, core

feat(devtools): limit tcp_channel decode body length
  devtools/devtools-backend/src/tunnel/tcp/frame_codec.cpp
Labels: devtools

feat(devtools): fix frame_poll_model/screen_shot_model lock mutex issue
  devtools/devtools-backend/include/module/model/frame_poll_model.h
  devtools/devtools-backend/include/module/model/screen_shot_model.h
  devtools/devtools-backend/src/module/domain/page_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_inspector_domain.cc
  devtools/devtools-backend/src/module/model/frame_poll_model.cc
  devtools/devtools-backend/src/module/model/screen_shot_model.cc
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  renderer/native/ios/utils/HippyLog.mm
Labels: ios, driver, renderer, devtools

feat(devtools): remove unuse warining
  devtools/devtools-backend/include/api/adapter/devtools_runtime_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_tracing_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_vm_request_adapter.h
  devtools/devtools-backend/include/api/notification/default/default_elements_response_notification.h
  devtools/devtools-backend/include/api/notification/default/default_log_notification.h
  devtools/devtools-backend/include/api/notification/default/default_vm_response_notification.h
  devtools/devtools-backend/include/api/notification/devtools_elements_response_notification.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/api/notification/default/default_elements_response_notification.cc
  devtools/devtools-backend/src/api/notification/default/default_log_notification.cc
  devtools/devtools-backend/src/api/notification/default/default_network_notification.cc
  devtools/devtools-backend/src/api/notification/default/default_runtime_notification.cc
  devtools/devtools-backend/src/api/notification/default/default_vm_response_notification.cc
  driver/js/core/src/devtools/devtool_data_source.cc
Labels: driver, core, devtools

fix(devtools): fix include and name
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/core/include/core/runtime/v8/inspector/v8_channel_impl.h
  driver/js/core/include/core/scope.h
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/include/devtools/devtool_helper.h
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
Labels: android, ios, driver, renderer, core

refactor(devtools): move socket to third_party
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cpp
  devtools/devtools-backend/third_party/socket/include/socket.h
  devtools/devtools-backend/third_party/socket/src/socket.cc
Labels: dependencies, devtools

fix(devtools): add submodules true
  .github/workflows/android_build_tests.yml
Labels: ci

fix(devtools): fix warning and annotation
  devtools/devtools-backend/include/api/adapter/devtools_runtime_adapter.h
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/include/api/notification/default/default_log_notification.h
  devtools/devtools-backend/include/api/notification/devtools_log_notification.h
  devtools/devtools-backend/src/api/adapter/data/dom_node_location.cc
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/api/notification/default/default_log_notification.cc
  devtools/devtools-backend/src/api/notification/default/default_network_notification.cc
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/src/devtools/devtool_data_source.cc
Labels: driver, core, devtools

feat(devtools): move third_party
  .gitmodules
  devtools/devtools-backend/CMakeLists.txt
Labels: devtools

fix(devtools): move socket to base from usbmuxd
  devtools/devtools-backend/include/devtools_base/socket.h
  devtools/devtools-backend/src/devtools_base/socket.cc
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cc
Labels: devtools

feat(devtools): remove record logger
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/module/record_logger.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
Labels: devtools

feat(devtools): add devtools gitignore
  .gitignore
  devtools/devtools-backend/README.md
  devtools/devtools-backend/lib/android/devtools_interface.h
  devtools/devtools-backend/lib/android/libdevtools_backend.so
  devtools/devtools-backend/lib/ios/devtools_interface.h
  devtools/devtools-backend/lib/ios/libdevtools_backend.a
Labels: documentation, devtools

feat(devtools): remove using json
  devtools/devtools-backend/src/module/domain_dispatch.cc
Labels: devtools

feat(devtools): fix devtools enable switch
  driver/js/android/build.gradle
  driver/js/android/gradle.properties
Labels: android, driver

fix(devtools): fix constexpr and remove unuse test
  devtools/devtools-backend/include/devtools_base/error.h
  devtools/devtools-backend/src/api/notification/default/default_runtime_notification.cc
  devtools/devtools-backend/test/devtools_base/common/logging_ut.cc
  devtools/devtools-backend/test/module/record_logger_ut.cc
  devtools/devtools-backend/test/service/timer_ut.cc
  devtools/devtools-backend/test/tunnel/tcp/tcp_server_ut.cc
  devtools/devtools-backend/test/tunnel/tunnel_service_ut.cc
Labels: devtools

feat(devtools): modify default channel type
  driver/js/core/src/devtools/devtool_data_source.cc
Labels: driver, core

feat(devtools): add weak_this to devtools macro
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/include/devtools_base/common/macros.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/src/devtools/devtool_data_source.cc
Labels: driver, core, devtools

feat(devtools): fix dom css weak_this issue
  devtools/devtools-backend/include/module/domain/css_domain.h
  devtools/devtools-backend/include/module/domain/dom_domain.h
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
Labels: devtools

feat(devtools): fix screenadapter this pointer
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
Labels: android, driver, renderer, core

fix(devtools): remove third_party socket
  .gitignore
  devtools/devtools-backend/CMakeLists.txt
Labels: devtools

feat(devtools): add private for devtools_util methods
  driver/js/core/include/devtools/devtool_utils.h
Labels: driver, core

feat(devtools): add Podfile for ios-demo
  driver/js/examples/ios-demo/Podfile
  driver/js/examples/ios-demo/Podfile.lock
Labels: driver, demo

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'
