Repository Tencent/Hippy, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, flutter, js, driver, dom, renderer, core, layout, demo, documentation, dependencies, modules, devtools, ci

refactor(core): fix ios invalid callback name
  core/js/global/ios/Turbo.js
  core/js/global/ios/global.js
  core/src/napi/jsc/native_source_code_ios.cc
Labels: js

refactor(core): fix ios invalid callback name
  core/js/global/ios/Turbo.js
  core/js/global/ios/global.js
  core/src/napi/jsc/native_source_code_ios.cc
Labels: js

feat(dom): clean up clang warning
  dom/include/dom/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/root_node.h
  dom/src/dom/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  dom/src/dom/serializer.cc
Labels: dom

feat(dom): clean up clang warning
  dom/include/dom/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/root_node.h
  dom/src/dom/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  dom/src/dom/serializer.cc
Labels: dom

feat(devtools): simply frame poll model mutex
  devtools/devtools-backend/include/module/model/frame_poll_model.h
  devtools/devtools-backend/src/module/model/frame_poll_model.cc
Labels: devtools

feat(devtools): fix dom model crash
  devtools/devtools-backend/include/module/model/tdf_inspector_model.h
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-backend/src/module/model/tdf_inspector_model.cc
Labels: devtools

feat(devtools): fix ios compilation issue
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: ios, driver

feat(devtools): restore native_source_code files
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: android, ios, driver

feat(devtools): fix tracing controller pr issue
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/trace_control.cc
Labels: driver, core, devtools

feat(devtools): fix build failed
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
Labels: android, driver, renderer, core

fix(devtools): fix define over much
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/adapter/impl/hippy_tracing_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/devtools/trace_control.cc
Labels: driver, core

feat(devtools): fix websocketpp noexecption
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
Labels: devtools

feat(devtools): fix pr issue
  devtools/devtools-backend/include/devtools_base/tdf_string_util.h
  devtools/devtools-backend/include/module/model/css_model.h
  devtools/devtools-backend/include/module/model/dom_model.h
  devtools/devtools-backend/include/module/model/tdf_inspector_model.h
  devtools/devtools-backend/include/module/request/base_request.h
  devtools/devtools-backend/include/module/request/css_edit_style_texts_request.h
  devtools/devtools-backend/include/module/request/css_node_data_request.h
  devtools/devtools-backend/include/module/request/dom_node_data_request.h
  devtools/devtools-backend/include/module/request/dom_node_for_location_request.h
  devtools/devtools-backend/src/devtools_base/tdf_string_util.cc
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-backend/src/module/model/css_model.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-backend/src/module/model/screen_shot_response.cc
  devtools/devtools-backend/src/module/model/tdf_inspector_model.cc
  devtools/devtools-backend/src/module/request/css_edit_style_texts_request.cc
  devtools/devtools-backend/src/module/request/css_node_data_request.cc
  devtools/devtools-backend/src/module/request/dom_node_data_request.cc
  devtools/devtools-backend/src/module/request/dom_node_for_location_request.cc
  devtools/devtools-backend/src/module/request/network_response_body_request.cc
  devtools/devtools-backend/src/module/request/screen_shot_request.cc
  devtools/devtools-backend/src/module/request/selected_render_object_request.cc
Labels: devtools

feat(devtools): fix trace control pr
  devtools/devtools-backend/src/module/model/frame_poll_model.cc
  driver/js/core/include/devtools/trace_control.h
  driver/js/core/src/devtools/trace_control.cc
Labels: driver, core, devtools

feat(devtools): fix cmake and pr question
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
Labels: android, driver, core

fix(devtools): fix clang-format en
  devtools/devtools-backend/.clang-format
Labels: devtools

fix(devtools): use check u8
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: driver, core

feat(devtools): rename tdf class prefix
  devtools/devtools-backend/include/module/domain/tdf_common_protocol_domain.h
  devtools/devtools-backend/include/module/domain/tdf_inspector_domain.h
  devtools/devtools-backend/include/module/domain/tdf_memory_domain.h
  devtools/devtools-backend/include/module/domain/tdf_performance_domain.h
  devtools/devtools-backend/include/module/domain/tdf_runtime_domain.h
  devtools/devtools-backend/src/module/domain/tdf_common_protocol_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_inspector_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_memory_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_performance_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
Labels: devtools

feat(devtools): update ios header search paths
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: driver, demo

feat(devtools): fix screen shot no dirty callback
  devtools/devtools-backend/include/api/adapter/devtools_screen_adapter.h
  devtools/devtools-backend/src/module/model/frame_poll_model.cc
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtool_data_source.cc
Labels: driver, core, devtools

docs(devtools): fix readme
  devtools/devtools-backend/README.md
Labels: documentation, devtools

feat(devtools): remove test temporary
  .gitmodules
  devtools/devtools-backend/test/CMakeLists.txt
  devtools/devtools-backend/test/build.sh
  devtools/devtools-backend/test/inspect/domain/base_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain/css_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain/dom_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain/page_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain/tdf_common_protocol_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain/tdf_inspector_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain/tdf_memory_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain/tdf_performance_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain/tdf_runtime_domain_ut.cc
  devtools/devtools-backend/test/inspect/domain_dispatch_ut.cc
  devtools/devtools-backend/test/inspect/model/css_model_ut.cc
  devtools/devtools-backend/test/inspect/model/dom_model_ut.cc
  devtools/devtools-backend/test/inspect/model/frame_poll_model_ut.cc
  devtools/devtools-backend/test/inspect/model/screen_shot_model_ut.cc
  devtools/devtools-backend/test/inspect/model/screen_shot_response_ut.cc
  devtools/devtools-backend/test/inspect/model/tdf_inspector_model_ut.cc
  devtools/devtools-backend/test/main.cc
  devtools/devtools-backend/test/tunnel/tcp/tcp_server_ut.cc
  devtools/devtools-backend/test/tunnel/tunnel_service_ut.cc
Labels: devtools

feat(devtools): change define enable_inspector macro
  driver/js/android/gradle.properties
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/runtime/v8/inspector/v8_channel_impl.h
  driver/js/core/include/core/scope.h
  driver/js/core/include/devtools/devtools_macro.h
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: android, ios, driver, core

fix(devtools): move weak_this to devtools_weak_this
  devtools/devtools-backend/include/devtools_base/common/macros.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
Labels: devtools

feat(devtools): fix compilation issue
  devtools/devtools-backend/src/module/domain_dispatch.cc
Labels: devtools

feat(devtools): restore native source code file
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: android, ios, driver

feat(devtools): remove unuse include
  devtools/devtools-backend/include/api/notification/data/devtools_http_request.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_response.h
  devtools/devtools-backend/include/api/notification/data/devtools_network_enum.h
  devtools/devtools-backend/include/devtools_base/transform_string_util.h
  devtools/devtools-backend/src/api/notification/data/devtools_http_request.cc
Labels: devtools

feat(devtools): fix pr issue
  devtools/devtools-backend/include/module/domain/page_domain.h
  devtools/devtools-backend/include/module/model/frame_poll_model.h
  devtools/devtools-backend/include/module/model/screen_shot_model.h
  devtools/devtools-backend/src/module/domain/page_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_inspector_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
Labels: devtools

feat(devtools): fix devtools rename question
  devtools/devtools-backend/src/devtools_base/common/platform/adr/logging.cc
  devtools/devtools-backend/src/devtools_base/common/platform/adr/thread.cc
  devtools/devtools-backend/src/devtools_base/logging.cc
  devtools/devtools-backend/third_party/socket/src/socket.cc
  driver/js/core/include/devtools/devtools_macro.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_elements_request_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_runtime_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_vm_request_adapter.cc
  driver/js/core/src/devtools/devtools_utils.cc
Labels: driver, core, dependencies, devtools

feat(devtools): fix ios devtools interface changed issue
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: ios, driver

feat(devtools): remove backend so
  devtools/devtools-backend/libs/android/arm64-v8a/libdevtools_backend.so
  devtools/devtools-backend/libs/android/armeabi-v7a/libdevtools_backend.so
Labels: devtools

feat(devtools): refactor stream header
  devtools/devtools-backend/include/tunnel/tcp/stream_handler.h
  devtools/devtools-backend/include/tunnel/tcp/tcp_channel.h
  devtools/devtools-backend/src/tunnel/tcp/stream_handler.cpp
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cpp
  devtools/devtools-backend/test/service/tcp/tcp_server_ut.cc
  driver/js/core/src/devtools/devtool_utils.cc
Labels: driver, core, devtools

feat(devtools): fix domain weak_this
  devtools/devtools-backend/include/module/domain/tdf_common_protocol_domain.h
  devtools/devtools-backend/include/module/domain/tdf_inspector_domain.h
  devtools/devtools-backend/include/module/domain/tdf_memory_domain.h
  devtools/devtools-backend/include/module/domain/tdf_performance_domain.h
  devtools/devtools-backend/src/module/domain/tdf_common_protocol_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_inspector_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_memory_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_performance_domain.cc
Labels: devtools

fix(devtools): use no-exception for asio
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
Labels: devtools

feat(devtools): refactor devtools codecc
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  driver/js/core/include/core/scope.h
  driver/js/core/include/devtools/devtool_data_source.h
  driver/js/core/include/devtools/devtool_helper.h
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/core/src/devtools/devtool_data_source.cc
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/ios/base/HippyBatchedBridge.mm
Labels: ios, driver, core, devtools

feat(devtools): fix pr issue
  driver/js/core/include/devtools/devtool_utils.h
  driver/js/core/src/devtools/devtool_utils.cc
  driver/js/core/src/modules/ui_manager_module.cc
  renderer/native/ios/utils/HippyLog.mm
Labels: ios, driver, renderer, core

feat(devtools): rename TDF_SERVICE_ENABLE to ENABLE_INSPECTOR
  driver/js/android/build.gradle
  driver/js/android/gradle.properties
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/runtime/v8/inspector/v8_channel_impl.h
  driver/js/core/include/core/scope.h
  driver/js/core/include/devtools/devtools_macro.h
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: android, ios, driver, core

feat(devtools): remove setContextName
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/include/core/modules/ui_manager_module.h
  driver/js/core/js/global/Others.js
  driver/js/core/js/global/UIManagerModule.js
  driver/js/core/src/modules/ui_manager_module.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: android, ios, js, driver, core

feat(devtools): fix tagName error
  driver/js/core/src/modules/scene_builder.cc
Labels: driver, core

feat(devtools): fix screen_shot_mode mutex issue
  devtools/devtools-backend/src/module/model/screen_shot_model.cc
  driver/js/core/src/devtools/adapter/impl/hippy_tracing_adapter.cc
Labels: driver, core, devtools

.github/labeler.yml:

android:
  - 'driver/js/android/**/*'
  - 'renderer/native/android/**/*'
  - 'layout/android/**'
  - 'gradle/**/*'
  - 'build.gradle'
  - 'gradlew'
  - 'gradlew.bat'
  - 'build.gradle'
  - 'gradle.properties'
  - 'settings.gradle'
ios:
  - 'driver/js/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'layout/ios/**/*'
  - 'renderer/native/ios/**/*'
  - 'hippy.podspec'
flutter:
  - 'driver/js/flutter/**/*'
  - 'renderer/flutter/**/*'
js:
  - 'driver/js/packages/**/*'
  - 'static/**/*'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'
driver:
  - 'driver/**/*'
dom:
  - 'dom/**/*'
renderer:
  - 'renderer/**/*'
core:
  - 'driver/js/core/**/*'
layout:
  - 'layout/**/*'
demo:
  - 'driver/js/examples/**/*'
documentation:
  - 'docs/**/*'
  - '**/*.md'
dependencies:
  - '**/third_party/**'
modules:
  - 'modules/**/*'
devtools:
  - 'devtools/**/*'
ci:
  - '.github/**/*'
