Repository Tencent/Hippy, pull requests merged in 2020-12, with the labels that each got.

#430 feat(hippy-vue,hippy-react): added setNativeProps on element-node
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/TimingAnimation.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/RefreshWrapper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
  docs/README.md
  docs/_coverpage.md
  docs/_navbar.md
  docs/style/_sidebar.md
  docs/style/setNativeProps.md
  examples/android-demo/HippySdk.md
  examples/android-demo/README.md
  examples/android-demo/enable_lfs.sh
  examples/hippy-react-demo/src/externals/SetNativeProps/index.jsx
  examples/hippy-react-demo/src/externals/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/src/components/demos/demo-set-native-props.vue
  examples/hippy-vue-demo/src/components/demos/index.js
  ios/sdk/layout/MTTNode.cpp
  packages/hippy-react/src/dom/element-node.ts
  packages/hippy-react/src/modules/ui-manager-module.ts
  packages/hippy-vue/src/renderer/__tests__/element-node.test.js
  packages/hippy-vue/src/renderer/element-node.js
Labels: enhancement

#440 feat(hippy-vue): vue css selectors support dynamic import
  packages/hippy-vue/src/renderer/native/index.js
  packages/hippy-vue/src/renderer/native/style/__tests__/index.test.js
  packages/hippy-vue/src/renderer/native/style/css-selectors-match.js
Labels: frontend

#450 fix(hippy-react): fixed hairlineWidth NaN in ios
  packages/hippy-react/src/modules/stylesheet.ts
Labels: bug, frontend

#451 feat(hippy-vue-example): change dev cssloader path
  examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
Labels: demo, frontend

#429 fix(hippy-vue,hippy-react): compatible loadMore and endReached event
  packages/hippy-react/src/components/list-view.tsx
  packages/hippy-vue/src/renderer/__tests__/element-node.test.js
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/renderer/list-node.js
Labels: bug
