Repository Tencent/Hippy, pull requests merged in 2022-07, with the labels that each got.

#2164 fix(android): do not destroy WorkerManager on reload
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/LinkHelper.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/Linker.java
Labels: bug, android, modules, driver

#2167 fix(android): worker manager id should > 0
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Labels: bug, android, driver

#2168 refactor(ios): refactor uimanager method queue notification
  renderer/native/ios/renderer/NativeRenderContext.h
  renderer/native/ios/renderer/NativeRenderUIManager.h
  renderer/native/ios/renderer/NativeRenderUIManager.mm
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
Labels: ios, renderer

#2147 feat(core): add unloadInstance callback
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/bridge/android/native2js.js
  driver/js/core/js/bridge/ios/native2js.js
  driver/js/core/js/global/Event.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: enhancement, android, ios, core, driver, flutter, js

#2171 chore(docs): improve podfile configuration
  docs/en-us/ios/integration.md
  docs/ios/integration.md
Labels: documentation

#2169 chore(cmake): change `base` libraries to `footstone`
  buildconfig/cmake/GlobalPackagesModule.cmake
  dom/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/CMakeLists.txt
  modules/footstone/CMakeLists.txt
  modules/footstone/include/footstone/persistent_object_map.h
  modules/footstone/include/footstone/worker.h
  modules/footstone/include/footstone/worker_manager.h
  modules/footstone/src/CMakeLists.txt
  modules/footstone/src/base_timer.cc
  modules/footstone/src/deserializer.cc
  modules/footstone/src/hippy_value.cc
  modules/footstone/src/idle_task.cc
  modules/footstone/src/idle_timer.cc
  modules/footstone/src/log_settings.cc
  modules/footstone/src/log_settings_state.cc
  modules/footstone/src/one_shot_timer.cc
  modules/footstone/src/platform/adr/CMakeLists.txt
  modules/footstone/src/platform/adr/loop_worker_impl.cc
  modules/footstone/src/platform/ios/CMakeLists.txt
  modules/footstone/src/repeating_timer.cc
  modules/footstone/src/serializer.cc
  modules/footstone/src/task.cc
  modules/footstone/src/task_runner.cc
  modules/footstone/src/thread_worker.cc
  modules/footstone/src/unicode_string_view.cc
  modules/footstone/src/worker.cc
  modules/footstone/src/worker_manager.cc
  renderer/native/android/src/main/jni/CMakeLists.txt
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: android, modules, core, driver, renderer, dom

#2173 feat(core): change removeRootView modulename to RootViewManager
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/global/Event.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: enhancement, android, ios, core, driver, flutter, js

#2175 feat(ios): add thread check for component map
  renderer/native/ios/renderer/NativeRenderComponentMap.h
  renderer/native/ios/renderer/NativeRenderComponentMap.mm
  renderer/native/ios/renderer/NativeRenderUIManager.mm
Labels: enhancement, ios, renderer

#2178 fix(ios): try to avoid destroying variables in use
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: bug, ios

#2179 fix(base): fix reload crash
  dom/include/dom/dom_manager.h
  driver/js/android/src/main/jni/include/bridge/entry.h
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/engine.h
  driver/js/core/include/core/modules/timer_module.h
  driver/js/core/src/engine.cc
  driver/js/core/src/modules/timer_module.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyJSEnginesMapper.mm
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/Linker.java
  modules/footstone/include/footstone/base_timer.h
  modules/footstone/include/footstone/one_shot_timer.h
  modules/footstone/include/footstone/repeating_timer.h
  modules/footstone/include/footstone/task_runner.h
  modules/footstone/include/footstone/thread_worker.h
  modules/footstone/include/footstone/worker.h
  modules/footstone/include/footstone/worker_manager.h
  modules/footstone/src/base_timer.cc
  modules/footstone/src/one_shot_timer.cc
  modules/footstone/src/platform/adr/logging.cc
  modules/footstone/src/platform/ios/logging.cc
  modules/footstone/src/repeating_timer.cc
  modules/footstone/src/worker.cc
  modules/footstone/src/worker_manager.cc
Labels: bug, android, ios, demo, modules, core, driver, dom

#2180 fix(core): fix v8 breakpoint
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  modules/footstone/src/task_runner.cc
Labels: bug, modules, core, driver

#2181 fix(core): add global_inspector mutex
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: bug, core, driver

#2182 feat(core): add Apache License
  dom/include/dom/animation/animation.h
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/animation/animation_math.h
  dom/include/dom/animation/animation_set.h
  dom/include/dom/animation/cubic_bezier_animation.h
  dom/include/dom/diff_utils.h
  dom/include/dom/dom_action_interceptor.h
  dom/include/dom/dom_argument.h
  dom/include/dom/dom_event.h
  dom/include/dom/dom_listener.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/layer_optimized_render_manager.h
  dom/include/dom/layout_node.h
  dom/include/dom/node_props.h
  dom/include/dom/render_manager.h
  dom/include/dom/root_node.h
  dom/include/dom/scene.h
  dom/include/dom/scene_builder.h
  dom/include/dom/taitank_layout_node.h
  dom/include/dom/yoga_layout_node.h
  driver/js/core/include/core/base/common.h
  modules/footstone/include/footstone/base_time.h
  modules/footstone/include/footstone/base_timer.h
  modules/footstone/include/footstone/check.h
  modules/footstone/include/footstone/deserializer.h
  modules/footstone/include/footstone/hash.h
  modules/footstone/include/footstone/hippy_value.h
  modules/footstone/include/footstone/idle_task.h
  modules/footstone/include/footstone/idle_timer.h
  modules/footstone/include/footstone/log_level.h
  modules/footstone/include/footstone/log_settings.h
  modules/footstone/include/footstone/logging.h
  modules/footstone/include/footstone/macros.h
  modules/footstone/include/footstone/one_shot_timer.h
  modules/footstone/include/footstone/persistent_object_map.h
  modules/footstone/include/footstone/platform/adr/loop_worker_impl.h
  modules/footstone/include/footstone/platform/ios/loop_worker_impl.h
  modules/footstone/include/footstone/repeating_timer.h
  modules/footstone/include/footstone/serializer.h
  modules/footstone/include/footstone/string_view_utils.h
  modules/footstone/include/footstone/task.h
  modules/footstone/include/footstone/task_runner.h
  modules/footstone/include/footstone/thread_worker.h
  modules/footstone/include/footstone/thread_worker_impl.h
  modules/footstone/include/footstone/time_delta.h
  modules/footstone/include/footstone/time_point.h
  modules/footstone/include/footstone/unicode_string_view.h
  modules/footstone/include/footstone/worker.h
  modules/footstone/include/footstone/worker_manager.h
Labels: enhancement, modules, core, driver, dom

#2184 feat(base): move weak macros to footstone and remove DISALLOW_COPY
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/macro.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  modules/footstone/include/footstone/base_timer.h
  modules/footstone/include/footstone/idle_timer.h
  modules/footstone/include/footstone/logging.h
  modules/footstone/include/footstone/macros.h
  modules/footstone/include/footstone/one_shot_timer.h
  modules/footstone/include/footstone/repeating_timer.h
  modules/footstone/include/footstone/task_runner.h
  modules/footstone/include/footstone/worker_manager.h
Labels: enhancement, modules, core, driver, dom

#2187 ci(workflows): add build tests trigger paths
  .github/workflows/android_build_tests.yml
  .github/workflows/android_build_tests_bypass.yml
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Labels: ci

#2190 fix(ios): reset properties if value is null
  ios/sdk/component/image/HippyImageViewManager.m
  ios/sdk/component/view/HippyViewManager.mm
Labels: bug, ios

#2192 feat(js): add iOS promise unhandledrejection
  core/js/global/ios/promise.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
  docs/en-us/guide/exception.md
  docs/guide/exception.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/package.json
  examples/hippy-react-demo/scripts/hippy-webpack.dev.js
  examples/hippy-react-demo/scripts/hippy-webpack.ios.js
  examples/hippy-react-demo/src/main.js
  examples/hippy-vue-demo/package.json
  examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
  examples/hippy-vue-demo/scripts/hippy-webpack.ios.js
  examples/hippy-vue-demo/src/main-native.js
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: documentation, enhancement, demo, core, js

#2166 fix(hippy-react-web): support react-web ListView renderPullFooter
  docs/hippy-react/components.md
  docs/hippy-react/web.md
  examples/hippy-react-demo/package.json
  packages/hippy-react-web/package-lock.json
  packages/hippy-react-web/package.json
  packages/hippy-react-web/src/components/list-view.tsx
  packages/hippy-react-web/src/components/refresh-wrapper.tsx
  packages/hippy-react-web/src/modules/cookie-module.ts
  scripts/react-configs.js
Labels: documentation, enhancement, demo, js

#2193 docs(homepage): update docs
  docs/en-us/guide/exception.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-vue/components.md
Labels: documentation

#2188 refactor(examples): update nested text example
  examples/hippy-react-demo/src/components/Text/index.jsx
Labels: bug, demo, js

#2195 fix(base): fix std::result_of warning on c++17
  modules/footstone/include/footstone/task_runner.h
Labels: bug, modules

#2196 fix(npm): update lerna to fix vulernable npm package
  package-lock.json
  package.json
  packages/hippy-react-web/package-lock.json
  packages/hippy-react/package-lock.json
  packages/hippy-vue-loader/package-lock.json
  packages/hippy-vue-router/package-lock.json
Labels: bug, js

#2198 fix(hippy-vue-css-loader): support to parse letter-spacing
  docs/en-us/style/appearance.md
  docs/style/appearance.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/ListView/index.jsx
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-p.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-vue-css-loader/src/css-parser.js
Labels: bug, documentation, demo, js

#2204 fix(android): fix websocket frame for ping and close
  android/sdk/src/main/java/com/tencent/mtt/hippy/websocket/WebSocketClient.java
Labels: bug, android

#2203 fix(ios): check weak self status
  renderer/native/ios/renderer/component/view/NativeRenderView.mm
Labels: bug, ios, renderer

#2202 fix(ios): check weak self status
  ios/sdk/component/view/HippyView.m
Labels: bug, ios

#2205 fix(android): remove on create node call update modal size
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: bug, android, renderer

#2191 Fix potential deadlock problem caused by CADiaplaylink on iphone13Pro or pro max
  ios/sdk/base/HippyBatchedBridge.mm
Labels: bug, ios

#2206 refactor(ios): rename HippyUIManager to NativeRenderImpl
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/myview/MyViewManager.mm
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/base/HippyRootView.mm
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/RenderVsyncManager.mm
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerItemManager.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Labels: ios, demo, driver, renderer

#2208 feat(dom): merge js thread and dom thread
  dom/include/dom/root_node.h
  dom/include/dom/scene_builder.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/jni/include/bridge/entry.h
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/runtime/v8/v8_bridge_utils.h
  driver/js/core/src/modules/animation_module.cc
  driver/js/core/src/modules/scene_builder.cc
  driver/js/core/src/modules/ui_manager_module.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/core/src/scope.cc
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge+Private.h
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/base/HippyJSEnginesMapper.h
  driver/js/ios/base/HippyJSEnginesMapper.mm
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/LinkHelper.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/Linker.java
Labels: enhancement, android, ios, demo, modules, core, driver, dom

#2212 refactor(examples): change unhandledrejection demo
  docs/en-us/guide/exception.md
  docs/guide/exception.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/main.js
  examples/hippy-vue-demo/src/main-native.js
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: documentation, demo, js

#2214 refactor(examples): change unhandledrejection demo
  docs/en-us/guide/exception.md
  docs/guide/exception.md
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/main.js
  driver/js/examples/hippy-vue-demo/src/main-native.js
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
Labels: documentation, demo, driver, flutter, js

#2219 feat(android): change compiler options based on LLVM 12
  buildconfig/cmake/compiler_toolchain.cmake
  devtools/devtools-backend/include/api/adapter/data/serializable.h
  devtools/devtools-backend/include/tunnel/tcp/frame_codec.h
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
  dom/include/dom/animation/animation.h
  dom/include/dom/animation/cubic_bezier_animation.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/cubic_bezier_animation.cc
  driver/js/core/include/core/runtime/v8/bridge.h
  layout/engine/HPStyle.cpp
  layout/engine/HPStyle.h
  modules/footstone/src/deserializer.cc
Labels: enhancement, modules, core, driver, dom, layout, devtools

#2220 feat(android): change compiler options based on LLVM 12
  buildconfig/cmake/compiler_toolchain.cmake
  core/include/core/base/thread_id.h
  core/src/base/thread_id.cc
Labels: enhancement, core

#2225 feat(dom): support std::any_cast in version below ios 11
  dom/src/dom/dom_argument.cc
Labels: enhancement, dom

#2231 docs(appearance): add fontStyle docs
  docs/en-us/style/appearance.md
  docs/style/appearance.md
  examples/hippy-vue-demo/src/components/demos/demo-p.vue
Labels: documentation, demo

#2230 feat(dom): support FetchAddUniqueRenderManagerId function to all rend…
  buildconfig/cmake/GlobalPackagesModule.cmake
  driver/js/android/src/main/jni/src/bridge/entry.cc
  modules/android/atomic/CMakeLists.txt
  modules/android/atomic/include/atomic/atomic_unique_id.h
  modules/android/atomic/src/atomic_unique_id.cc
  renderer/native/android/src/main/jni/CMakeLists.txt
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: enhancement, android, modules, driver, renderer

#2228 fix(ios): fix memory leaks for block usage
  ios/sdk/base/HippyModuleMethod.mm
Labels: bug, ios

#2229 fix(ios): fix memory leaks for block usage
  driver/js/ios/base/HippyModuleMethod.mm
Labels: bug, ios, still-in-working, driver

#2232 refactor(ios): change jscontext invoke style from oc style to c style
  driver/js/core/include/core/napi/js_native_api_types.h
  driver/js/core/include/core/napi/jsc/js_native_api_jsc.h
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/napi/jsc/js_native_api_jsc.cc
  driver/js/core/src/napi/jsc/js_native_api_value_jsc.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/executors/HippyJSCExecutor.h
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/module/turbo/HippyOCTurboModule.mm
  driver/js/ios/utils/NSObject+ToJSCtxValue.h
  driver/js/ios/utils/NSObject+ToJSCtxValue.mm
Labels: ios, demo, core, driver

#2236 fix(core): fix destroy callback bug
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/runtime/v8/v8_bridge_utils.h
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: bug, android, core, driver

#2221 feat(android): add `ellipsizeMode` prop support for `Text` componment
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
  docs/en-us/hippy-react/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-p.vue
Labels: documentation, enhancement, android, demo, js

#2239 refactor(demo): change ellipsizeMode demo
  README.md
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-p.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: documentation, demo, js

#2144 feat(voltron): add DevSupportManager
  driver/js/flutter/example/lib/main.dart
  driver/js/flutter/example/lib/page_test.dart
  driver/js/flutter/lib/adapter/third_party.dart
  driver/js/flutter/lib/bridge/voltron_bridge.dart
  driver/js/flutter/lib/engine.dart
  driver/js/flutter/lib/engine/engine_define.dart
  driver/js/flutter/lib/engine/js_engine_context.dart
  driver/js/flutter/lib/engine/js_instance_context.dart
  driver/js/flutter/lib/engine/voltron_js_engine.dart
  driver/js/flutter/lib/inspector.dart
  driver/js/flutter/lib/inspector/dev.dart
  driver/js/flutter/lib/inspector/dev_server_callback.dart
  driver/js/flutter/lib/inspector/dev_server_impl.dart
  driver/js/flutter/lib/inspector/dev_server_impl_disable.dart
  driver/js/flutter/lib/inspector/dev_server_interface.dart
  renderer/flutter/lib/controller/controller.dart
  renderer/flutter/lib/controller/list.dart
  renderer/flutter/lib/controller/waterfall.dart
  renderer/flutter/lib/gesture/scroll.dart
  renderer/flutter/lib/style/prop.dart
  renderer/flutter/lib/viewmodel/scroller.dart
  renderer/flutter/lib/viewmodel/view_model.dart
  renderer/flutter/lib/viewmodel/waterfall.dart
  renderer/flutter/lib/widget/div.dart
  renderer/flutter/lib/widget/root.dart
Labels: enhancement, driver, renderer, flutter

#2241 ci(codeowners): add *.cmake codeowners
  .github/CODEOWNERS
Labels: ci

#2246 ci(workflows): `V8` prebuilt artifacts support iOS platform
  .github/workflows/3rd_prebuilt_v8.yml
Labels: ci

#2247 ci(workflows): `V8` prebuilt artifacts support iOS platform
  .github/workflows/3rd_prebuilt_v8.yml
Labels: ci

#2234 feat(web-renderer): add web-renderer demo & docs
  docs/_navbar.md
  docs/_sidebar.md
  docs/web/_sidebar.md
  docs/web/custom-component.md
  docs/web/custom-module.md
  docs/web/event.md
  docs/web/integration.md
  examples/hippy-react-demo/package.json
  examples/hippy-react-demo/public/index.html
  examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.dev.js
  examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.js
  examples/hippy-react-demo/src/main.web.js
  examples/hippy-vue-demo/package.json
  examples/hippy-vue-demo/public/web-renderer.html
  examples/hippy-vue-demo/scripts/hippy-webpack.web-renderer.dev.js
  examples/hippy-vue-demo/scripts/hippy-webpack.web-renderer.js
  examples/hippy-vue-demo/src/main-web.js
Labels: documentation, demo, js

#2237 refactor(ios): use napi instead of jsc api
  driver/js/core/include/core/napi/js_native_api_types.h
  driver/js/core/include/core/napi/jsc/js_native_api_jsc.h
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/napi/jsc/js_native_api_jsc.cc
  driver/js/core/src/napi/jsc/js_native_api_value_jsc.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge+Private.h
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/base/executors/HippyJSCErrorHandling.h
  driver/js/ios/base/executors/HippyJSCErrorHandling.m
  driver/js/ios/base/executors/HippyJSExecutor.h
  driver/js/ios/base/executors/HippyJSExecutor.mm
  driver/js/ios/module/turbo/HippyOCTurboModule.mm
  driver/js/ios/utils/NSObject+ToJSCtxValue.mm
  renderer/native/ios/utils/NativeRenderLog.mm
Labels: ios, demo, core, driver, renderer

#2254 fix(npm): update vulnerable npm packages
  .github/workflows/frontend_build_tests.yml
  package-lock.json
  package.json
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-css-loader/package.json
  packages/hippy-vue-loader/package-lock.json
  packages/hippy-vue-loader/package.json
  packages/hippy-vue/package-lock.json
  packages/hippy-vue/package.json
Labels: bug, js, ci

#2260 fix(android): set default background color to TRANSPARENT
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/BackgroundDrawable.java
Labels: bug, android

#2252 fix(devtools): disconnect ws when close
  ios/sdk/debug/websocket/HippySRWebSocket.m
Labels: bug, ios

#2265 ci(workflows): update v8 prebuilt script to support linux platform
  .github/workflows/3rd_prebuilt_v8.yml
Labels: ci

#2256 feat(ios): support bytes buffer transfer
  driver/js/core/include/core/napi/js_native_api_types.h
  driver/js/core/include/core/napi/jsc/js_native_api_jsc.h
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/napi/jsc/js_native_api_jsc.cc
  driver/js/core/src/napi/jsc/js_native_api_value_jsc.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/ios/utils/NSObject+ToJSCtxValue.h
  driver/js/ios/utils/NSObject+ToJSCtxValue.mm
  renderer/native/ios/utils/NativeRenderConvert.mm
Labels: enhancement, ios, core, driver, renderer

#2266 feat(ios): ios image async
  ios/sdk/component/image/HippyImageView.h
  ios/sdk/component/image/HippyImageView.m
Labels: enhancement, ios

#2267 fix(ios): no more ceiling item height
  ios/sdk/component/listview/HippyBaseListView.m
Labels: bug, ios

#2269 feat(jni): use the project root as the include headers search path
  modules/android/jni/CMakeLists.txt
  modules/android/jni/src/jni_env.cc
  modules/android/jni/src/jni_register.cc
  modules/android/jni/src/jni_utils.cc
  modules/android/jni/src/scoped_java_ref.cc
Labels: enhancement, android, modules

#2272 fix(devtools): fix elements reload and update bug
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/Inspector.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/domain/InspectorDomain.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/domain/PageDomain.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/model/CSSModel.java
Labels: bug, android

#2270 feat(ios): allows the access party to customize filter attributes
  ios/sdk/component/view/HippyView.h
  ios/sdk/component/view/HippyView.m
Labels: enhancement, ios

#2271 feat(ios): allows the access party to customize filter attributes
  renderer/native/ios/renderer/component/view/NativeRenderView.h
  renderer/native/ios/renderer/component/view/NativeRenderView.mm
Labels: enhancement, ios, renderer

#2268 feat(android): support horizontal PullHeader & PullFooter
  android/sdk/src/main/java/androidx/recyclerview/widget/RecyclerViewBase.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyRootView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/monitor/HippyEngineMonitorEvent.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: enhancement, android

#2282 refactor(examples): add rotate & skew animation demo
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-react-demo/src/externals/Slider/Slider.jsx
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-vue-demo/src/app.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

#2279 feat(ios): set magnificationFilter as kCAFilterNearest by default
  renderer/native/ios/renderer/component/view/NativeRenderView.h
  renderer/native/ios/renderer/component/view/NativeRenderView.mm
Labels: enhancement, ios, renderer

#2283 refactor(example): change skew animation demo
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-react/web.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/modules.md
  docs/hippy-react/web.md
  docs/hippy-vue/external-components.md
  examples/android-demo/res/index.android.js
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/ios-demo/res/index.ios.js
Labels: documentation, demo, js

#2286 feat(ios): support skew animation
  ios/sdk/module/animation/HippyExtAnimation.m
Labels: enhancement, ios

#2284 feat(android): remove useless override method
  android/sdk/src/main/jni/include/inspector/v8_inspector_client_impl.h
Labels: enhancement, android

#2289 fix(android): check collapsable at attribute
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/DomManager.java
Labels: bug, android

#2293 feat(hippy-vue): support breakStrategy
  driver/js/examples/hippy-vue-demo/src/app.vue
  driver/js/packages/hippy-react/src/components/scroll-view.tsx
  driver/js/packages/hippy-vue/src/renderer/element-node.js
Labels: enhancement, demo, driver, js

#2278 feat(ios): set magnificationFilter as kCAFilterNearest by default
  ios/sdk/component/view/HippyView.h
  ios/sdk/component/view/HippyView.m
Labels: enhancement, ios

#2296 fix(ios): fix a dead lock
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: bug, ios

#2298 fix(android): call function callback reuse
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
Labels: bug, android

#2297 refactor(examples): change skew animation
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

#2300 docs(homepage): remove skew intro
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/modules.md
  docs/hippy-vue/external-components.md
Labels: documentation

#2285 feat(android): add breakStrategy prop for Text and TextInput
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  examples/android-demo/res/index.android.js
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-react-demo/src/components/TextInput/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-p.vue
  examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  examples/ios-demo/res/index.ios.js
Labels: documentation, enhancement, android, demo, js

#2299 feat(ios): add method to get key window in ios13
  ios/sdk/utils/HippyUtils.m
Labels: enhancement, ios

#2189 feat(devtools): support multi jscontext debug
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/jni/CMakeLists.txt
  android/sdk/src/main/jni/include/bridge/adr_bridge.h
  android/sdk/src/main/jni/include/bridge/entry.h
  android/sdk/src/main/jni/include/bridge/runtime.h
  android/sdk/src/main/jni/src/bridge/adr_bridge.cc
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
  android/sdk/src/main/jni/src/bridge/js2java.cc
  android/sdk/src/main/jni/src/bridge/runtime.cc
  android/sdk/src/main/jni/src/jni/exception_handler.cc
  core/CMakeLists.txt
  core/include/core/core.h
  core/include/core/engine.h
  core/include/core/inspector/bridge.h
  core/include/core/inspector/v8_channel_impl.h
  core/include/core/inspector/v8_inspector_client_impl.h
  core/include/core/inspector/v8_inspector_context.h
  core/src/inspector/v8_channel_impl.cc
  core/src/inspector/v8_inspector_client_impl.cc
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: enhancement, android, demo, core

#2303 fix(ios): roottag property should not be updated
  ios/sdk/component/view/HippyShadowView.mm
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: bug, ios

#2304 feat(ios): add method to get key window in ios13
  renderer/native/ios/utils/NativeRenderUtils.m
Labels: enhancement, ios, renderer

#2305 fix(ios): roottag property should not be updated
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.mm
Labels: bug, ios, renderer

#2308 fix(ios): try to avoid cases where result is NAN
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollView.mm
Labels: bug, ios, renderer

#2307 fix(ios): try to avoid cases where result is NAN
  ios/sdk/component/scrollview/HippyScrollView.m
Labels: bug, ios

#2311 fix(image): fix image border path not reset
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/ContentDrawable.java
Labels: bug, android

#2310 fix(ios): fix a potential null pointer when waterfallview cell resuse
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.m
  ios/sdk/component/waterfalllist/HippyWaterfallView.m
Labels: bug, ios

#2295 fix(dom): fix on layout event execution time
  dom/src/dom/dom_node.cc
Labels: bug, dom

#2312 fix(ios): radius must be smaller than half of component's length
  ios/sdk/component/image/HippyImageView.m
Labels: bug, ios

#2314 fix(ios): radius must be smaller than half of component's length
  renderer/native/ios/renderer/component/image/NativeRenderImageView.m
Labels: bug, ios, renderer

#2315 fix(render_manager): fix render manager measure function error
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: bug, android, renderer

#2309 fix(ios): nested listview may not get rendered
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: bug, ios

#2318 fix(android): listview can not scroll inside other listview
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
Labels: bug, android

#2317 feat(core): ability to breakpoint when v8 is running long js code
  driver/js/android/src/main/jni/src/bridge/java2js.cc
  driver/js/core/CMakeLists.txt
  driver/js/core/include/core/runtime/v8/inspector/v8_inspector_client_impl.h
  driver/js/core/include/core/runtime/v8/interrupt_queue.h
  driver/js/core/include/core/runtime/v8/v8_bridge_utils.h
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/interrupt_queue.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  modules/footstone/src/task_runner.cc
Labels: enhancement, android, modules, core, driver

#2319 fix(ios): direction is for shadow view ,not view
  ios/sdk/component/view/HippyViewManager.mm
Labels: bug, ios

#2320 fix(ios): fix some properties setting error for view
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
Labels: bug, ios, renderer

#2302 fix(ios): compatible with x5 & lower version of v8 api
  driver/js/core/include/core/napi/js_native_api_types.h
  driver/js/core/include/core/napi/jsc/js_native_api_jsc.h
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/napi/jsc/js_native_api_value_jsc.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
  driver/js/ios/utils/NSObject+ToJSCtxValue.mm
Labels: bug, ios, core, driver

#2321 fix(dom): fix problem of early return
  dom/src/dom/dom_node.cc
Labels: bug, dom

#2322 fix(ios): scope shouldn't be null before set name
  driver/js/ios/base/executors/HippyJSExecutor.mm
Labels: bug, ios, driver

#2324 fix(android): horizontal `ScrollView` cannot scroll in other scrollable
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
Labels: bug, android

#2313 ci(license): add license checker
  .github/license-check.json
  .github/workflows/gh_licence_checks.yml
  .github/workflows/gh_licence_checks_bypass.yml
Labels: ci

#2316 ci(license): add license checker
  .github/license-check.json
  .github/workflows/gh_licence_checks.yml
  .github/workflows/gh_licence_checks_bypass.yml
Labels: ci

#2325 docs(homepage,readme): change integration introduction
  README.md
  docs/android/integration.md
  docs/en-us/android/integration.md
Labels: documentation

#2328 fix(buildcore): fix buildcore script
  core/js/bootstrap.js
  core/js/bridge/android/js2native.js
  core/js/bridge/android/native2js.js
  core/js/bridge/ios/js2native.js
  core/js/bridge/ios/native2js.js
  core/js/entry/android/hippy.js
  core/js/entry/ios/hippy.js
  core/js/global/ConsoleModule.js
  core/js/global/Dimensions.js
  core/js/global/DynamicLoad.js
  core/js/global/Event.js
  core/js/global/Network.js
  core/js/global/Others.js
  core/js/global/Platform.js
  core/js/global/Storage.js
  core/js/global/TimerModule.js
  core/js/global/UIManagerModule.js
  core/js/global/UtilsModule.js
  core/js/global/android/Turbo.js
  core/js/global/android/global.js
  core/js/global/android/requestAnimationFrame.js
  core/js/global/ios/Turbo.js
  core/js/global/ios/global.js
  core/js/global/ios/promise.js
  core/js/global/ios/requestAnimationFrame.js
  core/js/modules/ExceptionHandle.js
  core/js/modules/ios/jsTimersExecution.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
  scripts/build-core.js
Labels: bug, core, js
