Repository Tencent/Hippy, pull requests merged in 2022-05, with the labels that each got.

#1834 fix(core): fix turbomodule crash
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/jni/include/jni/turbo_module_manager.h
  android/sdk/src/main/jni/src/jni/turbo_module_manager.cc
Labels: bug, android

#1830 chore(docs): modify hippy:dev script
  docs/en-us/guide/integration.md
  docs/guide/debug.md
  docs/guide/integration.md
Labels: documentation

#1835 fix(android): reset recycle view stick view item type
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
Labels: bug, android

#1839 feat(android): support host customize default font family
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/font/DefaultFontScaleAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/font/HippyFontScaleAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/DomManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
Labels: enhancement, android

#1840 refactor(ios): set animated image queue concurrent count to maxiumum
  ios/sdk/component/image/HippyImageView.m
Labels: ios

#1844 fix(android): reset pull header position on scroll back
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
Labels: bug, android

#1847 fix(core): fix convert bug
  core/include/core/base/string_view_utils.h
  core/third_party/base/include/base/logging.h
Labels: bug, core/layout, dependencies

#1849 fix(android): fix java lint warnings
  android/sdk/src/main/java/com/tencent/mtt/hippy/serialization/nio/writer/SafeHeapWriter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/serialization/recommend/Deserializer.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/serialization/recommend/Serializer.java
Labels: bug, android

#1851 feat(android): change one byte string encoding
  android/sdk/src/main/java/com/tencent/mtt/hippy/serialization/PrimitiveValueSerializer.java
Labels: enhancement, android

#1853 refactor(ios): remove tagname property from hippycomponent to hippyvi…
  ios/sdk/base/HippyComponent.h
  ios/sdk/base/virtualNode/HippyVirtualNode.h
Labels: ios

#1854 fix(core): fix mutex crash
  core/include/core/engine.h
  core/src/engine.cc
  core/src/modules/contextify_module.cc
Labels: bug, core/layout

#1856 fix(core): fix memory leak in multi-context mode
  core/include/core/napi/v8/js_native_api_v8.h
Labels: bug, core/layout

#1827 fix(ios): fix nested text display issuse
  dom/include/dom/dom_node.h
  dom/include/dom/layout_node.h
  dom/include/dom/taitank_layout_node.h
  dom/include/dom/yoga_layout_node.h
  dom/src/dom/dom_node.cc
  dom/src/dom/taitank_layout_node.cc
  dom/src/dom/yoga_layout_node.cc
  framework/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/js/examples/ios-demo/HippyDemo/TestModule.mm
  framework/js/examples/ios-demo/HippyDemo/ViewController.mm
  framework/js/ios/base/HippyBridge.h
  framework/js/ios/base/HippyBridge.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/text/HippyText.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
Labels: bug, ios

#1869 refactor(vue,react): refactor insertChild code
  examples/android-demo/res/vendor.android.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/renderer/render.ts
  packages/hippy-vue/src/renderer/native/index.js
Labels: frontend, demo

#1870 docs(homepage): change layout introduction
  docs/guide/layout.md
Labels: documentation

#1864 feat(android): add initialContentOffset support for recycle view
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
Labels: enhancement, android

#1873 feat(android): use HIP(hippy-infa-packages) to replace local `v8`
  android/sdk/build.gradle
  android/sdk/gradle.properties
  android/sdk/src/main/jni/CMakeLists.txt
Labels: enhancement, android

#1875 fix(core): fix iOS warning
  core/include/core/base/string_view_utils.h
  core/third_party/base/include/base/logging.h
Labels: bug, core/layout, dependencies

#1872 fix(docs): update debug for android debug mode
  docs/guide/debug.md
Labels: bug, documentation

#1879 chore(docs): add keyboardheightchanged event for ios
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
Labels: documentation

#1855 docs(homepage): provide English documents of style part
  docs/en-us/guide/_sidebar.md
  docs/en-us/guide/console.md
  docs/en-us/guide/custom-font.md
  docs/en-us/guide/exception.md
  docs/en-us/guide/integration.md
  docs/en-us/guide/layout.md
  docs/en-us/guide/network-request.md
  docs/en-us/guide/timer.md
  docs/en-us/structure/_sidebar.md
  docs/en-us/structure/introduction.md
  docs/en-us/style/_sidebar.md
  docs/en-us/style/appearance.md
  docs/en-us/style/color.md
  docs/en-us/style/layout.md
  docs/en-us/style/setNativeProps.md
  docs/en-us/style/transform.md
  docs/guide/network-request.md
Labels: documentation, enhancement

#1890 feat(android): remove unused cmake variable
  android/sdk/src/main/jni/CMakeLists.txt
Labels: enhancement, android

#1850 fix(hippy-react-web): fix hippy-react-web some issues
  package-lock.json
  packages/hippy-react-web/package-lock.json
  packages/hippy-react-web/src/adapters/transfer.ts
  packages/hippy-react-web/src/components/image.tsx
  packages/hippy-react-web/src/modules/ui-manager-module.ts
  packages/hippy-react-web/src/modules/use-responder-events/responder-events.ts
  packages/hippy-react-web/src/utils/index.ts
  packages/hippy-react/package-lock.json
  packages/hippy-react/src/components/focusable.tsx
Labels: bug, frontend

#1892 refactor(react): revert package-lock changes
  package-lock.json
  packages/hippy-react-web/package-lock.json
  packages/hippy-react/package-lock.json
  packages/hippy-react/src/components/focusable.tsx
Labels: frontend

#1886 refactor(android): merge supportui and rename folder
  android/sdk/build.gradle
  android/sdk/gradle.properties
  android/sdk/mavencentral.gradle
  android/sdk/src/main/java/androidx/recyclerview/widget/HippyLinearLayoutManager.java
  android/sdk/src/main/java/androidx/recyclerview/widget/HippyOverPullHelper.java
  android/sdk/src/main/java/androidx/recyclerview/widget/HippyOverPullListener.java
  android/sdk/src/main/java/androidx/recyclerview/widget/HippyRecyclerViewBase.java
  android/sdk/src/main/java/androidx/recyclerview/widget/ItemLayoutParams.java
  android/sdk/src/main/java/androidx/recyclerview/widget/RecyclerViewBase.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewWrapper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterEventHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderEventHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/ViewStickEventHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/AnimatorListenerBase.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/FooterExposureHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/IFooterLoadMoreListener.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/IFooterLoadingView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/HeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderRefreshListener.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderRefreshView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderStatusListener.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/ILayoutRequester.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IHeaderAttachListener.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IHeaderHost.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IHeaderViewFactory.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IStickyAbleItem.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IStickyItemsProvider.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickViewListener.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyViewFactory.java
  android/sdk/src/main/java/com/tencent/mtt/nxeasy/recyclerview/helper/footer/FooterExposureHelper.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/AsyncImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/BackgroundDrawable.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
Labels: android

#1898 fix(android): call engine context method NullPointerException
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
Labels: bug, android

#1899 fix(hippy-react-web): change rmc-list-view to hippy domain
  docs/en-us/hippy-react/web.md
  docs/hippy-react/web.md
  examples/hippy-react-demo/package.json
  packages/hippy-react-web/package-lock.json
  packages/hippy-react-web/package.json
  packages/hippy-react-web/src/components/list-view.tsx
  scripts/react-configs.js
Labels: bug, documentation, frontend, demo

#1902 fix(ios): reduce GPU usage by reducing off-screen rendering
  ios/sdk/component/image/HippyImageView.h
  ios/sdk/component/image/HippyImageView.m
Labels: bug, ios

#1903 fix(ios): reduce GPU usage by reducing off-screen rendering (#1902)
  renderer/native/ios/renderer/component/image/HippyImageView.h
  renderer/native/ios/renderer/component/image/HippyImageView.m
Labels: bug, ios

#1907 fix(core): fix deadlock bug
  core/include/core/engine.h
  core/src/engine.cc
Labels: bug, core/layout

#1906 refactor(js): remove package-lock
  .github/workflows/frontend_build_tests.yml
  .gitignore
  packages/hippy-debug-server/package-lock.json
  packages/hippy-react-web/package-lock.json
  packages/hippy-react/package-lock.json
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-loader/package-lock.json
  packages/hippy-vue-router/package-lock.json
  packages/hippy-vue/package-lock.json
Labels: frontend

#1911 Revert "refactor(js): remove package-lock.json"
  .github/workflows/frontend_build_tests.yml
  .gitignore
  packages/hippy-debug-server/package-lock.json
  packages/hippy-react-web/package-lock.json
  packages/hippy-react/package-lock.json
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-loader/package-lock.json
  packages/hippy-vue-router/package-lock.json
  packages/hippy-vue/package-lock.json
Labels: frontend

#1920 chore(docs): change debug docs
  docs/guide/debug.md
Labels: documentation

#1923 ci(ios): fix ios build test
  .github/workflows/ios_build_tests.yml
Labels: ci

#1924 refactor(core): fix ios invalid callback name
  core/js/global/ios/Turbo.js
  core/js/global/ios/global.js
  core/src/napi/jsc/native_source_code_ios.cc
Labels: core, js

#1925 feat(dom): clean up clang warning
  dom/include/dom/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/root_node.h
  dom/src/dom/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  dom/src/dom/serializer.cc
Labels: enhancement, dom

#1922 V3.0 dev ref info
  dom/include/dom/animation_manager.h
  dom/include/dom/dom_action_interceptor.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/layer_optimized_render_manager.h
  dom/include/dom/render_manager.h
  dom/include/dom/root_node.h
  dom/include/dom/scene_builder.h
  dom/src/dom/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/layer_optimized_render_manager.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  driver/js/core/src/modules/scene_builder.cc
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/view-node.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-react/src/utils/index.ts
  driver/js/packages/hippy-react/src/utils/node.ts
  driver/js/packages/hippy-vue/src/renderer/native/__tests__/index.test.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
  driver/js/packages/hippy-vue/src/renderer/view-node.js
  driver/js/packages/hippy-vue/src/util/index.js
  driver/js/packages/hippy-vue/src/util/node.js
  renderer/native/android/src/main/jni/include/render/hippy_render_manager.h
  renderer/native/android/src/main/jni/src/render/hippy_render_manager.cc
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: android, ios, demo, core, driver, renderer, js, dom

#1927 fix(android): fix `v8` inspector does not work
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
Labels: bug, android

#1928 fix(ios): fix crash due to null pointer
  ios/sdk/component/view/HippyView.m
  ios/sdk/utils/HippyGradientObject.m
Labels: bug, ios

#1929 fix(ios): fix crash due to null pointer
  renderer/native/ios/renderer/component/view/HippyView.mm
  renderer/native/ios/utils/HippyGradientObject.m
Labels: bug, ios, renderer

#1930 ci(debug): remove debug ci
  .github/workflows/debug_build_tests.yml
  .github/workflows/debug_build_tests_bypass.yml
Labels: ci

#1933 feat(dom): use fetch content to complier yoga
  dom/CMakeLists.txt
  dom/src/dom/yoga_layout_node.cc
Labels: enhancement, dom

#1935 feat(dom): move unit test files to dom directory
  dom/CMakeLists.txt
  dom/src/dom/deserializer_ut.cc
  dom/src/dom/dom_value_ut.cc
  dom/src/dom/serializer_ut.cc
  test/CMakeLists.txt
Labels: enhancement, dom

#1937 docs(homepage): change integration docs
  docs/en-us/guide/integration.md
Labels: documentation

#1938 feat(workflows): add Hippy Infra Packages(HIP) related workflows
  .github/workflows/hip_archive_artifact.yml
  .github/workflows/hip_list_artifacts.yml
Labels: enhancement, ci

#1941 fix(ios): adjust text layout
  ios/sdk/component/text/HippyShadowText.mm
Labels: bug, ios

#1942 fix(ios): adjust text layout
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
Labels: bug, ios, renderer

#1946 refactor(android): merge 2.0 recycler view change
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyLinearLayoutManager.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyOverPullHelper.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyOverPullListener.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyRecyclerExtension.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyRecyclerPool.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyRecyclerViewBase.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/ItemLayoutParams.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/RecyclerViewBase.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RecyclerItemRenderNode.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewWrapper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PreloadHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/ViewStickEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/AnimatorListenerBase.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/FooterExposureHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/IFooterLoadMoreListener.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/IFooterLoadingView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/HeaderRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderRefreshListener.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderRefreshView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderStatusListener.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/ILayoutRequester.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IHeaderAttachListener.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IHeaderHost.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IHeaderViewFactory.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IStickyAbleItem.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/IStickyItemsProvider.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickViewListener.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyViewFactory.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/list/HippyRecyclerItemViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/nxeasy/recyclerview/helper/footer/FooterExposureHelper.java
Labels: android, renderer

#1945 feat(devtools): update Podfile and .gitignore
  .gitignore
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/src/devtools_base/logging.cc
  driver/js/examples/ios-demo/Podfile
Labels: enhancement, demo, driver, devtools

#1947 chore(cmake): cmake adds `InfaPackage` module
  .gitignore
  android/sdk/src/main/jni/CMakeLists.txt
  build/cmake/InfraPackagesModule.cmake
Labels: android
