Repository Tencent/Hippy, pull requests merged in 2022-12, with the labels that each got.

#2716 chore(ios): modify podspec file for cocoapods integration
  driver/js/include/driver/engine.h
  hippy.podspec
Labels: ios, driver

#2717 feat(framework): refactor entry
  framework/android/src/main/cpp/CMakeLists.txt
  framework/android/src/main/cpp/include/jni/entry.h
  framework/android/src/main/cpp/src/entry.cc
Labels: enhancement, android, framework

#2718 feat(connector): remove unused header
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: enhancement, android, framework

#2723 ci(workflows): adjust the labeling rules
  .github/labeler.yml
  .github/workflows/config/pr-path-labeler.yml
  .github/workflows/config/pr-size-labeler.yml
  .github/workflows/gh_pr_labeler.yml
Labels: ci

#2724 ci(workflows): adjust the labeling rules
  .github/labeler.yml
  .github/workflows/config/pr-path-labeler.yml
  .github/workflows/config/pr-size-labeler.yml
  .github/workflows/gh_pr_labeler.yml
Labels: ci

#2726 chore(ios): set cpp version to c++17
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  hippy.podspec
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
Labels: framework: ios, doc: example, size: xs, build: xcode

#2728 feat(workflows): add auto-merge labeler in PR
  .github/workflows/gh_pr_labeler.yml
Labels: size: m, gh: workflow

#2727 fix(devtools): voltron devtools include
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/native/include/devtools/devtools_data_source.h
  devtools/devtools-integration/native/src/devtools_data_source.cc
Labels: devtools: backend, size: s, merge: rebase

#2731 ci(workflows): add js release workflow
  .github/workflows/project_artifact_release.yml
  lerna.json
  package-lock.json
  package.json
  scripts/release-to-latest.js
Labels: size: xl, gh: workflow

#2733 fix(connector): temporarily compatible with devtools
  driver/js/CMakeLists.txt
  framework/android/gradle.properties
Labels: framework: android, driver: js, size: xs, merge: rebase

#2745 feat(workflows): add PR review notification
  .github/workflows/gh_pr_review.yml
  .github/workflows/gh_pr_review_notification.yml
Labels: size: m, gh: workflow

#2746 ci(codeowner): change demo path
  .github/CODEOWNERS
Labels: size: xs, gh: owner, merge: rebase

#2747 fix(core): fix reload bug for inspector
  android/sdk/src/main/jni/src/bridge/entry.cc
Labels: framework: android, size: xs, merge: rebase

#2749 feat(workflows): add PR review notification
  .github/workflows/gh_pr_review.yml
  .github/workflows/gh_pr_review_notification.yml
Labels: size: m, gh: workflow, merge: rebase

#2751 ci(workflows): fix js release issue
  .github/workflows/project_artifact_release.yml
Labels: size: xs, gh: workflow

#2744 feat(android): add `nestedScrollPriority` for `ListView` and `ScrollView`
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/common/HippyNestedScrollComponent.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/common/HippyNestedScrollHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewWrapper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/externals/NestedScroll/index.jsx
  examples/hippy-react-demo/src/externals/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/src/components/native-demos/demo-nested-scroll.vue
  examples/hippy-vue-demo/src/components/native-demos/index.js
  examples/hippy-vue-next-demo/src/components/native-demo/demo-nested-scroll.vue
  examples/hippy-vue-next-demo/src/components/native-demo/index.ts
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: framework: android, doc: example, doc: pages, size: xl, merge: squash

#2753 ci(workflows): setup node to npm registry
  .github/workflows/project_artifact_release.yml
Labels: size: s, gh: workflow, merge: rebase

#2757 feat(workflows): workflow add `squash-merge` action
  .github/workflows/gh_action_squash_merge.yml
Labels: size: m, gh: workflow

#2758 feat(workflows): workflow add `squash-merge` action
  .github/workflows/gh_action_squash_merge.yml
Labels: size: m, gh: workflow

#2764 feat(workflows): use `Hippy Action Bot` as action executor
  .github/workflows/gh_action_squash_merge.yml
Labels: size: s, gh: workflow

#2762 ci(labeler): add new labels
  .github/workflows/config/pr-path-labeler.yml
Labels: size: xs, gh: workflow, merge: squash

#2761 ci(codeowner): change codeowner classificatioin
  .github/CODEOWNERS
Labels: size: s, gh: owner, merge: failed, action(squash-merge)

#2763 Revert "fix(ios): animated image is not released when the view is removed"
  ios/sdk/component/image/HippyImageView.m
Labels: framework: ios, size: xs, merge: failed, merge: rebase

#2766 fix(devtools): fix try catch exception when update context
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/Inspector.java
Labels: framework: android, size: xs

#2765 feat(workflows): optimizing pull request greeting message
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/gh_pr_guide.yml
Labels: size: m, gh: workflow, merge: squash

#2768 fix(workflows): change workflows bot app key and id
  .github/workflows/gh_pr_guide.yml
Labels: size: xs, gh: workflow, merge: squash

#2767 fix(workflows): fix triage outputs incorrect problem in crash report
  .github/workflows/gh_issue_crash_report.yml
Labels: size: xs, gh: workflow, action(squash-merge)

#2774 fix(workflows): change `pull_request_help_needed` label name
  .github/workflows/gh_pr_guide.yml
Labels: size: xs, gh: workflow, action(rebase-merge)

#2771 ci(codeowner): change codeowner classificatioin
  .github/CODEOWNERS
Labels: size: m, gh: owner, action(squash-merge)

#2773 fix(ios): avoid animated image multi thread operation crash
  ios/sdk/component/image/HippyImageView.m
Labels: framework: ios, size: s, merge: rebase

#2755 Feat/pub
  .github/workflows/voltron_build_tests.yml
  docs/en-us/voltron/integration.md
  docs/voltron/integration.md
  framework/voltron/.pubignore
  framework/voltron/CHANGELOG.md
  framework/voltron/LICENSE
  framework/voltron/README.md
  framework/voltron/android/settings.gradle
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
  framework/voltron/example/lib/base_voltron_page.dart
  framework/voltron/example/lib/module/test_module.dart
  framework/voltron/example/lib/my_api_provider.dart
  framework/voltron/example/lib/view/qr_view.dart
  framework/voltron/example/lib/voltron_demo_page.dart
  framework/voltron/lib/voltron.dart
  framework/voltron/pubspec.yaml
  modules/vfs/voltron/.pubignore
  modules/vfs/voltron/CHANGELOG.md
  modules/vfs/voltron/LICENSE
  modules/vfs/voltron/README.md
  modules/vfs/voltron/pubspec.yaml
  modules/voltron/ffi/.pubignore
  modules/voltron/ffi/CHANGELOG.md
  modules/voltron/ffi/LICENSE
  modules/voltron/ffi/README.md
  modules/voltron/ffi/pubspec.yaml
  renderer/voltron/.pubignore
  renderer/voltron/CHANGELOG.md
  renderer/voltron/LICENSE
  renderer/voltron/README.md
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, module: vfs, module: voltron, doc: pages, size: xl, gh: workflow, framework: voltron

#2780 fix(devtools): callback fail when debug ws disconnect
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DebugWebSocketClient.java
Labels: framework: android, size: xs

#2781 feat(ios): add multiple image providers
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/module/imageloader/HippyImageLoaderModule.mm
  modules/ios/image/HPDefaultImageProvider.m
  modules/ios/image/HPImageProviderProtocol.h
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
Labels: framework: ios, renderer: native, module: ios, doc: example, size: m

#2782 feat(fix): fix style update nullptr error
  dom/src/dom/root_node.cc
Labels: dom: tree, size: xs

#2783 fix(dom): fix event listener deconstructor error
  driver/js/include/driver/scope.h
  driver/js/src/scope.cc
Labels: driver: js, size: s

#2785 feat(workflows): add pull request merge guard and update it's action
  .github/workflows/gh_action_merge.yml
  .github/workflows/gh_pr_labeler.yml
  .github/workflows/gh_pr_merge_guard.yml
Labels: size: m, gh: workflow, action(rebase-merge)

#2784 fix(vfs): fix context error when activity is destroyed
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  modules/vfs/android/src/main/cpp/include/vfs/handler/asset_handler.h
  modules/vfs/android/src/main/cpp/src/handler/asset_handler.cc
Labels: framework: android, module: vfs, size: s, merge: rebase

#2786 refactor(workflows): refactor pull requests checks approval process
  .github/workflows/gh_action_approve_checks.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/gh_pr_review.yml
  .github/workflows/gh_pr_review_notification.yml
  .github/workflows/reuse_approve_checks_run.yml
  .github/workflows/reuse_get_workflow_output.yml
Labels: size: l, gh: workflow

#2790 feat(voltron): fix android so
  framework/voltron/CHANGELOG.md
  framework/voltron/android/gradle.properties
  framework/voltron/pubspec.yaml
Labels: size: s, framework: voltron, merge: squash

#2791 fix(android): attachToRoot use root view object
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/connector/renderer/native/src/main/java/com/openhippy/connector/NativeRenderer.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Labels: framework: android, size: s

#2788 feat(devtools): adapter to connector
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/include/api/devtools_define.h
  devtools/devtools-backend/include/module/domain/base_domain.h
  devtools/devtools-backend/include/tunnel/net_channel.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/api/notification/default/default_network_notification.cc
  devtools/devtools-backend/src/module/domain/network_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_inspector_domain.cc
  devtools/devtools-backend/src/module/domain/tdf_performance_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/module/model/css_model.cc
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-backend/src/module/model/frame_poll_model.cc
  devtools/devtools-backend/src/module/model/screen_shot_model.cc
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
  devtools/devtools-integration/android/build.gradle
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/android/src/main/java/com/tencent/devtools/DevtoolsManager.java
  devtools/devtools-integration/native/include/devtools/devtools_data_source.h
  devtools/devtools-integration/native/src/devtools_data_source.cc
  devtools/devtools-integration/native/src/devtools_utils.cc
  devtools/devtools-integration/native/src/v8/trace_control.cc
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/lib/bridge/voltron_bridge.dart
Labels: framework: android, devtools: backend, size: m, framework: voltron, merge: squash

#2793 feat(devtools): bind dom manager not dom id
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/native/include/devtools/devtools_data_source.h
  devtools/devtools-integration/native/include/devtools/devtools_utils.h
  devtools/devtools-integration/native/include/devtools/hippy_dom_data.h
  devtools/devtools-integration/native/src/adapter/impl/hippy_dom_tree_adapter.cc
  devtools/devtools-integration/native/src/adapter/impl/hippy_screen_adapter.cc
  devtools/devtools-integration/native/src/devtools_data_source.cc
  devtools/devtools-integration/native/src/devtools_utils.cc
  framework/ios/base/bridge/HippyBridge.mm
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
Labels: framework: ios, devtools: backend, size: s, framework: voltron, merge: rebase

#2794 fix(voltron): fix voltron vfs load utf16 string
  framework/voltron/lib/adapter/resource_loader.dart
Labels: size: xs, framework: voltron, merge: squash

#2796 ci(workflows): welcome new code owner @lavnFan
  .github/CODEOWNERS
Labels: size: s, gh: owner, action(squash-merge)

#2797 ci(workflows): welcome new code owner @vimerzhao
  .github/CODEOWNERS
Labels: size: xs, gh: owner

#2798 feat(voltron): devtools
  framework/voltron/CHANGELOG.md
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
  framework/voltron/example/lib/base_voltron_page.dart
  framework/voltron/lib/bridge/voltron_bridge.dart
  framework/voltron/lib/devtools/devtools_manager.dart
  framework/voltron/lib/engine/js_engine_context.dart
  framework/voltron/pubspec.yaml
Labels: size: s, framework: voltron

#2799 ci(codeowner): change CODEOWNERS classification
  .github/CODEOWNERS
Labels: size: s, gh: owner

#2801 fix(workflows): change mentioned user in the PR review notification
  .github/workflows/gh_pr_review_notification.yml
Labels: size: xs, gh: workflow

#2803 fix(workflows): change mentioned user in the PR review notification
  .github/workflows/gh_pr_review_notification.yml
Labels: size: xs, gh: workflow

#2805 feat(workflows): users cannot perform merge action on their own PRs
  .github/workflows/gh_action_merge.yml
Labels: size: s, gh: workflow

#2808 chore(commitlint): adjust rules for length of commit message check
  commitlint.config.js
Labels: size: s

#2807 chore(commitlint): adjust rules for length of commit message check
  commitlint.config.js
Labels: size: s

#2809 feat(workflows): users cannot perform merge action on their own PRs
  .github/workflows/gh_action_merge.yml
Labels: size: s, gh: workflow

#2810 fix(workflows): update Github bot app key and id configuration
  .github/workflows/gh_action_approve_checks.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/gh_pr_review_notification.yml
Labels: size: s, gh: workflow

#2811 fix(workflows): update Github bot app key and id configuration
  .github/workflows/gh_action_approve_checks.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/gh_pr_review_notification.yml
Labels: size: s, gh: workflow

#2816 feat(android): support 302 redirect for default http adapter
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
Labels: framework: android, size: s

#2818 fix(driver): fix debug error when exiting and re-entering
  driver/js/src/runtime/v8/v8_bridge_utils.cc
Labels: driver: js, size: xs, need: fast-track

#2817 fix(driver): fix the problem of multi-threading at startup time
  dom/include/dom/dom_manager.h
  dom/src/dom/dom_manager.cc
  driver/js/include/driver/engine.h
  driver/js/src/engine.cc
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  framework/android/connector/dom/src/main/cpp/src/dom_jni.cc
  framework/ios/base/executors/HippyJSEnginesMapper.mm
  framework/voltron/core/src/bridge/ios/VoltronJSEnginesMapper.mm
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
Labels: framework: android, framework: ios, driver: js, dom: tree, size: s, framework: voltron, need: fast-track

#2821 refactor(ios): perfect copyright notice
  core/third_party/base/include/base/log_level.h
  core/third_party/base/include/base/log_settings.h
  core/third_party/base/include/base/macros.h
  core/third_party/base/src/base/log_settings.cc
  core/third_party/base/src/base/log_settings_state.cc
  core/third_party/base/src/platform/ios/logging.cc
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
Labels: framework: ios, driver: js, size: m

#2822 fix(voltron): catch voltron image base64 decode error
  framework/voltron/CHANGELOG.md
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/lib/style/image_virtual_node.dart
  renderer/voltron/lib/util/image_util.dart
  renderer/voltron/lib/viewmodel/image.dart
  renderer/voltron/lib/viewmodel/view_model.dart
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: m, framework: voltron

#2823 Fix/animation
  devtools/devtools-integration/native/src/adapter/impl/hippy_screen_adapter.cc
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  framework/android/connector/dom/src/main/cpp/include/connector/dom_jni.h
  framework/android/connector/dom/src/main/cpp/src/dom_jni.cc
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyGlobalConfigs.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: framework: android, dom: animation, dom: tree, renderer: native, devtools: backend, size: m

#2566 chore(docs,demo): update WebRenderer docs & demo
  docs/web/integration.md
  examples/hippy-react-demo/package.json
  examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.dev.js
Labels: doc: example, doc: pages, size: s

#2825 fix(android): debug reload not destroy dom manager
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Labels: framework: android, size: s

#2812 fix(ios): fix ConsoleModule.log not working
  core/third_party/base/src/platform/ios/logging.cc
  examples/hippy-react-demo/src/app.jsx
  examples/ios-demo/HippyDemo/ViewController.m
  ios/sdk/utils/HippyLog.mm
Labels: framework: ios, driver: js, doc: example, size: s

#2827 feat(core): dynamic loading support custom protocols
  android/sdk/src/main/jni/include/loader/adr_loader.h
  android/sdk/src/main/jni/src/loader/adr_loader.cc
Labels: framework: android, size: s

#2829 feat(core): allow all schemas to dynamic load
  core/js/global/DynamicLoad.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
Labels: driver: js, size: xs
