Repository Tencent/Hippy, pull requests merged in 2022-06, with the labels that each got.

#1950 feat(workflows): support for getting artifact tags
  .github/workflows/hip_info_artifacts.yml
  .github/workflows/hip_list_artifacts.yml
Labels: enhancement, ci

#1957 refactor(android): update sub project AGP to 7.2.1
  driver/js/examples/android-demo/build.gradle
  gradle.properties
Labels: android, demo, driver

#1959 feat(dom): remove demo for vl
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
Labels: enhancement, demo, driver

#1953 Feat/load instance
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  driver/js/android/src/main/jni/include/bridge/entry.h
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/include/core/runtime/v8/v8_bridge_utils.h
  driver/js/core/include/core/scope.h
  driver/js/core/js/bridge/android/native2js.js
  driver/js/core/js/bridge/flutter/native2js.js
  driver/js/core/js/bridge/ios/native2js.js
  driver/js/core/js/entry/android/hippy.js
  driver/js/core/js/entry/flutter/hippy.js
  driver/js/core/js/entry/ios/hippy.js
  driver/js/core/js/global/Event.js
  driver/js/core/js/global/Platform.js
  driver/js/core/src/napi/jsc/js_native_api_jsc.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/core/src/scope.cc
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/HippyRootView.mm
  driver/js/ios/base/native_source_code_ios.cc
  renderer/native/ios/utils/HippyDomNodeUtils.h
Labels: enhancement, android, ios, core, driver, renderer, flutter, js

#1963 feat(dom): support HIP in dom unit test
  dom/src/dom/dom_manager_ut.cc
  test/CMakeLists.txt
  test/dependency/create_node.json
Labels: enhancement, dom

#1965 feat(cmake): do not overwrite original value
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: enhancement

#1966 feat(cmake): do not overwrite original value
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: enhancement

#1967 feat(native_render): rename native render
  driver/js/android/src/main/jni/src/bridge/entry.cc
  renderer/native/android/src/main/jni/CMakeLists.txt
  renderer/native/android/src/main/jni/include/render/hippy_render_manager.h
  renderer/native/android/src/main/jni/include/render/native_render_jni.h
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/hippy_render_manager.cc
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: enhancement, android, driver, renderer

#1969 refactor(ios): refactor list-type components item reusage strategy
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  renderer/native/ios/renderer/HippyInvalidating.h
  renderer/native/ios/renderer/HippyRenderContext.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/listview/HippyBaseListView.mm
  renderer/native/ios/renderer/component/listview/HippyBaseListViewCell.h
  renderer/native/ios/renderer/component/listview/HippyBaseListViewCell.mm
  renderer/native/ios/renderer/component/smartViewPager/HippySmartViewPagerView.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.h
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallViewCell.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallViewCell.mm
Labels: ios, demo, still-in-working, driver, renderer

#1971 fix(ios): make DomManager.SetRootSize called in dom thread
  driver/js/core/third_party/base/include/base/log_level.h
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/utils/HippyLogging.mm
  renderer/native/ios/utils/HippyLog.mm
Labels: bug, ios, dependencies, core, driver, renderer

#1974 Bugfix/vsync dom thread
  driver/js/ios/utils/HippyLogging.mm
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: ios, driver, renderer

#1975 Revert "feat(dom): refactor update animation"
  dom/src/dom/animation/animation_manager.cc
Labels: dom

#1976 feat(hippy-vue): refactor vue animation events
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-vue/external-components.md
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  packages/hippy-vue-native-components/src/animation.js
Labels: documentation, enhancement, demo, js

#1979 feat(android): restructure pull header and footer
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/PullFooterRenderNode.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/PullHeaderRenderNode.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/FooterExposureHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/IFooterLoadMoreListener.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/IFooterLoadingView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/HeaderRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderRefreshListener.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderRefreshView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderStatusListener.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/ILayoutRequester.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/list/HippyListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/FooterUtil.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullFooterView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullFooterViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/EventUtils.java
Labels: enhancement, android, renderer

#1981 feat(dom): remove redundant code
  dom/src/dom/dom_manager.cc
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/ios/base/HippyBridge.mm
Labels: enhancement, android, ios, driver, dom

#1982 fix(dom): build tree infinite loop
  dom/src/dom/dom_node.cc
Labels: bug, dom

#1984 fix(cmake): disable outline atomics on android
  buildconfig/cmake/compiler_toolchain.cmake
Labels: bug

#1985 fix(cmake): fix typo problems
  android/sdk/src/main/jni/CMakeLists.txt
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: bug, android

#1988 feat(dom): refactor animation
  dom/include/dom/animation/animation.h
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/animation/animation_set.h
  dom/include/dom/animation/cubic_bezier_animation.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/animation/animation_set.cc
  dom/src/dom/animation/cubic_bezier_animation.cc
  driver/js/core/src/modules/animation_module.cc
Labels: enhancement, core, driver, dom

#1970 fix(android): fix occasional crash when jsi convert
  android/sdk/src/main/jni/include/jni/convert_utils.h
  android/sdk/src/main/jni/src/jni/convert_utils.cc
Labels: bug, android

#1990 fix(core): add ios dimensions getter & setter and combine logic
  core/js/entry/android/hippy.js
  core/js/entry/ios/hippy.js
  core/js/global/Dimensions.js
  core/js/global/android/Dimensions.js
  core/js/global/ios/Dimensions.js
  core/js/global/ios/global.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
Labels: bug, enhancement, core, js

#1978 feat(android): restructure pull header and footer
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/PullFooterRenderNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/PullHeaderRenderNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PreloadHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterEventHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderEventHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/FooterExposureHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/IFooterLoadMoreListener.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/footer/IFooterLoadingView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/HeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderRefreshListener.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderRefreshView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/IHeaderStatusListener.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/header/ILayoutRequester.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/list/HippyListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/FooterUtil.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullFooterView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullFooterViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
Labels: enhancement, android

#1983 fix(android): should catch exception from CookieManager.getInstance()
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: bug, android

#1993 fix(android): gesture event not need to check register
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextImageSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/EventUtils.java
Labels: bug, android, renderer

#1994 chore(android): remove animation module form driver
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyCoreAPI.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/RenderProcessInterceptor.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/Animation.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/AnimationFrameModule.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/AnimationModule.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/AnimationNode.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/AnimationSet.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/BezierInterpolator.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/TimingAnimation.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/ValueTransformer.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/proxy/framework/JSFrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: android, modules, driver, renderer

#1995 fix(text_input): enable event callbacks of TextInput
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: enhancement, android, renderer

#742 feat(android): support wrap-reverse and space-evenly
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/flex/FlexAlign.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/flex/FlexJustify.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/StyleNode.java
  android/sdk/src/main/java/com/tencent/smtt/flexbox/FlexNodeStyle.java
Labels: enhancement, android

#1998 feat(dom): move test directory and change unittests file name
  dom/CMakeLists.txt
  dom/src/dom/deserializer_unittests.cc
  dom/src/dom/dom_manager_unittests.cc
  dom/src/dom/dom_value_unittests.cc
  dom/src/dom/serializer_unittests.cc
  dom/tests/.clang-format
  dom/tests/CMakeLists.txt
  dom/tests/dependency/create_node.json
  dom/tests/main.cc
Labels: enhancement, dom

#1999 feat(dom): standardize build script and fix lint problem
  dom/CMakeLists.txt
  dom/include/dom/animation/animation_manager.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/cubic_bezier_animation.cc
Labels: enhancement, dom

#2000 feat(native_renderer): standardize build script
  renderer/native/android/src/main/jni/CMakeLists.txt
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: enhancement, android, renderer

#2001 fix(ios): ceil width and height that text layout needs
  driver/js/ios/utils/HippyLogging.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
Labels: bug, ios, driver, renderer

#2003 fix(ios): fix a bug that fetch a wrong frame due to transform
  renderer/native/ios/renderer/component/view/HippyView.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: bug, ios, renderer

#2005 refactor(ios): move measure method from uimanager to view manager
  renderer/native/ios/renderer/HippyComponentData.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/utils/HippyDefines.h
Labels: ios, renderer

#1968 add network module to voltron
  devtools/devtools-backend/include/api/adapter/devtools_network_adapter.h
  devtools/devtools-backend/include/api/devtools_data_provider.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_loading_finished.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_request.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_response.h
  devtools/devtools-backend/include/api/notification/default/default_network_notification.h
  devtools/devtools-backend/include/module/domain/network_domain.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_loading_finished.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_request.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_response.cc
  devtools/devtools-backend/src/api/notification/default/default_network_notification.cc
  devtools/devtools-backend/src/module/domain/network_domain.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/flutter/cmake/framework_core.cmake
  driver/js/flutter/core/include/ffi/bridge_ffi_impl.h
  driver/js/flutter/core/src/bridge/android/bridge_impl.cc
  driver/js/flutter/core/src/bridge/android/bridge_impl.h
  driver/js/flutter/core/src/bridge/ios/VoltronFlutterBridge.h
  driver/js/flutter/core/src/bridge/ios/VoltronFlutterBridge.mm
  driver/js/flutter/core/src/bridge/ios/VoltronJSCExecutor.mm
  driver/js/flutter/core/src/bridge/ios/VoltronJavaScriptExecutor.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.mm
  driver/js/flutter/core/src/ffi/bridge_ffi_impl.cc
  driver/js/flutter/lib/bridge/bridge_define.dart
  driver/js/flutter/lib/bridge/voltron_api.dart
  driver/js/flutter/lib/bridge/voltron_bridge.dart
  driver/js/flutter/lib/devtools/network_inspector.dart
  driver/js/flutter/lib/engine/js_engine_context.dart
  driver/js/flutter/lib/inspector/dev.dart
  driver/js/flutter/script/build.py
  renderer/flutter/core/src/render/ffi/bridge_manager.cc
  renderer/flutter/lib/controller/controller.dart
  renderer/flutter/lib/util/devtools_util.dart
Labels: core, driver, renderer, flutter, devtools

#2006 fix(dom): fix animation bug
  dom/include/dom/animation/animation_set.h
  dom/src/dom/animation/animation_set.cc
Labels: bug, dom

#2007 refactor(ios): remove legacy code for 2.0 dev tools
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/debug/devtools/HippyDevManager.h
  driver/js/ios/debug/devtools/HippyDevManager.mm
  driver/js/ios/debug/devtools/HippyDevWebSocketClient.h
  driver/js/ios/debug/devtools/HippyDevWebSocketClient.m
  driver/js/ios/debug/devtools/inspector/HippyDevCommand.h
  driver/js/ios/debug/devtools/inspector/HippyDevCommand.m
  driver/js/ios/debug/devtools/inspector/HippyInspector.h
  driver/js/ios/debug/devtools/inspector/HippyInspector.m
  driver/js/ios/debug/devtools/inspector/domain/HippyCSSDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyCSSDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyDomDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyDomDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyInspectorDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyInspectorDomain.mm
  driver/js/ios/debug/devtools/inspector/domain/HippyPageDomain.h
  driver/js/ios/debug/devtools/inspector/domain/HippyPageDomain.mm
  driver/js/ios/debug/devtools/inspector/model/HippyCSSModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyCSSModel.mm
  driver/js/ios/debug/devtools/inspector/model/HippyCSSPropsDefine.h
  driver/js/ios/debug/devtools/inspector/model/HippyCSSPropsDefine.m
  driver/js/ios/debug/devtools/inspector/model/HippyDomModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyDomModel.mm
  driver/js/ios/debug/devtools/inspector/model/HippyPageModel.h
  driver/js/ios/debug/devtools/inspector/model/HippyPageModel.mm
  renderer/native/ios/renderer/HippyInvalidating.h
Labels: ios, demo, driver, renderer

#2009 feat(hippy-vue): add animaiton actionsDidUpdate hook
  docs/hippy-vue/external-components.md
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/modules/Animation/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/color-change.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/cubic-bezier.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/loop.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-animation.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-vue-native-components/src/animation.js
Labels: documentation, enhancement, demo, driver, js

#2011 feat(dom): add snapshot
  dom/include/dom/deserializer.h
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/src/dom/deserializer.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/ios/base/HippyBridge.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/utils/HippyDomNodeUtils.mm
Labels: enhancement, android, ios, demo, driver, renderer, dom

#2016 fix(docker): use 2.7 version of `get-pip.py` instead
  docker/android-release/Dockerfile
Labels: bug

#2013 refactor(ios): remove legacy animation code
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/module/animation/CALayer+HippyAnimation.h
  driver/js/ios/module/animation/CALayer+HippyAnimation.m
  driver/js/ios/module/animation/HippyAnimation+Group.h
  driver/js/ios/module/animation/HippyAnimation+Value.h
  driver/js/ios/module/animation/HippyAnimation+Value.mm
  driver/js/ios/module/animation/HippyAnimation.h
  driver/js/ios/module/animation/HippyAnimation.mm
  driver/js/ios/module/animation/HippyAnimationGroup.h
  driver/js/ios/module/animation/HippyAnimationGroup.mm
  driver/js/ios/module/animation/HippyAnimationModule.h
  driver/js/ios/module/animation/HippyAnimationModule.mm
  driver/js/ios/module/animation/HippyAnimationViewParams.h
  driver/js/ios/module/animation/HippyAnimationViewParams.mm
  driver/js/ios/module/animation/HippyAnimator.h
  driver/js/ios/module/animation/HippyAnimator.mm
  driver/js/ios/module/animation/RSTimingFunction.h
  driver/js/ios/module/animation/RSTimingFunction.m
  driver/js/ios/module/animation/TimingAnimation.h
  driver/js/ios/module/animation/TimingAnimation.mm
  driver/js/ios/module/animation/TimingAnimationCollection.h
  driver/js/ios/module/animation/TimingAnimationCollection.mm
  driver/js/ios/module/animation/TimingAnimationVSync.h
  driver/js/ios/module/animation/TimingAnimationVSync.m
  renderer/native/ios/renderer/HippyRenderContext.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/RenderVsyncManager.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.h
  renderer/native/ios/renderer/component/view/HippyView+HippyViewAnimation.h
  renderer/native/ios/renderer/component/view/HippyView+HippyViewAnimation.mm
  renderer/native/ios/renderer/component/view/UIView+HippyAnimationProtocol.h
  renderer/native/ios/renderer/component/view/UIView+HippyAnimationProtocol.mm
Labels: ios, demo, driver, renderer

#2017 fix(ios): fix memory leaks due to lack of autoreleasepool
  renderer/native/ios/renderer/HippyFont.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
Labels: bug, ios, renderer

#2018 ci(workflows): optimize the use of `HIP`
  .github/workflows/3rd_prebuilt_v8.yml
  docker/android-release/Dockerfile
Labels: ci

#2014 refactor(cmake): refactor build scripts using modernized cmake
  android/sdk/gradle.properties
  android/sdk/src/main/jni/CMakeLists.txt
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
  android/sdk/src/main/jni/src/bridge/js2java.cc
  android/sdk/src/main/jni/src/jni/convert_utils.cc
  android/sdk/src/main/jni/src/jni/java_turbo_module.cc
  core/CMakeLists.txt
  core/include/core/napi/v8/js_native_api_v8.h
  core/src/napi/v8/js_native_turbo_v8.cc
Labels: android, core

#2020 feat(devtools): fix error invalidate reason
  driver/js/ios/base/HippyBridge.h
  driver/js/ios/base/HippyBridge.mm
  renderer/native/ios/renderer/HippyInvalidating.h
Labels: enhancement, ios, driver, renderer

#2019 feat(dom): optimize the operation of handling event listeners
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: enhancement, android, renderer

#2021 fix(ios): fix memory leaks
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/utils/HippyLog.mm
Labels: bug, ios

#2022 fix(ios): fix memory leaks
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  driver/js/ios/utils/HippyLogging.mm
Labels: bug, ios, driver

#2023 refactor(demo): perf react&vue demo
  docs/hippy-react/modules.md
  docs/hippy-vue/introduction.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/package.json
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  examples/hippy-react-demo/src/components/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/package.json
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  examples/hippy-vue-demo/src/components/list-items/style1.js
  examples/hippy-vue-demo/src/components/list-items/style2.js
  examples/hippy-vue-demo/src/components/list-items/style5.js
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-react/src/components/pull-footer.tsx
Labels: documentation, demo, js

#2026 fix(cmake): fix `core.modules` not automatically registered problem
  android/sdk/src/main/jni/CMakeLists.txt
  core/CMakeLists.txt
Labels: bug, android, core

#2027 refactor(demo): perf react&vue demo
  docs/hippy-react/modules.md
  docs/hippy-vue/introduction.md
  docs/hippy-vue/vue-native.md
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  driver/js/examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  driver/js/examples/hippy-react-demo/src/components/index.js
  driver/js/examples/hippy-react-demo/src/routes.js
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-list.vue
  driver/js/examples/hippy-vue-demo/src/components/list-items/style1.js
  driver/js/examples/hippy-vue-demo/src/components/list-items/style2.js
  driver/js/examples/hippy-vue-demo/src/components/list-items/style5.js
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-react/src/components/pull-footer.tsx
Labels: documentation, demo, driver, js

#2025 refactor(cmake): optimize build scripts using modernized cmake
  devtools/devtools-backend/CMakeLists.txt
  dom/CMakeLists.txt
  driver/js/android/gradle.properties
  driver/js/android/src/main/jni/CMakeLists.txt
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/android/src/main/jni/src/bridge/java2js.cc
  driver/js/core/CMakeLists.txt
  layout/CMakeLists.txt
  renderer/native/android/src/main/jni/CMakeLists.txt
Labels: android, core, driver, renderer, dom, layout, devtools

#2028 feat(devtools): support remote debug
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineHost.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManager.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevFactory.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevRemoteServerData.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerConfig.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerHelper.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImplDisable.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevSupportManager.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/BaseActivity.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivityDeprecated.java
  driver/js/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/module/TestModule.java
Labels: enhancement, android, demo, driver

#2029 fix(android): pull foot and header can exist at same time
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: bug, android

#2032 chore(cmake): introduce `GlobalPackages` to improve project cohesion
  android/sdk/src/main/jni/CMakeLists.txt
  buildconfig/cmake/GlobalPackagesModule.cmake
  buildconfig/cmake/InfraPackagesModule.cmake
  buildconfig/cmake/compiler_toolchain.cmake
  core/CMakeLists.txt
Labels: android, core

#2033 fix(android): crash of sticky item view
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/refresh/HippyPullHeaderViewController.java
Labels: bug, android

#2030 feat(devtools): fix ios profile error and update ENABLE_INSPECTOR
  devtools/devtools-backend/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/flutter/cmake/framework_core.cmake
Labels: enhancement, demo, driver, flutter, dom, devtools

#2034 refactor(js): move js related scripts to driver/js
  .eslintignore
  .github/workflows/frontend_build_tests.yml
  .github/workflows/frontend_build_tests_bypass.yml
  .husky/pre-commit
  .npmignore
  PUBLISH.md
  PUBLISH.zh_CN.md
  README.md
  README.zh_CN.md
  driver/js/.eslintignore
  driver/js/.eslintrc.js
  driver/js/.nycrc
  driver/js/ava.config.js
  driver/js/lerna.json
  driver/js/lint-staged.config.js
  driver/js/package-lock.json
  driver/js/package.json
  driver/js/packages/hippy-react/src/components/focusable.tsx
  driver/js/scripts/build-core.js
  driver/js/scripts/build-debug-server.js
  driver/js/scripts/build-example.js
  driver/js/scripts/build.js
  driver/js/scripts/debug-example.js
  driver/js/scripts/flow-remove-types.js
  driver/js/scripts/init-example.js
  driver/js/scripts/mock-global.js
  driver/js/scripts/react-configs.js
  driver/js/scripts/vue-configs.js
  driver/js/tsconfig.json
  package-lock.json
  package.json
Labels: documentation, driver, js, ci

#2012 feat(devtools): change to debug-server-next
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/package.json
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.web.js
  driver/js/examples/hippy-react-demo/src/app.jsx
  driver/js/examples/hippy-react-demo/src/components/Image/index.jsx
  driver/js/examples/hippy-react-demo/src/externals/DyanmicImport/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/WebSocket/README.md
  driver/js/examples/hippy-react-demo/src/pages/debug.jsx
  driver/js/examples/hippy-react-demo/src/pages/remote-debug.jsx
  driver/js/examples/hippy-vue-demo/package.json
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-vue-demo/src/app.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-dynamicimport.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  driver/js/examples/hippy-vue-demo/src/pages/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/remote-debug.vue
  driver/js/examples/hippy-vue-demo/src/routes.js
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/packages/hippy-debug-server/hippy-debug.js
  driver/js/packages/hippy-debug-server/hippy-dev.js
  driver/js/packages/hippy-react/src/hippy.ts
Labels: documentation, enhancement, demo, driver, js

#2036 ci(js): add node_modules cache
  .github/workflows/docs_markdown_lint.yml
  .github/workflows/frontend_build_tests.yml
  .github/workflows/git_commit_lint.yml
  driver/js/scripts/build-example.js
  driver/js/scripts/init-example.js
Labels: enhancement, driver, js, ci

#2037 fix(ios): fix scroll parameter of scrollto method
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
Labels: bug, ios, renderer

#2024 fix(ios): fix a crash caused by thread race
  ios/sdk/base/HippyBatchedBridge.mm
Labels: bug, ios

#2040 fix(ios): fix refresh component delay reset bug
  ios/sdk/component/refresh/HippyRefresh.m
Labels: bug, ios

#2041 fix(ios): fix refresh component delay reset bug
  renderer/native/ios/renderer/component/refresh/HippyRefresh.mm
Labels: bug, ios, renderer

#2038 feat(devtools): add comments for cmake
  devtools/devtools-backend/CMakeLists.txt
  dom/tests/CMakeLists.txt
  driver/js/flutter/cmake/framework_core.cmake
Labels: enhancement, driver, flutter, dom, devtools

#2042 feat(devtools): update context name to frontend
  driver/js/core/src/scope.cc
Labels: enhancement, core, driver

#2045 fix(dom): fix animation cb crash
  driver/js/core/src/modules/animation_module.cc
Labels: bug, core, driver

#2047 fix(ios): fix refresh bug for header refresh and footer refresh
  ios/sdk/component/footerrefresh/HippyFooterRefresh.m
  ios/sdk/component/headerrefresh/HippyHeaderRefresh.m
Labels: bug, ios

#2050 ci(workflows): new for auto checks approval robot
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

#2049 ci(workflows): new for auto checks approval robot
  .github/workflows/gh_pr_checks_approval.yml
Labels: ci

#1910 docs(hippy-vue): add en-us docs
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/hippy-vue/components.md
  docs/en-us/hippy-vue/customize.md
  docs/en-us/hippy-vue/external-components.md
  docs/en-us/hippy-vue/introduction.md
  docs/en-us/hippy-vue/native-event.md
  docs/en-us/hippy-vue/router.md
  docs/en-us/hippy-vue/vue-native.md
Labels: documentation

#2052 fix(ios): fix border bottom color display error
  ios/sdk/component/view/HippyView.m
Labels: bug, ios

#2053 fix(ios): check cookie availabity before commit
  ios/sdk/module/network/HippyNetWork.m
Labels: bug, ios

#2054 fix(ios): fix border bottom color display error
  renderer/native/ios/renderer/component/view/HippyView.h
  renderer/native/ios/renderer/component/view/HippyView.mm
Labels: bug, ios, renderer

#2055 fix(ios): check cookie availabity before commit
  driver/js/ios/module/network/HippyNetWork.m
Labels: bug, ios, driver

#2056 refactor(examples): update listview demo
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

#1991 fix(android): fix occasional crash when jsi convert
  driver/js/android/src/main/jni/include/jni/convert_utils.h
  driver/js/android/src/main/jni/src/jni/convert_utils.cc
Labels: bug, android, driver

#2061 refactor(examples): add borderStyle
  driver/js/examples/android-demo/res/index.android.js
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/hippy-react-demo/src/app.jsx
  driver/js/examples/hippy-react-demo/src/components/Image/index.jsx
  driver/js/examples/hippy-react-demo/src/components/Modal/index.jsx
  driver/js/examples/hippy-react-demo/src/components/RippleViewAndroid/index.jsx
  driver/js/examples/hippy-react-demo/src/components/ScrollView/index.jsx
  driver/js/examples/hippy-react-demo/src/components/Text/index.jsx
  driver/js/examples/hippy-react-demo/src/components/TextInput/index.jsx
  driver/js/examples/hippy-react-demo/src/components/View/index.jsx
  driver/js/examples/hippy-react-demo/src/components/WebView/index.jsx
  driver/js/examples/hippy-react-demo/src/externals/TabHost/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/Animation/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/AsyncStorage/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/NativeEvent/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  driver/js/examples/hippy-react-demo/src/pages/gallery.jsx
  driver/js/examples/hippy-react-demo/src/shared/PagerItemView.jsx
  driver/js/examples/hippy-vue-demo/src/app.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-div.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-img.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-input.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-websocket.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  driver/js/examples/hippy-vue-demo/src/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/menu.vue
  driver/js/examples/hippy-vue-demo/src/pages/remote-debug.vue
  driver/js/examples/ios-demo/res/index.ios.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/index.android.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
Labels: demo, driver, flutter, js

#2064 refactor(examples): add borderStyle
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/app.jsx
  examples/hippy-react-demo/src/components/Image/index.jsx
  examples/hippy-react-demo/src/components/Modal/index.jsx
  examples/hippy-react-demo/src/components/RippleViewAndroid/index.jsx
  examples/hippy-react-demo/src/components/ScrollView/index.jsx
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-react-demo/src/components/TextInput/index.jsx
  examples/hippy-react-demo/src/components/View/index.jsx
  examples/hippy-react-demo/src/components/WebView/index.jsx
  examples/hippy-react-demo/src/externals/TabHost/index.jsx
  examples/hippy-react-demo/src/modules/Animation/index.jsx
  examples/hippy-react-demo/src/modules/AsyncStorage/index.jsx
  examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  examples/hippy-react-demo/src/modules/NativeEvent/index.jsx
  examples/hippy-react-demo/src/modules/NetInfo/index.jsx
  examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  examples/hippy-react-demo/src/pages/gallery.jsx
  examples/hippy-react-demo/src/shared/PagerItemView.jsx
  examples/hippy-vue-demo/src/app.vue
  examples/hippy-vue-demo/src/components/demos/demo-div.vue
  examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  examples/hippy-vue-demo/src/components/demos/demo-img.vue
  examples/hippy-vue-demo/src/components/demos/demo-input.vue
  examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  examples/hippy-vue-demo/src/components/demos/demo-websocket.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-down.vue
  examples/hippy-vue-demo/src/components/native-demos/animations/vote-up.vue
  examples/hippy-vue-demo/src/pages/menu.vue
  examples/hippy-vue-demo/src/pages/remote-debug.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
Labels: demo, js

#2063 refactor(android): rebuild NetworkModule and DefaultHttpAdapter
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: android

#2068 feat(ios): make item view be a subclass of hippyview
  ios/sdk/component/listview/HippyBaseListItemView.h
  ios/sdk/component/waterfalllist/HippyWaterfallItemView.h
Labels: enhancement, ios

#2067 feat(ios): adjust borderColor display conditions
  renderer/native/ios/renderer/component/view/HippyBorderDrawing.m
  renderer/native/ios/renderer/component/view/HippyBorderStyle.h
  renderer/native/ios/renderer/component/view/HippyView.mm
  renderer/native/ios/utils/HippyConvert.mm
Labels: enhancement, ios, renderer

#2069 feat(hippy-react-web): support tree-sharking & fix issues
  packages/hippy-react-web/package.json
  packages/hippy-react-web/src/components/scroll-view.tsx
  packages/hippy-react-web/src/index.ts
  packages/hippy-react-web/src/modules/net-info.ts
  packages/hippy-react-web/src/native.ts
  packages/hippy-react-web/src/utils/index.ts
  scripts/build.js
  scripts/react-configs.js
Labels: enhancement, js

#2066 fix(ios): modify cookie setting logic
  ios/sdk/module/network/HippyNetWork.m
Labels: bug, ios

#2070 feat(ios): make item view be a subclass of hippyview
  renderer/native/ios/renderer/component/listview/HippyBaseListItemView.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallItemView.h
Labels: enhancement, ios, renderer

#2072 docs(cookies): update cookies introduction
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
Labels: documentation

#2073 feat(devtools): remove ios inspector instance
  ios/sdk/debug/devtools/HippyDevManager.m
  ios/sdk/debug/devtools/inspector/HippyInspector.h
  ios/sdk/debug/devtools/inspector/HippyInspector.m
Labels: enhancement, ios

#2074 refactor(android): rebuild NetworkModule and DefaultHttpAdapter
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpAdapter.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
  driver/js/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: android, driver

#2076 docs(en-us): update english doc
  docs/_navbar.md
  docs/en-us/README.md
  docs/en-us/_navbar.md
  docs/en-us/android/_sidebar.md
  docs/en-us/guide/_sidebar.md
  docs/en-us/guide/support.md
  docs/en-us/hippy-react/_sidebar.md
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/structure/_sidebar.md
  docs/en-us/structure/core.md
Labels: documentation

#2077 fix(android): remove unnecessary dir form git ignore
  .gitignore
Labels: bug

#2078 refactor(ios): remove unused method statement
  ios/sdk/component/listview/HippyBaseListView.h
Labels: ios

#2085 Docs/code owner
  .github/CODEOWNERS
  .github/labeler.yml
Labels: ci

#2088 ci(workflows): add `CodeQL` code security scanning tool
  .github/workflows/security_codeql_analyses.yml
  .github/workflows/security_codeql_analyses_bypass.yml
Labels: ci

#2091 fix(ios): use smart pointer instead of non-smart pointer
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: bug, ios

#2092 fix(ios): use smart pointer instead of non-smart pointer
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: bug, ios, driver

#2087 feat(hippy-react-web): fix web style issues
  examples/hippy-react-demo/scripts/template.html
  packages/hippy-react-web/README.md
  packages/hippy-react-web/src/adapters/hide-scrollbar.ts
  packages/hippy-react-web/src/components/list-view.tsx
  packages/hippy-react-web/src/components/refresh-wrapper.tsx
  packages/hippy-react-web/src/components/scroll-view.tsx
  packages/hippy-react-web/src/components/text.tsx
  packages/hippy-react-web/src/components/view-pager.tsx
  packages/hippy-react-web/src/components/view.tsx
  packages/hippy-react-web/src/constants.ts
Labels: documentation, enhancement, demo, js

#2094 ci(codeowners): update codeowners file
  .github/CODEOWNERS
Labels: ci

#2095 ci(codeowner): update codeowner file
  .github/CODEOWNERS
Labels: ci

#2096 fix(workflows): fix CodeQL analysis failure problem
  .github/workflows/security_codeql_analyses.yml
Labels: bug, ci

#2086 feat(devtools): support multi root view
  devtools/devtools-backend/include/api/adapter/devtools_dom_tree_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_elements_request_adapter.h
  devtools/devtools-backend/include/api/devtools_data_provider.h
  devtools/devtools-backend/include/api/devtools_notification_center.h
  devtools/devtools-backend/include/api/notification/default/default_dom_tree_notification.h
  devtools/devtools-backend/include/api/notification/devtools_dom_tree_notification.h
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  driver/js/android/gradle.properties
  driver/js/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/CMakeLists.txt
  driver/js/core/include/devtools/adapter/hippy_dom_tree_adapter.h
  driver/js/core/include/devtools/adapter/hippy_screen_adapter.h
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/include/devtools/devtools_utils.h
  driver/js/core/include/devtools/hippy_dom_data.h
  driver/js/core/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_elements_request_adapter.cc
  driver/js/core/src/devtools/adapter/impl/hippy_screen_adapter.cc
  driver/js/core/src/devtools/devtools_data_source.cc
  driver/js/core/src/devtools/devtools_utils.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/ios/base/HippyBatchedBridge.mm
  driver/js/ios/base/HippyBridge.mm
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: enhancement, android, ios, demo, core, driver, devtools

#2098 feat(dom): support capture parameter in addEventListener function
  dom/include/dom/scene_builder.h
  dom/src/dom/deserializer.cc
  dom/src/dom/scene_builder.cc
  driver/js/core/include/core/napi/js_native_api_types.h
  driver/js/core/include/core/napi/jsc/js_native_api_jsc.h
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/modules/scene_builder.cc
  driver/js/core/src/napi/jsc/js_native_api_jsc.cc
  driver/js/core/src/napi/v8/js_native_api_v8.cc
Labels: enhancement, core, driver, dom

#2101 feat(react,vue): support event capture & bubbling
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/element-node.ts
  driver/js/packages/hippy-react/src/event/dispatcher.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
Labels: enhancement, demo, driver, flutter, js

#2100 ci(workflows): optimize CodeQL analysis when PRs
  .github/workflows/security_codeql_analyses.yml
  .github/workflows/security_codeql_analyses_bypass.yml
Labels: ci

#2103 fix(workflows): fix CodeQL not working as expected
  .github/workflows/security_codeql_analyses.yml
Labels: bug, ci

#2104 ci(workflows): remove CodeQL paths ignore
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2108 fix(android): implicit narrowing conversion in compound assignment
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyImageSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyLineHeightSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/recyclerview/RecyclerViewBase.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/recyclerview/Scroller.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
Labels: bug, android

#2109 fix(ios): fix potentian crash due to dangling pointer
  ios/sdk/component/image/HippyImageView.m
Labels: bug, ios

#2113 fix(hippy-vue): fix referendeNode not found error
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/view-node.js
Labels: bug, driver, js

#2110 fix(ios): fix potentian crash due to dangling pointer
  renderer/native/ios/renderer/component/image/HippyImageView.m
Labels: bug, ios, renderer

#2115 feat(workflows): optimize logic to reduce misjudgment
  .github/workflows/gh_pr_checks_approval.yml
Labels: enhancement, ci

#2117 refactor(ios): add autorelease pool for bundle load scope
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: ios

#2118 refactor(ios): add autorelease pool for bundle load scope
  driver/js/ios/base/executors/HippyJSCExecutor.mm
Labels: ios, driver

#2119 ci(workflows): enable CodeQL analyses on PRs
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2125 refactor(debug-server): remove debug-server package from Hippy repo
  .eslintignore
  .gitignore
  README.md
  packages/hippy-debug-server/.npmignore
  packages/hippy-debug-server/CHANGELOG.md
  packages/hippy-debug-server/README.md
  packages/hippy-debug-server/hippy-debug.js
  packages/hippy-debug-server/hippy-dev.js
  packages/hippy-debug-server/index.js
  packages/hippy-debug-server/package-lock.json
  packages/hippy-debug-server/package.json
  packages/hippy-debug-server/server/index.js
  packages/hippy-debug-server/server/webpack.js
  packages/hippy-debug-server/server/websocketProxy.js
  packages/hippy-debug-server/utils/content.js
  packages/hippy-debug-server/utils/exec.js
  packages/hippy-debug-server/utils/index.js
  packages/hippy-debug-server/utils/logger.js
  packages/hippy-debug-server/utils/mimes.js
  packages/hippy-debug-server/utils/watcher.js
  packages/hippy-debug-server/webpack-dev-server/babel.config.js
  packages/hippy-debug-server/webpack-dev-server/client-src/clients/WebSocketClient.js
  packages/hippy-debug-server/webpack-dev-server/client-src/hot/dev-server.js
  packages/hippy-debug-server/webpack-dev-server/client-src/hot/emitter.js
  packages/hippy-debug-server/webpack-dev-server/client-src/hot/log-apply-result.js
  packages/hippy-debug-server/webpack-dev-server/client-src/hot/log.js
  packages/hippy-debug-server/webpack-dev-server/client-src/hot/only-dev-server.js
  packages/hippy-debug-server/webpack-dev-server/client-src/index.js
  packages/hippy-debug-server/webpack-dev-server/client-src/modules/logger/SyncBailHookFake.js
  packages/hippy-debug-server/webpack-dev-server/client-src/modules/logger/index.js
  packages/hippy-debug-server/webpack-dev-server/client-src/overlay.js
  packages/hippy-debug-server/webpack-dev-server/client-src/socket.js
  packages/hippy-debug-server/webpack-dev-server/client-src/utils/apply-reload.js
  packages/hippy-debug-server/webpack-dev-server/client-src/utils/createSocketURL.js
  packages/hippy-debug-server/webpack-dev-server/client-src/utils/log.js
  packages/hippy-debug-server/webpack-dev-server/client-src/utils/parseURL.js
  packages/hippy-debug-server/webpack-dev-server/client-src/utils/reloadApp.js
  packages/hippy-debug-server/webpack-dev-server/client-src/webpack.config.js
  packages/hippy-debug-server/webpack-dev-server/lib/Server.js
  packages/hippy-debug-server/webpack-dev-server/lib/options.json
  packages/hippy-debug-server/webpack-dev-server/lib/servers/BaseServer.js
  packages/hippy-debug-server/webpack-dev-server/lib/servers/SockJSServer.js
  packages/hippy-debug-server/webpack-dev-server/lib/servers/WebsocketServer.js
  packages/hippy-vue-loader/README.md
  scripts/build-debug-server.js
  scripts/build.js
Labels: documentation, js

#2123 fix(dom): fix addEventListener crash error
  driver/js/core/src/modules/scene_builder.cc
Labels: bug, core, driver

#2126 fix(android): reset hippy view group clip children to true
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/view/HippyViewGroup.java
Labels: bug, android

#2133 Fix/view pager
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPagerController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippypager/PageSelectNotifier.java
Labels: bug, android

#2129 fix(core): fix CreateJSCString bug
  core/src/napi/jsc/js_native_api_value_jsc.cc
Labels: bug, core

#2136 fix(react,vue): fix event register error
  driver/js/examples/android-demo/res/vendor.android.js
  driver/js/examples/ios-demo/res/vendor.ios.js
  driver/js/flutter/example/jsbundle/hippy-react-demo/android/vendor.android.js
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/element-node.ts
  driver/js/packages/hippy-react/src/event/dispatcher.ts
  driver/js/packages/hippy-react/src/event/event.ts
  driver/js/packages/hippy-react/src/utils/node.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/event/__tests__/dispatcher.test.js
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
  driver/js/packages/hippy-vue/src/renderer/native/event/event.js
  driver/js/packages/hippy-vue/src/util/node.js
Labels: bug, demo, driver, flutter, js

#2131 feat(dom): adjust dom event bubble order
  dom/src/dom/root_node.cc
Labels: enhancement, dom

#2132 feat(dom): support dom event phase
  dom/include/dom/dom_event.h
  dom/src/dom/root_node.cc
  driver/js/core/include/core/napi/v8/js_native_api_v8.h
  driver/js/core/src/modules/event_module.cc
Labels: enhancement, core, driver, dom

#2138 fix(ios): fix undo crash for uitextfiled component
  ios/sdk/component/textinput/HippyTextField.m
Labels: bug, ios

#2140 fix(ios): fix potential crash due to dangling pointer
  ios/sdk/base/HippyBatchedBridge.mm
Labels: bug, ios

#2139 fix(ios): fix undo crash for uitextfiled component
  renderer/native/ios/renderer/component/textinput/HippyTextField.mm
Labels: bug, ios, renderer

#2141 fix(ios): fix potential crash due to dangling pointer
  driver/js/ios/base/HippyBatchedBridge.mm
Labels: bug, ios, driver

#2142 Fix/get item node
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/HippyViewUtil.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/common/ClipChildrenView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippypager/HippyPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/refresh/RefreshWrapper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallView.java
Labels: bug, android, renderer

#2145 feat(dom): adjust static render manager map to presistent object map
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/third_party/base/include/base/persistent_object_map.h
  renderer/native/android/src/main/jni/include/render/native_render_manager.h
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
  renderer/native/android/src/main/jni/src/render/native_render_manager.cc
Labels: enhancement, android, dependencies, core, driver, renderer

#2148 fix(devtools): fix mini scale for screen cast
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/model/PageModel.java
Labels: bug, android

#2149 fix(hippy-vue): remove unused code
  driver/js/packages/hippy-vue/src/renderer/native/event/dispatcher.js
Labels: bug, driver, js

#2150 ci(workflows): update stale actions parameters
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

#2152 ci(workflows): update stale actions parameters
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

#2153 fix(react): add ref null judgement for getElementFromFiberRef
  packages/hippy-react/src/modules/ui-manager-module.ts
Labels: bug, js

#2155 ci(workflows): change stale startup time
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

#2156 ci(workflows): change stale startup time
  .github/workflows/gh_mark_and_close_stalled.yml
Labels: ci

#2157 fix(core): fix measureInWindow compatible issue
  driver/js/android/src/main/jni/src/bridge/native_source_code_android.cc
  driver/js/core/js/bridge/android/js2native.js
  driver/js/core/js/bridge/ios/js2native.js
  driver/js/core/js/entry/android/hippy.js
  driver/js/core/js/entry/flutter/hippy.js
  driver/js/core/js/entry/ios/hippy.js
  driver/js/flutter/core/src/bridge/native_source_code_flutter.cc
  driver/js/ios/base/native_source_code_ios.cc
Labels: bug, android, ios, core, driver, flutter, js

#2160 refactor(core): refactor corejs code
  core/js/bridge/android/js2native.js
  core/js/bridge/android/native2js.js
  core/js/bridge/ios/js2native.js
  core/js/bridge/ios/native2js.js
  core/js/global/android/global.js
  core/js/global/android/requestAnimationFrame.js
  core/js/global/ios/global.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
  packages/global.d.ts
Labels: core, js

#2122 feat(ios): remove uncall codes
  driver/js/ios/module/turbo/HippyOCTurboModule.mm
  driver/js/ios/module/turbo/NSObject+HippyTurbo.h
  driver/js/ios/module/turbo/NSObject+HippyTurbo.mm
Labels: enhancement, ios, driver

#2120 feat(ios): remove uncall codes
  ios/sdk/module/turbo/HippyOCTurboModule.mm
  ios/sdk/module/turbo/NSObject+HippyTurbo.h
  ios/sdk/module/turbo/NSObject+HippyTurbo.mm
Labels: enhancement, ios

#2158 fix(devtools): fix reload v8 reset not include devtools
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/domain/page_domain.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
  driver/js/core/include/core/runtime/v8/inspector/v8_channel_impl.h
  driver/js/core/include/core/runtime/v8/inspector/v8_inspector_client_impl.h
  driver/js/core/include/core/runtime/v8/runtime.h
  driver/js/core/src/runtime/v8/inspector/v8_channel_impl.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
Labels: bug, core, driver, devtools

#2161 fix(layout): fix layout cache error
  layout/engine/HPNode.cpp
Labels: bug, layout

#2163 fix(base): fix timer bug
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/android/src/main/jni/src/jni/turbo_module_manager.cc
  driver/js/core/include/core/engine.h
  driver/js/core/include/core/scope.h
  driver/js/core/src/modules/timer_module.cc
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/core/src/scope.cc
  driver/js/ios/base/executors/HippyJSCExecutor.mm
  modules/footstone/include/footstone/worker_manager.h
  modules/footstone/src/footstone/one_shot_timer.cc
  modules/footstone/src/footstone/thread_worker.cc
  modules/footstone/src/footstone/worker.cc
Labels: bug, android, ios, modules, core, driver
