Repository Tencent/Hippy, pull requests merged in 2022-09, with the labels that each got.

#2449 ci(workflows): adjust workflow configs to run on forks
  .github/workflows/android_build_tests.yml
  .github/workflows/docker_build_image.yml
  .github/workflows/gh_issue_crash_report.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/gh_pr_labeler.yml
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2450 ci(workflows): adjust workflow configs to run on forks
  .github/workflows/android_build_tests.yml
  .github/workflows/docker_build_image.yml
  .github/workflows/gh_issue_crash_report.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/gh_pr_labeler.yml
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2451 fix(android): text align center
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/TextDrawable.java
Labels: bug, android, renderer

#2452 chore(ios): ios project must exclude inspector files
  hippy.podspec
Labels: ios

#2453 feat(react,vue): perf print log logic & remove event attribute in props
  driver/js/.eslintignore
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/dom/element-node.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-react/src/utils/index.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/event/emitter.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
  driver/js/packages/hippy-vue/src/renderer/native/style/index.js
  driver/js/packages/hippy-vue/src/runtime/index.js
  driver/js/packages/hippy-vue/src/util/index.js
  driver/js/scripts/build-core.js
  driver/js/scripts/build-example.js
  framework/examples/android-demo/res/vendor.android.js
  framework/examples/ios-demo/res/vendor.ios.js
  framework/voltron/example/assets/jsbundle/index.android.js
  framework/voltron/example/assets/jsbundle/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/vendor.android.js
Labels: enhancement, demo, driver, js, framework

#2454 Feature/v3.0 dev
  driver/js/packages/hippy-react/src/hippy.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-react/src/utils/index.ts
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Labels: enhancement, driver, js

#2455 refactor(react,vue): fix lint issue & perf code
  .eslintrc.js
  docs/en-us/guide/debug.md
  docs/en-us/hippy-vue/native-event.md
  docs/guide/debug.md
  packages/hippy-react-web/src/components/web-view.tsx
  packages/hippy-react/src/components/image.tsx
  packages/hippy-react/src/components/refresh-wrapper.tsx
  packages/hippy-react/src/renderer/render.ts
  packages/hippy-react/src/utils/index.ts
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/renderer/native/event/emitter.js
  packages/hippy-vue/src/renderer/native/style/index.js
  packages/hippy-vue/src/runtime/index.js
  packages/hippy-vue/src/util/index.js
Labels: documentation, js

#2456 Feature/perf code
  packages/hippy-vue/src/renderer/native/index.js
Labels: enhancement, js

#2457 fix(android): should set FLAG_UPDATE_TOTAL_PROPS in create node
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderNode.java
Labels: bug, android, renderer

#2463 fix(driver): fix memory leak
  driver/js/include/driver/napi/js_native_api_types.h
  driver/js/include/driver/napi/jsc/js_native_api_jsc.h
  driver/js/include/driver/napi/v8/js_native_api_v8.h
  driver/js/src/napi/v8/js_native_api_v8.cc
  modules/footstone/include/footstone/macros.h
Labels: bug, modules, driver

#2458 chore(hippy-react-web): react-web 代码打包成 es5
  package-lock.json
  package.json
  packages/hippy-react-web/src/modules/clipboard.ts
  scripts/react-configs.js
Labels: js

#2462 feat(driver): rename RegisterDomEvent function name
  driver/js/include/driver/modules/event_module.h
  driver/js/include/driver/napi/js_native_api_types.h
  driver/js/include/driver/napi/jsc/js_native_api_jsc.h
  driver/js/include/driver/napi/v8/js_native_api_v8.h
  driver/js/include/driver/scope.h
  driver/js/src/modules/event_module.cc
  driver/js/src/napi/jsc/js_native_api_jsc.cc
  driver/js/src/napi/v8/js_native_api_v8.cc
  driver/js/src/scope.cc
Labels: enhancement, driver

#2465 docs(homepage): update qq-group to wecom group
  docs/README.md
  docs/assets/img/wechat-group.jpeg
  docs/en-us/README.md
  docs/en-us/assets/img/wechat-group.jpeg
  docs/en-us/guide/support.md
  docs/guide/support.md
Labels: documentation

#2436 refactor(ios): refactor bundle module load
  driver/js/lib/global/Others.js
  framework/android/src/main/cpp/src/bridge/native_source_code_android.cc
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/HippyBatchedBridge.mm
  framework/ios/base/HippyBridge+LocalFileSource.mm
  framework/ios/base/HippyBridge+Private.h
  framework/ios/base/HippyBridge.h
  framework/ios/base/HippyBridge.mm
  framework/ios/base/HippyBridgeDelegate.h
  framework/ios/base/HippyDisplayLink.m
  framework/ios/base/HippyJSEnginesMapper.h
  framework/ios/base/HippyJSEnginesMapper.mm
  framework/ios/base/HippyJavaScriptLoader.h
  framework/ios/base/HippyJavaScriptLoader.mm
  framework/ios/base/HippyKeyCommands.m
  framework/ios/base/HippyModuleData.mm
  framework/ios/base/HippyModuleMethod.mm
  framework/ios/base/HippyModulesSetup.h
  framework/ios/base/HippyModulesSetup.mm
  framework/ios/base/HippyRootView.h
  framework/ios/base/HippyRootView.mm
  framework/ios/base/bundleoperations/HippyBundleDownloadOperation.h
  framework/ios/base/bundleoperations/HippyBundleDownloadOperation.mm
  framework/ios/base/bundleoperations/HippyBundleExecutionOperation.h
  framework/ios/base/bundleoperations/HippyBundleExecutionOperation.mm
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.h
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.m
  framework/ios/base/executors/HippyJSExecutor.h
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/base/native_source_code_ios.cc
  framework/ios/module/dev/HippyDevLoadingView.mm
  framework/ios/module/dev/HippyDevMenu.mm
  framework/ios/module/dev/HippyRedBox.mm
  framework/ios/module/exception/HippyExceptionModule.mm
  framework/ios/module/timing/HippyTiming.mm
  framework/ios/module/turbo/HippyOCTurboModule.mm
  framework/ios/module/turbo/HippyTurboModuleManager.h
  framework/ios/module/turbo/HippyTurboModuleManager.mm
  framework/ios/utils/HippyAssert.h
  framework/ios/utils/HippyAssert.m
  framework/ios/utils/HippyDefines.h
  framework/ios/utils/HippyInstanceLoadBlock.h
  framework/ios/utils/HippyInstanceLoadBlock.m
  framework/ios/utils/HippyLog.h
  framework/ios/utils/HippyLog.mm
  renderer/native/ios/renderer/NativeRenderComponentMap.h
  renderer/native/ios/renderer/NativeRenderComponentMap.mm
  renderer/native/ios/renderer/NativeRenderContext.h
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
Labels: android, ios, demo, driver, renderer, js, framework

#2466 fix(footstone): fix infinite loop bug for iOS looper
  modules/footstone/include/footstone/driver.h
  modules/footstone/src/cv_driver.cc
  modules/footstone/src/platform/adr/looper_driver.cc
  modules/footstone/src/platform/ios/looper_driver.cc
  modules/footstone/src/worker.cc
Labels: bug, modules

#2468 feat(footstone): refactor driver
  modules/footstone/include/footstone/platform/adr/looper_driver.h
  modules/footstone/include/footstone/platform/ios/looper_driver.h
  modules/footstone/src/platform/adr/looper_driver.cc
  modules/footstone/src/platform/ios/looper_driver.cc
Labels: enhancement, modules

#2470 Feature/perf code
  packages/hippy-vue/src/renderer/native/index.js
Labels: enhancement, js

#2473 perf(ios): use respondsToSelector instead of conformsToProtocol
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: ios

#2474 fix(ios): fix touch gesture no touch.view
  ios/sdk/base/HippyTouchHandler.m
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: bug, ios

#2224 feat(android): add tdf render
  dom/src/dom/root_node.cc
  framework/android/build.gradle
  framework/android/gradle.properties
  framework/android/src/main/cpp/CMakeLists.txt
  framework/android/src/main/cpp/src/bridge/entry.cc
  framework/examples/android-demo/build.gradle
  gradle.properties
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/LinkHelper.java
  modules/android/link_supplier/src/main/java/com/tencent/link_supplier/Linker.java
  renderer/tdf/android/build.gradle
  renderer/tdf/android/src/main/AndroidManifest.xml
  renderer/tdf/android/src/main/cpp/CMakeLists.txt
  renderer/tdf/android/src/main/cpp/include/render/tdf_render_bridge.h
  renderer/tdf/android/src/main/cpp/src/render/tdf_render_bridge.cc
  renderer/tdf/android/src/main/java/com/tencent/renderer/TDFHippyRootView.java
  renderer/tdf/android/src/main/java/com/tencent/renderer/TDFRenderEngine.java
  renderer/tdf/android/src/main/java/com/tencent/renderer/TDFRenderer.java
  renderer/tdf/android/src/main/java/com/tencent/renderer/tdf/embed/TDFEmbeddedViewFactoryImpl.java
  renderer/tdf/android/src/main/java/com/tencent/renderer/tdf/embed/TDFEmbeddedViewWrapper.java
  renderer/tdf/common/CMakeLists.txt
  renderer/tdf/common/include/renderer/tdf/tdf_render_manager.h
  renderer/tdf/common/include/renderer/tdf/view/modal_view.h
  renderer/tdf/common/include/renderer/tdf/view/view_pager.h
  renderer/tdf/common/include/renderer/tdf/viewnode/base64_image_loader.h
  renderer/tdf/common/include/renderer/tdf/viewnode/embedded_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/image_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/list_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/modal_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/net_image_loader.h
  renderer/tdf/common/include/renderer/tdf/viewnode/node_attributes_parser.h
  renderer/tdf/common/include/renderer/tdf/viewnode/refresh_wrapper_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/root_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/scroll_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/text_input_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/text_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_names.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_pager_node.h
  renderer/tdf/common/src/renderer/tdf/tdf_render_manager.cc
  renderer/tdf/common/src/renderer/tdf/view/modal_view.cc
  renderer/tdf/common/src/renderer/tdf/view/view_pager.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/base64_image_loader.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/embedded_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/image_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/list_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/modal_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/net_image_loader.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/node_attributes_parser.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/refresh_wrapper_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/root_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/scroll_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/text_input_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/text_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/view_pager_node.cc
  settings.gradle
Labels: enhancement, android, demo, modules, renderer, dom, framework

#2478 feat(vue): support scoped & attribute selector
  examples/hippy-vue-demo/src/app.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-waterfall.vue
  examples/hippy-vue-demo/src/main-native.js
  packages/hippy-vue-loader/lib/loaders/pitcher.js
  packages/hippy-vue/src/index.js
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/renderer/native/index.js
  packages/hippy-vue/src/renderer/native/style/css-selectors-match.js
  packages/hippy-vue/src/renderer/native/style/css-selectors.js
  packages/hippy-vue/src/renderer/native/style/index.js
  packages/hippy-vue/src/util/index.js
Labels: enhancement, demo, js

#2479 fix(core): revert hippy1.x compatible code
  core/js/bridge/android/native2js.js
  core/js/bridge/ios/native2js.js
  core/js/global/android/global.js
  core/js/global/ios/global.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
Labels: bug, core, js

#2480 fix(debug-server): fix wepback & node md4 hash not campatible
  docs/en-us/guide/debug.md
  docs/en-us/guide/integration.md
  docs/en-us/web/integration.md
  docs/guide/debug.md
  docs/guide/integration.md
  docs/web/integration.md
  examples/hippy-react-demo/package.json
  examples/hippy-vue-demo/package.json
Labels: bug, documentation, demo

#2481 fix(debug-server): fix wepback & node md4 hash not campatible
  docs/en-us/guide/debug.md
  docs/en-us/guide/integration.md
  docs/en-us/web/integration.md
  docs/guide/debug.md
  docs/guide/integration.md
  docs/web/integration.md
  driver/js/examples/hippy-react-demo/package.json
  driver/js/examples/hippy-vue-demo/package.json
Labels: bug, documentation, demo, driver

#2482 Fix/script error
  docs/en-us/hippy-vue/style.md
  docs/hippy-vue/style.md
Labels: bug, documentation

#2485 fix(android): empty text node height compatibility
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
Labels: bug, android

#2484 fix(ios): needs to reset showing state when cell prepares for reusing
  ios/sdk/component/listview/HippyBaseListViewCell.m
Labels: bug, ios

#2486 fix(ios): needs to reset showing state when cell prepares for reusing
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewCell.mm
Labels: bug, ios, renderer

#2489 fix(android): implement `preloadItemNumber` for `ListView`
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PreloadHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
Labels: bug, android

#2490 fix(workflows): fix workflow file syntax exception
  .github/workflows/3rd_prebuilt_v8.yml
Labels: bug, ci

#2491 fix(workflows): fix workflow file syntax exception
  .github/workflows/3rd_prebuilt_v8.yml
Labels: bug, ci

#2493 fix(ios): fix memory leaks in network module
  ios/sdk/module/network/HippyNetWork.m
Labels: bug, ios

#2488 feat(android): support draw border with dash effect
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/ComponentController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BackgroundDrawable.java
Labels: enhancement, android, renderer

#2494 fix(docs, android): `expandPullHeader` method for `ListView`
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/components.md
  docs/hippy-vue/external-components.md
Labels: bug, documentation, android

#2496 fix(ios): fix array buffer data owner error
  driver/js/include/driver/napi/js_native_api_types.h
  driver/js/include/driver/napi/jsc/js_native_api_jsc.h
  driver/js/include/driver/napi/v8/js_native_api_v8.h
  driver/js/src/napi/jsc/js_native_api_value_jsc.cc
  driver/js/src/napi/v8/js_native_api_v8.cc
  framework/ios/utils/NSObject+CtxValue.mm
  framework/ios/utils/v8/NSObject+V8Value.mm
Labels: bug, ios, driver, framework

#2498 refactor(vue): perf vue code
  packages/hippy-vue/src/renderer/native/components.js
  packages/hippy-vue/src/renderer/native/event/emitter.js
  packages/hippy-vue/src/renderer/native/event/event.js
  packages/hippy-vue/src/renderer/native/index.js
  packages/hippy-vue/src/renderer/view-node.js
  packages/hippy-vue/src/runtime/directives/model.js
  packages/hippy-vue/src/runtime/directives/show.js
  packages/hippy-vue/src/runtime/index.js
  packages/hippy-vue/src/runtime/modules/style.js
  packages/hippy-vue/src/runtime/netInfo.js
Labels: js

#2499 Chore/podspec config
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.m
  framework/ios/utils/jsc/NSObject+JSValue.h
  framework/ios/utils/jsc/NSObject+JSValue.m
  hippy.podspec
Labels: ios, framework

#2501 fix(android): revised naming of onInterceptTouchEvent
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: bug, android, renderer

#2502 refactor(android): update gradle to 7.3.0
  build.gradle
  framework/android/build.gradle
  framework/examples/android-demo/build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  modules/android/hippy_support/build.gradle
  modules/android/link_supplier/build.gradle
  modules/android/serialization/build.gradle
  renderer/native/android/build.gradle
Labels: android, demo, modules, renderer, framework

#2507 fix(android): prevent `LIBRARY_VERSION` inlining
  android/sdk/build.gradle
Labels: bug, android

#2506 fix(ios): scrollview: scrollToWithDuration not trigger OnScroll
  ios/sdk/component/scrollview/HippyScrollViewManager.mm
Labels: bug, ios

#2503 Chore/podspec macro
  .github/license-check.json
  .github/workflows/ios_build_tests.yml
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/Podfile
  framework/examples/ios-demo/README.md
  framework/examples/ios-demo/cmakebuild.sh
  hippy.podspec
Labels: documentation, ios, demo, ci, framework

#2510 fix(ios): scrollview: scrollToWithDuration not trigger OnScroll
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollViewManager.mm
Labels: bug, ios, renderer

#2509 fix(android): `onPageScroll` event gives wrong value
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/viewpager/ViewPagerPageChangeListener.java
Labels: bug, android
