Repository Tencent/Hippy, pull requests merged in 2022-11, with the labels that each got.

#2595 fix(iOS): jsi convert Chinese string error
  examples/ios-demo/HippyDemo/turbomodule/TurboConfig.m
  ios/sdk/module/turbo/HippyOCTurboModule.mm
Labels: bug, ios, demo

#2599 fix(iOS): jsi convert Chinese string error
  framework/examples/ios-demo/HippyDemo/turbomodule/TurboConfig.m
  framework/ios/module/turbo/HippyOCTurboModule.mm
Labels: bug, ios, demo, framework

#2601 fix(vfs): fix weak_from_this error
  modules/vfs/native/include/vfs/uri_loader.h
Labels: bug, modules

#2602 feat(voltron): update voltron github actions
  .github/workflows/voltron_build_tests.yml
  .github/workflows/voltron_build_tests_bypass.yml
  .github/workflows/voltron_tests.yml
Labels: enhancement, ci

#2603 fix(android): pull header not showing for horizontal list
  android/sdk/src/main/java/androidx/recyclerview/widget/HippyLinearLayoutManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
Labels: bug, android

#2605 Bugfix/devtools
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: ios, demo, framework

#2606 refactor(ios): adapate cxx20 for ios demo
  core/include/core/base/file.h
  core/src/base/file.cc
  core/src/modules/contextify_module.cc
  core/src/napi/jsc/js_native_api_value_jsc.cc
  core/src/scope.cc
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyDisplayLink.m
  ios/sdk/base/HippyModuleMethod.mm
  ios/sdk/component/image/HippyImageView.m
  ios/sdk/component/modal/HippyModalHostView.m
  ios/sdk/component/view/HippyView.m
Labels: ios, demo, core

#2608 ci(workflows): add github actions for project artifact compare
  .github/workflows/project_artifact_compare.yml
Labels: ci

#2607 refactor(ios): adapate cxx20 for ios demo
  driver/js/src/modules/contextify_module.cc
  driver/js/src/napi/jsc/js_native_api_value_jsc.cc
  driver/js/src/scope.cc
  modules/footstone/src/deserializer.cc
Labels: modules, driver

#2610 fix(ios): fix reload crash bug
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyBridgeDelegate.h
  framework/ios/base/executors/HippyJSExecutor.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
Labels: bug, ios, demo, renderer, framework

#2611 fix(ios): remove test code
  framework/examples/ios-demo/HippyDemo/ViewController.mm
Labels: bug, ios, demo, framework

#2614 feat(vue): support to merge styles on root element of child component
  docs/en-us/hippy-vue/style.md
  docs/hippy-vue/style.md
  examples/hippy-vue-demo/src/components/demos/demo-dynamicimport.vue
  examples/hippy-vue-demo/src/components/demos/dynamicImport/async-component-local.vue
  examples/hippy-vue-next-demo/src/components/demo/demo-dynamicimport.vue
  examples/hippy-vue-next-demo/src/components/demo/dynamicImport/async-component-local.vue
  packages/hippy-vue-next/__test__/node-ops.test.ts
  packages/hippy-vue-next/__test__/runtime/element/hippy-element.test.ts
  packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  packages/hippy-vue-next/src/runtime/style/css-selectors.ts
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/renderer/native/style/css-selectors.js
  packages/hippy-vue/src/runtime/__tests__/node-ops.test.js
Labels: documentation, enhancement, demo, js

#2612 feat(vfs): add interceptor for vfs
  framework/android/src/main/cpp/src/bridge/entry.cc
  modules/vfs/native/include/vfs/uri_loader.h
  modules/vfs/native/src/uri_loader.cc
Labels: enhancement, android, modules, framework

#2613 refactor(ios): make project build with library
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: demo

#2615 fix(vfs): fix interceptor for vfs
  modules/vfs/native/src/uri_loader.cc
Labels: bug, modules

#2616 fix(ios): fix reload crash bug
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/examples/ios-demo/HippyDemo/vfsloader/HippyDemoLoader.mm
  framework/ios/module/dev/HippyDevMenu.mm
  modules/ios/vfsloader/VFSUriLoader.mm
Labels: bug, ios, demo, modules, framework

#2619 refactor(ios): repath ios vfs files
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  modules/ios/NSURLResponse+ToUnorderedMap.h
  modules/ios/NSURLResponse+ToUnorderedMap.mm
  modules/vfs/ios/VFSUriHandler.h
  modules/vfs/ios/VFSUriHandler.mm
  modules/vfs/ios/VFSUriLoader.h
  modules/vfs/ios/VFSUriLoader.mm
Labels: ios, demo, modules, framework

#2620 fix(ios): need to callback when url loading error
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: bug, ios

#2617 fix(android): fix setTextColor not working
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/text/HippyTextView.java
Labels: bug, android

#2618 fix(android): fix setTextColor not working
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/text/HippyTextView.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
Labels: bug, android, renderer

#2621 ci(workflows): add github actions for project calc code of lines
  .github/workflows/project_code_lines.yml
Labels: ci

#2623 fix(devtools): add enable_inspector
  framework/android/src/main/cpp/src/bridge/entry.cc
Labels: bug, android, framework

#2629 fix(devtools): voltron compile
  framework/voltron/core/CMakeLists.txt
Labels: bug, framework

#2628 ci(workflows): replaced obsolete workflow command
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/docker_build_image.yml
  .github/workflows/gh_issue_crash_report.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/hip_archive_artifact.yml
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2631 ci(workflows): replaced obsolete workflow command
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/docker_build_image.yml
  .github/workflows/gh_issue_crash_report.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/hip_archive_artifact.yml
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2630 feat(vue): support to merge styles on root element of child component
  docs/en-us/hippy-vue/style.md
  docs/hippy-vue/style.md
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-dynamicimport.vue
  driver/js/examples/hippy-vue-demo/src/components/demos/dynamicImport/async-component-local.vue
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/style/css-selectors.js
  driver/js/packages/hippy-vue/src/runtime/__tests__/node-ops.test.js
Labels: documentation, enhancement, demo, driver, js

#2632 fix(vue-css-loader): update loader-utils to safe version
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-css-loader/package.json
Labels: bug, js

#2633 fix(vue-css-loader): update loader-utils to safe version
  driver/js/packages/hippy-vue-css-loader/package-lock.json
  driver/js/packages/hippy-vue-css-loader/package.json
Labels: bug, driver, js

#2634 ci(workflows): CodeQL analyses will check all Android projects
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2635 ci(workflows): CodeQL analyses will check all Android projects
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2636 feat(workflows): add project code line exclude files support
  .github/workflows/project_code_lines.yml
Labels: enhancement, ci

#2639 fix(workflow): fix CodeQL exception when default run
  .github/workflows/security_codeql_analyses.yml
Labels: bug, ci

#2640 fix(workflow): fix CodeQL exception when default run
  .github/workflows/security_codeql_analyses.yml
Labels: bug, ci

#2637 fix(iOS): refresh header not rebound automatically
  ios/sdk/component/headerrefresh/HippyHeaderRefresh.m
Labels: bug, ios

#2638 fix(iOS): refresh header not rebound automatically
  renderer/native/ios/renderer/component/headerrefresh/NativeRenderHeaderRefresh.mm
Labels: bug, ios, renderer

#2641 ci(workflows): add ios artifact release
  .github/workflows/project_artifact_release.yml
Labels: ci

#2643 ci(workflow): add minimum V8 version test into android build tests
  .github/workflows/android_build_tests.yml
  .github/workflows/android_build_tests_bypass.yml
Labels: ci

#2644 ci(workflow): add minimum V8 version test into android build tests
  .github/workflows/android_build_tests.yml
  .github/workflows/android_build_tests_bypass.yml
Labels: ci

#2646 feat(ci): implement iOS project artifact compare
  .github/workflows/project_artifact_compare.yml
Labels: enhancement, ci

#2647 feat(workflows): iOS build tests add different configurations
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Labels: enhancement, ci

#2649 feat(voltron): optimize voltron animation
  .github/workflows/voltron_build_tests.yml
  .github/workflows/voltron_build_tests_bypass.yml
  renderer/voltron/core/include/render/ffi/bridge_manager.h
  renderer/voltron/core/include/render/queue/render_queue.h
  renderer/voltron/core/include/render/queue/render_task_runner.h
  renderer/voltron/core/src/render/ffi/bridge_manager.cc
  renderer/voltron/core/src/render/ffi/render_bridge_ffi_impl.cc
  renderer/voltron/core/src/render/queue/render_queue.cc
  renderer/voltron/core/src/render/queue/render_task_runner.cc
  renderer/voltron/core/src/render/queue/voltron_render_manager.cc
  renderer/voltron/lib/bridge/render_api.dart
  renderer/voltron/lib/bridge/render_bridge.dart
  renderer/voltron/lib/bridge/render_bridge_define.dart
  renderer/voltron/lib/controller/root_node.dart
  renderer/voltron/lib/render/manager.dart
  renderer/voltron/lib/render/node.dart
  renderer/voltron/lib/render/operator_runner.dart
  renderer/voltron/lib/render/text.dart
  renderer/voltron/lib/style/virtual_node_manager.dart
  renderer/voltron/lib/util.dart
  renderer/voltron/lib/util/choreographer_util.dart
  renderer/voltron/lib/util/log_util.dart
  renderer/voltron/lib/viewmodel/modal.dart
  renderer/voltron/lib/widget/modal.dart
  renderer/voltron/test/render_node_test.dart
  renderer/voltron/test/render_view_model_test.dart
  renderer/voltron/test/util/render_op_util.dart
Labels: enhancement, renderer, ci

#2653 feat(core): adapt to different v8 versions
  android/sdk/src/main/jni/src/v8/stack_trace.cc
Labels: enhancement, android

#2652 refactor(ios): modify project configurations
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/HippyLibrary.xcodeproj/xcshareddata/xcschemes/HippyLibrary.xcscheme
Labels: ios

#2655 feat(voltron): support flutter 3.3
  renderer/voltron/lib/widget/div.dart
Labels: enhancement, renderer

#2656 feat(workflows): change `XCode` project scheme name
  .github/workflows/project_artifact_compare.yml
Labels: enhancement, ci

#2642 fix(android): waterfall banner not affected by parent honrizon padding;
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallLayoutManager.java
Labels: bug, android

#2651 feat(android,ios,js): add getBoundingClientRect method
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/DomManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/uimanager/UIManagerModule.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderNode.java
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-vue-native.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  ios/sdk/module/uimanager/HippyUIManager.mm
  packages/global.d.ts
  packages/hippy-react/src/modules/ui-manager-module.ts
  packages/hippy-vue-next/__test__/runtime/native/index.test.ts
  packages/hippy-vue-next/src/runtime/native/index.ts
  packages/hippy-vue-next/src/types/native-modules/ui-manager-module.ts
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/runtime/native.js
Labels: documentation, enhancement, android, ios, demo, js

#2657 fix(react,vue): fix getBoundingClientRect errMsg syntax
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-vue-native.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/global.d.ts
  packages/hippy-react/src/modules/ui-manager-module.ts
  packages/hippy-vue-next/__test__/runtime/native/index.test.ts
  packages/hippy-vue-next/src/runtime/native/index.ts
  packages/hippy-vue/src/runtime/native.js
Labels: bug, demo, js

#2658 fix(ios): correct hittest when view has animation
  ios/sdk/component/view/HippyView.m
Labels: bug, ios

#2659 fix(android): edit `getBoundingClientRect` callback format
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/uimanager/UIManagerModule.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
Labels: bug, android

#2660 fix(ios): edit `getBoundingClientRect` callback format
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: bug, ios

#2664 fix(react,vue): change measureInAppWindow error return value
  packages/hippy-react/src/modules/ui-manager-module.ts
  packages/hippy-vue-next/src/runtime/native/index.ts
  packages/hippy-vue/src/runtime/native.js
Labels: bug, js

#2604 feat(voltron): add voltron doc
  docs/_navbar.md
  docs/en-us/_navbar.md
  docs/en-us/_sidebar.md
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/en-us/voltron/_sidebar.md
  docs/en-us/voltron/custom-adapter.md
  docs/en-us/voltron/custom-component.md
  docs/en-us/voltron/custom-module.md
  docs/en-us/voltron/event.md
  docs/en-us/voltron/integration.md
  docs/en-us/voltron/type-mapping.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  docs/hippy-vue/external-components.md
  docs/voltron/_sidebar.md
  docs/voltron/custom-adapter.md
  docs/voltron/custom-component.md
  docs/voltron/custom-module.md
  docs/voltron/event.md
  docs/voltron/integration.md
  docs/voltron/type-mapping.md
  renderer/voltron/lib/util/string_util.dart
Labels: documentation, enhancement, renderer

#2669 fix(ios): need to extern as C if cpp is defined
  ios/sdk/component/view/HippyBorderDrawing.h
Labels: bug, ios

#2670 feat(android): network module use vfs to fetch resource
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyResourceLoader.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyRootViewParams.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpRequest.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/HippyHttpResponse.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerHelper.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImplDisable.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevSupportManager.java
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
  modules/vfs/android/src/main/cpp/src/handler/jni_delegate_handler.cc
  modules/vfs/android/src/main/cpp/src/vfs_resource_holder.cc
  modules/vfs/android/src/main/java/com/tencent/vfs/DefaultProcessor.java
  modules/vfs/android/src/main/java/com/tencent/vfs/DevToolsProcessor.java
  modules/vfs/android/src/main/java/com/tencent/vfs/ResourceDataHolder.java
  modules/vfs/android/src/main/java/com/tencent/vfs/VfsManager.java
Labels: enhancement, android, modules, framework

#2672 fix(workflows): fix backtrace parsing incorrect problem in crash report
  .github/workflows/gh_issue_crash_report.yml
Labels: bug, ci

#2673 fix(workflows): fix backtrace parsing incorrect problem in crash report
  .github/workflows/gh_issue_crash_report.yml
Labels: bug, ci

#2675 feat(android): update AGP to 7.3.1
  build.gradle
  framework/android/src/main/AndroidManifest.xml
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/libraryloader/LibraryLoader.java
  framework/examples/android-demo/src/main/AndroidManifest.xml
  modules/android/hippy_support/src/main/AndroidManifest.xml
  modules/android/link_supplier/src/main/AndroidManifest.xml
  modules/android/serialization/src/main/AndroidManifest.xml
  modules/vfs/android/src/main/AndroidManifest.xml
  renderer/native/android/src/main/AndroidManifest.xml
Labels: enhancement, android, demo, modules, renderer, framework

#2681 feat(vue): add whitespace handler config
  docs/en-us/hippy-vue/components.md
  docs/en-us/hippy-vue/vue3.md
  docs/hippy-vue/components.md
  docs/hippy-vue/vue3.md
  examples/hippy-vue-demo/scripts/hippy-webpack.android-vendor.js
  examples/hippy-vue-demo/scripts/hippy-webpack.android.js
  examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
  examples/hippy-vue-demo/scripts/hippy-webpack.ios-vendor.js
  examples/hippy-vue-demo/scripts/hippy-webpack.ios.js
  examples/hippy-vue-demo/scripts/hippy-webpack.web-renderer.dev.js
  examples/hippy-vue-demo/scripts/hippy-webpack.web-renderer.js
  examples/hippy-vue-demo/src/main-native.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.android-vendor.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.android.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.dev.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.ios-vendor.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.ios.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.web-renderer.dev.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.web-renderer.js
  examples/hippy-vue-next-demo/src/main-native.ts
  packages/hippy-vue-next/__test__/runtime/element/hippy-element.test.ts
  packages/hippy-vue-next/src/index.ts
  packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  packages/hippy-vue-next/src/util/index.ts
  packages/hippy-vue/src/elements/__tests__/built-in.test.js
  packages/hippy-vue/src/elements/__tests__/index.test.js
  packages/hippy-vue/src/index.js
  packages/hippy-vue/src/renderer/__tests__/document-node.test.js
  packages/hippy-vue/src/renderer/__tests__/element-node.test.js
  packages/hippy-vue/src/renderer/__tests__/list-item-node.test.js
  packages/hippy-vue/src/renderer/__tests__/list-node.test.js
  packages/hippy-vue/src/renderer/__tests__/view-node.test.js
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/runtime/__tests__/modules.test.js
  packages/hippy-vue/src/util/index.js
Labels: documentation, enhancement, demo, js

#2683 fix(android): horizontal scroll view smoothScrollToPage crash
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
Labels: bug, android

#2684 fix(android): horizontal scroll view smoothScrollToPage crash
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
Labels: bug, android, renderer

#2686 feat(core): add performance api for new x5 v8
  android/sdk/src/main/jni/src/performance/memory.cc
Labels: enhancement, android

#2687 feat(voltron): fix infinite loop problem
  framework/voltron/example/ios/Podfile.lock
  modules/vfs/voltron/core/src/wrapper.cc
Labels: enhancement, modules, framework

#2689 fix(v8): fix `V8` OOM crash when inspector enable the js debugger
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/base/common.h
  core/include/core/napi/v8/js_native_api_v8.h
  core/src/napi/v8/js_native_api_v8.cc
Labels: bug, android, core

#2690 fix(voltron): fix voltron page load failed
  framework/voltron/core/src/bridge/android/bridge_impl.cc
Labels: bug, framework

#2667 feat(ios,android,vue): add load result param for webView's onLoadEnd api
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/webview/HippyWebView.java
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  examples/hippy-react-demo/src/components/WebView/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  examples/hippy-vue-next-demo/src/components/demo/demo-iframe.vue
  ios/sdk/component/webview/HippySimpleWebView.m
  packages/hippy-vue-next/src/built-in-component.ts
  packages/hippy-vue-next/src/runtime/event/hippy-event.ts
  packages/hippy-vue/src/elements/built-in.js
Labels: documentation, enhancement, android, ios, demo, js

#2692 refactor(ios): set xcode project compatility vertion to xcode 10.0
  Hippy.xcworkspace/contents.xcworkspacedata
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/ios/framework.xcodeproj/project.pbxproj
  modules/ios/base/base.xcodeproj/project.pbxproj
  modules/ios/image/image.xcodeproj/project.pbxproj
  modules/vfs/ios/vfs.xcodeproj/project.pbxproj
  renderer/native/ios/nativerender.xcodeproj/project.pbxproj
Labels: ios, demo, modules, renderer, framework

#2693 feat(workflows): `XCode` project adaptation
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Labels: enhancement, ci

#2695 fix(devtools): move devtools-integration project to xcproject
  Hippy.xcworkspace/contents.xcworkspacedata
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: bug, demo, framework

#2696 perf(vue): ignore to append existed node to improve router performance
  packages/hippy-vue-next/src/runtime/node/hippy-node.ts
  packages/hippy-vue/src/renderer/__tests__/view-node.test.js
  packages/hippy-vue/src/renderer/view-node.js
Labels: js

#2697 fix(workflows): fix `iOS` build tests failed with missing dependencies
  .github/workflows/ios_build_tests.yml
Labels: bug, ci

#2698 feat(devtools): refactor devtools vfs
  devtools/devtools-backend/.clang-format
  devtools/devtools-backend/include/api/notification/data/devtools_http_request.h
  devtools/devtools-backend/include/api/notification/data/devtools_http_response.h
  devtools/devtools-backend/include/module/domain/tracing_domain.h
  devtools/devtools-backend/src/api/notification/data/devtools_http_request.cc
  devtools/devtools-backend/src/api/notification/data/devtools_http_response.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/native/.clang-format
  devtools/devtools-integration/native/include/devtools/devtools_data_source.h
  devtools/devtools-integration/native/include/devtools/vfs/devtools_handler.h
  devtools/devtools-integration/native/src/vfs/devtools_handler.cc
  driver/js/include/devtools/hippy_devtools_source.h
  driver/js/include/driver/runtime/v8/inspector/v8_inspector_client_impl.h
  driver/js/include/driver/runtime/v8/inspector/v8_inspector_context.h
  driver/js/src/devtools/adapter/impl/hippy_dom_tree_adapter.cc
  driver/js/src/devtools/hippy_devtools_source.cc
  driver/js/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  framework/android/src/main/cpp/src/bridge/entry.cc
  modules/vfs/android/src/main/cpp/src/handler/jni_delegate_handler.cc
  modules/vfs/android/src/main/cpp/src/vfs_resource_holder.cc
Labels: enhancement, android, modules, driver, devtools, framework

#2700 refactor(vue-next): remove Date.now in trace log
  packages/hippy-vue-next/src/runtime/render/index.ts
  packages/hippy-vue-next/src/util/index.ts
Labels: js

#2668 feat(ios,android,vue): add load result param for webView's onLoadEnd api
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  driver/js/examples/hippy-react-demo/src/components/WebView/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-iframe.vue
  driver/js/packages/hippy-vue/src/elements/built-in.js
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/webview/HippyWebView.java
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.m
Labels: documentation, enhancement, android, ios, demo, driver, renderer, js

#2706 refactor(ios): set xcode project compatility vertion to xcode 10.0
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
Labels: ios

#2703 feat(vue): add beforeRenderToNative hook to support computed style
  ava.config.js
  packages/hippy-vue-css-loader/src/__tests__/color-parser.test.js
  packages/hippy-vue-css-loader/src/color-parser.js
  packages/hippy-vue-css-loader/src/css-loader.js
  packages/hippy-vue-css-loader/src/css-parser.js
  packages/hippy-vue/src/renderer/__tests__/before-render-to-native-hook.test.js
  packages/hippy-vue/src/renderer/native/index.js
  packages/hippy-vue/src/runtime/index.js
  packages/hippy-vue/src/runtime/native.js
  packages/hippy-vue/src/util/index.js
Labels: enhancement, js

#2707 fix(devtools): fix android devtools jni not found
  devtools/devtools-integration/android/src/main/cpp/CMakeLists.txt
  devtools/devtools-integration/android/src/main/cpp/include/devtools/devtools_jni.h
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/android/src/main/java/com/tencent/devtools/DevtoolsManager.java
  devtools/devtools-integration/android/src/main/java/com/tencent/devtools/vfs/DevtoolsProcessor.java
  devtools/devtools-integration/native/src/devtools_data_source.cc
  framework/android/src/main/cpp/include/bridge/entry.h
  framework/android/src/main/cpp/src/bridge/entry.cc
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Labels: bug, android, devtools, framework

#2709 fix(android): fix JSI cause JNI local reference table overflow
  android/sdk/src/main/jni/src/jni/convert_utils.cc
Labels: bug, android

#2710 fix(core): fix the problem of multi-threading at startup time
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/engine.h
  core/src/engine.cc
  ios/sdk/base/HippyJSEnginesMapper.mm
Labels: bug, android, ios, core

#2708 fix(android): fix JSI cause JNI local reference table overflow
  framework/android/src/main/cpp/src/jni/convert_utils.cc
Labels: bug, android, framework

#2712 fix(ios): fix hippy projects
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/ios/framework.xcodeproj/project.pbxproj
  modules/ios/base/base.xcodeproj/project.pbxproj
Labels: bug, ios, demo, modules, framework

#2715 feat(android): add unit test for native renderer
  build.gradle
  framework/android/build.gradle
  modules/android/hippy_support/build.gradle
  modules/android/serialization/build.gradle
  modules/vfs/android/build.gradle
  renderer/native/android/build.gradle
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderContext.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderException.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/UIPromise.java
  renderer/native/android/src/main/java/com/tencent/renderer/UITaskExecutor.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/DispatchDrawHelper.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/FlatViewGroup.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BaseDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextStyleSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ListItemRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RootRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/pool/ImageDataPool.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/DiffUtils.java
  renderer/native/android/src/test/java/com/tencent/renderer/component/ComponentControllerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/serialization/DeserializerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/serialization/SerializerTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/ChoreographerUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/DiffUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/MapUtilsTest.java
  renderer/native/android/src/test/java/com/tencent/renderer/utils/PropertyUtilsTest.java
Labels: enhancement, android, modules, renderer, framework
