Repository Tencent/Hippy, pull requests merged in 2022-10, with the labels that each got.

#2513 chore(ios): set podspec version to 2.0.0 for master branch
  hippy.podspec
Labels: ios

#2512 chore(ios): set podspec version to 3.0.0 for v3.0-dev branch
  hippy.podspec
Labels: ios

#2515 feat(vue): add getElemCss scoped judgement
  packages/hippy-vue/src/renderer/native/index.js
  packages/hippy-vue/src/renderer/native/style/__tests__/index.test.js
  packages/hippy-vue/src/renderer/native/style/__tests__/parser.test.js
  packages/hippy-vue/src/runtime/native.js
  packages/hippy-vue/src/util/node.js
Labels: enhancement, js

#2516 fix(android): WebView backgroundColor not working
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/webview/HippyWebView.java
Labels: bug, android

#2517 fix(ios): add assert for url creation failure
  ios/sdk/utils/HippyUtils.m
Labels: bug, ios

#2520 chore(eslint): disable no-param-reassign
  packages/hippy-vue-next/src/util/index.ts
  packages/hippy-vue/src/util/node.js
Labels: js

#2412 fix(android): android waterfall support banner render
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallView.java
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/components.md
  docs/hippy-vue/external-components.md
  examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/demo-waterfall.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-waterfall.vue
Labels: bug, documentation, android, demo, js

#2522 refactor(core): perf performance api code
  core/js/entry/android/hippy.js
  core/js/entry/ios/hippy.js
  core/js/global/Performance.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
Labels: core, js

#2525 Feat/v8
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/v8/V8.java
  android/sdk/src/main/jni/CMakeLists.txt
  android/sdk/src/main/jni/include/bridge/entry.h
  android/sdk/src/main/jni/include/bridge/runtime.h
  android/sdk/src/main/jni/include/v8/heap_limit.h
  android/sdk/src/main/jni/include/v8/interrupt_queue.h
  android/sdk/src/main/jni/include/v8/request_interrupt.h
  android/sdk/src/main/jni/include/v8/stack_trace.h
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
  android/sdk/src/main/jni/src/bridge/runtime.cc
  android/sdk/src/main/jni/src/performance/memory.cc
  android/sdk/src/main/jni/src/v8/heap_limit.cc
  android/sdk/src/main/jni/src/v8/interrupt_queue.cc
  android/sdk/src/main/jni/src/v8/request_interrupt.cc
  android/sdk/src/main/jni/src/v8/stack_trace.cc
  core/include/core/napi/v8/js_native_api_v8.h
  core/src/napi/v8/js_native_api_v8.cc
  core/third_party/base/include/base/persistent_object_map.h
Labels: enhancement, android, dependencies, core

#2528 docs(homepage): update v8 api documentation
  docs/android/v8-api.md
  docs/en-us/android/v8-api.md
Labels: documentation

#2530 refactor(vue): change AsyncStorage to global.Hippy.asyncStorage
  packages/hippy-vue/src/runtime/native.js
Labels: js

#2523 feat(ios): listview stick cell wrong offset while refreshing
  examples/hippy-react-demo/src/components/PullHeaderFooter/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header-footer.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-pull-header-footer.vue
  ios/sdk/component/headerrefresh/HippyHeaderRefresh.m
Labels: enhancement, ios, demo, js

#2526 feat(android): add `Text` and `TextInput` features from 2.0
  .editorconfig
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/VirtualNode.java
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
Labels: enhancement, android, ios, renderer

#2534 refactor(react): change HippyEvent name to EventBus
  docs/en-us/hippy-react/native-event.md
  docs/hippy-react/native-event.md
  driver/js/packages/hippy-react/src/event/global-listener.ts
  driver/js/packages/hippy-react/src/event/index.ts
  driver/js/packages/hippy-react/src/index.ts
Labels: documentation, driver, js

#2535 fix(core): fix inspector crash
  android/sdk/src/main/jni/src/bridge/entry.cc
Labels: bug, android

#2536 fix(script): fix build script error
  scripts/build-example.js
  scripts/debug-example.js
  scripts/init-example.js
Labels: bug, js

#2540 refactor(vue-next): update http component
  static/hippy-vue-next/asyncComponentFromHttp.android.js
  static/hippy-vue-next/asyncComponentFromHttp.ios.js
Labels: js

#2538 fix(ios): pending calls should be invoked after scope initialized
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: bug, ios, framework

#2519 feat(ios): use napi for turbo module
  driver/js/include/driver/napi/js_native_api_types.h
  driver/js/include/driver/napi/js_native_turbo.h
  driver/js/src/napi/jsc/js_native_turbo_jsc.cc
  driver/js/src/napi/v8/js_native_turbo_v8.cc
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo/turbomodule/TurboConfig.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/base/modules/HippyModuleMethod.mm
  framework/ios/module/turbo/HippyOCTurboModule+Inner.h
  framework/ios/module/turbo/HippyOCTurboModule.mm
  framework/ios/module/turbo/HippyTurboModuleManager.h
  framework/ios/module/turbo/HippyTurboModuleManager.mm
  framework/ios/module/turbo/NSObject+HippyTurbo.mm
Labels: enhancement, ios, demo, driver, framework

#2545 fix(ios): no animation for frame reset
  hippy.podspec
  ios/sdk/component/viewPager/HippyViewPager.m
Labels: bug, ios

#2546 fix(ios): no animation for frame reset
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.mm
Labels: bug, ios, renderer

#2547 refactor(android): change onCreateVfs definition
  framework/android/src/main/cpp/include/bridge/entry.h
  framework/android/src/main/cpp/src/bridge/entry.cc
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  modules/vfs/android/src/main/java/com/tencent/vfs/VfsManager.java
Labels: android, modules, framework

#2549 fix(animation): fix property diff bug when animation is updating
  dom/include/dom/dom_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_node.cc
Labels: bug, dom

#2550 fix(ios): virtual nodes need to be flushed
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: bug, ios

#2553 docs(homepage): update homepage some docs
  docs/en-us/android/v8-api.md
  docs/en-us/style/appearance.md
  docs/style/appearance.md
Labels: documentation

#2556 Feature/devtools report
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/Inspector.java
  ios/sdk/debug/devtools/HippyDevManager.h
  ios/sdk/debug/devtools/HippyDevManager.m
Labels: enhancement, android, ios

#2557 fix(dom): set default value to layout node
  dom/src/dom/taitank_layout_node.cc
Labels: bug, dom

#2555 feat(voltron): voltron vfs compat for compile
  driver/js/CMakeLists.txt
  framework/voltron/android/build.gradle
  framework/voltron/android/gradle.properties
  framework/voltron/core/CMakeLists.txt
  framework/voltron/core/src/bridge/android/bridge_impl.cc
  framework/voltron/example/android/app/build.gradle
  modules/vfs/CMakeLists.txt
Labels: enhancement, modules, driver, framework

#2559 refactor(demo): fix demo script not compatible
  docs/en-us/guide/debug.md
  docs/en-us/guide/integration.md
  docs/en-us/web/integration.md
  docs/guide/debug.md
  docs/guide/integration.md
  docs/web/integration.md
  examples/hippy-react-demo/package.json
  examples/hippy-react-demo/scripts/env-polyfill.js
  examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.js
  examples/hippy-vue-demo/package.json
  examples/hippy-vue-demo/scripts/env-polyfill.js
  examples/hippy-vue-next-demo/package.json
  examples/hippy-vue-next-demo/scripts/env-polyfill.js
  examples/hippy-vue-next-demo/src/main-web.ts
Labels: documentation, demo, js

#2561 fix(ios): fix image view dangling pointer
  ios/sdk/component/image/HippyImageView.m
Labels: bug, ios

#2558 feat(ios): apply vfs on bundle loading and image loading
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/examples/ios-demo/HippyDemo/vfsloader/HippyDemoLoader.h
  framework/examples/ios-demo/HippyDemo/vfsloader/HippyDemoLoader.mm
  framework/ios/base/HippyJavaScriptLoader.h
  framework/ios/base/HippyJavaScriptLoader.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyBridgeDelegate.h
  framework/ios/base/bundleoperations/HippyBundleLoadOperation.h
  framework/ios/base/bundleoperations/HippyBundleLoadOperation.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/module/dev/HippyDevLoadingView.h
  framework/ios/module/dev/HippyDevLoadingView.mm
  framework/ios/module/image loader/HippyImageCacheManager.h
  framework/ios/module/image loader/HippyImageCacheManager.m
  framework/ios/module/image loader/HippyImageLoaderModule.mm
  framework/ios/module/loader/HippyBridge+VFSLoader.h
  framework/ios/module/loader/HippyBridge+VFSLoader.mm
  framework/ios/module/loader/HippyDefaultUriHandler.h
  framework/ios/module/loader/HippyDefaultUriLoader.mm
  framework/ios/module/loader/NSURLResponse+ToUnorderedMap.h
  modules/ios/TypeConverter.h
  modules/ios/TypeConverter.mm
  modules/ios/vfsloader/NSURLResponse+ToUnorderedMap.h
  modules/ios/vfsloader/NSURLResponse+ToUnorderedMap.mm
  modules/ios/vfsloader/VFSUriHandler.h
  modules/ios/vfsloader/VFSUriHandler.mm
  modules/ios/vfsloader/VFSUriLoader.h
  modules/ios/vfsloader/VFSUriLoader.mm
  modules/vfs/native/include/vfs/handler/uri_handler.h
  renderer/native/ios/renderer/NativeRenderFrameworkProxy.h
  renderer/native/ios/renderer/component/image/NativeRenderImageView.m
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/image/UIView+Sequence.m
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
  renderer/native/ios/utils/NativeRenderImageDataLoader.h
  renderer/native/ios/utils/NativeRenderImageDataLoader.m
  renderer/native/ios/utils/NativeRenderImageDataLoaderProtocol.h
  renderer/native/ios/utils/NativeRenderImageProviderProtocol.h
Labels: enhancement, ios, demo, modules, renderer, framework

#2562 ci(codeowner): add gradle related codeowner
  .github/CODEOWNERS
Labels: ci

#2552 fix(renderer): fix tdf renderer bug
  framework/android/gradle.properties
  framework/android/src/main/cpp/src/bridge/entry.cc
  renderer/tdf/android/build.gradle
  renderer/tdf/android/src/main/cpp/src/render/tdf_render_bridge.cc
  renderer/tdf/common/CMakeLists.txt
  renderer/tdf/common/include/renderer/tdf/gesture/touch_recognizer.h
  renderer/tdf/common/include/renderer/tdf/tdf_render_manager.h
  renderer/tdf/common/include/renderer/tdf/view/modal_view.h
  renderer/tdf/common/include/renderer/tdf/view/view_pager.h
  renderer/tdf/common/include/renderer/tdf/viewnode/base64_image_loader.h
  renderer/tdf/common/include/renderer/tdf/viewnode/list_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/net_image_loader.h
  renderer/tdf/common/include/renderer/tdf/viewnode/node_attributes_parser.h
  renderer/tdf/common/include/renderer/tdf/viewnode/refresh_wrapper_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/scroll_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/text_input_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/text_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_pager_node.h
  renderer/tdf/common/src/renderer/tdf/gesture/touch_recognizer.cc
  renderer/tdf/common/src/renderer/tdf/tdf_render_manager.cc
  renderer/tdf/common/src/renderer/tdf/view/view_pager.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/base64_image_loader.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/embedded_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/image_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/list_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/modal_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/net_image_loader.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/refresh_wrapper_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/scroll_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/text_input_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/view_pager_node.cc
Labels: bug, android, renderer, framework

#2563 fix(homepage): fix Bad HTML filtering regexp
  docs/assets/js/docsify.js
  docs/assets/js/docsify.min.js
  docs/en-us/assets/js/docsify.js
  docs/en-us/assets/js/docsify.min.js
Labels: bug, documentation, js

#2565 fix(ios): avoid a thread race for image component
  ios/sdk/component/image/HippyImageView.m
Labels: bug, ios

#2567 fix(vfs): fix vfs crash
  framework/android/src/main/cpp/src/bridge/entry.cc
  modules/vfs/android/src/main/cpp/include/vfs/handler/jni_delegate_handler.h
  modules/vfs/android/src/main/cpp/src/handler/jni_delegate_handler.cc
Labels: bug, android, modules, framework

#2570 feat(vue): fix attribute selector & support deep selector
  docs/en-us/hippy-vue/style.md
  docs/hippy-vue/style.md
  examples/hippy-vue-demo/src/app.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-pull-header-footer.vue
  examples/hippy-vue-demo/src/components/native-demos/demo-waterfall.vue
  examples/hippy-vue-next-demo/src/app.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-pull-header-footer.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-swiper.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-waterfall.vue
  packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  packages/hippy-vue-next/src/runtime/style/css-selectors.ts
  packages/hippy-vue-next/src/util/index.ts
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/renderer/native/style/css-selectors.js
  packages/hippy-vue/src/util/node.js
Labels: documentation, enhancement, demo, js

#2572 fix(voltron): add origin cookie support and fix network rsp json data…
  framework/voltron/lib/adapter/http.dart
  framework/voltron/lib/channel/cookie_manager.dart
  framework/voltron/lib/engine/js_init_params.dart
  framework/voltron/lib/engine/voltron_js_engine.dart
  framework/voltron/lib/module/network.dart
  framework/voltron/pubspec.yaml
Labels: bug, framework

#2573 fix(ios): avoid CTTelephony's occasional crash
  ios/sdk/module/netinfo/HippyNetInfoIntenal.h
  ios/sdk/module/netinfo/HippyNetInfoIntenal.m
Labels: bug, ios

#2571 perf(vue): refer native script source code to reduce number of loops
  packages/hippy-vue-next/src/runtime/style/css-selectors.ts
  packages/hippy-vue/src/renderer/native/style/css-selectors.js
Labels: js

#2577 perf(react): assign initialListSize if not undefined
  packages/hippy-react/src/components/list-view.tsx
Labels: js

#2574 fix(ios): avoid CTTelephony's occasional crash
  framework/ios/module/netinfo/HippyNetInfoIntenal.h
  framework/ios/module/netinfo/HippyNetInfoIntenal.m
Labels: bug, ios, framework

#2578 fix(android): sticky item has incorrect height after refresh
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
Labels: bug, android

#2582 feat(voltron): perfect voltron user agent
  framework/voltron/core/src/bridge/ios/VoltronFlutterBridge.mm
  framework/voltron/lib/adapter/http.dart
  framework/voltron/lib/channel/platform_manager.dart
Labels: enhancement, ios, framework

#2586 feat(vfs): add vfs check
  modules/vfs/android/src/main/cpp/src/handler/jni_delegate_handler.cc
  modules/vfs/native/src/uri_loader.cc
Labels: enhancement, modules

#2588 fix(voltron): fix voltron ios core compile error
  framework/voltron/core/CMakeLists.txt
  modules/vfs/CMakeLists.txt
  modules/vfs/voltron/core/CMakeLists.txt
  modules/vfs/voltron/core/include/handler/file_handler.h
  modules/vfs/voltron/core/include/url.h
  modules/vfs/voltron/core/src/handler/file_handler.cc
  modules/vfs/voltron/core/src/url.cc
Labels: bug, modules, framework

#2589 fix(android): remove redundant getPrimaryClip
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/clipboard/ClipboardModule.java
Labels: bug, android

#2587 chore(ios): modify podspec file for module
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.m
  hippy.podspec
Labels: ios, framework

#2590 feat(ios): add example for removing hippy root view
  framework/examples/ios-demo/HippyDemo/ViewController.mm
Labels: enhancement, ios, demo, framework

#2592 fix(iOS): retain cycle with vc and bridge
  framework/ios/base/bridge/HippyBridge.mm
Labels: bug, ios, framework

#2591 fix(iOS): retain cycle with vc and bridge
  ios/sdk/base/HippyBridge.mm
Labels: bug, ios

#2593 Feat/voltron map convert
  framework/voltron/lib/adapter/http.dart
  framework/voltron/lib/bridge/voltron_bridge.dart
  framework/voltron/lib/devtools/network_inspector.dart
  framework/voltron/lib/engine/global_config.dart
  framework/voltron/lib/engine/js_init_params.dart
  framework/voltron/lib/inspector/dev_server_impl_disable.dart
  framework/voltron/lib/module/module.dart
  framework/voltron/lib/module/network.dart
  renderer/voltron/lib/bridge/render_api.dart
  renderer/voltron/lib/bridge/render_bridge.dart
  renderer/voltron/lib/common.dart
  renderer/voltron/lib/common/convert.dart
  renderer/voltron/lib/common/promise.dart
  renderer/voltron/lib/common/voltron_array.dart
  renderer/voltron/lib/common/voltron_map.dart
  renderer/voltron/lib/gesture/handle.dart
  renderer/voltron/lib/gesture/scroll.dart
  renderer/voltron/lib/render/manager.dart
  renderer/voltron/pubspec.yaml
Labels: enhancement, renderer, framework

#2594 fix(android): textAlign should not affect vertically
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/TextDrawable.java
Labels: bug, android, renderer

#2585 refactor(android): pull header and footer of `ListView`
  .editorconfig
  android/sdk/src/main/java/androidx/recyclerview/widget/HippyLinearLayoutManager.java
  android/sdk/src/main/java/androidx/recyclerview/widget/HippyRecyclerViewBase.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
Labels: android

#2597 fix(ios): fix fix demo memory leaks issue
  framework/examples/ios-demo/HippyDemo/ViewController.mm
Labels: bug, ios, demo, framework
