Repository Tencent/Hippy, pull requests merged in 2022-08, with the labels that each got.

#1349 fix(ios): fix HippyDevLoadingView shows in release environment
  ios/sdk/base/HippyBatchedBridge.mm
Labels: bug, ios, stale

#2329 fix(animation): fix animation shaking problem on hippy-vue
  dom/include/dom/animation/animation.h
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/animation/animation_math.h
  dom/include/dom/animation/cubic_bezier_animation.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/animation/cubic_bezier_animation.cc
  driver/js/examples/ios-demo/Podfile.lock
Labels: bug, demo, driver, dom

#2332 ci(license): change license check files
  .github/license-check.json
  .github/workflows/gh_licence_checks.yml
  .github/workflows/gh_licence_checks_bypass.yml
Labels: ci

#2333 ci(license): change license check files
  .github/license-check.json
  .github/workflows/gh_licence_checks.yml
  .github/workflows/gh_licence_checks_bypass.yml
Labels: ci

#2336 feat(devtools): support multi instance
  driver/js/core/include/core/engine.h
  driver/js/core/include/core/runtime/v8/inspector/v8_inspector_client_impl.h
  driver/js/core/include/core/runtime/v8/inspector/v8_inspector_context.h
  driver/js/core/include/core/runtime/v8/runtime.h
  driver/js/core/include/devtools/devtools_data_source.h
  driver/js/core/src/runtime/v8/inspector/v8_inspector_client_impl.cc
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: enhancement, demo, core, driver

#2338 feat(workflows): CodeQL analysis runs at every night
  .github/workflows/security_codeql_analyses.yml
Labels: enhancement, ci

#2339 feat(workflows): CodeQL analysis runs at every night
  .github/workflows/security_codeql_analyses.yml
Labels: enhancement, ci

#2340 fix(vue): fix static style not updated in some case
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/runtime/modules/style.js
  packages/hippy-vue/src/util/index.js
Labels: bug, js

#2341 fix(workflows): CodeQL analysis checkout using LFS
  .github/workflows/security_codeql_analyses.yml
Labels: bug, ci

#2342 fix(workflows): CodeQL analysis checkout using LFS
  .github/workflows/security_codeql_analyses.yml
Labels: bug, ci

#2343 fix(vue): fix static style not updated in some case
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/runtime/modules/style.js
  driver/js/packages/hippy-vue/src/util/index.js
Labels: bug, driver, js

#2345 chore(ios): modify project macros
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  examples/ios-demo/HippyDemo.xcodeproj/xcshareddata/xcschemes/HippyDemo.xcscheme
Labels: demo

#2346 chore(ios): modify project macros
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: demo, driver

#2348 fix(layout): improve the accuracy of the layout engine
  layout/engine/HPUtil.cpp
  layout/engine/HPUtil.h
Labels: bug, layout

#2352 feat(workflows): artifact release action always compress symbols
  .github/workflows/project_artifact_release.yml
Labels: enhancement, ci

#2355 fix(layout): increase delta for double data comparisons
  layout/engine/HPUtil.cpp
Labels: bug, layout

#2356 fix(dom): fix the condition for weather the layout change
  dom/src/dom/dom_node.cc
Labels: bug, dom

#2359 docs(homepage): fix homepage skip url
  docs/_navbar.md
  docs/en-us/_navbar.md
Labels: documentation

#2360 docs(homepage): fix syntax error
  docs/en-us/guide/dynamic-import.md
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-react/web.md
  docs/guide/dynamic-import.md
  docs/hippy-react/modules.md
  docs/hippy-react/web.md
Labels: documentation

#2363 fix(ios): set thread priority explictly to avoid priority revertion
  ios/sdk/base/HippyBridge+Mtt.mm
Labels: bug, ios

#2326 chore(ios): eliminate some warnings
  examples/ios-demo/HippyDemo/turbomodule/TurboBaseModule.mm
  ios/sdk/base/HippyBridge+Private.h
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyFont.mm
Labels: ios, demo

#2362 chore(github): added templates for crash report issue and it's bot
  .github/ISSUE_TEMPLATE/crash_report.yml
  .github/workflows/gh_issue_crash_report.yml
Labels: ci

#2344 fix(ios): padding not working on text's subview
  examples/hippy-react-demo/src/components/Text/index.jsx
  ios/sdk/component/text/HippyShadowText.mm
Labels: bug, ios, demo, js

#2365 fix(android): fix LLVM linker version script not taking effect
  android/sdk/src/main/jni/CMakeLists.txt
Labels: bug, android

#2353 docs(web-renderer): add instructions for hippy-react and hippy-vue
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/en-us/hippy-vue/external-components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  docs/hippy-vue/external-components.md
Labels: documentation

#2368 fix(android): fix LLVM linker version script not taking effect
  driver/js/android/src/main/jni/CMakeLists.txt
Labels: bug, android, driver

#2369 chore(lock): fix package-lock issue
  docs/en-us/guide/animation.md
  docs/en-us/hippy-vue/_sidebar.md
  docs/guide/animation.md
  docs/hippy-vue/_sidebar.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/Image/index.jsx
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  package-lock.json
  packages/hippy-vue-loader/.npmrc
Labels: documentation, demo, js

#2372 feat(android): remove implicit conversion
  core/include/core/base/string_view_utils.h
  core/third_party/base/include/base/logging.h
Labels: enhancement, dependencies, core

#2373 fix(ios): fix refresh component bug
  ios/sdk/component/refresh/HippyRefresh.m
Labels: bug, ios

#2375 fix(ios): fix refresh component bug
  renderer/native/ios/renderer/component/refresh/NativeRenderRefresh.mm
Labels: bug, ios, renderer

#2374 fix(ios): hippy-vue textInput isFocused not working
  ios/sdk/component/textinput/HippyTextField.m
Labels: bug, ios

#2376 fix(ios): hippy-vue textInput isFocused not working
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.mm
Labels: bug, ios, renderer

#2370 unloadinstance
  driver/js/android/src/main/jni/include/bridge/entry.h
  driver/js/android/src/main/jni/src/bridge/entry.cc
  driver/js/core/include/core/scope.h
  driver/js/core/src/runtime/v8/v8_bridge_utils.cc
  driver/js/core/src/scope.cc
  driver/js/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  driver/js/examples/ios-demo/HippyDemo/ViewController.mm
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.h
  driver/js/flutter/core/src/bridge/ios/bridge_impl_ios.mm
  driver/js/ios/base/HippyRootView.mm
  driver/js/ios/module/rootview/HippyRootViewManager.h
  driver/js/ios/module/rootview/HippyRootViewManager.mm
  renderer/native/ios/renderer/NativeRenderContext.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
Labels: android, ios, demo, core, driver, renderer, flutter

#2378 fix(android): set mGestureEnable to component
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/text/HippyTextView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/text/HippyTextViewController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
Labels: bug, android, renderer

#2381 refactor(core): perf native2js logic
  core/js/bridge/android/native2js.js
  core/js/bridge/ios/native2js.js
  core/src/napi/jsc/native_source_code_ios.cc
  core/src/napi/v8/native_source_code_android.cc
  examples/android-demo/res/index.android.js
  examples/ios-demo/res/index.ios.js
Labels: demo, core, js

#2382 chore(license): update some files license
  .eslintignore
  .eslintrc.js
  ava.config.js
  commitlint.config.js
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/package.json
  examples/hippy-vue-demo/package.json
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  lint-staged.config.js
Labels: demo, js

#2377 fix(android, ios): the final `onScroll` may be dropped
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/list/HippyListView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallViewController.java
  examples/hippy-react-demo/src/components/ListView/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  ios/sdk/component/listview/HippyBaseListView.m
  ios/sdk/component/scrollview/HippyScrollView.m
  ios/sdk/component/waterfalllist/HippyWaterfallView.m
Labels: bug, android, ios, demo, js

#2391 refactor(workflows): refactor v8 build script
  .github/workflows/3rd_prebuilt_v8.yml
Labels: ci

#2392 refactor(workflows): refactor v8 build script
  .github/workflows/3rd_prebuilt_v8.yml
Labels: ci

#2395 fix(ios): fix ios demo file structure issues
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/ios/module/rootview/HippyRootViewManager.h
  framework/ios/module/rootview/HippyRootViewManager.mm
Labels: bug

#2397 fix(ios): fix scroll rtl for content view
  ios/sdk/component/scrollview/HippyScrollView.m
Labels: bug, ios

#2398 fix(ios): fix scroll content view rtl
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollView.mm
Labels: bug, ios, renderer

#2399 chore(ci): fix some syntax warnings
  .github/labeler.yml
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/hip_archive_artifact.yml
  .github/workflows/hip_info_artifacts.yml
  .github/workflows/project_artifact_release.yml
Labels: ci

#2390 docs(en-us/web): provides English translation for web-related docs
  docs/en-us/web/custom-component.md
  docs/en-us/web/custom-module.md
  docs/en-us/web/event.md
  docs/en-us/web/integration.md
Labels: documentation

#2402 feat(framework): adjust the framework module namespace
  framework/android/src/main/cpp/include/bridge/bridge.h
  framework/android/src/main/cpp/include/bridge/entry.h
  framework/android/src/main/cpp/include/bridge/java2js.h
  framework/android/src/main/cpp/include/bridge/js2java.h
  framework/android/src/main/cpp/include/jni/convert_utils.h
  framework/android/src/main/cpp/include/jni/exception_handler.h
  framework/android/src/main/cpp/include/jni/java_turbo_module.h
  framework/android/src/main/cpp/include/jni/turbo_module_manager.h
  framework/android/src/main/cpp/include/jni/turbo_module_runtime.h
  framework/android/src/main/cpp/include/jni/uri.h
  framework/android/src/main/cpp/include/loader/adr_loader.h
  framework/android/src/main/cpp/src/bridge/entry.cc
  framework/android/src/main/cpp/src/bridge/java2js.cc
  framework/android/src/main/cpp/src/bridge/js2java.cc
  framework/android/src/main/cpp/src/jni/convert_utils.cc
  framework/android/src/main/cpp/src/jni/exception_handler.cc
  framework/android/src/main/cpp/src/jni/java_turbo_module.cc
  framework/android/src/main/cpp/src/jni/turbo_module_manager.cc
  framework/android/src/main/cpp/src/jni/uri.cc
  framework/android/src/main/cpp/src/loader/adr_loader.cc
Labels: enhancement, android, framework

#2403 feat(framework): adjust the jni module namespace
  framework/android/src/main/cpp/src/bridge/entry.cc
  modules/android/jni/include/jni/jni_env.h
  modules/android/jni/include/jni/jni_register.h
  modules/android/jni/include/jni/jni_utils.h
  modules/android/jni/include/jni/scoped_java_ref.h
  modules/android/jni/src/jni_env.cc
  modules/android/jni/src/jni_register.cc
  modules/android/jni/src/jni_utils.cc
  modules/android/jni/src/scoped_java_ref.cc
  renderer/native/android/src/main/jni/src/render/native_render_jni.cc
Labels: enhancement, android, modules, renderer, framework

#2404 fix(devtools): remove v8 inspector flag for ios
  core/include/core/engine.h
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
Labels: bug, demo, core

#2405 feat(android): add `visibility` style
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  docs/en-us/style/appearance.md
  docs/style/appearance.md
Labels: documentation, enhancement, android

#2415 fix(homepage): fix secure problem for homepage redirect
  docs/en-us/index.html
  docs/index.html
Labels: bug, documentation

#2416 fix(android): add try-catch for NetInfoModule
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/netinfo/NetInfoModule.java
Labels: bug, android

#2361 fix(android): gif borderRadius not working and radius scale issue
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/ContentDrawable.java
Labels: bug, android

#2414 feat(driver): refactor ToConstCharPointer function
  driver/js/include/driver/base/file.h
  driver/js/include/driver/napi/jsc/js_native_api_jsc.h
  driver/js/src/base/file.cc
  driver/js/src/devtools/devtools_data_source.cc
  driver/js/src/modules/animation_module.cc
  driver/js/src/modules/console_module.cc
  driver/js/src/modules/contextify_module.cc
  driver/js/src/modules/scene_builder.cc
  driver/js/src/napi/jsc/js_native_api_jsc.cc
  driver/js/src/napi/jsc/js_native_api_value_jsc.cc
  driver/js/src/napi/v8/js_native_api_v8.cc
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  driver/js/src/scope.cc
  framework/android/src/main/cpp/include/loader/adr_loader.h
  framework/android/src/main/cpp/src/jni/convert_utils.cc
  framework/android/src/main/cpp/src/jni/java_turbo_module.cc
  framework/android/src/main/cpp/src/jni/turbo_module_manager.cc
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/module/turbo/HippyOCTurboModule.mm
  framework/ios/utils/NSObject+ToJSCtxValue.mm
  modules/android/jni/src/jni_utils.cc
  modules/footstone/include/footstone/string_view_utils.h
  modules/footstone/src/deserializer.cc
Labels: enhancement, android, ios, modules, driver, framework

#2418 refactor(hippy-react): remove rn related apis
  driver/js/packages/hippy-react/src/index.ts
  driver/js/packages/hippy-react/src/modules/animation-set.ts
  driver/js/packages/hippy-react/src/modules/animation.ts
Labels: driver, js

#2417 refactor(ios): rename fb/qb words
  driver/js/flutter/core/src/bridge/ios/VoltronJSCExecutor.mm
  driver/js/lib/bridge/ios/native2js.js
  driver/js/lib/global/ios/global.js
  framework/ios/base/HippyBatchedBridge.mm
  framework/ios/base/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/base/native_source_code_ios.cc
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewManager.mm
Labels: ios, driver, renderer, flutter, js, framework

#2421 fix(vue): fix regular expressions catastrophic backtracking
  packages/hippy-react/src/dom/element-node.ts
  packages/hippy-vue-css-loader/src/css-parser.js
  packages/hippy-vue/src/renderer/element-node.js
Labels: bug, js

#2422 fix(vue): revert a catastrophic backtracking fix
  packages/hippy-vue-css-loader/src/css-parser.js
Labels: bug, js

#2423 fix(ios): turbo runtime must release in js thread
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: bug, ios

#2424 fix(ios): turbo runtime must release in js thread
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: bug, ios, framework

#2425 feat(vue): support ScrollView & ListView scroll related event params
  docs/_navbar.md
  docs/android/v8-api.md
  docs/en-us/android/v8-api.md
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/guide/_sidebar.md
  docs/guide/performance.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  examples/hippy-react-demo/src/components/ListView/index.jsx
  examples/hippy-react-demo/src/components/ScrollView/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-list.vue
  packages/hippy-vue/src/elements/built-in.js
Labels: documentation, enhancement, demo, js

#2428 fix(core): compatible with lower version v8 for memory feature
  android/sdk/src/main/java/com/tencent/mtt/hippy/v8/V8.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/v8/memory/V8Memory.java
  android/sdk/src/main/jni/include/bridge/runtime.h
  android/sdk/src/main/jni/include/performance/memory.h
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/performance/memory.cc
Labels: bug, android

#2429 ci(workflows): use installation access token provided by the Github App
  .github/workflows/android_build_tests.yml
  .github/workflows/gh_issue_crash_report.yml
  .github/workflows/gh_mark_and_close_stalled.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2431 ci(workflows): use installation access token provided by the Github App
  .github/workflows/android_build_tests.yml
  .github/workflows/gh_issue_crash_report.yml
  .github/workflows/gh_mark_and_close_stalled.yml
  .github/workflows/gh_pr_checks_approval.yml
  .github/workflows/security_codeql_analyses.yml
Labels: ci

#2433 fix(hippy-react): add overflow scroll to fix listview unable to scroll
  packages/hippy-react/src/components/list-view.tsx
Labels: bug, js

#2434 docs(homepage): change scroll related event supported version
  docs/en-us/hippy-vue/components.md
  docs/hippy-vue/components.md
Labels: documentation

#2435 fix(ios): fix vfs callback error
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: bug, ios, framework

#2438 ci(codeowner): add code owner for android
  .github/CODEOWNERS
Labels: ci

#2437 feat(cmake): remove Android system library in js driver
  driver/js/CMakeLists.txt
  framework/android/src/main/cpp/CMakeLists.txt
  modules/footstone/CMakeLists.txt
Labels: enhancement, android, modules, driver, framework

#2440 fix(ios): ViewPager onPageScrollStateChange missing settling/dragging status
  examples/hippy-react-demo/src/components/ViewPager/index.jsx
  ios/sdk/component/viewPager/HippyViewPager.m
Labels: bug, ios, demo, js

#2442 ci(workflows): support writing mode options
  .github/workflows/hip_archive_artifact.yml
Labels: ci

#2443 ci(workflows): support writing mode options
  .github/workflows/hip_archive_artifact.yml
Labels: ci

#2445 docs(text): correct `breakStrategy` typos
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
Labels: documentation

#2444 fix(android): listview not update when delete invisible items
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
Labels: bug, android
