Repository Tencent/Hippy, pull requests merged in 2023-07, with the labels that each got.

#3344 fix(jsc): fix jsc crash on ios12
  core/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: xs

#3343 fix(jsc): fix jsc crash on ios12
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: action(squash-merge), action(rebase-merge)

#3345 fix(jsc): fix jsc crash on ios12
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: xs

#3342 refactor(core): reduce header file dependencies
  driver/js/include/driver/vm/js_vm.h
  hippy.podspec
Labels: driver: js, size: s, build: xcode

#3349 chore(ios): add pod spec lint workflow file
  .github/workflows/pod_spec_lint.yml
  .github/workflows/pod_spec_lint_bypass.yml
Labels: size: s, gh: workflow

#3350 fix(ios): remove the semicolon after namespace syntax
  .github/workflows/pod_spec_lint.yml
  .github/workflows/pod_spec_lint_bypass.yml
  driver/js/include/driver/vm/js_vm.h
Labels: driver: js, size: s, gh: workflow

#3347 feat(voltron): update voltron workflow
  .github/workflows/voltron_build_tests.yml
  framework/voltron/core/src/bridge/ios/VoltronJSCExecutor.mm
Labels: size: s, gh: workflow, framework: voltron

#3351 fix(ios): fix initialContentOffset bug for listview
  ios/sdk/component/listview/HippyBaseListView.m
Labels: framework: ios, size: xs

#3352 fix(android): non flattened elements background color
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
Labels: renderer: native, size: s

#3353 fix(android): initialContentOffset not working
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
Labels: framework: android, size: xs

#3355 fix(vue): fix rootview conditional statement
  .github/workflows/frontend_build_tests.yml
  driver/js/packages/hippy-vue/src/runtime/node-ops.js
Labels: driver: js, size: s, gh: workflow, action(squash-merge): failed

#3366 fix(voltron): fix voltron android scope not erase when destroy
  framework/voltron/core/src/bridge/android/bridge_impl.cc
Labels: size: xs, framework: voltron

#3357 fix(android): initialContentOffset not working
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
Labels: renderer: native, size: xs

#3356 fix(android): sticky header not deleted from ControllerManager
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ListItemRenderNode.java
Labels: renderer: native, size: s

#3362 fix(android): issues of ScrollEvent
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
Labels: renderer: native, size: s

#3368 feat(ios): delete items in a range off screen in list component
  ios/sdk/component/listview/HippyBaseListView.m
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.h
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.m
  ios/sdk/component/waterfalllist/HippyWaterfallView.m
  ios/sdk/module/uimanager/HippyUIManager.h
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: framework: ios, size: m

#3305 fix(ios): use auto release pool for cpp thread
  ios/sdk/base/HippyBatchedBridge.mm
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: framework: ios, size: m

#3369 fix(android): event to lower case
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
Labels: renderer: native, size: xs

#3370 feat(dom): fix empty dom event function crash
  driver/js/src/scope.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
Labels: driver: js, renderer: native, size: s

#3373 fix(devtools): fix location double for all
  devtools/devtools-integration/native/src/devtools_utils.cc
Labels: devtools: backend, size: s

#3372 fix(voltron): fix crash when dom value type error
  modules/footstone/src/deserializer.cc
  renderer/voltron/lib/util/devtools_util.dart
Labels: renderer: voltron, module: footstone, size: s

#3374 fix(dom): fix vue diff style alogrithm
  dom/src/dom/root_node.cc
Labels: dom: tree, size: s

#3376 fix(android): correct default value type for `StyleNode`
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/StyleNode.java
Labels: framework: android, size: xs

#3340 fix(vue-next): fix element do not use beforeLoadStyle hooks issue
  driver/js/packages/hippy-vue-next/src/runtime/element/hippy-element.ts
Labels: driver: js, size: xs

#3339 fix(vue-next): fix element do not use beforeLoadStyle hooks issue
  packages/hippy-vue-next/src/runtime/element/hippy-element.ts
Labels: driver: js, size: xs

#3377 fix(android): animation may cause `IllegalStateException` after destroy
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/AnimationModule.java
Labels: framework: android, size: s

#3378 fix(ios): network session not being reused
  ios/sdk/component/image/HippyAnimatedImage.h
  ios/sdk/component/image/HippyAnimatedImage.m
  ios/sdk/component/image/HippyAnimatedImageView.m
  ios/sdk/module/network/HippyNetWork.m
  ios/sdk/utils/HippyWeakProxy.h
  ios/sdk/utils/HippyWeakProxy.m
Labels: framework: ios, size: m

#3379 fix(ios): fix gradient color drawing bug
  renderer/native/ios/renderer/component/view/NativeRenderView.m
Labels: renderer: native, size: s

#3324 fix(hippy-react-web): fix more than one copy of React in the same app
  packages/hippy-react-web/package.json
Labels: driver: js, size: xs

#3382 feat(ios): add 'SetRootOrigin' function for root node
  dom/include/dom/root_node.h
  dom/src/dom/root_node.cc
  framework/ios/base/bridge/HippyConvenientBridge.mm
Labels: framework: ios, dom: tree, size: xs

#3383 fix(perf): fix performance api crash and params
  driver/js/include/driver/performance/performance_entry.h
  driver/js/include/driver/performance/performance_navigation_timing.h
  driver/js/include/driver/performance/performance_resource_timing.h
  driver/js/src/modules/performance/performance_entry_module.cc
  driver/js/src/modules/performance/performance_frame_timing_module.cc
  driver/js/src/modules/performance/performance_mark_module.cc
  driver/js/src/modules/performance/performance_measure_module.cc
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/modules/performance/performance_navigation_timing_module.cc
  driver/js/src/modules/performance/performance_paint_timing_module.cc
  driver/js/src/modules/performance/performance_resource_timing_module.cc
  driver/js/src/performance/performance.cc
  driver/js/src/performance/performance_mark.cc
  driver/js/src/performance/performance_measure.cc
Labels: driver: js, size: m

#3380 feat(hippy-react): Text component add forbidUnicodeToChar
  docs/hippy-react/components.md
  packages/hippy-react/src/components/text.tsx
Labels: driver: js, doc: pages, size: s

#3385 fix(dom): fix event empty pointer
  driver/js/src/modules/event_module.cc
Labels: driver: js, size: xs

#3387 fix(dom): fix modifying event by multi hippy engine
  driver/js/include/driver/modules/event_module.h
  driver/js/include/driver/scope.h
  driver/js/src/modules/event_module.cc
  driver/js/src/scope.cc
Labels: driver: js, size: s

#3388 fix(jsc): temporarily used for testing jsc crash
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: xs

#3389 refactor(ios): update update node logic
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.m
Labels: renderer: native, size: s

#3375 feat(voltron): publish voltron 0.0.31
  framework/voltron/CHANGELOG.md
  framework/voltron/android/build.gradle
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: s, framework: voltron

#3398 refactor(ios): need to check diff and delete props for updating view
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.m
Labels: renderer: native, size: s

#3400 fix(dom): filter nodes with same style
  dom/src/dom/root_node.cc
Labels: dom: tree, size: xs

#3399 fix(dom): fix dom ext style diff error
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: xs

#3405 feat(android): add filter for css style to native renderer
  renderer/native/android/src/main/cpp/include/renderer/native_render_jni.h
  renderer/native/android/src/main/cpp/include/renderer/native_render_manager.h
  renderer/native/android/src/main/cpp/src/renderer/native_render_jni.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: renderer: native, size: s

#3408 fix(perf): add v8 memory interface for js
  driver/js/include/driver/vm/v8/memory_module.h
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/vm/v8/memory_module.cc
Labels: driver: js, size: s

#3409 fix(android): prevent unnecessary requestLayout
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/AsyncImageView.java
Labels: framework: android, size: xs

#3411 feat(ios): add NightMode & improve method of getting UI state
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  examples/ios-demo/HippyDemo.xcodeproj/xcshareddata/xcschemes/HippyDemo.xcscheme
  examples/ios-demo/HippyDemo/TestModule.m
  examples/ios-demo/HippyDemo/ViewController.m
  ios/sdk/base/HippyBatchedBridge.mm
  ios/sdk/base/HippyBridge+Private.h
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyBridgeDelegate.h
  ios/sdk/base/HippyDeviceBaseInfo.h
  ios/sdk/base/HippyDeviceBaseInfo.m
  ios/sdk/base/HippyJSStackFrame.m
  ios/sdk/base/HippyJavaScriptExecutor.h
  ios/sdk/base/HippyRootView.h
  ios/sdk/base/HippyRootView.mm
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/component/image/HippyImageView.m
  ios/sdk/debug/devtools/HippyDevWebSocketClient.m
  ios/sdk/layout/x5LayoutUtil.m
  ios/sdk/module/localstorage/HippyAsyncLocalStorage.m
  ios/sdk/module/netinfo/HippyNetInfoIntenal.m
  ios/sdk/module/uimanager/HippyUIManager.mm
  ios/sdk/utils/HippyAssert.m
  ios/sdk/utils/HippyUtils.m
Labels: framework: ios, doc: example, size: l

#3412 feat(ios): add NightMode change event
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/native-event.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/native-event.md
  ios/sdk/base/HippyBatchedBridge.mm
  ios/sdk/base/HippyBridge+Private.h
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyRootView.mm
Labels: framework: ios, doc: pages, size: s

#3416 fix(ios): fix crash caused by null pointer
  renderer/native/ios/renderer/NativeRenderImpl.mm
Labels: renderer: native, size: xs

#3417 fix(ios): fix ios event capture and bubbling process
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.mm
  renderer/native/ios/renderer/component/view/NativeRenderTouchesProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesView.m
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.h
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.mm
Labels: renderer: native, size: m

#3418 feat(dom): remove DCHECK for taitank node
  dom/src/dom/taitank_layout_node.cc
Labels: dom: tree, size: xs
