Repository Tencent/Hippy, pull requests merged in 2023-08, with the labels that each got.

#3422 fix(android): support sparse array for call ui function
  renderer/native/android/src/main/java/com/tencent/renderer/serialization/Deserializer.java
  renderer/native/android/src/main/java/com/tencent/renderer/serialization/SerializationTag.java
Labels: renderer: native, size: s

#3425 fix(perf): fix performance api nav start time bug
  driver/js/include/driver/performance/performance_navigation_timing.h
Labels: driver: js, size: xs

#3426 fix(perf): support dom time for performance api
  dom/include/dom/dom_manager.h
  dom/src/dom/dom_manager.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  driver/js/include/driver/performance/performance_navigation_timing.h
  driver/js/src/modules/performance/performance_navigation_timing_module.cc
  driver/js/src/scope.cc
Labels: driver: js, dom: tree, size: s

#3427 refactor(ios): optimize NativeRenderManager structure
  framework/examples/ios-demo/HippyDemo/HippyConvenientBridge.mm
  framework/ios/base/bridge/HippyBridge.h
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: action(rebase-merge)

#3428 fix(perf): support fps calculation for js
  driver/js/CMakeLists.txt
  driver/js/include/driver/modules/animation_frame_module.h
  driver/js/lib/bridge/android/native2js.js
  driver/js/lib/bridge/flutter/native2js.js
  driver/js/lib/bridge/ios/native2js.js
  driver/js/lib/entry/android/hippy.js
  driver/js/lib/entry/flutter/hippy.js
  driver/js/lib/entry/ios/hippy.js
  driver/js/lib/global/AnimationFrameModule.js
  driver/js/lib/global/android/requestAnimationFrame.js
  driver/js/lib/global/ios/requestAnimationFrame.js
  driver/js/lib/modules/ios/jsTimersExecution.js
  driver/js/src/modules/animation_frame_module.cc
  driver/js/src/scope.cc
  driver/js/src/vm/jsc/native_source_code_ios.cc
  driver/js/src/vm/v8/native_source_code_android.cc
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/module/timing/HippyTiming.h
  framework/ios/module/timing/HippyTiming.mm
  framework/voltron/core/src/bridge/native_source_code_flutter.cc
Labels: framework: ios, driver: js, size: l, framework: voltron

#3431 fix(perf): support fps calculation for js
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/RenderVsyncManager.h
  renderer/native/ios/renderer/RenderVsyncManager.m
Labels: renderer: native, size: s

#3432 fix(dom): fix call function crash
  framework/android/connector/driver/js/src/main/cpp/src/java2js.cc
Labels: framework: android, size: xs

#3433 fix(jsc): fix JSCCtxValue crash after destroy engine
  driver/js/include/driver/scope.h
  driver/js/src/engine.cc
  driver/js/src/modules/animation_module.cc
Labels: driver: js, size: s

#3434 feat(layout): update layout engine version to 1.0.5
  dom/CMakeLists.txt
Labels: dom: tree, size: xs

#3437 fix(jsc): fix gc finalize private data invalid crash
  driver/js/include/driver/vm/jsc/jsc_vm.h
  driver/js/src/napi/jsc/jsc_ctx.cc
  driver/js/src/vm/jsc/jsc_vm.cc
Labels: driver: js, size: s

#3440 docs(guide): update TDF information
  docs/README.md
  docs/_navbar.md
  docs/_sidebar.md
  docs/architecture/introduction.md
Labels: doc: pages, size: s, action(squash-merge): failed

#3443 fix(android): check overflow visible before setClipChildren
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/view/HippyViewGroup.java
Labels: renderer: native, size: s

#3449 fix(perf): fix performance api for ios params
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/performance/performance_entry.cc
  driver/js/src/scope.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: android, framework: ios, driver: js, size: s

#3448 fix(ios): animation module multi-instance support
  ios/sdk/module/animation2/HippyNextAnimationModule.m
Labels: framework: ios, size: s

#3450 fix(ios): animation module multi-instance support 2
  ios/sdk/module/animation2/HippyNextAnimationModule.m
  ios/sdk/module/animation2/pop/HPOPAnimator.h
  ios/sdk/module/animation2/pop/HPOPAnimator.mm
Labels: framework: ios, size: s

#3453 chore(workflow): change code owner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#3401 feat(android): scroll features and fixes
  renderer/native/android/build.gradle
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyLinearLayoutManager.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyOverPullHelper.java
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyRecyclerViewBase.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/common/HippyNestedScrollComponent.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/common/HippyNestedScrollHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewWrapper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PreloadHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/list/HippyListView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyVerticalScrollView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/supportui/views/viewpager/ViewPager.java
Labels: renderer: native, size: xl

#3402 feat(android): nested rich text support vertical alignment setting
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/LegacyIAlignConfig.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextImageSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextVerticalAlignSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ImageVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNode.java
Labels: renderer: native, size: xl

#3454 fix(vue): fix node not mounted when move
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Labels: driver: js, size: xs

#3456 fix(android): support focusTextInput event without params
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: renderer: native, size: s

#3457 fix(layout): fix layout changed error
  dom/include/dom/layout_node.h
  dom/include/dom/taitank_layout_node.h
  dom/include/dom/yoga_layout_node.h
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: s

#3458 chore(js): update change log
  PUBLISH.md
  driver/js/CHANGELOG.md
  driver/js/lerna.json
  driver/js/packages/hippy-react-web/CHANGELOG.md
  driver/js/packages/hippy-react/CHANGELOG.md
  driver/js/packages/hippy-vue-css-loader/CHANGELOG.md
  driver/js/packages/hippy-vue-loader/CHANGELOG.md
  driver/js/packages/hippy-vue-native-components/CHANGELOG.md
  driver/js/packages/hippy-vue-next-style-parser/CHANGELOG.md
  driver/js/packages/hippy-vue-next/CHANGELOG.md
  driver/js/packages/hippy-vue-router/CHANGELOG.md
  driver/js/packages/hippy-vue/CHANGELOG.md
Labels: driver: js, size: xl

#3459 feat(dom): add statistic info for dom size
  dom/include/dom/root_node.h
  dom/src/dom/dom_manager.cc
  dom/src/dom/layer_optimized_render_manager.cc
  dom/src/dom/root_node.cc
Labels: dom: tree, size: s

#3451 fix(ios): fix context leak when using shared engine
  examples/ios-demo/HippyDemo/ViewController.m
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: framework: ios, doc: example, size: s

#3455 chore(workflow): update code owner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#3446 feat(hippy-react): modal visible default true and optional props
  packages/global.d.ts
  packages/hippy-react-web/src/components/list-view.tsx
  packages/hippy-react-web/src/components/modal.tsx
  packages/hippy-react-web/src/modules/stylesheet.ts
  packages/hippy-react/src/components/modal.tsx
  packages/hippy-react/src/components/text-input.tsx
  packages/hippy-react/src/components/text.tsx
  packages/hippy-react/src/components/view.tsx
  packages/hippy-react/src/modules/animation-set.ts
  packages/hippy-react/src/modules/animation.ts
  packages/hippy-react/src/types/global.d.ts
  packages/hippy-react/src/types/index.ts
Labels: driver: js, size: s

#3467 fix(js): remove virtual for animation
  packages/hippy-react/src/modules/animation-set.ts
Labels: driver: js, size: xs

#3469 fix(renderer): update tdfcore d47969ec25d4f403595f06219ea43b202de9af74
  framework/android/connector/renderer/tdf/gradle.properties
  framework/android/connector/renderer/tdf/src/main/java/com/openhippy/connector/TDFRenderer.java
  modules/footstone/include/footstone/macros.h
  renderer/tdf/android/build.gradle
  renderer/tdf/android/src/main/cpp/src/render/tdf_render_bridge.cc
  renderer/tdf/android/src/main/java/com/tencent/renderer/TDFRenderEngine.java
  renderer/tdf/android/src/main/java/com/tencent/renderer/TDFRenderer.java
  renderer/tdf/common/CMakeLists.txt
  renderer/tdf/common/include/renderer/tdf/gesture/touch_recognizer.h
  renderer/tdf/common/include/renderer/tdf/tdf_render_manager.h
  renderer/tdf/common/include/renderer/tdf/view/modal_view.h
  renderer/tdf/common/include/renderer/tdf/view/view_pager.h
  renderer/tdf/common/include/renderer/tdf/viewnode/embedded_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/image_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/list_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/modal_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/refresh_wrapper_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/root_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/scroll_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/text_input_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/text_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_pager_node.h
  renderer/tdf/common/src/renderer/tdf/devtools/devtools_util.cc
  renderer/tdf/common/src/renderer/tdf/gesture/touch_recognizer.cc
  renderer/tdf/common/src/renderer/tdf/tdf_render_manager.cc
  renderer/tdf/common/src/renderer/tdf/view/modal_view.cc
  renderer/tdf/common/src/renderer/tdf/view/view_pager.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/embedded_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/image_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/list_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/modal_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/refresh_wrapper_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/root_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/scroll_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/text_input_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/text_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/view_pager_node.cc
Labels: framework: android, renderer: tdf, module: footstone, size: l

#3470 fix(perf): fix performance api dom time bug
  dom/src/dom/dom_manager.cc
Labels: dom: tree, size: xs

#3477 fix(ios): NativeRenderView leak
  renderer/native/ios/renderer/NativeRenderImpl.mm
Labels: renderer: native, size: s

#3479 fix(jsc): fix gc finalize bug and performance
  driver/js/include/driver/scope.h
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: s
