Repository Tencent/Hippy, pull requests merged in 2023-11, with the labels that each got.

#3586 docs(vue-next): add register custom-component doc & use case
  docs/en-us/hippy-vue/vue3.md
  docs/hippy-vue/vue3.md
Labels: doc: pages, size: l

#3548 feat(android): reduce layout event when size not change
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: xs, consistency

#3563 chore(docs): remove deprecated api `overScrollEnabled`
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
Labels: doc: pages, size: xs, consistency

#3582 chore(doc): update `asyncStorage` doc
  docs/api/hippy-react/modules.md
  docs/api/hippy-vue/vue-native.md
Labels: doc: pages, size: s, consistency

#3544 chore(doc): update dimensions api notes
  docs/api/hippy-react/modules.md
Labels: doc: pages, size: xs, consistency

#3587 chore(doc): update debug guide docs
  docs/assets/img/device-ctrl.webm
  docs/en-us/assets/img/device-ctrl.webm
  docs/en-us/guide/debug.md
  docs/guide/debug.md
Labels: doc: pages, size: s

#3590 fix(ios): reload textfield to take effect after altering returnKeyType
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
Labels: renderer: native, size: xs

#3589 fix(ios): add type exist check and fix bugs
  framework/ios/module/dev/HippyRedBox.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: framework: ios, renderer: native, size: s

#3588 refactor(ios): revert rename for Image component
  renderer/native/ios/renderer/component/image/HippyAnimatedImage.h
  renderer/native/ios/renderer/component/image/HippyAnimatedImage.m
  renderer/native/ios/renderer/component/image/HippyAnimatedImageView.h
  renderer/native/ios/renderer/component/image/HippyAnimatedImageView.m
  renderer/native/ios/renderer/component/image/HippyImageView.h
  renderer/native/ios/renderer/component/image/HippyImageView.m
  renderer/native/ios/renderer/component/image/HippyImageViewManager.h
  renderer/native/ios/renderer/component/image/HippyImageViewManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageCache.h
  renderer/native/ios/renderer/component/image/NativeRenderImageCache.m
Labels: renderer: native, size: m

#3592 fix(ios): reaload textfield after changing keyboardType
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
Labels: renderer: native, size: xs

#3593 fix(doc): remove unused animated property definition from docs
  docs/api/hippy-react/components.md
Labels: doc: pages, size: xs

#3594 fix(ios): add caretColor property support
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
Labels: renderer: native, size: s

#3596 fix(android): support host override notifyInitialListReady
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
Labels: renderer: native

#3595 fix(ios): make use of darkStatusBarText property in modal controller
  framework/examples/ios-demo/HippyDemo/Info.plist
  renderer/native/ios/renderer/component/modal/HippyModalHostView.m
  renderer/native/ios/renderer/component/modal/HippyModalTransitioningDelegate.m
Labels: renderer: native, doc: example, size: s

#3598 voltron support dynamic library load
  .github/CODEOWNERS
  framework/voltron/CHANGELOG.md
  framework/voltron/core/src/bridge/android/bridge_impl.cc
  framework/voltron/example/android/build.gradle
  framework/voltron/example/android/gradle/wrapper/gradle-wrapper.properties
  framework/voltron/example/lib/main.dart
  framework/voltron/lib/voltron/loader.dart
  framework/voltron/pubspec.yaml
  modules/vfs/voltron/CHANGELOG.md
  modules/vfs/voltron/pubspec.yaml
  modules/voltron/ffi/CHANGELOG.md
  modules/voltron/ffi/lib/ffi_manager.dart
  modules/voltron/ffi/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, module: vfs, module: voltron, size: s, gh: owner, framework: voltron

#3597 fix(ios): fix image animation stop issue after setting tintColor
  renderer/native/ios/renderer/component/image/HippyImageView.m
Labels: renderer: native, size: xs

#3599 refactor(ios): refactor uimanger's code and structure
  renderer/native/ios/renderer/HippyUIManager+Private.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
Labels: renderer: native, size: m

#3600 fix(ios): change sdkVersion variable name , keep compatible with hippy2
  framework/examples/ios-demo/HippyDemo/HomePage/HomePageViewController.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  modules/ios/base/HippyUtils.h
Labels: framework: ios, module: ios, doc: example, size: s

#3602 fix(ios): set logging delegate
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/ios/base/bridge/HippyBridge.mm
  modules/footstone/include/footstone/logging.h
  modules/ios/base/HippyLog.mm
Labels: framework: ios, module: footstone, module: ios, doc: example, size: s

#3604 fix(android): use promise.reject when fetch res failed
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: framework: android, size: s

#3605 fix(android): fix premature text truncation
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
Labels: framework: android, size: xs

#3541 feat(voltron): add voltron_screen_info to make flutter_module faster
  .github/CODEOWNERS
  framework/examples/voltron-demo/IOSProj/IOSProj.xcodeproj/project.pbxproj
  framework/examples/voltron-demo/android-proj/app/src/main/java/com/example/android_proj/MainActivity.java
  framework/examples/voltron-demo/flutter_module/lib/base_voltron_page.dart
  framework/examples/voltron-demo/flutter_module/pubspec.yaml
  framework/examples/voltron-demo/flutter_proj/lib/base_voltron_page.dart
  framework/examples/voltron-demo/flutter_proj/pubspec.yaml
  framework/voltron/CHANGELOG.md
  framework/voltron/example/ios/Podfile.lock
  framework/voltron/example/lib/base_voltron_page.dart
  framework/voltron/lib/engine/engine_define.dart
  framework/voltron/lib/engine/js_engine_context.dart
  framework/voltron/lib/engine/js_init_params.dart
  framework/voltron/lib/engine/voltron_js_engine.dart
  framework/voltron/lib/voltron/loader.dart
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/lib/bridge/render_bridge.dart
  renderer/voltron/lib/controller/controller.dart
  renderer/voltron/lib/render/manager.dart
  renderer/voltron/lib/util/dimension_util.dart
  renderer/voltron/lib/util/screen_util.dart
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, doc: example, size: m, gh: owner, action(squash-merge): failed, framework: voltron

#3603 fix(android): fix `overScrollEnabled` can't cancel the system effect
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
Labels: framework: android, size: s

#3608 fix(android): fix `bounce` can't cancel the system effect
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
Labels: renderer: native, size: xs

#3611 feat(android): support padding for `TextInput`
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNodeManager.java
Labels: renderer: native, size: s

#3606 fix(android): dimensions api compatibility with lower version
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/DimensionsUtil.java
Labels: framework: android, module: android, size: s

#3601 feat(android,doc): `returnKeyType`,`keyboardType` not change singleLine
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: renderer: native, doc: pages, size: s

#3510 fix(hippy-react): fix declaration for animation and scroll-view
  packages/hippy-react/src/components/scroll-view.tsx
  packages/hippy-react/src/components/web-view.tsx
  packages/hippy-react/src/modules/animation.ts
Labels: driver: js, size: s

#3612 feat(android): support fakeBold for text node
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/TextDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextComponentController.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
Labels: renderer: native, size: s

#3622 fix(android): crash when rotating screen in dev mode
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
Labels: renderer: native, size: xs

#3614 refactor(ios): Generating logs by default, regardless of Debug or not
  modules/ios/base/HippyLog.h
Labels: module: ios, size: s

#3616 fix(android)!: change Image getSize failure parameter type
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/image/ImageLoaderModule.java
Labels: framework: android, size: s

#3627 fix(android): compatible with the HippyModulePromise type
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/HippyNativeModuleInfo.java
Labels: framework: android, size: xs

#3621 feat(android): Image load events
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageComponent.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextImageSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ImageVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNodeManager.java
Labels: renderer: native, size: m

#3628 fix(dom): fix dom memory leak
  dom/src/dom/deserializer_unittests.cc
  dom/src/dom/dom_argument.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/serializer_unittests.cc
  modules/footstone/include/footstone/serializer.h
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
Labels: dom: tree, renderer: native, module: footstone, size: s

#3629 fix(ios): add local html, request body support to WebView
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.m
Labels: renderer: native, size: s

#3623 fix(ios): fix UICollectionView exception caused by incremental diff
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewDataSource.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewDataSource.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewDataSource.mm
Labels: renderer: native, size: l, action(rebase-merge)

#3619 feat(ios): add param for image onLoadEnd on iOS
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  renderer/native/ios/renderer/component/image/HippyImageView.m
Labels: renderer: native, doc: pages, size: xs, action(rebase-merge)

#3632 fix(core): JSCCtx CreateObject crash protect
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: xs

#3631 fix(ios): Fine-tune callback timing to stay compatible with hippy2
  renderer/native/ios/renderer/HippyRootView.mm
Labels: renderer: native, size: xs

#3618 fix(ios)!: make transparent as default border color
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: renderer: native, size: s

#3570 feat(android): fontWeight support number value
  docs/api/style/appearance.md
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextStyleSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TypeFaceUtil.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
Labels: renderer: native, doc: pages, size: m, consistency

#3615 feat(android): support opacity for rich text
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/annotation/HippyControllerProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextImageSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ImageVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNode.java
Labels: renderer: native, module: android, size: s

#3635 feat(vue): update vue3 & vue animation doc
  docs/hippy-vue/external-components.md
  docs/hippy-vue/vue3.md
Labels: doc: pages, size: s

#3636 fix(android): update proguard-rules
  framework/android/proguard-rules.pro
Labels: framework: android, size: s

#3624 fix(ios): final onScroll may be dropped for listview, scrollview and waterfall
  renderer/native/ios/renderer/HippyRootView.h
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.h
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderListTableView.h
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.h
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.h
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Labels: renderer: native, size: l

#3638 feat(android): support text decoration features
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/TextDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextDecorationSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextImageSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextLineMetricsHelper.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextShadowSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextVerticalAlignSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ImageVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNode.java
Labels: renderer: native, size: l

#3641 chore(workflow): update code owner
  .github/CODEOWNERS
Labels: size: xs, gh: owner

#3642 fix(ios): fix modal view display issue in landscape mode
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/modal/HippyModalHostView.m
Labels: renderer: native, size: s

#3643 fix(android): too many dispatch-tasks in background may cause anr
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/DomManager.java
Labels: framework: android, size: s

#3634 feat(android): deprecate `underlineColorAndroid` prop
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: renderer: native, doc: pages, size: s, consistency

#3644 fix(ios): fix weak ref issue in closure
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
Labels: renderer: native, size: s

#3633 fix(ios): prevent crash even logger cbset multiple times
  modules/ios/base/HippyLog.mm
Labels: module: ios, size: s

#3639 fix(ios): optimize cell creation time of listview and waterfall
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Labels: renderer: native, size: s, action(rebase-merge)
