Repository Tencent/Hippy, pull requests merged in 2023-06, with the labels that each got.

#3269 docs(ios): update ios integration document
  docs/ios/integration.md
  framework/ios/base/bridge/HippyBridge.h
Labels: framework: ios, doc: pages, size: m

#3273 docs(ios): modify ios event document for hippy3.0
  docs/ios/event.md
Labels: doc: pages, size: m

#3274 docs(ios): modify custom component document for hippy3.0
  docs/en-us/guide/debug.md
  docs/guide/debug.md
  docs/ios/custom-component.md
  docs/ios/event.md
  docs/ios/integration.md
  framework/examples/ios-demo/HippyDemo/myview/MyViewManager.mm
Labels: doc: example, doc: pages, size: m

#3270 feat(voltron): add voltron density
  .github/workflows/voltron_build_tests.yml
  framework/voltron/CHANGELOG.md
  framework/voltron/example/android/app/build.gradle
  framework/voltron/example/lib/base_voltron_page.dart
  framework/voltron/example/lib/main.dart
  framework/voltron/example/pubspec.yaml
  framework/voltron/lib/adapter/resource_loader.dart
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/core/include/render/bridge/render_bridge_ffi_impl.h
  renderer/voltron/core/src/render/bridge/render_bridge_ffi_impl.cc
  renderer/voltron/lib/bridge/render_api.dart
  renderer/voltron/lib/bridge/render_bridge.dart
  renderer/voltron/lib/bridge/render_bridge_define.dart
  renderer/voltron/lib/style/flex_value.dart
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: m, gh: workflow, framework: voltron

#3277 fix(dom): fix delete parent node cause child node nullptr
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
Labels: renderer: native, size: xs

#3279 fix(core): fix std hash for xcode15
  core/third_party/base/include/base/unicode_string_view.h
  core/third_party/base/src/base/unicode_string_view.cc
Labels: driver: js, size: s

#3278 fix(dom): fix simultaneous delete and update animation casue nullptr
  dom/src/dom/animation/animation_manager.cc
Labels: dom: animation, size: xs

#3281 fix(android): animationModule memory leak
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/AnimationModule.java
Labels: framework: android, size: xs

#3280 docs(ios): add ios native renderer document
  docs/ios/img/animated_image.png
  docs/ios/img/lazy_load1.png
  docs/ios/img/lazy_load2.png
  docs/ios/img/list.png
  docs/ios/img/text_measure.png
  docs/ios/img/ui_process.png
  docs/ios/native-renderer.md
  renderer/native/ios/renderer/NativeRenderManager.h
Labels: renderer: native, doc: pages, size: m

#3283 docs(renderer): add document for cross-platform consistency
  docs/_navbar.md
  docs/feature3.0/cross-platform-consistency.md
  docs/feature3.0/svg.md
Labels: doc: pages, size: s

#3282 fix(android): textNode memory leak
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyImageSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyStyleSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
  android/sdk/src/main/java/com/tencent/smtt/flexbox/FlexNode.java
  android/sdk/src/main/java/com/tencent/smtt/flexbox/FlexNodeStyle.java
Labels: framework: android, size: s

#3276 fix(android): listview not update when delete invisible items
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
Labels: renderer: native, size: xs

#3286 docs(doc): add docs for vue3
  docs/_navbar.md
  docs/assets/img/hippy-vue-next-arch-cn.png
  docs/feature3.0/_sidebar.md
  docs/guide/integration.md
  docs/hippy-vue/vue3.md
Labels: doc: pages, size: m, action(squash-merge): failed

#3288 Fix/android integration
  docs/android/_sidebar.md
  docs/android/custom-adapter.md
  docs/android/dom-cache.md
  docs/android/event.md
  docs/android/integration.md
  docs/android/native-render.md
  docs/assets/img/flatten-ui-1.png
  docs/assets/img/flatten-ui-2.png
  docs/assets/img/flatten-ui-3.png
  docs/assets/img/flatten-ui-4.png
  docs/assets/img/flatten-ui-5.png
  docs/assets/img/flatten-ui-6.png
  docs/assets/img/render-snapshot-performance.png
  docs/assets/img/vfs-chain.png
  docs/assets/img/vfs-processor.png
  docs/feature3.0/render-node-snapshot.md
  docs/feature3.0/snapshot.md
  docs/feature3.0/vfs.md
Labels: doc: pages, size: l, action(squash-merge): failed

#3291 fix(ios): fix layout issues
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.mm
  renderer/native/ios/utils/NativeRenderUtils.m
Labels: renderer: native, size: s

#3292 refactor(ios): refactor meta source from utf8 to utf16
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.h
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#3293 fix(ios): child component nested in text should not dirty propagation
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
  renderer/native/ios/utils/NativeRenderUtils.h
  renderer/native/ios/utils/NativeRenderUtils.m
Labels: renderer: native, size: s

#3294 fix(ios): change the unit from double to int
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
Labels: renderer: native, size: xs

#3285 fix(android): custom font style support
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TypeFaceUtil.java
Labels: renderer: native, size: s

#3297 feat(@hippy/react-web): remove font default style for Text
  packages/hippy-react-web/src/components/text.tsx
Labels: driver: js, size: xs

#3299 fix(android): not support recycle image holder temporary
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
Labels: renderer: native, size: xs

#3298 docs(doc): add hippy 3.0 layout doc
  docs/feature/feature3.0/layout.md
Labels: doc: pages, size: s

#3304 docs(doc): update doc path for 3.0
  docs/api/hippy-react/components.md
  docs/api/hippy-react/modules.md
  docs/api/hippy-react/style.md
  docs/api/hippy-vue/components.md
  docs/api/hippy-vue/external-components.md
  docs/api/hippy-vue/vue-native.md
  docs/api/hippy-vue/vue3.md
  docs/api/network-request.md
  docs/api/style/appearance.md
  docs/architecture/core.md
  docs/architecture/introduction.md
  docs/architecture/layout.md
  docs/architecture/render/ios/native-render.md
  docs/assets/css/slidebar.min.css
  docs/assets/img/animated_image.png
  docs/assets/img/lazy_load1.png
  docs/assets/img/lazy_load2.png
  docs/assets/img/list.png
  docs/assets/img/text_measure.png
  docs/assets/img/ui_process.png
  docs/assets/js/docsify.js
  docs/assets/js/docsify.min.js
  docs/development/_sidebar.md
  docs/development/demo.md
  docs/development/native-component.md
  docs/development/native-event.md
  docs/development/native-integration.md
  docs/development/native-module.md
  docs/development/web-integration.md
  docs/feature/_sidebar.md
  docs/feature/feature2.0/_sidebar.md
  docs/feature/feature2.0/animation.md
  docs/feature/feature2.0/console.md
  docs/feature/feature3.0/_sidebar.md
Labels: doc: pages, size: l, action(squash-merge): failed

#3303 docs(webrenderer): add webrenderer technical principle
  docs/architecture/render/web/web-render.md
  docs/assets/img/web-renderer-f1.webp
  docs/assets/img/web-renderer-f1p.webp
  docs/assets/img/web-renderer-f2.webp
  docs/assets/img/web-renderer-f3.webp
Labels: doc: pages, size: s

#3306 fix(ios): use auto release pool for cpp thread
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: m

#3310 chore(build): add v8 windows release build action
  .github/workflows/3rd_prebuilt_v8.yml
Labels: size: s, gh: workflow

#3311 fix(android): add tips for new demo
  framework/examples/android-demo/src/main/AndroidManifest.xml
  framework/examples/android-demo/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/LayoutUtils.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/MainActivity.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageManagement.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageSetting.kt
  framework/examples/android-demo/src/main/res/drawable/page_item_add_4x.png
  framework/examples/android-demo/src/main/res/drawable/page_item_tips_4x.png
  framework/examples/android-demo/src/main/res/drawable/page_setting_building_2x.png
  framework/examples/android-demo/src/main/res/drawable/start_prompt_2x.png
  framework/examples/android-demo/src/main/res/layout/activity_main.xml
  framework/examples/android-demo/src/main/res/layout/activity_page_setting.xml
  framework/examples/android-demo/src/main/res/layout/page_index_item.xml
  framework/examples/android-demo/src/main/res/values/dimens.xml
  framework/examples/android-demo/src/main/res/values/strings.xml
Labels: doc: example, size: m

#3312 chore(workflow): fix action runner failed
  .github/workflows/security_codeql_analyses.yml
Labels: size: xs, gh: workflow

#3313 feat(ios): remove clipboard api for ios
  framework/ios/module/clipboard/HippyClipboardModule.h
  framework/ios/module/clipboard/HippyClipboardModule.m
Labels: framework: ios, size: s

#3314 fix(android): remove ClipboardModule module
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyCoreAPI.java
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/clipboard/ClipboardModule.java
Labels: framework: android, size: s

#3317 chore(ios): modify ios app bundle identify
  framework/examples/ios-demo/project.yml
Labels: doc: example, size: xs

#3316 fix(dom): fix bug for layer optimize
  dom/include/dom/layer_optimized_render_manager.h
  dom/src/dom/layer_optimized_render_manager.cc
  renderer/voltron/lib/widget/root.dart
Labels: dom: tree, renderer: voltron, size: s

#3319 chore(build): add sqlite build action
  .github/workflows/3rd_prebuilt_sqlite.yml
Labels: size: m, gh: workflow

#3320 docs(debug): update doc path for 3.0
  docs/api/hippy-react/modules.md
  docs/architecture/core.md
  docs/architecture/layout.md
  docs/development/debug.md
  docs/development/native-adapter.md
  docs/development/native-component.md
  docs/development/native-integration.md
  docs/development/native-module.md
  docs/development/platform/android/_sidebar.md
  docs/development/platform/android/custom-adapter.md
  docs/development/platform/android/custom-component.md
  docs/development/platform/android/custom-module.md
  docs/development/platform/android/event.md
  docs/development/platform/android/integration.md
  docs/development/platform/ios/_sidebar.md
  docs/development/platform/ios/custom-adapter.md
  docs/development/platform/ios/custom-component.md
  docs/development/platform/ios/custom-module.md
  docs/development/platform/ios/event.md
  docs/development/platform/ios/integration.md
  docs/development/platform/voltron/_sidebar.md
  docs/development/platform/voltron/custom-adapter.md
  docs/development/platform/voltron/custom-component.md
  docs/development/platform/voltron/custom-module.md
  docs/development/platform/voltron/event.md
  docs/development/platform/voltron/integration.md
  docs/development/platform/voltron/type-mapping.md
  docs/development/platform/web/_sidebar.md
  docs/development/platform/web/custom-component.md
  docs/development/platform/web/custom-module.md
  docs/development/platform/web/event.md
  docs/development/platform/web/integration.md
Labels: doc: pages, size: xl

#3328 fix(ios): allocation method should call super
  framework/ios/base/bundleoperations/HippyBundleLoadOperation.mm
Labels: framework: ios, size: xs

#3287 feat(android): make animator work on both enter and exit
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
  renderer/native/android/src/main/res/anim/modal_animated_fade_in.xml
  renderer/native/android/src/main/res/anim/modal_animated_fade_out.xml
  renderer/native/android/src/main/res/anim/modal_animated_slide_fade_in.xml
  renderer/native/android/src/main/res/anim/modal_animated_slide_fade_out.xml
  renderer/native/android/src/main/res/anim/modal_animated_slide_in.xml
  renderer/native/android/src/main/res/anim/modal_animated_slide_out.xml
  renderer/native/android/src/main/res/values/styles.xml
Labels: renderer: native, size: m

#3326 fix(android,doc): fix turbo object reference and update doc, example
  driver/js/src/napi/v8/v8_ctx.cc
  framework/examples/android-demo/src/main/java/com/openhippy/example/ExampleAPIProvider.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/turbo/DemoTurboModule.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/turbo/TurboArray.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/turbo/TurboConfig.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/turbo/TurboMap.kt
Labels: driver: js, doc: example, size: m

#3327 docs(android): update code path in integration doc
  docs/development/native-integration.md
  settings.gradle
Labels: doc: pages, size: xs, build: gradle

#3290 refactor(ios): remove unnessessary codes
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: framework: ios, size: s

#3322 feat(devtools): add rendererType and componentCount report
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/Inspector.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/HippyModuleManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/HippyModuleManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerRegistry.java
  ios/sdk/debug/devtools/HippyDevManager.m
  ios/sdk/module/dev/HippyDevMenu.mm
Labels: framework: android, framework: ios, size: s

#3330 feat(ios): add ios bundle load operation queue
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bundleoperations/HippyBundleExecutionOperation.h
  framework/ios/base/bundleoperations/HippyBundleExecutionOperation.m
  framework/ios/base/bundleoperations/HippyBundleLoadOperation.h
  framework/ios/base/bundleoperations/HippyBundleLoadOperation.mm
  framework/ios/module/imageloader/HippyImageLoaderModule.mm
  framework/ios/module/loader/HippyBridge+VFSLoader.h
  framework/ios/module/loader/HippyBridge+VFSLoader.mm
  framework/ios/module/loader/HippyFileHandler.h
  framework/ios/module/loader/HippyFileHandler.mm
  framework/ios/module/network/HippyNetWork.mm
  modules/vfs/ios/VFSUriHandler.h
  modules/vfs/ios/VFSUriHandler.mm
  modules/vfs/ios/VFSUriLoader.h
  modules/vfs/ios/VFSUriLoader.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageView.m
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
Labels: framework: ios, renderer: native, module: vfs, size: m

#3325 docs(android): update doc and example for `BackAndroid`
  docs/api/hippy-react/modules.md
  docs/api/hippy-vue/vue-native.md
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageConfiguration.kt
Labels: doc: example, doc: pages, size: s

#3332 Feature/add vue next integration doc
  docs/development/web-integration.md
Labels: doc: pages, size: m

#3336 chore(action): add github release and compare action
  .github/workflows/project_artifact_compare.yml
  .github/workflows/project_artifact_release.yml
Labels: size: m, gh: workflow

#3335 fix(ios): add semaphore to make sure scope is created
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: xs

#3338 feat(android): image add param to `onError`
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
Labels: framework: android, size: xs

#3323 chore(ios): remove all the clang-format instruction
  core/src/vm/jsc/native_source_code_ios.cc
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/component/footerrefresh/HippyFooterRefreshManager.m
  ios/sdk/component/headerrefresh/HippyHeaderRefreshManager.m
  ios/sdk/component/image/UIImageView+Hippy.m
  ios/sdk/component/listview/HippyBaseListViewManager.m
  ios/sdk/component/navigator/HippyNavigatorViewManager.m
  ios/sdk/component/refreshview/HippyRefreshWrapperViewManager.m
  ios/sdk/component/scrollview/HippyScrollViewManager.mm
  ios/sdk/component/textinput/HippyTextViewManager.mm
  ios/sdk/component/view/HippyView.m
  ios/sdk/component/view/UIView+Hippy.mm
  ios/sdk/debug/websocket/HippyWebSocketManager.m
  ios/sdk/module/dev/HippyDevLoadingView.m
  ios/sdk/module/dev/HippyRedBox.m
  ios/sdk/module/event observer/HippyEventObserverModule.m
  ios/sdk/module/exception/HippyExceptionModule.m
  ios/sdk/module/image loader/HippyImageLoaderModule.m
  ios/sdk/module/localstorage/HippyAsyncLocalStorage.m
  ios/sdk/module/netinfo/HippyNetInfo.m
  ios/sdk/module/network/HippyNetWork.m
  ios/sdk/module/timing/HippyTiming.mm
  ios/sdk/module/uimanager/HippyUIManager.mm
  ios/sdk/utils/HippyConvert.mm
Labels: framework: ios, driver: js, size: m
