Repository Tencent/Hippy, pull requests merged in 2023-03, with the labels that each got.

#2991 fix(vue3): fix listViewItem disappear event not triggered
  packages/hippy-vue-next/__test__/built-in-component.test.ts
  packages/hippy-vue-next/__test__/runtime/document/hippy-document.test.ts
  packages/hippy-vue-next/__test__/runtime/event/hippy-event-dispatcher.test.ts
  packages/hippy-vue-next/__test__/util/event.test.ts
  packages/hippy-vue-next/src/runtime/document/hippy-document.ts
  packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  packages/hippy-vue-next/src/runtime/element/hippy-list-item-element.ts
  packages/hippy-vue-next/src/runtime/event/hippy-event-dispatcher.ts
  packages/hippy-vue-next/src/util/event.ts
  packages/hippy-vue/src/elements/built-in.js
  packages/hippy-vue/src/renderer/__tests__/document-node.test.js
  packages/hippy-vue/src/renderer/__tests__/list-item-node.test.js
  packages/hippy-vue/src/renderer/document-node.js
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/util/event.js
Labels: driver: js, size: m

#2992 fix(vue3): fix listViewItem disappear event not triggered
  driver/js/packages/hippy-vue/src/elements/built-in.js
  driver/js/packages/hippy-vue/src/renderer/__tests__/document-node.test.js
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/util/event.js
Labels: driver: js, size: s

#2989 docs(vue-next): update keep-alive hmr issue description
  docs/en-us/hippy-vue/vue3.md
  docs/hippy-vue/vue3.md
Labels: doc: pages, size: xs

#2996 fix(android): solve ChoreographerUtilsTest problem
  renderer/native/android/src/test/java/com/tencent/renderer/utils/ChoreographerUtilsTest.java
Labels: renderer: native, size: s

#2997 docs(vue3): fix dialog introduction error
  docs/en-us/hippy-vue/vue3.md
  docs/hippy-vue/vue3.md
Labels: doc: pages, size: xs

#2998 feat(dom): add willchange attribute to dom node
  dom/include/dom/dom_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
Labels: dom: animation, dom: tree, size: s

#2995 fix(android): custom font style support
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TypeFaceUtil.java
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-p.vue
  examples/hippy-vue-next-demo/src/components/demo/demo-p.vue
Labels: framework: android, doc: example, size: s

#3002 feat(vue): add native event parameters
  packages/hippy-vue-next/src/runtime/event/hippy-event-dispatcher.ts
  packages/hippy-vue-next/src/runtime/event/hippy-event.ts
  packages/hippy-vue/src/renderer/native/event/dispatcher.js
Labels: driver: js, size: s

#3000 feat(ios): bump minimum deployment target to iOS11
  core/src/vm/jsc/js_vm.cc
  hippy.podspec
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/module/turbo/HippyOCTurboModule+Inner.h
  ios/sdk/module/turbo/HippyOCTurboModule.h
  ios/sdk/module/turbo/HippyOCTurboModule.mm
Labels: framework: ios, driver: js, size: s, build: xcode

#3004 feat(core): add willexit callback
  core/include/core/scope.h
  core/src/scope.cc
Labels: driver: js, size: s

#3006 refactor(ios): remove unused code of viewPager
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/component/viewPager/HippyViewPager.h
  ios/sdk/component/viewPager/HippyViewPagerManager.m
Labels: framework: ios, size: s

#2999 fix(voltron): fix voltron ios bitcode config
  .github/workflows/config/license-check.json
  framework/voltron/script/ios.toolchain.cmake
Labels: size: s, gh: workflow, framework: voltron

#3008 feat(android): support set custom ViewPagerPageChangeListener
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPagerController.java
Labels: renderer: native, size: s

#3007 docs(font): modify document about custom-font
  docs/en-us/guide/custom-font.md
  docs/guide/custom-font.md
Labels: doc: pages, size: s

#3010 docs(README): transfer some document to official website
  README.md
  docs/_navbar.md
  docs/en-us/_navbar.md
  docs/en-us/guide/integration.md
  docs/en-us/hippy-react/gesture.md
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/_sidebar.md
  docs/en-us/hippy-vue/gesture.md
  docs/en-us/hippy-vue/native-event.md
  docs/guide/integration.md
  docs/hippy-react/gesture.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/_sidebar.md
  docs/hippy-vue/gesture.md
  docs/hippy-vue/native-event.md
Labels: doc: pages, size: m, action(squash-merge): failed, action(rebase-merge)

#3011 fix(android): add buildViewPager
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/HippyViewPagerController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/ViewPagerPageChangeListener.java
Labels: renderer: native, size: s

#3001 fix(android): return size after loading gif
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  examples/hippy-react-demo/src/components/Image/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-img.vue
  examples/hippy-vue-next-demo/src/components/demo/demo-img.vue
  packages/hippy-vue-next/src/built-in-component.ts
  packages/hippy-vue-next/src/runtime/event/hippy-event.ts
  packages/hippy-vue/src/elements/built-in.js
Labels: framework: android, driver: js, doc: example, doc: pages, size: m

#3013 fix(android): promise leak after engine destroy
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/PromiseImpl.java
Labels: framework: android, size: s

#3014 fix(android): promise leak after engine destroy
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/PromiseImpl.java
Labels: framework: android, size: s

#3012 fix(ios): fix event property bug
  renderer/native/ios/renderer/component/view/UIView+DomEvent.m
Labels: renderer: native, size: xs

#3015 refactor(ios): modify the usage mode
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: framework: ios, size: xs

#3019 fix(core): fix debugmode crash
  core/src/vm/v8/v8_vm.cc
Labels: driver: js, size: xs

#3017 fix(ios): fixed the issue that pictures would not be displayed
  ios/sdk/component/image/HippyImageView.m
Labels: framework: ios, size: s

#3020 feat(ios): add connector for convenient interface
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyBridgeConnector.h
  framework/ios/base/bridge/HippyBridgeConnector.mm
  framework/ios/base/bridge/HippyBridgeDelegate.h
  framework/ios/module/rootview/HippyRootViewManager.mm
  hippy.podspec
  renderer/native/ios/renderer/NativeRenderDefines.h
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/NativeRenderRootView.h
  renderer/native/ios/renderer/NativeRenderRootView.m
  renderer/native/ios/renderer/component/footerrefresh/NativeRenderFooterRefreshManager.mm
  renderer/native/ios/renderer/component/headerrefresh/NativeRenderHeaderRefreshManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListItemViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewManager.mm
  renderer/native/ios/renderer/component/modal/NativeRenderModalHostViewManager.mm
  renderer/native/ios/renderer/component/navigator/NativeRenderNavigatorViewManager.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperItemViewManager.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollViewManager.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerViewManager.mm
  renderer/native/ios/renderer/component/text/NativeRenderTextManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerItemManager.mm
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerManager.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallItemViewManager.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewManager.mm
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebViewManager.mm
Labels: framework: ios, renderer: native, doc: example, size: xl, build: xcode

#3023 fix(vue): perf style diff
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/Image/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-img.vue
  examples/hippy-vue-next-demo/src/components/demo/demo-img.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  packages/hippy-vue-next/__test__/patch-prop.test.ts
  packages/hippy-vue-next/__test__/util/event.test.ts
  packages/hippy-vue-next/src/modules/style.ts
  packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  packages/hippy-vue-next/src/runtime/event/hippy-event-dispatcher.ts
  packages/hippy-vue-next/src/runtime/event/hippy-event-target.ts
  packages/hippy-vue-next/src/runtime/node/hippy-node.ts
  packages/hippy-vue-next/src/util/event.ts
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/runtime/modules/style.js
  packages/hippy-vue/src/util/event.js
  packages/hippy-vue/src/util/index.js
Labels: driver: js, doc: example, size: m

#3025 feat(hippy-react-web): add cjs formatted output
  packages/hippy-react-web/package-lock.json
  packages/hippy-react-web/package.json
  scripts/react-configs.js
Labels: driver: js, size: s, build: js

#3024 fix(android): fix default value for several properties
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/ImageNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/DiffUtils.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/common/HippyNestedScrollHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/AsyncImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/BackgroundDrawable.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/ContentDrawable.java
Labels: framework: android, size: m

#3021 feat(voltron): support multi flutter engine
  framework/voltron/CHANGELOG.md
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/lib/adapter/resource_loader.dart
  framework/voltron/lib/bridge/bridge_define.dart
  framework/voltron/lib/bridge/voltron_api.dart
  framework/voltron/lib/engine/voltron_js_engine.dart
  framework/voltron/lib/voltron/loader.dart
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/lib/bridge/render_api.dart
  renderer/voltron/lib/engine/loader.dart
  renderer/voltron/lib/render/render_context.dart
  renderer/voltron/lib/widget/root.dart
  renderer/voltron/pubspec.yaml
  renderer/voltron/test/render_node_test.dart
  renderer/voltron/test/render_view_model_test.dart
Labels: renderer: voltron, size: l, framework: voltron

#3003 feat(android): support touch input from devtool
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/Inspector.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/domain/InputDomain.java
Labels: framework: android, size: m

#2987 feat(android): make animator work on both enter and exit
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
  android/sdk/src/main/res/anim/modal_animated_fade_in.xml
  android/sdk/src/main/res/anim/modal_animated_fade_out.xml
  android/sdk/src/main/res/anim/modal_animated_slide_fade_in.xml
  android/sdk/src/main/res/anim/modal_animated_slide_fade_out.xml
  android/sdk/src/main/res/anim/modal_animated_slide_in.xml
  android/sdk/src/main/res/anim/modal_animated_slide_out.xml
  android/sdk/src/main/res/values/styles.xml
  examples/hippy-react-demo/src/components/Modal/index.jsx
  examples/hippy-vue-demo/src/components/native-demos/demo-dialog.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-dialog.vue
Labels: framework: android, doc: example, size: m

#3031 feat(react): support fontWeight in number
  packages/hippy-react/src/dom/element-node.ts
Labels: driver: js, size: xs

#3034 feat(driver): add RequestIdleCallback
  driver/js/include/driver/modules/timer_module.h
  driver/js/lib/global/TimerModule.js
  driver/js/src/modules/timer_module.cc
  driver/js/src/vm/jsc/native_source_code_ios.cc
  driver/js/src/vm/v8/native_source_code_android.cc
  framework/android/connector/driver/js/src/main/cpp/CMakeLists.txt
  framework/android/connector/driver/js/src/main/cpp/src/native_source_code_android.cc
  framework/voltron/core/src/bridge/native_source_code_flutter.cc
  modules/footstone/include/footstone/idle_task.h
  modules/footstone/src/idle_task.cc
  modules/footstone/src/idle_timer.cc
  modules/footstone/src/worker.cc
Labels: framework: android, driver: js, module: footstone, size: m, framework: voltron

#3039 fix(driver): fix hippy vue bug
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, driver: js, size: xs

#3040 feat(ios): add onKeyboardWillHide callback for iOS
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/component/textinput/HippyBaseTextInput.h
  ios/sdk/component/textinput/HippyBaseTextInput.m
  ios/sdk/component/textinput/HippyTextField.h
  ios/sdk/component/textinput/HippyTextField.m
  ios/sdk/component/textinput/HippyTextView.h
  ios/sdk/component/textinput/HippyTextView.mm
  ios/sdk/component/textinput/HippyTextViewManager.mm
Labels: framework: ios, doc: pages, size: m

#3044 fix(ios): maxlength property not working in hippy-vue
  ios/sdk/component/textinput/HippyTextField.m
  ios/sdk/component/textinput/HippyTextView.mm
Labels: framework: ios, size: m

#3043 fix(ios): fix banner view bug in watefall view
  ios/sdk/component/waterfalllist/HippyWaterfallView.m
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.h
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.m
Labels: framework: ios, size: s

#3042 fix(voltron): fix voltron build error
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  framework/voltron/core/src/bridge/android/bridge_impl.cc
  framework/voltron/core/src/bridge/android/js2dart.cc
  framework/voltron/core/src/bridge/android/js2dart.h
  framework/voltron/core/src/bridge/ios/VoltronJSCExecutor.mm
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
Labels: driver: js, size: m, framework: voltron

#3045 feat(driver): remove global_external_data
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: s

#3046 fix(footstone): fix looper driver bug
  modules/footstone/src/platform/adr/looper_driver.cc
  modules/footstone/src/platform/ios/looper_driver.cc
Labels: module: footstone, size: xs

#3048 feat(driver): remove redundant code
  driver/js/include/driver/engine.h
  driver/js/src/engine.cc
Labels: driver: js, size: s

#3049 feat(driver): add will_exit_cbs and remove redundant code
  driver/js/include/driver/scope.h
  driver/js/src/napi/v8/js_native_api_v8.cc
  driver/js/src/scope.cc
Labels: driver: js, size: xl

#3054 feat(vue): add beforeRenderToNative hook to support computed style
  driver/js/ava.config.js
  driver/js/packages/hippy-vue-css-loader/src/__tests__/color-parser.test.js
  driver/js/packages/hippy-vue-css-loader/src/color-parser.js
  driver/js/packages/hippy-vue-css-loader/src/css-loader.js
  driver/js/packages/hippy-vue-css-loader/src/css-parser.js
  driver/js/packages/hippy-vue/src/renderer/__tests__/before-render-to-native-hook.test.js
  driver/js/packages/hippy-vue/src/renderer/native/__tests__/index.test.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
  driver/js/packages/hippy-vue/src/runtime/index.js
  driver/js/packages/hippy-vue/src/runtime/native.js
  driver/js/packages/hippy-vue/src/util/index.js
Labels: driver: js, size: m

#3055 fix(android): add log message for NativeRenderer
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/LogUtils.java
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: framework: android, renderer: native, module: android, size: m

#3056 fix(demo): fix cross-env script error
  examples/hippy-react-demo/scripts/env-polyfill.js
  examples/hippy-vue-demo/scripts/env-polyfill.js
  examples/hippy-vue-next-demo/scripts/env-polyfill.js
Labels: doc: example, size: xs

#3057 fix(demo): fix cross-env script error
  driver/js/examples/hippy-react-demo/scripts/env-polyfill.js
  driver/js/examples/hippy-vue-demo/scripts/env-polyfill.js
Labels: driver: js, size: xs

#3058 refactor(demo): change vue-loader dependency judgement
  examples/hippy-vue-demo/scripts/hippy-webpack.android-vendor.js
  examples/hippy-vue-demo/scripts/hippy-webpack.android.js
  examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
  examples/hippy-vue-demo/scripts/hippy-webpack.ios-vendor.js
  examples/hippy-vue-demo/scripts/hippy-webpack.ios.js
  examples/hippy-vue-demo/scripts/hippy-webpack.web-renderer.dev.js
  examples/hippy-vue-demo/scripts/hippy-webpack.web-renderer.js
Labels: doc: example, size: s

#3059 refactor(demo): change vue-loader dependency judgement
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.android-vendor.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.android.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.dev.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.ios-vendor.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.ios.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.web-renderer.dev.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.web-renderer.js
Labels: driver: js

#3060 Fix/jsc
  driver/js/include/driver/engine.h
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/include/driver/napi/jsc/jsc_ctx_value.h
  driver/js/include/driver/napi/v8/v8_ctx_value.h
  driver/js/include/driver/scope.h
  driver/js/include/driver/vm/jsc/jsc_vm.h
  driver/js/src/engine.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  driver/js/src/scope.cc
  driver/js/src/vm/jsc/jsc_vm.cc
Labels: driver: js, size: m

#3062 fix(driver): fix iOS release context crash
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: xs

#3036 feat(ios): optimize performance ,memory usage and interface
  dom/src/dom/dom_node.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/Framework.xcodeproj/project.pbxproj
  framework/ios/base/HippyDeviceBaseInfo.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyConvenientBridge.h
  framework/ios/base/bridge/HippyConvenientBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/utils/HippyInstanceLoadBlock.h
  framework/ios/utils/HippyInstanceLoadBlock.m
  framework/ios/utils/NSObject+CtxValue.h
  framework/ios/utils/NSObject+CtxValue.mm
  framework/ios/utils/jsc/NSObject+JSValue.m
  hippy.podspec
  modules/ios/base/HPAsserts.m
  renderer/native/ios/renderer/NativeRenderComponentMap.h
  renderer/native/ios/renderer/NativeRenderComponentMap.mm
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesView.m
  renderer/native/ios/renderer/component/view/NativeRenderView.h
  renderer/native/ios/renderer/component/view/NativeRenderView.m
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.h
  renderer/native/ios/renderer/component/view/UIView+DomEvent.m
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewDataSource.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewDataSource.mm
Labels: framework: ios, driver: js, dom: tree, renderer: native, module: ios, doc: example, size: l, build: xcode

#3063 fix(ios): fix vue demo bug
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Labels: renderer: native, size: xs

#3050 feat(android): add getNodeForLocation for utils mode
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/model/DomModel.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/DomManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/uimanager/UIManagerModule.java
Labels: framework: android, size: m

#3066 eliminate some warnings
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  ios/sdk/base/HippyFont.mm
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/component/image/HippyAnimatedImageView.m
  ios/sdk/component/listview/HippyBaseListView.m
  ios/sdk/debug/devtools/HippyDevWebSocketClient.m
  ios/sdk/layout/MTTFlexLine.cpp
  ios/sdk/layout/MTTNode.cpp
  ios/sdk/utils/HippyLog.mm
Labels: framework: ios, doc: example, size: s

#3068 fix(readme): fix readme of requestInterrupt method
  docs/android/v8-api.md
Labels: doc: pages, size: xs

#3069 fix(readme): fix English README of requestInterrupt method
  docs/en-us/android/v8-api.md
Labels: doc: pages, size: xs

#3070 fix(dom): implement the MoveRenderNode interface
  dom/include/dom/layer_optimized_render_manager.h
  dom/include/dom/render_manager.h
  dom/src/dom/layer_optimized_render_manager.cc
  framework/android/gradle.properties
  renderer/native/android/src/main/cpp/include/renderer/native_render_manager.h
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderDelegate.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderProvider.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ListItemRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNodeManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ArrayUtils.java
  renderer/native/ios/renderer/NativeRenderComponentProtocol.h
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapper.m
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollView.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/text/NativeRenderTextManager.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.mm
  renderer/native/ios/renderer/component/view/UIView+NativeRender.h
  renderer/native/ios/renderer/component/view/UIView+NativeRender.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
  renderer/voltron/core/include/render/queue/const.h
  renderer/voltron/core/include/render/queue/render_op.h
  renderer/voltron/core/include/render/queue/render_task_runner.h
  renderer/voltron/core/include/render/queue/voltron_render_manager.h
  renderer/voltron/core/src/render/queue/render_task_runner.cc
  renderer/voltron/core/src/render/queue/voltron_render_manager.cc
  renderer/voltron/lib/render/manager.dart
  renderer/voltron/lib/render/node.dart
  renderer/voltron/lib/render/operator_runner.dart
  renderer/voltron/lib/style/text_virtual_node.dart
  renderer/voltron/lib/style/virtual_node_manager.dart
  renderer/voltron/lib/viewmodel/group.dart
  renderer/voltron/lib/viewmodel/view_model.dart
  renderer/voltron/test/render_node_test.dart
  renderer/voltron/test/util/render_op_util.dart
Labels: framework: android, dom: tree, renderer: native, renderer: voltron, size: l

#3071 fix(workflows): using stdlibc++ on the windows platform
  .github/workflows/3rd_prebuilt_v8.yml
Labels: size: xs, gh: workflow

#3072 fix(dom): mark dirty when text child node changes
  dom/include/dom/root_node.h
  dom/src/dom/root_node.cc
Labels: dom: tree, size: s

#3073 feat(workflows): install ninja via chocolatey pkg
  .github/workflows/3rd_prebuilt_v8.yml
Labels: size: xs, gh: workflow

#3075 fix(workflow): fix workflow yml file syntax error
  .github/workflows/gh_pr_checks_approval.yml
  memory.sh
Labels: size: s, gh: workflow

#3076 Fix/workflow syntax error
  memory.sh
Labels: size: xs

#3077 fix(workflow): fix workflow yml file syntax error
  .github/workflows/gh_pr_checks_approval.yml
Labels: size: xs, gh: workflow

#3081 Feature/cpp exception default
  hippy.podspec
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
Labels: framework: ios, size: xs, build: xcode

#3083 fix(core): fix uncaughtException bug
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/napi/v8/v8_ctx.h
  core/src/napi/v8/v8_ctx.cc
Labels: framework: android, driver: js, size: s

#3084 feat(driver): refactor vm and fix engine erase crash
  driver/js/include/driver/napi/js_try_catch.h
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/include/driver/napi/jsc/jsc_try_catch.h
  driver/js/include/driver/napi/v8/v8_ctx.h
  driver/js/include/driver/napi/v8/v8_try_catch.h
  driver/js/include/driver/vm/v8/v8_vm.h
  driver/js/src/engine.cc
  driver/js/src/modules/contextify_module.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  driver/js/src/napi/jsc/jsc_try_catch.cc
  driver/js/src/napi/v8/v8_ctx.cc
  driver/js/src/napi/v8/v8_try_catch.cc
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  driver/js/src/vm/js_vm.cc
  driver/js/src/vm/v8/v8_vm.cc
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, driver: js, size: l

#3082 feat(voltron): update voltron to 0.0.19
  framework/voltron/CHANGELOG.md
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: s, framework: voltron

#3085 fix(vue): make sure start animation after node created
  driver/js/packages/hippy-vue-native-components/src/animation.js
Labels: driver: js, size: xs

#3087 feat(workflows): differentiate between release and debug build type
  .github/workflows/3rd_prebuilt_v8.yml
Labels: size: s, gh: workflow

#3088 feat(ios): change cpp excetion enable to false
  devtools/devtools-backend/CMakeLists.txt
  framework/ios/Framework.xcodeproj/project.pbxproj
  hippy.podspec
  modules/ios/base/Base.xcodeproj/project.pbxproj
  modules/ios/image/Image.xcodeproj/project.pbxproj
  modules/vfs/ios/VFS.xcodeproj/project.pbxproj
  renderer/native/ios/NativeRenderer.xcodeproj/project.pbxproj
  renderer/native/ios/renderer/NativeRenderImpl.h
Labels: framework: ios, renderer: native, module: vfs, module: ios, devtools: backend, size: s, build: xcode

#3089 fix(driver): fix inspector reload crash
  driver/js/src/runtime/v8/v8_bridge_utils.cc
Labels: driver: js, size: xs

#3092 feat(ios): add load debug bundle interface
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/bridge/HippyConvenientBridge.h
  framework/ios/base/bridge/HippyConvenientBridge.mm
Labels: framework: ios, doc: example, size: s

#3091 fix(driver): fix iOS reload crash
  driver/js/include/driver/vm/jsc/jsc_vm.h
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: s

#3094 fix(driver): fix hippy-vue animation bug
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/include/driver/scope.h
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: m

#3095 feat(animation): remove eventListener when animationManager is destroyed
  dom/include/dom/animation/animation_manager.h
  dom/src/dom/animation/animation_manager.cc
Labels: dom: animation, size: s

#3096 feat(animation): add releaseRootResources for rootNode
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/root_node.cc
  framework/android/connector/dom/src/main/cpp/include/connector/dom_jni.h
  framework/android/connector/dom/src/main/cpp/src/dom_jni.cc
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/ios/base/bridge/HippyConvenientBridge.mm
Labels: framework: android, framework: ios, dom: animation, dom: tree, size: s

#3097 feat(workflows): enable iterator debugging on windows platform
  .github/workflows/3rd_prebuilt_v8.yml
Labels: size: xs, gh: workflow

#3098 fix(ios): fix animation modules memory leaks
  dom/src/dom/animation/animation_manager.cc
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyConvenientBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  renderer/native/ios/renderer/NativeRenderImpl.mm
Labels: framework: ios, dom: animation, renderer: native, doc: example, size: s

#3099 fix(ios): remove error codes
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, doc: example, size: s

#3100 fix(devtools): fix ios devtools show
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/debug/devtools/HippyDevInfo.h
  framework/ios/debug/devtools/HippyDevInfo.m
Labels: framework: ios, doc: example, size: s

#3101 fix(dom): fix MarkLayoutNodeDirty bug
  dom/src/dom/root_node.cc
Labels: dom: tree, size: xs
