Repository Tencent/Hippy, pull requests merged in 2023-02, with the labels that each got.

#2887 feat(workflows): optimize self-hosted runner alarm strategy
  .github/workflows/gh_runners_monitor.yml
Labels: size: s, gh: workflow

#2888 feat(workflows): optimize self-hosted runner alarm strategy
  .github/workflows/gh_runners_monitor.yml
Labels: size: s, gh: workflow

#2890 feat(workflows): limit workflow concurrency to save resources
  .github/workflows/3rd_prebuilt_v8.yml
  .github/workflows/android_build_tests.yml
  .github/workflows/android_build_tests_bypass.yml
  .github/workflows/docker_build_image.yml
  .github/workflows/gh_issue_crash_report.yml
  .github/workflows/voltron_build_tests.yml
  .github/workflows/voltron_build_tests_bypass.yml
Labels: size: s, gh: workflow

#2891 fix(workflows): fix merge guard not running after updating branch
  .github/workflows/gh_pr_merge_guard.yml
Labels: size: xs, gh: workflow

#2893 chore(cmake): set `CMP0135` policy to new behavior explicitly
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: size: xs, build: cmake

#2894 chore(cmake): set `CMP0135` policy to new behavior explicitly
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: size: xs, build: cmake

#2896 chore(android): support apply from sub settings.gradle
  framework/android/connector/renderer/native/settings.gradle
  settings.gradle
Labels: framework: android, size: s, build: gradle

#2897 chore(docker): move docker files folder into buildconfig
  .github/CODEOWNERS
  .github/workflows/docker_build_image.yml
  buildconfig/docker/android-release/Dockerfile
  buildconfig/docker/linux-release/Dockerfile
Labels: size: s, gh: workflow, gh: owner

#2898 refactor(ios): perf ios js2native logic
  core/js/bridge/ios/js2native.js
  core/src/napi/jsc/native_source_code_ios.cc
Labels: driver: js, size: s

#2899 chore(codeowner): add web-renderer codeowner
  .github/CODEOWNERS
Labels: size: xs, gh: owner

#2844 fix(android): text with negative letterSpacing wraps at wrong position
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
Labels: renderer: native, size: s

#2903 chore(webrenderer): e2e depend security problem fix
  packages/hippy-web-renderer/e2e/test/package-lock.json
Labels: driver: js, size: xl

#2904 chore(cmake): adjust the `binary_dir` location for local packages
  buildconfig/cmake/InfraPackagesModule.cmake
Labels: size: xs, build: cmake

#2900 fix(android): modal may not be fullscreen
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
  android/sdk/src/main/res/values/themes.xml
Labels: framework: android, size: s

#2908 feat(workflows): add webhook retrier
  .github/workflows/gh_webhook_retrier.yml
Labels: size: s, gh: workflow

#2909 docs(ios): update readme files
  README.md
Labels: size: xs

#2910 feat(workflows): add webhook retrier
  .github/workflows/gh_webhook_retrier.yml
Labels: size: s, gh: workflow

#2906 fix(ios): change engine dealloc thread from main thread to js thread
  framework/ios/Framework.xcodeproj/project.pbxproj
  framework/ios/base/executors/HippyJSEnginesMapper.mm
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#2912 fix(android): long click conflict with touch
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/NativeGestureDispatcher.java
Labels: framework: android, size: xs

#2916 Revert "fix(android): long click conflict with touch"
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/NativeGestureDispatcher.java
Labels: framework: android, size: xs

#2917 Revert "fix(android): long click conflict with touch"
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/NativeGestureDispatcher.java
Labels: renderer: native, size: xs

#2918 fix(workflows): fix unexpected passing when synchronize action occurs
  .github/workflows/gh_pr_merge_guard.yml
Labels: size: s, gh: workflow

#2919 fix(workflows): fix unexpected passing when synchronize action occurs
  .github/workflows/gh_pr_merge_guard.yml
Labels: size: s, gh: workflow

#2920 fix(android): pull header/footer collapse animation
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: framework: android, size: s

#2922 fix(iOS): gif is play fast at high fresh rate device
  renderer/native/ios/renderer/component/image/NativeRenderAnimatedImageView.m
Labels: renderer: native, size: xs

#2921 fix(iOS): gif is play fast at high fresh rate device
  ios/sdk/component/image/HippyAnimatedImageView.m
Labels: framework: ios, size: xs

#2923 chore(lint): perf some js lint issues
  examples/hippy-vue-next-demo/src/components/demo/demo-dynamicimport.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-nested-scroll.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-pull-header-footer.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-vue-native.vue
  lint-staged.config.js
  package.json
Labels: doc: example, size: s

#2924 fix(workflows): fix the tips content incompletely generated problem
  .github/workflows/gh_pr_checks_approval.yml
Labels: size: s, gh: workflow

#2925 fix(workflows): fix the tips content incompletely generated problem
  .github/workflows/gh_pr_checks_approval.yml
Labels: size: s, gh: workflow

#2928 fix(android): `initialContentOffset` takes effect too late
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
Labels: framework: android, size: xs

#2914 feat(android,ios,js): add getBoundingClientRect api
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  driver/js/examples/hippy-react-demo/src/modules/UIManagerModule/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  driver/js/package-lock.json
  driver/js/packages/global.d.ts
  driver/js/packages/hippy-react/src/modules/ui-manager-module.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/runtime/native.js
  framework/examples/android-demo/res/index.android.js
  framework/examples/android-demo/res/vendor.android.js
  framework/examples/ios-demo/res/index.ios.js
  framework/examples/ios-demo/res/vendor.ios.js
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
Labels: driver: js, renderer: native, doc: example, doc: pages, size: m

#2931 fix(workflows): each head SHA will only trigger one merge action
  .github/workflows/gh_pr_auto_merger.yml
Labels: size: s, gh: workflow

#2932 fix(workflows): each head SHA will only trigger one merge action
  .github/workflows/gh_pr_auto_merger.yml
Labels: size: s, gh: workflow

#2927 chore(workflows): add project dependency review
  .github/workflows/project_dependency_review.yml
Labels: size: s, gh: workflow

#2926 chore(workflows): add project dependency review
  .github/workflows/project_dependency_review.yml
Labels: size: s, gh: workflow

#2930 feat(voltron): add 3.0 voltron measure func and fix modal size error
  framework/voltron/CHANGELOG.md
  framework/voltron/example/assets/jsbundle/index.android.js
  framework/voltron/example/assets/jsbundle/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/vendor.android.js
  framework/voltron/lib/engine/js_api_provider.dart
  framework/voltron/lib/module.dart
  framework/voltron/lib/module/dialog.dart
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/core/src/render/bridge/render_bridge_ffi_impl.cc
  renderer/voltron/lib/bridge/render_bridge.dart
  renderer/voltron/lib/controller/controller.dart
  renderer/voltron/lib/viewmodel/modal.dart
  renderer/voltron/lib/widget/modal.dart
  renderer/voltron/lib/widget/root.dart
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: m, framework: voltron

#2936 feat(voltron): add lock for deps
  .gitignore
  framework/voltron/CHANGELOG.md
  framework/voltron/example/pubspec.lock
  framework/voltron/pubspec.lock
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/pubspec.lock
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: xl, framework: voltron

#2935 fix(ios): podspec lint error & enable Module import
  hippy.podspec
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/base/HippyJavaScriptExecutor.h
  ios/sdk/base/HippyRootShadowView.mm
  ios/sdk/component/text/HippyShadowText.mm
  ios/sdk/component/textinput/HippyShadowTextView.mm
  ios/sdk/component/view/HippyShadowView+MTTLayout.h
  ios/sdk/component/view/HippyShadowView.h
  ios/sdk/component/view/HippyShadowView.mm
  ios/sdk/layout/x5LayoutUtil.h
  ios/sdk/module/loader/ios_loader.h
  ios/sdk/module/turbo/HippyOCTurboModule+Inner.h
Labels: framework: ios, size: m, build: xcode

#2937 feat(core): remove default HeapLimitSlowGrowthStrategy
  android/sdk/src/main/jni/src/bridge/entry.cc
Labels: framework: android, size: s

#2934 fix(android): send scroll event when pulling header/footer
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullFooterRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullHeaderRefreshHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/PullRefreshHelper.java
Labels: framework: android, size: s

#2939 fix(driver): fix the remote path of `V8` components is incorrect
  driver/js/CMakeLists.txt
Labels: driver: js, size: s

#2929 fix(android): `initialContentOffset` takes effect too late
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
Labels: renderer: native, size: xs

#2940 feat(ios): add onsizechanged event
  ios/sdk/base/HippyRootView.mm
  ios/sdk/component/modal/HippyModalHostView.h
  ios/sdk/component/modal/HippyModalHostView.m
  ios/sdk/component/modal/HippyModalHostViewController.h
  ios/sdk/component/modal/HippyModalHostViewController.m
  ios/sdk/module/uimanager/HippyUIManager.h
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: framework: ios, size: s

#2942 feat(ios): add onsizechanged event
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  renderer/native/ios/renderer/NativeRenderComponentMap.h
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: framework: ios, renderer: native, doc: example, size: s

#2943 chore(docs): update onSizeChanged event document
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/native-event.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/native-event.md
  docs/hippy-vue/vue3.md
Labels: doc: pages, size: s

#2944 chore(docs): update onSizeChanged event document
  docs/en-us/hippy-react/native-event.md
  docs/en-us/hippy-vue/native-event.md
  docs/hippy-react/native-event.md
  docs/hippy-vue/native-event.md
Labels: doc: pages, size: s

#2849 feat(android): add prod remotedebug & local bundle instead of remote server
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyNormalEngineManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippySingleThreadEngineManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DevRemoteServerData.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerHelper.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImplDisable.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/DevSupportManager.java
  examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
  packages/hippy-react/src/renderer/render.ts
  packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  packages/hippy-vue/src/renderer/native/__tests__/index.test.js
  packages/hippy-vue/src/renderer/native/index.js
Labels: framework: android, driver: js, doc: example, size: m

#2956 build(ts): add customized ts include path
  scripts/react-configs.js
  scripts/vue-next-configs.js
  scripts/web-renderer-configs.js
Labels: size: s, build: js

#2804 feat(android,ios): add & perf performance timing ability
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyRootView.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/monitor/DefaultEngineMonitorAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/monitor/HippyEngineMonitorAdapter.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/adapter/monitor/HippyEngineMonitorPoint.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyCoreAPI.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/NativeCallback.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/performance/PerformanceModule.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/utils/TimeMonitor.java
  android/sdk/src/main/jni/include/bridge/java2js.h
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
  docs/assets/img/hippy-launch-steps.png
  docs/en-us/assets/img/hippy-launch-steps.png
  docs/en-us/guide/performance.md
  docs/guide/performance.md
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/base/HippyBatchedBridge.mm
  ios/sdk/base/HippyBridge+Mtt.mm
  ios/sdk/base/HippyBridge+Private.h
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyJavaScriptExecutor.h
  ios/sdk/base/HippyPerformanceLogger.h
  ios/sdk/base/HippyPerformanceLogger.m
  ios/sdk/base/HippyRootView.mm
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/module/performance/HippyPerformanceModule.h
  ios/sdk/module/performance/HippyPerformanceModule.m
Labels: framework: android, framework: ios, doc: pages, size: xl

#2521 feat(android, ios): nested rich text support vertical alignment setting
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyImageSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyVerticalAlignSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/ImageNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/LegacyIAlignConfig.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/components/Text/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-p.vue
  examples/hippy-vue-next-demo/src/components/demo/demo-p.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/component/text/HippyShadowText.h
  ios/sdk/component/text/HippyShadowText.mm
  ios/sdk/component/text/HippyTextEnumDefines.h
  ios/sdk/component/view/HippyShadowView.h
  ios/sdk/component/view/HippyViewManager.mm
  ios/sdk/utils/HippyConvert.h
Labels: framework: android, framework: ios, doc: example, doc: pages, size: xl

#2959 fix(android): drawPath CRASH_java.lang.NullPointerException
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/BackgroundDrawable.java
Labels: framework: android, size: s

#2958 fix(android): textInput may throw IllegalStateException
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
Labels: renderer: native, size: s

#2961 fix(core): fix deadlock in debug mode
  android/sdk/src/main/jni/src/loader/adr_loader.cc
  core/src/engine.cc
  core/src/modules/contextify_module.cc
Labels: framework: android, driver: js, size: s

#2962 fix(driver): fix reuse bug for debug mode
  driver/js/src/napi/v8/js_native_api_v8.cc
  driver/js/src/runtime/v8/v8_bridge_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: framework: android, driver: js, size: xs

#2957 fix(android): textInput may throw IllegalStateException
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
Labels: framework: android, size: s

#2966 docs(README): update ios app building steps
  README.md
Labels: size: xs

#2963 fix(footstone): fix terminate crash
  modules/footstone/src/worker.cc
Labels: module: footstone, size: xs

#2968 fix(android): fix unit test case
  android/sdk/src/test/java/com/tencent/mtt/hippy/utils/UrlUtilsTest.java
Labels: framework: android, size: s

#2971 fix(android): remove use of mDebugInitJSFrameworkCallback
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
Labels: framework: android, size: s

#2960 fix(ios): avoid multi-threading problem of imageview
  ios/sdk/component/image/HippyImageView.m
Labels: framework: ios, size: s

#2972 refactor(ios): refactor reusable mechanism for list and waterfall
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/base/HippyReusableViewPool.h
  ios/sdk/base/HippyReusableViewPool.m
  ios/sdk/component/listview/HippyBaseListView.m
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.m
  ios/sdk/component/waterfalllist/HippyWaterfallView.m
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.h
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.m
  ios/sdk/module/uimanager/HippyUIManager.h
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: framework: ios, size: l

#2973 chore(ios): rename hippy.podspec as lowercase
  framework/examples/ios-demo/podfile
  hippy.podspec
Labels: doc: example, size: s, build: xcode

#2974 fix(core): compatile with single callback in native2js
  core/js/bridge/android/native2js.js
  core/src/napi/v8/native_source_code_android.cc
Labels: driver: js, size: xs

#2975 fix(driver): compatile with single callback in native2js
  driver/js/lib/bridge/android/native2js.js
  framework/android/connector/driver/js/src/main/cpp/src/native_source_code_android.cc
  framework/ios/base/native_source_code_ios.cc
  framework/voltron/core/src/bridge/native_source_code_flutter.cc
Labels: framework: android, framework: ios, driver: js, size: m, framework: voltron

#2965 docs(homepage): add docs for UserLocal debug mode
  docs/en-us/guide/debug.md
  docs/guide/debug.md
Labels: doc: pages, size: m

#2976 fix(footstone): fix terminate bug when the thread is waiting for wake-up
  modules/footstone/src/cv_driver.cc
  modules/footstone/src/platform/adr/looper_driver.cc
Labels: module: footstone, size: xs

#2980 Fix/ani
  dom/src/dom/animation/animation_manager.cc
Labels: dom: animation, size: s

#2981 chore(example,doc): add dialog attention for vue3.0
  docs/en-us/hippy-vue/vue3.md
  docs/hippy-vue/vue3.md
  examples/hippy-vue-next-demo/src/components/native-demo/demo-dialog.vue
Labels: doc: example, doc: pages, size: s

#2982 fix(core): avoid crash caused by lock in the destructor
  core/include/core/engine.h
  core/src/engine.cc
  core/src/scope.cc
Labels: driver: js, size: s

#2983 fix(voltron): fix scrollView UI error with TextInput component
  .gitignore
  framework/voltron/CHANGELOG.md
  framework/voltron/example/pubspec.lock
  framework/voltron/pubspec.lock
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/lib/widget/div.dart
  renderer/voltron/pubspec.lock
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: xl, framework: voltron

#2985 feat(core): formatting and replacing concrete types with auto
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/bridge/java2js.cc
  android/sdk/src/main/jni/src/loader/adr_loader.cc
  android/sdk/src/main/jni/src/performance/memory.cc
  android/sdk/src/main/jni/src/v8/heap_limit.cc
  android/sdk/src/main/jni/src/v8/request_interrupt.cc
  android/sdk/src/main/jni/src/v8/stack_trace.cc
  core/src/engine.cc
  core/src/napi/jsc/js_native_api_value_jsc.cc
Labels: framework: android, driver: js, size: s

#2986 fix(base): fix capitalization error
  android/sdk/src/main/jni/src/jni/uri.cc
  core/include/core/base/string_view_utils.h
  core/src/napi/jsc/js_native_api_value_jsc.cc
  core/src/napi/v8/js_native_api_v8.cc
  core/third_party/base/include/base/unicode_string_view.h
  core/third_party/base/src/base/unicode_string_view.cc
Labels: framework: android, driver: js, size: s
