Repository Tencent/Hippy, pull requests merged in 2023-12, with the labels that each got.

#3647 fix(android): remove debugBundleName final constraint
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
Labels: framework: android, size: xs

#3648 fix(android): component may not update with lazy node
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
Labels: renderer: native, size: xs

#3613 feat(android): make `TextInput` default color same as iOS
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: renderer: native, size: s, consistency

#3607 fix(android): fix `ListView` may throw `ClassCastException`
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
Labels: renderer: native, size: xs

#3562 fix(android): fix transform order and convert perspective same as iOS
  docs/api/style/transform.md
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/MatrixUtil.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/TransformUtil.java
Labels: renderer: native, doc: pages, size: xl, consistency

#3651 fix(ios): prevent crashes due to nan values when doing hippySetFrame
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
Labels: renderer: native, size: xs

#3649 fix(ios): scrollToIndex not working for horizontal list
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewManager.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewManager.mm
Labels: renderer: native, size: s

#3547 feat(android): onKeyboardWillShow only triggers on focused component
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: renderer: native, size: m, consistency

#3654 fix(hippy-react): fix TransformsStyle declaration
  packages/global.d.ts
Labels: driver: js, size: s

#3653 fix(ios): dead loops generated by nested text layouts
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
Labels: renderer: native, size: s

#3652 fix(ios): sticky list cell not showing after reloading
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
Labels: renderer: native, size: s

#3461 feat(android): capInsets and tintColor support for each image types
  framework/android/build.gradle
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/ContentDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/NinePatchHelper.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageComponentController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
Labels: framework: android, renderer: native, size: m, consistency

#3655 fix(hippy-react): fix GenericStyleProp recursive problem
  packages/global.d.ts
Labels: driver: js, size: xs

#3656 fix(android): prevent layout helper queue hold too many objects
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/LayoutHelper.java
Labels: framework: android, size: xs

#3640 feat(android): support appear events for ListView
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/list/HippyListItemView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/list/HippyListView.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ListItemRenderNode.java
Labels: renderer: native, size: m, consistency

#3659 fix(ios): add protection to prevent crashes caused by negative sizes
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Labels: renderer: native, size: s

#3663 fix(dom): convert layout result nan to 0
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: xs

#3661 fix(dom): fix dom diff algorithm
  dom/include/dom/root_node.h
  dom/src/dom/root_node.cc
Labels: dom: tree, size: m

#3664 chore(doc): add copy instruction for android
  docs/guide/integration.md
Labels: doc: pages, size: xs

#3666 fix(dom): layout width and height result great than 0
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: xs

#3660 fix(android): fix nested list issues
  renderer/native/android/src/main/java/androidx/recyclerview/widget/HippyLinearLayoutManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/ListItemRenderNode.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
Labels: renderer: native, size: s

#3668 chore(docs): add android 3.0 upgrade guidelines
  docs/development/_sidebar.md
  docs/development/android-3.0-upgrade-guidelines.md
  docs/development/native-integration.md
Labels: doc: pages, size: m

#3674 fix(android): optimize fetch promise callback impl
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
Labels: framework: android, size: s

#3676 fix(devtools): fix dom box size return (0,0,0,0)
  devtools/devtools-integration/native/include/devtools/devtools_utils.h
  devtools/devtools-integration/native/src/devtools_utils.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_jni.cc
Labels: renderer: native, devtools: backend, size: s

#3670 fix(ios): fixed an issue where some part of devtools were not available
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/debug/devtools/HippyDevInfo.m
  renderer/native/ios/renderer/HippyRootView.mm
Labels: framework: ios, renderer: native, doc: example, size: s

#3677 fix(ios): fixed an error when getBoundingClientRect's options was NSNull
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: renderer: native, size: s

#3675 feat(ios): improve text layout performance
  renderer/native/ios/renderer/HippyFont.mm
Labels: renderer: native, size: m

#3678 fix(ios): fix HippyDisplayLink leak
  framework/ios/base/HippyDisplayLink.m
Labels: framework: ios, size: xs

#3679 feat(vue-loader): css scoped compile to class selector
  driver/js/packages/hippy-vue-loader/lib/loaders/stylePostLoader.js
  driver/js/packages/hippy-vue-loader/lib/loaders/templateLoader.js
Labels: driver: js, size: s

#3683 chore(docs): android custom native view how to layout spec
  docs/development/native-component.md
Labels: doc: pages, size: s, action(squash-merge)

#3687 fix(ios): crash of NSError out param inside autorelease pool
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#3686 fix(ios): onChange event not triggered when typing Chinese Pinyin
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
Labels: renderer: native, size: xs

#3689 fix(ios): return weight of zero for invalid font
  renderer/native/ios/renderer/HippyFont.mm
Labels: renderer: native, size: xs

#3690 chore(docs): android custom native view how to layout spec
  docs/android/custom-component.md
Labels: doc: pages, size: s

#3691 chore(docs): update demo docs
  docs/assets/img/3.0-demo-create.png
  docs/assets/img/3.0-demo-helloworld.png
  docs/assets/img/3.0-demo-home.png
  docs/assets/img/3.0-demo-page-management.png
  docs/assets/img/3.0-demo.png
  docs/development/demo.md
Labels: doc: pages, size: m

#3462 feat(android): complex border styles support
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BackgroundDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BackgroundHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/BorderResolvedInfo.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/ContentDrawable.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/drawable/TextDrawable.java
Labels: renderer: native, size: xl, consistency

#3693 fix(ios): optimize performance of getting components from viewRegistry
  renderer/native/ios/renderer/HippyComponentMap.h
  renderer/native/ios/renderer/HippyComponentMap.mm
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: renderer: native, size: s

#3692 fix(vue-next): remove unnecessary websocket binding judge
  packages/hippy-vue-next/src/runtime/websocket/websocket.ts
Labels: driver: js, size: s

#3694 chore(ios): demo log format
  examples/ios-demo/HippyDemo/ViewController.m
Labels: doc: example, size: s
