Repository Tencent/Hippy, pull requests merged in 2023-04, with the labels that each got.

#3104 fix(ios): devtools debug fix
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/examples/ios-demo/HippyDemo/ViewController.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyConvenientBridge.h
  framework/ios/base/bridge/HippyConvenientBridge.mm
  framework/ios/module/dev/HippyRedBox.mm
Labels: framework: ios, doc: example, size: m

#3105 feat(ios): optimize performance ,memory usage and interface
  framework/ios/base/HippyPerformanceLogger.h
  framework/ios/base/HippyPerformanceLogger.m
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyConvenientBridge.h
  framework/ios/base/bridge/HippyConvenientBridge.mm
  framework/ios/utils/NSObject+CtxValue.h
  framework/ios/utils/NSObject+CtxValue.mm
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderRootView.m
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderObjectTextView.mm
Labels: framework: ios, renderer: native, size: m

#3106 feat(ios): adjust performancelogger interface for future data report
  framework/ios/Framework.xcodeproj/project.pbxproj
  framework/ios/base/HippyPerformanceLogger.h
  framework/ios/base/HippyPerformanceLogger.m
  framework/ios/base/HippyPerformanceLogger.mm
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bundleoperations/HippyBundleLoadOperation.mm
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: m

#3107 fix(vue): fix vue style diff error
  examples/hippy-vue-demo/src/components/native-demos/animations/loop.vue
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/runtime/modules/style.js
Labels: driver: js, doc: example, size: m

#3093 build(ios): Upgrade to using local podspec to manage project files
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
  .gitignore
  Hippy.xcworkspace/contents.xcworkspacedata
  Hippy.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  examples/ios-demo/Podfile
  ios/sdk/HippyLibrary.xcodeproj/project.pbxproj
  ios/sdk/HippyLibrary.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/sdk/HippyLibrary.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/sdk/HippyLibrary.xcodeproj/xcshareddata/xcschemes/HippyLibrary.xcscheme
Labels: framework: ios, doc: example, size: xl, gh: workflow, build: xcode

#3111 feat(ios): add log when load bundles
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: framework: ios, size: xs

#3115 fix(vue): fix vNode element empty error
  packages/hippy-vue/src/runtime/modules/style.js
Labels: driver: js, size: xs

#3116 fix(vue): fix vNode element empty error
  driver/js/packages/hippy-vue/src/runtime/modules/style.js
Labels: driver: js, size: xs

#3118 refactor(ios): use utf16 creation method instead of utf8 creation method
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/ios/base/enginewrapper/jsc/HippyJSCContextWrapper.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/utils/jsc/NSObject+JSValue.m
Labels: framework: ios, driver: js, size: s

#3117 refactor(ios): use utf16 creation method instead of utf8 creation method
  core/src/napi/jsc/jsc_ctx.cc
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: framework: ios, driver: js, size: s

#3121 chore(ios): update xcode project configuration
  .github/CODEOWNERS
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
  framework/examples/ios-demo/project.yml
  hippy.podspec
Labels: doc: example, size: xs, gh: workflow, gh: owner, build: xcode

#3125 feat(ios): support v8 for ios
  .gitignore
  framework/examples/ios-demo/podfile
  framework/ios/base/enginewrapper/v8/HippyV8ContextWrapper.mm
  framework/ios/utils/v8/NSObject+V8Value.h
  framework/ios/utils/v8/NSObject+V8Value.mm
  hippy.podspec
  xcodeinitscript.sh
Labels: framework: ios, doc: example, size: m, build: xcode

#3124 fix(voltron): fix voltron debug mode crash
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/lib/bridge/voltron_bridge.dart
  renderer/voltron/analysis_options.yaml
  renderer/voltron/core/src/render/bridge/render_bridge_ffi_impl.cc
Labels: renderer: voltron, size: s, framework: voltron

#3122 refactor(ios): use utf16 creation method instead of utf8 creation method
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: xs

#3126 feat(ios): add snap shot data interface
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyConvenientBridge.h
  framework/ios/base/bridge/HippyConvenientBridge.mm
Labels: framework: ios, size: s

#3119 docs(ios): update integration guide for iOS
  docs/en-us/guide/integration.md
  docs/guide/integration.md
  examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  hippy.podspec
Labels: doc: example, doc: pages, size: m, build: xcode

#3128 fix(ios): move hippy default file scheme handler to hippyfilehandler
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/module/loader/HippyFileHandler.mm
Labels: framework: ios, size: s

#3127 feat(android): support time monitor add point
  framework/android/connector/driver/js/src/main/cpp/include/connector/js_driver_jni.h
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/NativeCallback.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/monitor/DefaultEngineMonitorAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/monitor/HippyEngineMonitorAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/monitor/HippyEngineMonitorEvent.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/common/HippyHandlerThread.java
  framework/android/src/main/java/com/tencent/mtt/hippy/common/ThreadExecutor.java
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/HippyModuleANRMonitor.java
  framework/android/src/main/java/com/tencent/mtt/hippy/utils/TimeMonitor.java
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/TimeMonitor.java
Labels: framework: android, module: android, size: l

#3129 Fix/fix voltron devtools crash
  framework/voltron/core/src/bridge/ios/VoltronJSCExecutor.mm
  framework/voltron/core/src/bridge/ios/utils/NSObject+CtxValue.h
  framework/voltron/core/src/bridge/ios/utils/NSObject+CtxValue.mm
Labels: size: m, framework: voltron

#3131 fix(android): text default color
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: framework: android, size: s

#3132 fix(android): color value in animation lose precision
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/animation/TimingAnimation.java
Labels: framework: android, size: s

#3133 fix(core): fix promise crash
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/task/worker_task_runner.h
Labels: framework: android, driver: js, size: s

#3135 fix(dom): fix delay bug for animation
  dom/include/dom/dom_manager.h
  dom/src/dom/animation/animation.cc
  dom/src/dom/dom_manager.cc
Labels: dom: animation, dom: tree, size: s

#3140 chore(codeowner): change codeowner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#3141 chore(codeowner): change codeowner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#3142 fix(driver): fix createObject bug
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: s

#3147 fix(android): diff_utils remove insert nullptr
  dom/src/dom/diff_utils.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_manager.cc
Labels: dom: tree, renderer: native, size: xs

#3146 fix(ios): animation module multi-thread crash
  ios/sdk/module/animation/HippyExtAnimationModule.m
  ios/sdk/module/animation/HippyExtAnimationViewParams.m
Labels: framework: ios, size: s

#3145 refactor(ios): optimize performance of text with vertialAlign
  ios/sdk/component/text/HippyShadowText.mm
Labels: framework: ios, size: s

#3149 fix(ios): strange shaped character rendering bug
  ios/sdk/component/text/HippyShadowText.mm
Labels: framework: ios, size: s

#3152 fix(vue): support static style diff in updateNode
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/runtime/modules/style.js
Labels: driver: js, size: m

#3150 fix(vue): support static style diff in updateNode
  packages/hippy-vue/src/renderer/element-node.js
  packages/hippy-vue/src/runtime/modules/style.js
Labels: driver: js, size: m

#3155 fix(android): memory leak of `RecyclerViewEventHelper`
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/hippylist/RecyclerViewEventHelper.java
Labels: framework: android, size: s

#3154 feat(ios): reset hippy log and text system
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/modules/HippyModuleMethod.mm
  framework/ios/module/localstorage/HippyAsyncLocalStorage.mm
  framework/ios/utils/jsc/NSObject+JSValue.m
  modules/ios/base/HPLog.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderObjectRootView.mm
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.h
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/text/NativeRenderText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.mm
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
Labels: framework: ios, renderer: native, module: ios, doc: example, size: m

#3153 fix(renderer): fix tdf renderer bug
  renderer/tdf/android/build.gradle
  renderer/tdf/android/src/main/java/com/tencent/renderer/TDFRenderer.java
  renderer/tdf/android/src/main/java/com/tencent/renderer/tdf/embed/TDFEmbeddedViewFactoryImpl.java
  renderer/tdf/common/include/renderer/tdf/tdf_render_manager.h
  renderer/tdf/common/include/renderer/tdf/viewnode/embedded_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/list_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/node_attributes_parser.h
  renderer/tdf/common/include/renderer/tdf/viewnode/root_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/text_input_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/text_view_node.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_node.h
  renderer/tdf/common/src/renderer/tdf/tdf_render_manager.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/embedded_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/image_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/list_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/node_attributes_parser.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/root_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/scroll_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/text_input_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/text_view_node.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/view_node.cc
Labels: renderer: tdf, size: m

#3157 fix(android): suport find view by id for engine context
  framework/android/connector/renderer/native/src/main/java/com/openhippy/connector/NativeRenderConnector.java
  framework/android/connector/renderer/native/src/main/java/com/openhippy/connector/NativeRenderer.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/RenderProxy.java
Labels: framework: android, renderer: native, size: m

#3158 fix(connector): domManager calls terminate when it is destroyed
  framework/android/connector/dom/src/main/cpp/src/dom_jni.cc
Labels: framework: android, size: xs

#3148 feat(layout): refactor layout parser function
  dom/include/dom/dom_node.h
  dom/include/dom/layout_node.h
  dom/include/dom/taitank_layout_node.h
  dom/include/dom/yoga_layout_node.h
  dom/src/dom/diff_utils.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  dom/src/dom/taitank_layout_node.cc
  dom/src/dom/yoga_layout_node.cc
Labels: dom: tree, size: l

#3161 fix(renderer): update tdfcore
  framework/android/connector/renderer/tdf/gradle.properties
  framework/examples/android-demo/build.gradle
  renderer/tdf/android/build.gradle
  renderer/tdf/android/src/main/java/com/tencent/renderer/TDFRenderer.java
Labels: framework: android, renderer: tdf, doc: example, size: s

#3166 build(ios): fix artifact build
  .github/CODEOWNERS
  .github/workflows/project_artifact_compare.yml
  _Pods.xcodeproj
Labels: size: s, gh: workflow, gh: owner

#3167 build(ios): update artifact build script
  .github/workflows/project_artifact_compare.yml
Labels: size: xs, gh: workflow

#3168 fix(animation): add protection logic
  dom/src/dom/animation/cubic_bezier_animation.cc
Labels: dom: animation, size: s

#3159 fix(layout): fix missing scale factor value
  framework/android/connector/dom/src/main/cpp/include/connector/dom_jni.h
  framework/android/connector/dom/src/main/cpp/src/dom_jni.cc
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Labels: framework: android, size: s

#3171 chore(vue3): add pacakge-lock.json
  driver/js/packages/hippy-vue-next-style-parser/package-lock.json
  driver/js/packages/hippy-vue-next/package-lock.json
Labels: driver: js, size: s

#3175 feat(java): add default method for moduleListener interface
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
Labels: framework: android, size: xs

#3177 Fix/destroy root
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  framework/examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Labels: framework: android, doc: example, size: s

#3178 fix(android): add Nullable for destroyModule
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
Labels: framework: android, size: xs
