Repository Tencent/Hippy, pull requests merged in 2023-10, with the labels that each got.

#3536 fix(core): fix console module log encode
  core/src/modules/console_module.cc
Labels: driver: js, size: xs

#3537 fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
Labels: framework: android, size: xs

#3540 feat(doc): update main branch homepage url
  README.md
Labels: size: xs

#3542 fix(dom): handle event by platform
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: xs

#3543 fix(android): revert sInForeground impl
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
Labels: renderer: native, size: s

#3546 feat(android): support get custom type face
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/font/DefaultFontScaleAdapter.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/FontAdapter.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TypeFaceUtil.java
Labels: framework: android, renderer: native, size: s

#3549 fix(driver): fix multi thead conflict when destroy engine
  driver/js/include/driver/js_driver_utils.h
  driver/js/src/js_driver_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: framework: android, driver: js, size: s

#3499 feat(perf): add logs to pinpoint performance issues
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  modules/footstone/include/footstone/logging.h
  modules/footstone/src/platform/ios/logging.cc
  modules/ios/base/HPLog.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: driver: js, dom: tree, renderer: native, module: footstone, module: ios, size: m

#3552 fix(ios): fix text rendering issue
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
Labels: renderer: native, size: s

#3550 fix(dom): fix docallback multi thread conflict
  renderer/native/android/src/main/cpp/src/renderer/native_render_jni.cc
Labels: renderer: native, size: s

#3553 feat(vue): add style diff perf
  dom/include/dom/diff_utils.h
  dom/include/dom/dom_node.h
  dom/src/dom/diff_utils.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_manager_unittests.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
  driver/js/src/modules/scene_builder_module.cc
Labels: driver: js, dom: tree, size: s

#3554 fix(android): update layout for first child of DialogRootView
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
Labels: renderer: native, size: xs

#3556 fix(ios): fix modal view layout issue
  renderer/native/ios/renderer/component/modal/NativeRenderModalHostViewManager.mm
Labels: renderer: native, size: xs

#3557 fix(ios): remove highly frequent logs
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/ios/base/bridge/HippyBridge.mm
  modules/footstone/include/footstone/logging.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: framework: ios, driver: js, dom: tree, renderer: native, module: footstone, size: s

#3559 fix(ios): relayout dom when rootView frame change
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/examples/ios-demo/podfile
  framework/ios/base/bridge/HippyBridge.mm
  renderer/native/ios/renderer/HippyRootView.h
  renderer/native/ios/renderer/HippyRootView.mm
Labels: framework: ios, renderer: native, doc: example, size: s

#3558 fix(ios): podspec use_framework support bug
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/examples/ios-demo/podfile
  hippy.podspec
Labels: doc: example, size: s, build: xcode, action(squash-merge): failed

#3561 fix(ios): fix uimanager and bundle operation queue's crash
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.m
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: framework: ios, renderer: native, size: s

#3566 fix(android): update props reuse null view object
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
Labels: renderer: native, size: s

#3567 fix(vue): fix not update style diff crash
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Labels: driver: js, size: xs

#3564 fix(perf): enable perflog output in debug mode only
  framework/ios/base/bridge/HippyBridge.mm
  modules/footstone/include/footstone/logging.h
Labels: framework: ios, module: footstone, size: s

#3569 fix(android): send onSizeChanged message to js
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/HippyRootView.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: framework: android, renderer: native, size: s

#3575 fix(dom): fix skip style diff update style map null
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
Labels: dom: tree, size: s

#3577 fix(android): should create view if has custom props
  framework/examples/android-demo/src/main/java/com/openhippy/example/ExampleAPIProvider.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/ExampleCustomPropsController.kt
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
Labels: renderer: native, doc: example, size: s

#3576 fix(android): fix compile issue in AS release mode
  dom/src/dom/root_node.cc
  driver/js/src/modules/scene_builder_module.cc
  modules/footstone/include/footstone/logging.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: driver: js, dom: tree, renderer: native, module: footstone, size: s

#3571 chore(ios): make sdk version using macro defines
  framework/ios/base/bridge/HippyBridge.mm
  hippy.podspec
  modules/ios/base/HippyDefines.h
  modules/ios/base/HippyUtils.h
  modules/ios/base/HippyUtils.m
Labels: framework: ios, module: ios, size: s, build: xcode

#3574 fix(ios): refactor iOS gesture system to fix bugs
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyScrollProtocol.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.h
  renderer/native/ios/renderer/component/image/NativeRenderImageView+NativeRenderTouchesImplementation.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/HippyViewEventProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesProtocol.h
  renderer/native/ios/renderer/component/view/NativeRenderTouchesView.m
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.h
  renderer/native/ios/renderer/component/view/NativeRenderViewEventType.mm
  renderer/native/ios/renderer/component/view/UIView+DomEvent.h
  renderer/native/ios/renderer/component/view/UIView+DomEvent.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.h
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.h
  renderer/native/ios/renderer/touch_handler/HippyCustomTouchHandlerProtocol.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: renderer: native, size: xl

#3573 fix(ios): add missing error log and suppress some warning
  framework/ios/base/modules/HippyModulesSetup.mm
  framework/ios/utils/NSObject+CtxValue.mm
  modules/ios/base/HippyLog.mm
Labels: framework: ios, module: ios, size: s

#3572 fix(ios): listview performance optimization and bug fix
  framework/examples/ios-demo/podfile
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewDataSource.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.h
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallView.mm
Labels: renderer: native, doc: example, size: s, action(squash-merge): failed

#3579 fix(ios): fix an endless loop when updating rootView's frame
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
Labels: renderer: native, size: s

#3578 fix(ios): revert rename in hippy3 and fix modal view gesture bug
  framework/examples/ios-demo/HippyDemo/PageManager/HippyPageCacheContainerView.m
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.mm
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  framework/ios/base/HippyDeviceBaseInfo.mm
  framework/ios/base/HippyDisplayLink.m
  framework/ios/base/HippyKeyCommands.m
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/enginewrapper/jsc/HippyJSCContextWrapper.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/base/modules/HippyEventDispatcher.mm
  framework/ios/base/modules/HippyModuleData.mm
  framework/ios/base/modules/HippyModuleMethod.mm
  framework/ios/base/modules/HippyModulesSetup.mm
  framework/ios/debug/websocket/HippySRWebSocket.m
  framework/ios/module/dev/HippyDevMenu.mm
  framework/ios/module/dev/HippyRedBox.mm
  framework/ios/module/eventobserver/HippyEventObserverModule.mm
  framework/ios/module/exception/HippyExceptionModule.mm
  framework/ios/module/localstorage/HippyAsyncLocalStorage.mm
  framework/ios/module/netinfo/HippyNetInfo.mm
  framework/ios/module/netinfo/HippyNetInfoIntenal.m
  framework/ios/module/network/HippyNetWork.mm
  framework/ios/module/turbo/HippyOCTurboModule.mm
  framework/ios/module/turbo/HippyTurboModuleManager.mm
  framework/ios/module/turbo/NSObject+HippyTurbo.m
  framework/ios/utils/NSObject+CtxValue.mm
  modules/ios/base/HippyAssert.h
  modules/ios/base/HippyAssert.m
  modules/ios/base/HippyUtils.m
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/image/NativeRenderImageView.m
  renderer/native/ios/renderer/component/image/NativeRenderImageViewManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
  renderer/native/ios/renderer/component/modal/HippyModalCustomAnimationTransition.h
  renderer/native/ios/renderer/component/modal/HippyModalCustomAnimationTransition.m
  renderer/native/ios/renderer/component/modal/HippyModalCustomPresentationController.h
  renderer/native/ios/renderer/component/modal/HippyModalCustomPresentationController.m
  renderer/native/ios/renderer/component/modal/HippyModalHostView.h
  renderer/native/ios/renderer/component/modal/HippyModalHostView.m
  renderer/native/ios/renderer/component/modal/HippyModalHostViewController.h
  renderer/native/ios/renderer/component/modal/HippyModalHostViewController.mm
  renderer/native/ios/renderer/component/modal/HippyModalHostViewInteractor.h
  renderer/native/ios/renderer/component/modal/HippyModalHostViewManager.h
  renderer/native/ios/renderer/component/modal/HippyModalHostViewManager.mm
  renderer/native/ios/renderer/component/modal/HippyModalTransitioningDelegate.h
  renderer/native/ios/renderer/component/modal/HippyModalTransitioningDelegate.m
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfall.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderWaterfallViewDataSource.mm
  renderer/native/ios/utils/NativeRenderGradientObject.m
Labels: framework: ios, renderer: native, module: ios, doc: example, size: m

#3580 fix(ios): fix view background image frame bug
  renderer/native/ios/renderer/component/view/HippyView.m
Labels: renderer: native, size: xs

#3584 fix(ios): add user agent and method support
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.h
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebView.m
  renderer/native/ios/renderer/component/webview/NativeRenderSimpleWebViewManager.mm
Labels: renderer: native, size: s

#3585 fix(core): fix GetInternalField animation 0x241d000023a1 crash
  driver/js/src/modules/animation_module.cc
Labels: driver: js, size: xs
