Repository Tencent/Hippy, pull requests merged in 2023-05, with the labels that each got.

#3180 chore(codeowner): change codeowner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#3182 chore(codeowner): change codeowner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#3173 fix(driver): fix ui_manager_module bug
  driver/js/src/modules/ui_manager_module.cc
Labels: driver: js, size: xs

#3184 feat(ios, js): remove clipboard module
  docs/en-us/hippy-react/modules.md
  docs/en-us/hippy-vue/vue-native.md
  docs/hippy-react/modules.md
  docs/hippy-vue/vue-native.md
  examples/android-demo/res/index.android.js
  examples/android-demo/res/vendor.android.js
  examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  examples/hippy-react-demo/src/modules/index.js
  examples/hippy-react-demo/src/routes.js
  examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  examples/hippy-vue-next-demo/src/components/native-demo/demo-vue-native.vue
  examples/ios-demo/res/index.ios.js
  examples/ios-demo/res/vendor.ios.js
  ios/sdk/module/clipboard/HippyClipboardModule.h
  ios/sdk/module/clipboard/HippyClipboardModule.m
Labels: framework: ios, doc: example, doc: pages, size: m

#3185 feat(ios): add inspectable for jscontext
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyJavaScriptExecutor.h
  ios/sdk/base/executors/HippyJSCExecutor.mm
Labels: framework: ios, size: s

#3188 fix(driver): fix calluifunction holder bug
  driver/js/include/driver/scope.h
  driver/js/src/modules/timer_module.cc
  driver/js/src/modules/ui_manager_module.cc
  driver/js/src/scope.cc
Labels: driver: js, size: m

#3191 Chore/ios test workflow
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Labels: size: s, gh: workflow

#3192 fix(core): fix multithreading bug
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/task/worker_task_runner.h
  core/src/task/worker_task_runner.cc
Labels: framework: android, driver: js, size: s

#3193 fix(ios, layout): fix rounding error using double instead of float
  ios/sdk/layout/MTTNode.cpp
  ios/sdk/layout/MTTNode.h
  ios/sdk/layout/MTTUtil.cpp
  ios/sdk/layout/MTTUtil.h
Labels: framework: ios, size: s

#3196 fix(ios): move module init from asynchronization to synchronization
  framework/ios/base/bridge/HippyBridge.mm
Labels: framework: ios, size: xs

#3197 fix(core): fix snapshot bug when using dynamicLoad
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  android/sdk/src/main/jni/include/bridge/entry.h
  android/sdk/src/main/jni/include/loader/adr_loader.h
  android/sdk/src/main/jni/src/bridge/entry.cc
  android/sdk/src/main/jni/src/loader/adr_loader.cc
  examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Labels: framework: android, doc: example, size: m

#3198 fix(android): WebView backgroundColor not working
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/webview/HippyWebViewController.java
Labels: renderer: native, size: xs

#3194 feat(android): provide sdk version information
  driver/js/lib/global/Platform.js
  driver/js/src/vm/jsc/native_source_code_ios.cc
  driver/js/src/vm/v8/native_source_code_android.cc
  framework/android/build.gradle
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  framework/voltron/core/src/bridge/native_source_code_flutter.cc
Labels: framework: android, driver: js, size: s, framework: voltron

#3202 fix(Android): demo uses NoSnapshot by default
  examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
Labels: doc: example, size: xs

#3204 feat(core): add readme for snapshot
  docs/_navbar.md
  docs/android/_sidebar.md
  docs/android/snapshot.md
  docs/en-us/_navbar.md
  docs/en-us/android/_sidebar.md
  docs/en-us/android/snapshot.md
Labels: doc: pages, size: m

#3205 fix(android): support read custom local file path
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyResourceLoader.java
Labels: framework: android, size: s

#3206 fix(ios): text need to do layout after marking dirty
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderObjectTextView.mm
Labels: renderer: native, size: s

#3199 fix(android): text default color
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: renderer: native, size: xs

#3208 fix(driver): fix reload crash
  driver/js/include/driver/js_driver_utils.h
  driver/js/src/js_driver_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/voltron/core/src/bridge/android/bridge_impl.cc
Labels: framework: android, driver: js, size: m, framework: voltron

#3209 fix(driver): fix group bug
  driver/js/src/js_driver_utils.cc
Labels: driver: js, size: xs

#3210 Fix/group
  driver/js/include/driver/js_driver_utils.h
  driver/js/include/driver/vm/js_vm.h
  driver/js/src/js_driver_utils.cc
  driver/js/src/vm/v8/v8_vm.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/voltron/core/src/bridge/android/bridge_impl.cc
Labels: framework: android, driver: js, size: m, framework: voltron

#3212 fix(android): cookies must be set for each request
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
Labels: framework: android, size: s

#3214 refactor(vfs): add Terminate for vfs
  framework/android/src/main/cpp/src/entry.cc
  framework/ios/base/bridge/HippyConvenientBridge.mm
  modules/vfs/native/include/vfs/uri_loader.h
  modules/vfs/native/src/uri_loader.cc
Labels: framework: android, framework: ios, module: vfs, size: s

#3215 fix(driver): fix finish crash
  driver/js/src/js_driver_utils.cc
  driver/js/src/vm/v8/inspector/v8_inspector_client_impl.cc
  driver/js/src/vm/v8/v8_vm.cc
  modules/footstone/src/task_runner.cc
Labels: driver: js, module: footstone, size: s

#3207 feat(ios): support skipping inner decoding when use custom image loader
  ios/sdk/component/image/HippyImageView.m
  ios/sdk/component/image/HippyImageViewCustomLoader.h
Labels: framework: ios, size: s

#3217 sync from 2.x_1
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
Labels: renderer: native, size: m

#3219 sync from 2.x_3
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPager.h
  renderer/native/ios/renderer/component/viewPager/NativeRenderViewPagerManager.mm
Labels: renderer: native, size: s

#3222 chore(build): fix voltron test check error
  framework/voltron/example/pubspec.yaml
Labels: size: xs, framework: voltron

#3218 sync from 2.x_2
  docs/en-us/hippy-react/components.md
  docs/en-us/hippy-vue/components.md
  docs/hippy-react/components.md
  docs/hippy-vue/components.md
  renderer/native/ios/renderer/component/textinput/NativeRenderBaseTextInput.h
  renderer/native/ios/renderer/component/textinput/NativeRenderBaseTextInput.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.h
  renderer/native/ios/renderer/component/textinput/NativeRenderTextField.m
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.h
  renderer/native/ios/renderer/component/textinput/NativeRenderTextView.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
Labels: renderer: native, doc: pages, size: s

#3230 fix(driver): fix scope bug
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: framework: android, size: xs

#3228 feat(ios): add reset size method for root node
  framework/ios/base/bridge/HippyConvenientBridge.h
  framework/ios/base/bridge/HippyConvenientBridge.mm
Labels: framework: ios, size: s

#3223 fix(voltron): fix voltron ios encode error
  framework/voltron/core/src/bridge/android/bridge_impl.cc
  framework/voltron/core/src/bridge/android/dart2js.cc
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/core/src/bridge/ios/VoltronJSCExecutor.mm
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
  framework/voltron/example/ios/Runner/AppDelegate.swift
  framework/voltron/example/lib/main.dart
  framework/voltron/example/pubspec.yaml
  modules/vfs/voltron/core/src/wrapper.cc
  modules/voltron/ffi/core/include/data_holder.h
  modules/voltron/ffi/core/src/callback_manager.cc
  modules/voltron/ffi/core/src/data_holder.cc
  modules/voltron/ffi/core/src/port_holder.cc
  renderer/voltron/core/src/render/bridge/render_bridge_ffi_impl.cc
Labels: renderer: voltron, module: vfs, module: voltron, size: s, framework: voltron

#3232 fix(android): add get engine id for native renderer
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: framework: android, renderer: native, size: s

#3234 fix(android): support new demo debug mode
  build.gradle
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/devsupport/DevServerInterface.java
  framework/examples/android-demo/build.gradle
  framework/examples/android-demo/hippydemo.jks
  framework/examples/android-demo/src/main/AndroidManifest.xml
  framework/examples/android-demo/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageManagement.kt
  framework/examples/android-demo/src/main/res/layout/activity_page_configuration.xml
  framework/examples/android-demo/src/main/res/values/strings.xml
Labels: framework: android, doc: example, size: m, build: gradle

#3224 fix(android): reset backgroundImage doesn't work
  renderer/native/android/src/main/java/com/tencent/renderer/component/ComponentController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageComponent.java
Labels: renderer: native, size: s

#3225 fix(android): fix incremental build
  framework/android/build.gradle
Labels: framework: android, size: s

#3213 feat(android): add visibility style
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
Labels: renderer: native, size: s

#3231 feat(ios): nested rich text support vertical alignment setting (#2521)
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.h
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.h
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
  renderer/native/ios/utils/HPConvert+NativeRender.h
  renderer/native/ios/utils/HPConvert+NativeRender.m
Labels: renderer: native, size: m

#3236 fix(performance): fix performance bug
  driver/js/src/modules/performance/performance_mark_module.cc
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/performance/performance.cc
Labels: driver: js, size: s

#3238 fix(ios): repath vue2 demo folder
  framework/examples/ios-demo/HippyDemo/ViewController.mm
Labels: doc: example, size: xs

#3240 fix(ios): padding result needs to set to render object
  renderer/native/ios/renderer/NativeRenderImpl.mm
Labels: renderer: native, size: xs

#3243 Revert "refactor(ios): refactor reusable mechanism for list and waterfall
  ios/sdk/base/HippyReusableViewPool.m
  ios/sdk/component/listview/HippyBaseListView.m
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.h
  ios/sdk/component/waterfalllist/HippyReusableNodeCache.m
  ios/sdk/component/waterfalllist/HippyWaterfallView.m
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.h
  ios/sdk/component/waterfalllist/HippyWaterfallViewDatasource.m
  ios/sdk/module/uimanager/HippyUIManager.h
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: framework: ios, size: l

#3242 fix(ios): fix initial contentoffset bug for listview
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
Labels: renderer: native, size: xs

#3247 chore(build): change code owner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#3246 fix(vue): not to move node when refNode is same as newNode
  driver/js/packages/hippy-vue-next/src/runtime/node/hippy-node.ts
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Labels: driver: js, size: s

#3248 feat(ios): support skipping inner decoding when use custom image loader
  ios/sdk/component/image/HippyImageView.m
Labels: framework: ios, size: s

#3251 Bugfix/vue-next debug mode do not display ui
  driver/js/packages/hippy-vue-next/src/index.ts
Labels: driver: js, size: xs

#3254 fix(android): revert jks to old demo version
  framework/examples/android-demo/hippydemo.jks
Labels: doc: example, size: xs

#3233 fix(android): modal may not be fullscreen
  framework/android/src/main/res/values/themes.xml
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
Labels: framework: android, renderer: native, size: s

#3253 fix(core): add jsvalue cycle check
  driver/js/src/base/js_convert_utils.cc
Labels: driver: js, size: s

#3256 feat(driver): modify the release order of scope and engine
  driver/js/src/js_driver_utils.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: framework: android, driver: js, size: xs

#3239 feat(devtools): obtain location for screen
  devtools/devtools-backend/src/module/model/dom_model.cc
  devtools/devtools-integration/native/include/devtools/devtools_utils.h
  devtools/devtools-integration/native/src/adapter/impl/hippy_dom_tree_adapter.cc
  devtools/devtools-integration/native/src/devtools_utils.cc
  driver/js/src/scope.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/HippyViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
  renderer/native/ios/renderer/component/view/NativeRenderViewManager.mm
  renderer/voltron/lib/controller/controller.dart
  renderer/voltron/lib/util/devtools_util.dart
Labels: driver: js, renderer: native, renderer: voltron, devtools: backend, size: m

#3241 fix(layout): get default correct value when delete some properties
  dom/src/dom/diff_utils.cc
  dom/src/dom/taitank_layout_node.cc
Labels: dom: tree, size: m

#3260 chore(doc): update 3.0 doc path
  docs/_navbar.md
  docs/feature3.0/js-engine.md
  docs/feature3.0/layout.md
  docs/feature3.0/performance.md
  docs/feature3.0/snapshot.md
  docs/feature3.0/svg.md
  docs/feature3.0/vfs.md
Labels: doc: pages, size: s

#3261 fix(android): waterfall scrolling error with small content height
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/waterfalllist/HippyWaterfallLayoutManager.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/recyclerview/BaseLayoutManager.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/recyclerview/RecyclerAdapter.java
Labels: framework: android, size: m

#3262 feat(voltron): update base flutter version to 3.3.8
  framework/voltron/CHANGELOG.md
  framework/voltron/core/src/bridge/ios/bridge_impl_ios.mm
  framework/voltron/example/lib/view/qr_view.dart
  framework/voltron/example/pubspec.yaml
  framework/voltron/pubspec.yaml
  modules/vfs/voltron/CHANGELOG.md
  modules/vfs/voltron/lib/vfs_wrapper.dart
  modules/vfs/voltron/pubspec.yaml
  modules/voltron/ffi/CHANGELOG.md
  modules/voltron/ffi/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/lib/controller/web_view.dart
  renderer/voltron/lib/style/flex_value.dart
  renderer/voltron/lib/style/text_virtual_node.dart
  renderer/voltron/lib/style/update.dart
  renderer/voltron/lib/viewmodel/web_view.dart
  renderer/voltron/lib/widget/web_view.dart
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, module: vfs, module: voltron, size: m, framework: voltron

#3263 fix(ios): key commands for dev menu not working
  examples/ios-demo/HippyDemo/AppDelegate.m
  ios/sdk/base/HippyBridge.mm
  ios/sdk/base/HippyKeyCommands.h
  ios/sdk/base/HippyKeyCommands.m
  ios/sdk/module/dev/HippyDevMenu.h
  ios/sdk/module/dev/HippyDevMenu.mm
  ios/sdk/utils/HippyUtils.h
  ios/sdk/utils/HippyUtils.m
Labels: framework: ios, doc: example, size: m

#3245 fix(ios): fix ConsoleModule.log not working
  modules/footstone/src/platform/ios/logging.cc
Labels: module: footstone, size: s

#3264 fix(android): memory leak in `WebSocketModule`
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/WebSocketModule.java
Labels: framework: android, size: s

#3265 fix(ios): fix potential bug and analyzer issues in HippyGradientObject
  ios/sdk/utils/HippyGradientObject.m
Labels: framework: ios, size: s

#3266 feat(devtools): add tdfcore renderer elements debug
  renderer/tdf/common/CMakeLists.txt
  renderer/tdf/common/include/renderer/tdf/devtools/devtools_util.h
  renderer/tdf/common/include/renderer/tdf/viewnode/view_node.h
  renderer/tdf/common/src/renderer/tdf/devtools/devtools_util.cc
  renderer/tdf/common/src/renderer/tdf/viewnode/view_node.cc
Labels: renderer: tdf, size: m

#3267 fix(footstone): fix specific map iterator destroy error
  modules/footstone/src/worker.cc
Labels: module: footstone, size: xs

#3268 fix(android): check imageAdapter result before use
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/image/HippyImageView.java
  android/sdk/src/main/java/com/tencent/mtt/supportui/views/asyncimage/AsyncImageView.java
Labels: framework: android, size: s
