Repository Tencent/Hippy, pull requests merged in 2023-09, with the labels that each got.

#3478 fix(ios): NativeRenderView leak
  renderer/native/ios/renderer/NativeRenderImpl.mm
Labels: action(rebase-merge)

#3480 fix(ios): determines if node is null
  renderer/native/ios/renderer/component/text/NativeRenderObjectText.mm
Labels: renderer: native, size: xs

#3468 fix(hippy-react-web): HippyTypes.Style for web
  packages/global.d.ts
  packages/hippy-react-web/src/components/list-view.tsx
  packages/hippy-react-web/src/components/text-input.tsx
  packages/hippy-react-web/src/modules/stylesheet.ts
  packages/hippy-react/src/components/list-view.tsx
  packages/hippy-react/src/components/text.tsx
  packages/hippy-react/src/components/view.tsx
  packages/hippy-react/src/modules/stylesheet.ts
  packages/hippy-react/src/types/index.ts
Labels: driver: js, size: s

#3483 fix(perf): fix resource entry nullptr crash
  driver/js/include/driver/scope.h
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: framework: android, driver: js, size: s

#3484 fix(core): fix performance for node eliminated
  dom/include/dom/dom_node.h
  dom/include/dom/layer_optimized_render_manager.h
  dom/src/dom/layer_optimized_render_manager.cc
Labels: dom: tree, size: s

#3486 fix(core): fix performance for dom node
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
Labels: dom: tree, size: xs

#3487 fix(ios): Fixed an issue where the redbox cannot be used
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  modules/ios/base/HPLog.h
  modules/ios/base/HPLog.mm
Labels: framework: ios, module: ios, size: s

#3489 feat(js): open js profiler
  driver/js/src/vm/v8/v8_vm.cc
  framework/android/build.gradle
  framework/android/gradle.properties
Labels: framework: android, driver: js, size: s, action(squash-merge): failed

#3452 chore(ios): remove all clang-format instruction
  driver/js/scripts/build-core.js
  driver/js/src/vm/jsc/native_source_code_ios.cc
  driver/js/src/vm/v8/native_source_code_android.cc
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/debug/websocket/HippyWebSocketManager.m
  framework/ios/module/dev/HippyDevMenu.mm
  framework/ios/module/dev/HippyRedBox.mm
  framework/ios/module/eventobserver/HippyEventObserverModule.mm
  framework/ios/module/exception/HippyExceptionModule.mm
  framework/ios/module/imageloader/HippyImageLoaderModule.mm
  framework/ios/module/localstorage/HippyAsyncLocalStorage.mm
  framework/ios/module/netinfo/HippyNetInfo.mm
  framework/ios/module/network/HippyNetWork.mm
  framework/voltron/core/src/bridge/native_source_code_flutter.cc
  modules/ios/base/HPConvert.m
  renderer/native/ios/renderer/component/footerrefresh/NativeRenderFooterRefreshManager.mm
  renderer/native/ios/renderer/component/headerrefresh/NativeRenderHeaderRefreshManager.mm
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListViewManager.mm
  renderer/native/ios/renderer/component/navigator/NativeRenderNavigatorViewManager.mm
  renderer/native/ios/renderer/component/refreshview/NativeRenderRefreshWrapperViewManager.mm
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollViewManager.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerViewManager.mm
  renderer/native/ios/renderer/component/textinput/NativeRenderTextViewManager.mm
  renderer/native/ios/renderer/component/view/NativeRenderView.m
Labels: framework: ios, driver: js, renderer: native, module: ios, size: s, framework: voltron

#3494 feat(android): optimize addUpdateNodeIfNeeded time cost
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
Labels: renderer: native, size: s

#3497 fix(android): reduce duplicate textchange event
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
Labels: renderer: native, size: s

#3500 fix(android): fix serialization hash function
  modules/android/serialization/src/main/java/com/tencent/mtt/hippy/serialization/string/InternalizedStringTable.java
Labels: module: android, size: s

#3501 feat(dom): fix trigger error on layout event
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: s

#3502 fix(ios): fix create node crash in main thread when releasing vc
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/root_node.cc
Labels: dom: animation, dom: tree, size: s

#3504 fix(android): support webp
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
Labels: renderer: native, size: s

#3503 fix(dom): fix layout event trigger condition
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: xs

#3507 fix(android): delete virtual node exception
  renderer/native/android/src/main/java/com/tencent/renderer/node/VirtualNodeManager.java
Labels: renderer: native, size: xs

#3505 fix(android): move node incorrect in `ViewPager`
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/RenderManager.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
Labels: renderer: native, size: s

#3508 fix(android): remove extra logs
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: renderer: native, size: m

#3506 feat(voltron): update voltron to 0.0.34
  framework/voltron/CHANGELOG.md
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/lib/render/manager.dart
  renderer/voltron/lib/viewmodel/modal.dart
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: s, framework: voltron

#3485 chore(demo): change demo latest version
  examples/hippy-react-demo/package.json
  examples/hippy-vue-demo/package.json
  examples/hippy-vue-next-demo/package.json
Labels: doc: example, size: s

#3509 fix(android): isScraped not check image type
  modules/android/pool/src/main/java/com/openhippy/pool/ImageRecycleObject.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
Labels: renderer: native, module: android, size: s

#3512 fix(android): sendComponentEvent with view==null crash
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/viewpager/ViewPagerPageChangeListener.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/EventUtils.java
Labels: renderer: native, size: s

#3511 fix(ios): fix missing updateLayout operation
  renderer/native/ios/renderer/component/view/NativeRenderObjectView.mm
Labels: renderer: native, size: xs

#3515 fix(core): fix std hash for xcode15
  modules/footstone/include/footstone/string_view.h
  modules/footstone/src/string_view.cc
Labels: module: footstone, size: s

#3516 fix(dom): get scope return nullptr
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: framework: android, size: xs

#3517 fix(android): add bridge destroy state
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
Labels: framework: android, size: m

#3518 fix(ios): onChange event not triggered when typing Chinese Pinyin
  ios/sdk/component/textinput/HippyTextField.m
Labels: framework: ios, size: xs

#3519 fix(v8): fix v8 code cache for hippy3.0
  driver/js/src/js_driver_utils.cc
Labels: driver: js, size: s

#3522 chore(workflow): update code owner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#3523 feat(dom): set dom thread priority
  framework/android/connector/dom/src/main/cpp/src/dom_jni.cc
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  modules/footstone/include/footstone/worker.h
  modules/footstone/src/worker.cc
Labels: framework: android, module: footstone, size: s

#3525 fix(vfs): fix VFSUriLoader crash
  modules/vfs/ios/VFSUriLoader.mm
Labels: module: vfs, size: xs

#3527 fix(core): crash protect for worker on ios
  modules/footstone/src/task_runner.cc
Labels: module: footstone, size: xs

#3520 feat(vue): not update node when add/remove listener
  driver/js/packages/hippy-vue/src/renderer/element-node.js
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Labels: driver: js, size: s

#3528 feat(vue): revert css match
  driver/js/packages/hippy-vue/src/renderer/native/style/css-selectors.js
Labels: driver: js, size: s

#3529 feat(vue): remove updateEvent params
  driver/js/packages/hippy-vue/src/renderer/native/index.js
Labels: driver: js, size: xs

#3530 fix(v8): v8 code cache file broken protect
  android/sdk/src/main/jni/src/bridge/entry.cc
  core/include/core/base/file.h
  core/src/base/file.cc
Labels: framework: android, driver: js, size: s

#3531 fix(driver): fix destroy driver before scope initialization
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: framework: android, size: s

#3534 Fix/release vsync thread unsafe
  dom/include/dom/animation/animation_manager.h
  dom/include/dom/dom_manager.h
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/dom_manager.cc
  dom/src/dom/root_node.cc
  framework/examples/ios-demo/HippyDemo/HippyConvenientBridge.mm
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/ChoreographerUtils.java
  renderer/native/ios/renderer/NativeRenderImpl.h
  renderer/native/ios/renderer/NativeRenderImpl.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: dom: animation, dom: tree, renderer: native, doc: example, size: m

#3535 fix(dom): fix thread conflict on measure function
  dom/include/dom/taitank_layout_node.h
  dom/src/dom/taitank_layout_node.cc
Labels: dom: tree, size: s
