Repository Tencent/Hippy, pull requests merged in 2023-01, with the labels that each got.

#2831 chore(bump): update loader-utils to 1.4.2
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-css-loader/package.json
Labels: driver: js, size: s

#2828 feat(voltron): fix voltron events binding
  framework/voltron/CHANGELOG.md
  framework/voltron/example/lib/view/qr_view.dart
  framework/voltron/lib/module/storage.dart
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/lib/common/voltron_array.dart
  renderer/voltron/lib/common/voltron_map.dart
  renderer/voltron/lib/controller/image.dart
  renderer/voltron/lib/controller/list.dart
  renderer/voltron/lib/controller/list_item.dart
  renderer/voltron/lib/controller/modal.dart
  renderer/voltron/lib/controller/refresh.dart
  renderer/voltron/lib/controller/scroller.dart
  renderer/voltron/lib/controller/text_input.dart
  renderer/voltron/lib/controller/view_pager.dart
  renderer/voltron/lib/controller/waterfall.dart
  renderer/voltron/lib/controller/web_view.dart
  renderer/voltron/lib/gesture/scroll.dart
  renderer/voltron/lib/render/render_context.dart
  renderer/voltron/lib/style/prop.dart
  renderer/voltron/lib/viewmodel/modal.dart
  renderer/voltron/lib/viewmodel/scroller.dart
  renderer/voltron/lib/viewmodel/view_pager.dart
  renderer/voltron/lib/viewmodel/web_view.dart
  renderer/voltron/lib/widget/scroller.dart
  renderer/voltron/lib/widget/web_view.dart
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: xl, framework: voltron

#2833 chore(bump): update loader-utils to 2.0.4 to fix json5 issue
  packages/hippy-vue-css-loader/package-lock.json
  packages/hippy-vue-css-loader/package.json
Labels: driver: js, size: s

#2834 feat(workflows): PR review notification add mention user
  .github/workflows/gh_pr_review_notification.yml
Labels: size: xs, gh: workflow

#2835 chore: cp workflows from master
  .github/workflows/gh_pr_review_notification.yml
Labels: size: s, gh: workflow

#2839 feat(ios): add method to create custom scrollview
  ios/sdk/component/scrollview/HippyScrollView.h
  ios/sdk/component/scrollview/HippyScrollView.m
Labels: framework: ios, size: s

#2840 fix(android): remove web url judge in fetchResourceWithUri
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
Labels: framework: android, size: xs

#2841 feat(ios): add method to create custom scrollview
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollView.h
  renderer/native/ios/renderer/component/scrollview/NativeRenderScrollView.mm
Labels: renderer: native, size: s

#2843 fix(android): text with negative letterSpacing wraps at wrong position
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/TextNode.java
  docs/en-us/style/appearance.md
  docs/style/appearance.md
Labels: framework: android, doc: pages, size: s

#2846 chore(codeowner): change settings.gradle codeowner
  .github/CODEOWNERS
Labels: size: xs, gh: owner

#2847 chore(codeowner): change settings.gradle codeowner
  .github/CODEOWNERS
Labels: size: xs, gh: owner

#2852 chore(examples): change static folder path
  .github/workflows/config/license-check.json
  driver/js/examples/static/hippy-react/asyncComponentFromHttp.android.js
  driver/js/examples/static/hippy-react/asyncComponentFromHttp.ios.js
  driver/js/examples/static/hippy-vue/asyncComponentFromHttp.android.js
  driver/js/examples/static/hippy-vue/asyncComponentFromHttp.ios.js
Labels: driver: js, size: xs, gh: workflow

#2813 feat(publish): use fat-aar-android to build aar
  build.gradle
  framework/android/build.gradle
  framework/android/connector/renderer/native/build.gradle
  framework/android/connector/renderer/native/src/main/java/com/openhippy/connector/NativeRenderer.java
  framework/android/gradle.properties
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/libraryloader/LibraryLoader.java
  framework/examples/android-demo/build.gradle
  gradle.properties
  renderer/native/android/build.gradle
  settings.gradle
Labels: framework: android, renderer: native, doc: example, size: l, build: gradle

#2853 feat(android): recycler view set stable ids default true
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/http/DefaultHttpAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/dom/node/NodeProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/MapUtils.java
Labels: framework: android, renderer: native, size: s

#2854 feat(workflows): PR review notification filter draft PR
  .github/workflows/gh_pr_review_notification.yml
Labels: size: xs, gh: workflow

#2855 feat(workflows): add pull requests auto updater
  .github/workflows/gh_pr_auto_updater.yml
Labels: size: s, gh: workflow

#2857 feat(android): enable Safe ICF to optimize binary size
  android/sdk/src/main/jni/CMakeLists.txt
  buildconfig/cmake/compiler_toolchain.cmake
Labels: framework: android, size: s, build: cmake

#2858 feat(android): enable Safe ICF to optimize binary size
  buildconfig/cmake/compiler_toolchain.cmake
  framework/android/src/main/cpp/CMakeLists.txt
Labels: framework: android, size: s, build: cmake

#2859 feat(voltron): update voltron render version
  framework/voltron/CHANGELOG.md
  framework/voltron/pubspec.yaml
  renderer/voltron/CHANGELOG.md
  renderer/voltron/pubspec.yaml
Labels: renderer: voltron, size: s, framework: voltron

#2862 feat(workflows): only uses non-merge commits as valid commits
  .github/workflows/gh_action_merge.yml
  .github/workflows/reuse_classify_commits.yml
Labels: size: m, gh: workflow

#2863 feat(workflows): add pull requests auto merger
  .github/workflows/gh_pr_auto_merger.yml
Labels: size: m, gh: workflow

#2868 fix(workflows): change auto_merger comment message
  .github/workflows/gh_pr_auto_merger.yml
Labels: size: xs, gh: workflow

#2869 fix(workflows): change auto_merger comment message
  .github/workflows/gh_pr_auto_merger.yml
Labels: size: xs, gh: workflow

#2865 fix(devtools): remove regular expression injection
  android/sdk/src/main/java/com/tencent/mtt/hippy/devsupport/inspector/model/CSSModel.java
Labels: framework: android, size: s

#2870 feat(workflows): use classic PAT instead of Github App Token
  .github/workflows/gh_pr_auto_updater.yml
Labels: size: s, gh: workflow

#2871 feat(workflows): add self-hosted runners monitor
  .github/workflows/gh_runners_monitor.yml
Labels: size: s, gh: workflow

#2875 feat(workflows): skip privilege escalation when conditions are met
  .github/workflows/gh_action_merge.yml
Labels: size: s, gh: workflow

#2876 feat(workflows): skip privilege escalation when conditions are met
  .github/workflows/gh_action_merge.yml
Labels: size: s, gh: workflow

#2878 chore(codeowner): add C++ codeowner
  .github/CODEOWNERS
Labels: size: s, gh: owner

#2879 chore(codeowner): add C++ codeowner
  .github/CODEOWNERS
Labels: size: xs, gh: owner

#2881 perf(workflows): parallelize sdk and demo build script to improve perf
  .github/workflows/ios_build_tests.yml
  .github/workflows/ios_build_tests_bypass.yml
Labels: size: s, gh: workflow

#2880 refactor(ios): remove enable_bitcode confiuration for devtools cmakefile
  Hippy.podspec
  HippySDK.xcworkspace/contents.xcworkspacedata
  framework/ios/Framework.xcodeproj/project.pbxproj
  renderer/native/ios/NativeRenderer.xcodeproj/project.pbxproj
  xcodeinitscript.sh
Labels: framework: ios, renderer: native, size: s

#2883 fix(voltron): fix voltron crash on retry dev mode
  framework/voltron/lib/engine/voltron_js_engine.dart
Labels: size: xs, framework: voltron

#2882 feat(ios): add devtools targets to hippysdk workspace
  framework/ios/Framework.xcodeproj/project.pbxproj
Labels: framework: ios, size: s

#2884 refactor(workflows): refactor CodeQL analyses script to save resources
  .github/workflows/security_codeql_analyses.yml
Labels: size: m, gh: workflow

#2889 fix(devtools): fix crash when open devtools frontend and reload
  devtools/devtools-integration/native/src/adapter/impl/hippy_screen_adapter.cc
  devtools/devtools-integration/native/src/devtools_data_source.cc
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Labels: framework: android, devtools: backend, size: s
