Repository Tencent/Hippy, pull requests merged in 2024-04, with the labels that each got.

#3757 docs(ios): add iOS 3.0 upgrade guide
  docs/api/hippy-react/components.md
  docs/development/3.0-upgrade-guidelines.md
  docs/development/native-integration.md
Labels: doc: pages, size: s, action(rebase-merge): failed

#3805 Feat/3.0 upgrade guidelines
  docs/development/_sidebar.md
  docs/development/android-3.0-integration-guidelines.md
  docs/development/android-3.0-upgrade-guidelines.md
  docs/development/ios-3.0-integration-guidelines.md
  docs/development/ios-3.0-upgrade-guidelines.md
  docs/development/react-vue-3.0-upgrade-guidelines.md
  docs/development/react-vue-integration-guidelines.md
  docs/development/voltron-flutter-integration-guidelines.md
  docs/development/web-integration-guidelines.md
  docs/feature/_sidebar.md
Labels: doc: pages, size: xl, action(squash-merge): failed

#3803 feat(ios): add fcp monitor support
  driver/js/include/driver/performance/performance.h
  driver/js/src/js_driver_utils.cc
  driver/js/src/performance/performance.cc
  driver/js/src/scope.cc
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  renderer/native/ios/renderer/HippyComponent.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.h
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
  renderer/native/ios/renderer/component/view/UIView+MountEvent.h
  renderer/native/ios/renderer/component/view/UIView+MountEvent.m
  renderer/native/ios/utils/HippyConvert+NativeRender.h
  renderer/native/ios/utils/HippyConvert+NativeRender.m
  tests/ios/HippyUIViewCategoryTest.m
Labels: framework: ios, driver: js, renderer: native, size: m

#3807 feat(doc): 3.0 performance api doc update
  docs/assets/img/3.0-performance-fps.png
  docs/assets/img/3.0-performance-memory.png
  docs/assets/img/3.0-performance-start.png
  docs/assets/img/3.0-performance0.png
  docs/assets/img/3.0-performance1.png
  docs/assets/img/3.0-performance2.png
  docs/development/react-vue-3.0-upgrade-guidelines.md
  docs/feature/_sidebar.md
  docs/feature/feature3.0/_sidebar.md
  docs/feature/feature3.0/performance.md
Labels: doc: pages, size: m

#3810 feat(doc): fix docs markdown lint
  docs/development/react-vue-3.0-upgrade-guidelines.md
Labels: doc: pages, size: s

#3808 docs(ios): update upgrade guidelines of iOS
  docs/development/ios-3.0-upgrade-guidelines.md
Labels: doc: pages, size: s

#3813 feat(js): remove demo clipboard
  PUBLISH.md
  driver/js/examples/hippy-react-demo/src/modules/Clipboard/index.jsx
  driver/js/examples/hippy-react-demo/src/modules/index.js
  driver/js/examples/hippy-react-demo/src/routes.js
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-vue-native.vue
  driver/js/examples/hippy-vue-next-demo/src/components/native-demo/demo-vue-native.vue
Labels: driver: js, size: m

#3815 chore(release): modify npm publish config
  docs/development/react-vue-3.0-upgrade-guidelines.md
  driver/js/packages/hippy-vue-next-compiler-ssr/package.json
  driver/js/packages/hippy-vue-next-server-renderer/package.json
  driver/js/packages/hippy-vue-next/package.json
  driver/js/packages/hippy-vue/package.json
Labels: driver: js, doc: pages, size: s

#3817 chore(action): add project_artifact_snapshot.yml
  .github/workflows/project_artifact_snapshot.yml
Labels: size: m, gh: workflow

#3818 fix(action): change project_artifact_snapshot name
  .github/workflows/project_artifact_snapshot.yml
Labels: size: xs, gh: workflow

#3820 docs(android): update android snapshot 3.2.0 version
  docs/development/android-3.0-integration-guidelines.md
Labels: doc: pages, size: xs

#3814 chore(ios): fix home page layout and update default demo bundle
  framework/examples/android-demo/res/react/asyncComponentFromHttp.android.js
  framework/examples/android-demo/res/react/asyncComponentFromLocal.android.js
  framework/examples/android-demo/res/react/index.android.js
  framework/examples/android-demo/res/react/vendor-manifest.json
  framework/examples/android-demo/res/react/vendor.android.js
  framework/examples/ios-demo/HippyDemo/HomePage/HomePageView.xib
  framework/examples/ios-demo/res/react/asyncComponentFromHttp.ios.js
  framework/examples/ios-demo/res/react/asyncComponentFromLocal.ios.js
  framework/examples/ios-demo/res/react/index.ios.js
  framework/examples/ios-demo/res/react/vendor-manifest.json
  framework/examples/ios-demo/res/react/vendor.ios.js
  framework/voltron/example/assets/jsbundle/react/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/react/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/react/index.android.js
  framework/voltron/example/assets/jsbundle/react/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/react/vendor.android.js
Labels: doc: example, size: m, framework: voltron

#3819 refactor(ios): fix dependency issues between modules and podspec error
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/module/dev/HippyRedBox.h
  framework/ios/module/dev/HippyRedBox.mm
  hippy.podspec
  modules/ios/base/HippyLog.h
  modules/ios/base/HippyLog.mm
  modules/ios/base/NSObject+Render.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/UIView+Render.h
  renderer/native/ios/renderer/UIView+Render.mm
  renderer/native/ios/renderer/UIView+RenderManager.h
Labels: framework: ios, renderer: native, module: ios, size: m, build: xcode

#3821 fix(ios): tiny issue of TransactionListener in UIManager
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: renderer: native, size: xs

#3823 fix(ios): turbo module not get called on destroyInstance event
  docs/en-us/guide/jsi.md
  docs/guide/jsi.md
  examples/hippy-react-demo/src/main.js
  examples/ios-demo/HippyDemo/TestModule.m
  ios/sdk/base/HippyBatchedBridge.mm
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyBridge.mm
Labels: framework: ios, doc: example, doc: pages, size: s

#3811 fix(ios): avoid deadlock in special scenarios in animation module
  ios/sdk/module/animation/HippyExtAnimationModule.m
Labels: action(rebase-merge)

#3824 refactor(docs): add six key point
  docs/README.md
Labels: doc: pages, size: s

#3825 fix(android): update react demo bundle
  driver/js/package-lock.json
  framework/examples/android-demo/res/react/asyncComponentFromHttp.android.js
  framework/examples/android-demo/res/react/asyncComponentFromLocal.android.js
  framework/examples/android-demo/res/react/index.android.js
  framework/examples/android-demo/res/react/vendor-manifest.json
  framework/examples/android-demo/res/react/vendor.android.js
  framework/examples/ios-demo/res/react/asyncComponentFromHttp.ios.js
  framework/examples/ios-demo/res/react/asyncComponentFromLocal.ios.js
  framework/examples/ios-demo/res/react/index.ios.js
  framework/examples/ios-demo/res/react/vendor-manifest.json
  framework/examples/ios-demo/res/react/vendor.ios.js
  framework/voltron/example/assets/jsbundle/react/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/react/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/react/index.android.js
  framework/voltron/example/assets/jsbundle/react/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/react/vendor.android.js
Labels: driver: js, doc: example, size: m, framework: voltron

#3826 feat(dom): fix vue3 list item position
  dom/include/dom/dom_manager.h
  dom/include/dom/dom_node.h
  dom/include/dom/root_node.h
  dom/include/dom/scene_builder.h
  dom/src/dom/dom_manager.cc
  dom/src/dom/dom_manager_unittests.cc
  dom/src/dom/dom_node.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  driver/js/packages/hippy-vue-next/src/runtime/render/index.ts
  driver/js/src/modules/scene_builder_module.cc
Labels: driver: js, dom: tree, size: s, action(squash-merge): failed

#3827 feat(doc): rename readme for security check
  docs/_coverpage.md
  docs/_navbar.md
  docs/assets/js/docsify.js
  docs/assets/js/docsify.min.js
  docs/assets/js/search.js
  docs/assets/js/search.min.js
  docs/en-us/_coverpage.md
  docs/en-us/_navbar.md
  docs/en-us/assets/js/docsify.js
  docs/en-us/assets/js/docsify.min.js
  docs/en-us/assets/js/search.js
  docs/en-us/assets/js/search.min.js
  docs/index.md
Labels: doc: pages, size: s

#3828 feat(doc): rename english readme for security check
  docs/en-us/index.md
Labels: doc: pages, size: xs

#3829 feat(doc): add README.md doc
  docs/README.md
Labels: doc: pages, size: m

#3831 feat(vue): fix vue replace &nbsp
  driver/js/packages/hippy-vue/src/util/index.ts
Labels: driver: js, size: xs

#3832 feat(doc): remove readme md
  docs/README.md
Labels: doc: pages, size: m

#3833 Bugfix/vue next dependencies
  driver/js/examples/hippy-vue-next-demo/package.json
  driver/js/packages/hippy-vue-next-compiler-ssr/package.json
  driver/js/packages/hippy-vue-next-server-renderer/package.json
  driver/js/packages/hippy-vue-next-style-parser/package.json
  driver/js/packages/hippy-vue-next/package.json
Labels: driver: js, size: s

#3834 feat(doc): update hippy3.0 vue-next version
  docs/development/react-vue-3.0-upgrade-guidelines.md
Labels: doc: pages, size: xs

#3830 feat(ios): add custom image loader support
  docs/development/ios-3.0-upgrade-guidelines.md
  docs/development/native-adapter.md
  framework/ios/base/bridge/HippyBridge+Private.h
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/module/imageloader/HippyImageLoaderModule.mm
  framework/ios/module/imageloader/HippyImageViewCustomLoader.h
  framework/ios/module/loader/HippyBase64DataHandler.h
  framework/ios/module/loader/HippyBase64DataHandler.mm
  framework/ios/module/loader/HippyBridge+VFSLoader.mm
  framework/ios/module/loader/HippyFileHandler.h
  framework/ios/module/loader/HippyFileHandler.mm
  framework/ios/module/turbo/HippyTurboModuleManager.h
  modules/vfs/ios/HippyVFSDefines.h
  modules/vfs/ios/VFSUriHandler.h
  modules/vfs/ios/VFSUriHandler.mm
  modules/vfs/ios/VFSUriLoader.h
  modules/vfs/ios/VFSUriLoader.mm
  renderer/native/ios/renderer/HippyUIManager+Private.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/image/HippyImageViewManager.mm
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: framework: ios, renderer: native, module: vfs, doc: pages, size: l

#3836 fix(android): support use custom DisplayMetrics
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/DimensionsUtil.java
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/PixelUtil.java
Labels: module: android, size: xs
