Repository Tencent/Hippy, pull requests merged in 2024-10, with the labels that each got.

#4050 fix(ios): banner view of waterfall not working
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallViewDataSource.m
Labels: renderer: native, size: s

#4052 fix(android): support set custom image pool size
  modules/android/pool/src/main/java/com/openhippy/pool/ImageDataPool.java
Labels: module: android, size: s

#4053 docs(react,vue): update docs of pointerEvents prop
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  driver/js/examples/hippy-react-demo/src/externals/Slider/Slider.jsx
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
Labels: driver: js, renderer: native, doc: pages, size: s

#4055 fix(ios): add nullptr exception protection in rare scenarios
  framework/ios/base/executors/HippyJSExecutor.mm
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: framework: ios, renderer: native, size: s

#4056 feat(ios): add HippyFontChangeTriggerNotification for native font update
  renderer/native/ios/renderer/HippyComponentMap.h
  renderer/native/ios/renderer/HippyComponentMap.mm
  renderer/native/ios/renderer/HippyFont.h
  renderer/native/ios/renderer/HippyFont.mm
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyBaseTextInput.h
  renderer/native/ios/renderer/component/textinput/HippyBaseTextInput.m
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.h
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
  renderer/native/ios/renderer/component/textinput/HippyTextViewManager.mm
Labels: renderer: native, size: m

#4057 feat(ios): add showScrollIndicator prop for waterfall component
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/external-components.md
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallViewManager.m
Labels: renderer: native, doc: pages, size: xs

#4059 feat(ios): add HippyFontChangeTriggerNotification for font update 2
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
Labels: renderer: native, size: s

#4060 chore(ios): add Invalid prop keyPath check
  ios/sdk/base/HippyComponentData.mm
Labels: framework: ios, size: xs

#4061 refactor(ios): minor update of UIManager and ShadowView
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
Labels: renderer: native, size: s

#4069 fix(ios): websocket module support extra headers
  ios/sdk/debug/websocket/HippySRWebSocket.h
  ios/sdk/debug/websocket/HippySRWebSocket.m
  ios/sdk/debug/websocket/HippyWebSocketManager.m
Labels: framework: ios, size: s

#4073 feat(react): remove unregisted event
  driver/js/packages/hippy-react/src/components/list-view.tsx
  driver/js/packages/hippy-react/src/components/waterfall-view.tsx
Labels: driver: js

#4075 fix(ios): add nil protection when bridge released during loading bundle
  framework/ios/base/bridge/HippyBridge.mm
Labels: framework: ios, size: xs

#4076 fix(core): LoadUntrustedContent crash protect
  driver/js/src/modules/contextify_module.cc
Labels: driver: js, size: xs

#4087 fix(web): fix webrender not show when length is 1
  examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.dev.js
  packages/hippy-web-renderer/src/component/list-view.ts
  packages/hippy-web-renderer/src/third-lib/size-position-manager.js
  packages/hippy-web-renderer/src/third-lib/virtual-list.js
Labels: driver: js, doc: example, size: s

#4089 feat(android): add layout module for reset layout cache
  dom/CMakeLists.txt
  dom/include/dom/dom_node.h
  dom/include/dom/layout_node.h
  dom/include/dom/taitank_layout_node.h
  dom/include/dom/yoga_layout_node.h
  dom/src/dom/dom_node.cc
  dom/src/dom/taitank_layout_node.cc
  dom/src/dom/yoga_layout_node.cc
  driver/js/CMakeLists.txt
  driver/js/include/driver/modules/ui_layout_module.h
  driver/js/lib/global/UIManagerModule.js
  driver/js/src/modules/ui_layout_module.cc
  driver/js/src/scope.cc
  driver/js/src/vm/jsc/native_source_code_ios.cc
  driver/js/src/vm/v8/native_source_code_android.cc
  framework/voltron/core/src/bridge/native_source_code_flutter.cc
Labels: driver: js, dom: tree, size: m, framework: voltron

#4090 fix(ios): delay release engine resource to avoid deadlock
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: xs

#4092 build(ios): fix build error due to std::any_cast
  driver/js/src/modules/ui_layout_module.cc
Labels: driver: js, size: xs

#4094 fix(android,ios): performance record inaccurate when engine reuse
  dom/include/dom/dom_manager.h
  dom/src/dom/dom_manager.cc
  dom/src/dom/root_node.cc
  dom/src/dom/scene_builder.cc
  framework/android/connector/driver/js/src/main/cpp/include/connector/js_driver_jni.h
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/ios/base/bridge/HippyBridge+PerformanceAPI.h
  framework/ios/base/bridge/HippyBridge+PerformanceAPI.mm
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/HippyRootView.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
  renderer/native/ios/renderer/HippyRootView.mm
Labels: framework: android, framework: ios, dom: tree, renderer: native, size: m

#4095 feat(web): fix image local path
  examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.js
  packages/hippy-react/src/modules/animation.ts
  packages/hippy-web-renderer/src/component/image.ts
Labels: driver: js, doc: example, size: s

#4096 feat(chore): remove security check
  .github/workflows/security_codeql_analyses.yml
Labels: size: m, gh: workflow

#4098 feat(ios): waterfall component support footer view
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/external-components.md
  driver/js/examples/hippy-react-demo/src/components/WaterfallView/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-waterfall.vue
  driver/js/examples/hippy-vue-next-demo/src/components/native-demo/demo-waterfall.vue
  driver/js/packages/hippy-react/src/components/waterfall-view.tsx
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowWaterfallItem.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallItemViewManager.m
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallViewDataSource.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallViewDataSource.m
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallViewManager.m
Labels: driver: js, renderer: native, doc: pages, size: m

#4101 fix(ios): thread race when getting uiManager
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: renderer: native, size: xs

#4103 fix(ios): potential thread race in vfs file module
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  modules/vfs/ios/HippyFileHandler.h
  modules/vfs/ios/HippyFileHandler.mm
  tests/ios/HippyFileHandlerTest.mm
Labels: framework: ios, module: vfs, size: s

#4106 fix(ios): abnormal onFooterPulling callback
  renderer/native/ios/renderer/component/footerrefresh/HippyFooterRefresh.m
  renderer/native/ios/renderer/component/headerrefresh/HippyHeaderRefresh.m
  renderer/native/ios/renderer/component/refresh/HippyRefresh.h
  renderer/native/ios/renderer/component/refresh/HippyRefresh.m
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
Labels: renderer: native, size: s
