Repository Tencent/Hippy, pull requests merged in 2024-05, with the labels that each got.

#3841 fix(android): debugServerHost invalid setting
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageConfiguration.kt
Labels: doc: example, size: s

#3838 feat(vue-next): add vue3 css style inherit
  driver/js/packages/hippy-vue-next/src/runtime/element/hippy-element.ts
  driver/js/packages/hippy-vue-next/src/runtime/node/hippy-node.ts
Labels: driver: js, size: s

#3842 fix(android): getScreenShot bitmap width or height < 0
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
Labels: renderer: native, size: xs

#3843 fix(ios): avoid zero size crash when using UIGraphics api in debug mode
  ios/sdk/component/view/HippyView.m
  ios/sdk/debug/devtools/inspector/model/HippyPageModel.m
Labels: framework: ios, size: s

#3846 feat(action): update v8 compiler action
  .github/workflows/3rd_prebuilt_v8.yml
Labels: size: xs, gh: workflow

#3845 fix(ios): loss of touch end or cancel event in multi-finger scenarios
  ios/sdk/base/HippyTouchHandler.m
Labels: framework: ios, size: s

#3844 perf(ios): draw backgroundImage asynchronously for performance
  ios/sdk/component/view/HippyView.m
Labels: framework: ios, size: s

#3853 feat(ios): pageIndex of ViewPager auto update after data changes
  ios/sdk/component/viewPager/HippyViewPager.m
Labels: framework: ios, size: s

#3855 chore(build): update husky commit hook command
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Labels: size: xs

#3856 fix(ios): null exception when converting JSI object to dictionary
  framework/ios/module/turbo/HippyOCTurboModule.mm
Labels: framework: ios, size: xs

#3854 fix(ios): auto-update of page index may lag by one frame in view pager
  ios/sdk/component/viewPager/HippyViewPager.m
Labels: framework: ios, size: s

#3859 chore(build): update husky commit hook command
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Labels: size: xs

#3857 feat(ios): update ViewPager's pageIndex automatically after data changes
  renderer/native/ios/renderer/component/viewPager/HippyViewPager.mm
Labels: renderer: native, size: s

#3863 refactor(ios): non-standard url support of bundle loading
  framework/ios/base/bridge/HippyBridge.mm
  tests/ios/HippyBridgeTest.mm
Labels: framework: ios, size: s

#3861 feat(android): add orientationChange event for Modal
  docs/api/hippy-react/components.md
  driver/js/examples/hippy-react-demo/src/components/Modal/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-dialog.vue
  driver/js/examples/hippy-vue-next-demo/src/components/native-demo/demo-dialog.vue
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalDialogView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
  renderer/native/android/src/main/java/com/tencent/renderer/utils/EventUtils.java
Labels: driver: js, renderer: native, doc: pages, size: m, action(squash-merge): failed

#3862 fix(devtool): fix muli devtool instance crash on android
  driver/js/include/driver/js_driver_utils.h
  driver/js/src/js_driver_utils.cc
  framework/android/connector/driver/js/src/main/cpp/include/connector/js_driver_jni.h
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridge.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManager.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
Labels: framework: android, driver: js, renderer: native, size: s

#3864 feat(action): install ninja-build before v8 build
  .github/workflows/3rd_prebuilt_v8.yml
Labels: size: xs, gh: workflow

#3868 feat(vue): fix attribute inheritance style not empty
  driver/js/packages/hippy-vue/src/native/index.ts
  driver/js/packages/hippy-vue/src/util/index.ts
Labels: driver: js, size: s

#3869 feat(vue-next): modify comment
  driver/js/packages/hippy-vue-next/src/runtime/element/hippy-element.ts
Labels: driver: js, size: xs

#3870 feat(v8): add version log for v8
  driver/js/src/vm/v8/v8_vm.cc
Labels: driver: js, size: xs

#3872 fix(ios): make getTurboModule return null when module not exist
  ios/sdk/module/turbo/HippyTurboModuleManager.mm
Labels: framework: ios, size: s

#3873 docs(privacy): update privacy guide
  docs/development/privacy.md
Labels: doc: pages, size: m

#3874 fix(ios): potential deadlock in layout & unify all ScreenScale calls
  ios/sdk/base/HippyDeviceBaseInfo.m
  ios/sdk/component/image/HippyDefaultImageProvider.m
  ios/sdk/component/view/HippyBackgroundImageCacheManager.m
  ios/sdk/component/view/HippyShadowView.mm
  ios/sdk/component/view/HippyViewManager.mm
  ios/sdk/component/waterfalllist/HippyCollectionViewWaterfallLayout.m
  ios/sdk/layout/x5LayoutUtil.m
Labels: framework: ios, size: s

#3875 fix(ios): add protection for targetContentOffset outliers in ViewPager
  ios/sdk/component/viewPager/HippyViewPager.m
Labels: framework: ios, size: s

#3876 fix(ios): animation nullptr crash
  dom/src/dom/animation/animation_manager.cc
Labels: dom: animation, size: xs
