Repository Tencent/Hippy, pull requests merged in 2024-08, with the labels that each got.

#3975 fix(android): use weak reference replace strong
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/jsi/TurboModuleManager.java
  framework/android/src/main/java/com/tencent/mtt/hippy/common/ThreadExecutor.java
Labels: framework: android, size: s

#3977 chore(ios): add debug property for shadowView
  ios/sdk/component/view/UIView+Hippy.h
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: framework: ios, size: s

#3976 fix(ios): add exception handle process for jsc
  driver/js/include/driver/scope.h
  driver/js/src/modules/timer_module.cc
  driver/js/src/napi/jsc/jsc_ctx.cc
  driver/js/src/scope.cc
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, driver: js, size: s

#3981 chore(ios): eliminate code warnings
  driver/js/src/scope.cc
  framework/ios/debug/websocket/HippySRWebSocket.m
  framework/ios/utils/NSObject+CtxValue.mm
Labels: framework: ios, driver: js, size: m

#3982 fix(android): onGlobalLayout use root view size
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/TimeMonitor.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/HippyRootView.java
Labels: renderer: native, module: android, size: s

#3985 refactor(ios): remove unused data structure in waterfall item
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowListView.h
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowListView.m
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowListView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowWaterfallItem.h
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowWaterfallItem.m
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
Labels: renderer: native, size: m

#3986 refactor(ios): use hippySubviews prop for compatibility
  renderer/native/ios/renderer/HippyComponent.h
  renderer/native/ios/renderer/HippyRootShadowView.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/listview/HippyNextBaseListView.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/text/HippyText.mm
  renderer/native/ios/renderer/component/text/HippyTextManager.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
  renderer/native/ios/renderer/component/view/UIView+DirectionalLayout.mm
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowWaterfallItem.m
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
Labels: renderer: native, size: s

#3987 fix(ios): remove invalid if statement at cell reuse
  renderer/native/ios/renderer/component/listview/HippyNextBaseListView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowWaterfallItem.h
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowWaterfallItem.m
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
Labels: renderer: native, size: s

#3991 fix(ios): improved accuracy of ViewPager's ScrollStateChanged API
  ios/sdk/component/viewPager/HippyViewPager.m
Labels: framework: ios, size: s

#3992 fix(ios): improve accuracy of ViewPager's onPageScroll parameters
  ios/sdk/component/viewPager/HippyViewPager.m
Labels: framework: ios, size: s

#3989 fix(ios): resolve floating point size comparison issues
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.mm
  renderer/native/ios/renderer/component/textinput/HippyTextView.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/viewPager/HippyViewPager.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyShadowWaterfallItem.m
  renderer/native/ios/utils/HippyRenderUtils.h
  renderer/native/ios/utils/HippyRenderUtils.m
  tests/ios/HippyRenderUtilsTest.m
Labels: renderer: native, size: m

#3988 fix(android): add buildTruncateAtEndStaticLayout impl
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
Labels: renderer: native, size: s

#3994 refactor(ios): remove all context wrapper classes
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/enginewrapper/HippyContextWrapper.h
  framework/ios/base/enginewrapper/jsc/HippyJSCContextWrapper.h
  framework/ios/base/enginewrapper/jsc/HippyJSCContextWrapper.mm
  framework/ios/base/enginewrapper/v8/HippyV8ContextWrapper.h
  framework/ios/base/enginewrapper/v8/HippyV8ContextWrapper.mm
  framework/ios/base/executors/HippyJSExecutor.h
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/base/modules/HippyModuleData.mm
  framework/ios/utils/jsc/NSObject+JSValue.h
  framework/ios/utils/jsc/NSObject+JSValue.m
  framework/ios/utils/v8/NSObject+V8Value.h
  framework/ios/utils/v8/NSObject+V8Value.mm
  hippy.podspec
  modules/footstone/src/platform/ios/logging.cc
Labels: framework: ios, module: footstone, size: xl, build: xcode

#3995 feat(vue-next): fix onInterceptTouchEvent not work
  driver/js/packages/hippy-vue-next/src/modules/attrs.ts
  driver/js/packages/hippy-vue-next/src/patch-prop.ts
Labels: driver: js, size: s

#3998 feat(react): add animation stop
  packages/hippy-react/src/modules/animation.ts
Labels: driver: js, size: xs

#3999 fix(android): append init props for image load
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageLoader.java
Labels: renderer: native, size: s

#4000 fix(android): use Spanned to getSpans
  renderer/native/android/src/main/java/com/tencent/renderer/component/Component.java
Labels: renderer: native, size: xs

#4002 fix(vue-next): fix beforeLoadStyle not work
  driver/js/examples/hippy-vue-next-demo/src/main-native.ts
  driver/js/packages/hippy-vue-next-style-parser/src/style-match/css-map.ts
Labels: driver: js, size: s

#4003 feat(vue-next): fix beforeLoadStyle not work
  examples/hippy-vue-next-demo/src/main-native.ts
  packages/hippy-vue-next-style-parser/src/style-match/css-map.ts
Labels: driver: js, doc: example, size: s

#4006 fix(ios): resolve reload not working
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.m
  framework/ios/base/bridge/HippyBridge.mm
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: framework: ios, renderer: native, doc: example, size: m

#4007 fix(ios): resolve conversion error between NSString and CtxValue
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/utils/NSObject+CtxValue.mm
  tests/ios/HippyCtxValueConvertTest.mm
Labels: framework: ios, driver: js, size: m

#4009 chore(ios): update demo and eliminate some warnings
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/examples/ios-demo/HippyDemo/PageManager/HippyPageCache.h
  framework/examples/ios-demo/HippyDemo/PageManager/PageCreationViewController.m
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.m
  framework/examples/ios-demo/HippyDemo/TestModule.h
  framework/examples/ios-demo/HippyDemo/TestModule.mm
  modules/ios/base/HippyLog.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
Labels: driver: js, renderer: native, module: ios, doc: example, size: m
