Repository Tencent/Hippy, pull requests merged in 2024-06, with the labels that each got.

#3879 fix(android): should updateExtra after create host view
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
Labels: renderer: native, size: xs

#3878 docs(privacy): add privacy guide for developer
  docs/development/_sidebar.md
  docs/development/privacy-developer-guide.md
  docs/development/privacy.md
Labels: doc: pages, size: s

#3881 fix(ios): resolve exception where touchView may be nil
  ios/sdk/base/HippyTouchHandler.m
Labels: framework: ios, size: xs

#3883 refactor(docs): add screenshot and update 3.0 upgrade guidelines md
  docs/development/android-3.0-upgrade-guidelines.md
  docs/feature/feature3.0/_sidebar.md
  docs/feature/feature3.0/screenshot.md
Labels: doc: pages, size: s

#3885 fix(ios): resolve null pointer crash when loadBundleURL
  framework/ios/base/bridge/HippyBridge.mm
Labels: framework: ios, size: xs

#3886 fix(ios): resolve non-standard object type when creating js object
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: s

#3888 fix(perf): fix OnResourceLoadEnd crash
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
Labels: framework: android, size: s

#3884 Feat/screen snapshot
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/examples/android-demo/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageConfiguration.kt
  framework/examples/android-demo/src/main/java/com/openhippy/example/PageManagement.kt
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/PixelUtil.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: framework: android, renderer: native, module: android, doc: example, size: l

#3891 Bugfix/anim state crash
  dom/src/dom/animation/animation.cc
  framework/android/connector/dom/src/main/cpp/src/dom_jni.cc
Labels: framework: android, dom: animation, size: xs

#3892 fix(ios): loss of touch end or cancel event in multi-finger scenarios
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: renderer: native, size: s

#3893 fix(ios): add protection for targetContentOffset outliers in ViewPager
  renderer/native/ios/renderer/component/viewPager/HippyViewPager.mm
Labels: renderer: native, size: s

#3902 fix(android): resolve local ref overflow
  android/sdk/src/main/jni/src/jni/convert_utils.cc
Labels: framework: android, size: xs

#3903 fix(android): resolve local ref overflow
  framework/android/connector/driver/js/src/main/cpp/src/convert_utils.cc
Labels: framework: android, size: xs

#3906 fix(core): fix android scope crash
  driver/js/src/scope.cc
Labels: driver: js, size: s

#3444 Update README.md
  driver/js/packages/hippy-vue-native-components/README.md
Labels: driver: js, size: xs

#3768 chore(ios): add PrivacyInfo config for iOS
  PrivacyInfo.xcprivacy
Labels: stale: 60d, size: s

#3907 fix(ios): add CSS name matching semantics to fontFamily of TextInput
  renderer/native/ios/renderer/component/textinput/HippyTextViewManager.mm
Labels: renderer: native, size: s

#3908 refactor(docs): update 3.0 upgrade guidelines md
  docs/development/android-3.0-upgrade-guidelines.md
  docs/feature/feature3.0/image-decoder-adapter.md
Labels: doc: pages, size: m

#3909 feat(doc): update js doc
  docs/development/_sidebar.md
  docs/development/react-vue-3.0-integration-guidelines.md
  docs/development/react-vue-3.0-upgrade-guidelines.md
Labels: doc: pages, size: s

#3910 feat(ios): add paragraph styles support for TextInput
  examples/hippy-react-demo/src/components/TextInput/index.jsx
  examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  ios/sdk/component/textinput/HippyShadowTextView.h
  ios/sdk/component/textinput/HippyShadowTextView.mm
  ios/sdk/component/textinput/HippyTextField.h
  ios/sdk/component/textinput/HippyTextField.m
  ios/sdk/component/textinput/HippyTextView.h
  ios/sdk/component/textinput/HippyTextView.mm
  ios/sdk/component/textinput/HippyTextViewManager.mm
Labels: framework: ios, doc: example, size: m

#3911 fix(ios): responsible region issue of multi-line TextInput
  ios/sdk/component/textinput/HippyTextView.mm
Labels: framework: ios, size: s

#3914 refactor(ios): add gesture event delegate for hippyBridge
  framework/ios/base/bridge/HippyBridgeDelegate.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.h
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: framework: ios, renderer: native, size: s

#3915 fix(ios): potential thread race in HippyJSExecutor
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#3917 feat(doc): update js doc for 3.3
  docs/development/react-vue-3.0-upgrade-guidelines.md
Labels: doc: pages, size: s

#3918 fix(ios): performance api of FP not working
  framework/ios/base/bridge/HippyBridge+PerformanceAPI.h
  framework/ios/base/bridge/HippyBridge+PerformanceAPI.mm
  framework/ios/base/bridge/HippyBridge.mm
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/renderer/component/view/UIView+MountEvent.m
Labels: framework: ios, renderer: native, size: m

#3920 docs(ios): update integration and upgrade guildlines
  docs/development/ios-3.0-integration-guidelines.md
  docs/development/ios-3.0-upgrade-guidelines.md
Labels: doc: pages, size: s

#3921 chore(ios): resolve podspec issues
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.m
  framework/examples/ios-demo/HippyDemo/vfsloader/HippyDemoLoader.h
  framework/examples/ios-demo/HippyDemo/vfsloader/HippyDemoLoader.mm
  framework/examples/ios-demo/podfile
  hippy.podspec
Labels: doc: example, size: m, build: xcode

#3923 chore(ios): resolve podspec lint issue
  hippy.podspec
Labels: size: xs, build: xcode

#3925 feat(react): add font style inherit
  driver/js/examples/hippy-react-demo/src/components/Text/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-p.vue
  driver/js/packages/hippy-react/src/dom/element-node.ts
  driver/js/packages/hippy-react/src/renderer/render.ts
  driver/js/packages/hippy-react/src/utils/index.ts
  driver/js/packages/hippy-react/src/utils/node.ts
  driver/js/packages/hippy-vue/src/native/index.ts
  driver/js/packages/hippy-vue/src/renderer/element-node.ts
  driver/js/packages/hippy-vue/src/util/node.ts
Labels: driver: js, size: m

#3926 chore(ios): update integration guide
  docs/development/ios-3.0-integration-guidelines.md
Labels: doc: pages, size: s

#3927 feat(vue): fix default native style is empty
  driver/js/packages/hippy-vue/src/native/index.ts
Labels: driver: js

#3928 chore(ios): add PrivacyInfo config for iOS
  PrivacyInfo.xcprivacy
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  framework/examples/ios-demo/HippyDemo.xcodeproj/xcshareddata/xcschemes/HippyDemo.xcscheme
Labels: doc: example, size: s

#3929 feat(ios): add paragraph styles support for TextInput
  driver/js/examples/hippy-react-demo/src/components/TextInput/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-textarea.vue
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.h
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
  renderer/native/ios/renderer/component/textinput/HippyTextField.h
  renderer/native/ios/renderer/component/textinput/HippyTextField.m
  renderer/native/ios/renderer/component/textinput/HippyTextView.h
  renderer/native/ios/renderer/component/textinput/HippyTextView.mm
  renderer/native/ios/renderer/component/textinput/HippyTextViewManager.mm
Labels: driver: js, renderer: native, size: m

#3930 fix(android): different sticky item position crash
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerListAdapter.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/recyclerview/helper/skikcy/StickyHeaderHelper.java
Labels: renderer: native, size: s

#3931 feat(doc): update 3.3.0 integration guidelines
  docs/README.md
  docs/development/android-3.0-integration-guidelines.md
Labels: doc: pages, size: xs

#3933 fix(ios): resolve a multithreading issue in Animator
  ios/sdk/module/animation2/pop/HPOPAnimator.mm
Labels: framework: ios, size: xs
