Repository Tencent/Hippy, pull requests merged in 2024-07, with the labels that each got.

#3936 feat(android): text input support lineHeight
  docs/api/hippy-react/components.md
  driver/js/examples/hippy-react-demo/src/components/TextInput/index.jsx
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextInputRenderNode.java
Labels: driver: js, renderer: native, doc: pages, size: m

#3937 fix(ios): improve synchronization between animationSets
  ios/sdk/module/animation2/HippyNextAnimation.h
  ios/sdk/module/animation2/HippyNextAnimationGroup.m
  ios/sdk/module/animation2/HippyNextAnimationModule.m
  ios/sdk/module/animation2/pop/HPOPAnimator.h
  ios/sdk/module/animation2/pop/HPOPAnimator.mm
  ios/sdk/module/animation2/pop/HPOPAnimatorPrivate.h
Labels: framework: ios, size: m

#3938 fix(ios): delay of animationSet not working under new sync mechanism
  ios/sdk/module/animation2/HippyNextAnimationModule.m
  ios/sdk/module/netinfo/HippyNetInfoIntenal.m
Labels: framework: ios, size: xs

#3939 chore(doc): update hippy 3.3.0 doc
  docs/development/react-vue-3.0-upgrade-guidelines.md
Labels: doc: pages, size: s

#3940 fix(ios): header and footer refresh bugs
  renderer/native/ios/renderer/component/footerrefresh/HippyFooterRefresh.m
  renderer/native/ios/renderer/component/headerrefresh/HippyHeaderRefresh.m
  renderer/native/ios/renderer/component/refresh/HippyRefresh.h
  renderer/native/ios/renderer/component/refresh/HippyRefresh.m
Labels: renderer: native, size: s

#3944 fix(ios): eliminate all warnings and open treat_warning_as_error
  devtools/devtools-backend/include/module/domain/base_domain.h
  devtools/devtools-backend/include/module/domain_dispatch.h
  devtools/devtools-backend/include/module/util/parse_json_util.h
  devtools/devtools-backend/include/tunnel/net_channel.h
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
  devtools/devtools-backend/src/module/domain/tdf_runtime_domain.cc
  devtools/devtools-backend/src/tunnel/tcp/socket.cc
  dom/include/dom/layout_node.h
  dom/include/dom/taitank_layout_node.h
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo/HomePage/HomePageView.xib
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.m
  framework/examples/ios-demo/podfile
  framework/ios/debug/websocket/HippySRWebSocket.m
  framework/ios/module/netinfo/HippyNetInfoIntenal.m
  modules/footstone/include/footstone/logging.h
  modules/footstone/include/footstone/string_utils.h
  modules/footstone/include/footstone/string_view.h
  modules/footstone/include/footstone/string_view_utils.h
  modules/footstone/src/serializer.cc
  modules/ios/image/HippyImageProviderProtocol.h
  renderer/native/ios/renderer/HippyRootView.h
  renderer/native/ios/renderer/component/modal/HippyModalHostViewManager.mm
  renderer/native/ios/renderer/component/view/HippyView.h
  renderer/native/ios/renderer/component/view/UIView+Hippy.h
Labels: framework: ios, driver: js, dom: tree, renderer: native, module: footstone, module: ios, doc: example, devtools: backend, size: m

#3946 fix(jsc): fix jsc crash on ios12
  core/src/napi/jsc/jsc_ctx.cc
Labels: action(rebase-merge)

#3948 fix(android): font weight compatible with version 2.x
  docs/api/style/appearance.md
  driver/js/examples/hippy-react-demo/src/components/Text/index.jsx
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TextStyleSpan.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/text/TypeFaceUtil.java
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
Labels: driver: js, renderer: native, doc: pages, size: m

#3949 fix(ios): add a null protection to animation target (new anim module)
  ios/sdk/module/animation2/HippyNextAnimationModule.m
Labels: framework: ios, size: s

#3952 feat(ios,android): add request duration in fetch response header
  framework/android/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/network/NetworkModule.java
  framework/ios/module/network/HippyNetWork.h
  framework/ios/module/network/HippyNetWork.mm
Labels: framework: android, framework: ios, size: m

#3951 feat(ios): add app bundle and container path support for hpfile url
  framework/ios/module/loader/HippyFileHandler.h
  framework/ios/module/loader/HippyFileHandler.mm
  tests/ios/HippyFileHandlerTest.mm
Labels: framework: ios, size: m

#3956 feat(ios): add HippyFontChangeTriggerNotification for native font update
  ios/sdk/base/HippyFont.h
  ios/sdk/base/HippyFont.mm
  ios/sdk/base/HippyRootView.mm
  ios/sdk/component/textinput/HippyBaseTextInput.h
  ios/sdk/component/textinput/HippyBaseTextInput.m
  ios/sdk/component/textinput/HippyShadowTextView.h
  ios/sdk/component/textinput/HippyShadowTextView.mm
  ios/sdk/component/textinput/HippyTextViewManager.mm
  ios/sdk/module/uimanager/HippyUIManager.h
  ios/sdk/module/uimanager/HippyUIManager.mm
Labels: framework: ios, size: m

#3958 fix(ios): turbo module type convert nullptr crash
  core/src/napi/jsc/jsc_ctx.cc
  ios/sdk/module/turbo/HippyOCTurboModule.mm
Labels: framework: ios, driver: js, size: xs

#3959 chore(ios): code quality improve
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/module/animation2/pop/HPOPAnimator.mm
Labels: framework: ios, size: xs

#3960 fix(ios, android): performance records inaccurate issues
  driver/js/src/scope.cc
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/ios/base/bridge/HippyBridge+PerformanceAPI.mm
  framework/ios/base/bridge/HippyBridge+Private.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.h
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: android, framework: ios, driver: js, size: m

#3964 feat(demo): update demo dependency
  driver/js/examples/hippy-react-demo/package.json
  driver/js/examples/hippy-vue-demo/package.json
  driver/js/examples/hippy-vue-next-demo/package.json
Labels: driver: js, size: s

#3965 fix(android): add custom display metrics
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/DimensionsUtil.java
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/PixelUtil.java
Labels: module: android, size: s

#3962 fix(voltron): fix voltron http request dio null error
  framework/voltron/CHANGELOG.md
  framework/voltron/lib/adapter/http.dart
  framework/voltron/lib/inspector/dev_server_helper.dart
  framework/voltron/pubspec.yaml
Labels: size: s, framework: voltron

#3967 fix(core): check crash on config SetScaleFactor
  dom/src/dom/taitank_layout_node.cc
Labels: dom: tree, size: xs

#3972 fix(ios): iOS18 adaptation of TextView component
  ios/sdk/component/textinput/HippyTextField.h
  ios/sdk/component/textinput/HippyTextField.m
  ios/sdk/component/textinput/HippyTextView.h
  ios/sdk/component/textinput/HippyTextView.mm
  ios/sdk/component/textinput/HippyTextViewManager.mm
Labels: framework: ios, size: s
