Repository Tencent/Hippy, pull requests merged in 2024-02, with the labels that each got.

#3748 fix(android): remove override getOverScrollMode
  android/sdk/src/main/java/com/tencent/mtt/hippy/views/scroll/HippyHorizontalScrollView.java
Labels: framework: android, size: s

#3680 feat(android): add modal features
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/external-components.md
  driver/js/examples/hippy-react-demo/src/components/Modal/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-dialog.vue
  driver/js/examples/hippy-vue-next-demo/src/components/native-demo/demo-dialog.vue
  driver/js/packages/hippy-react/src/components/modal.tsx
  driver/js/packages/hippy-vue-native-components/src/dialog.ts
  driver/js/packages/hippy-vue-next/src/native-component/dialog.ts
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/modal/HippyModalHostView.java
Labels: driver: js, renderer: native, doc: pages, size: m

#3751 fix(android): remove ClipboardModule
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/HippyCoreAPI.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/modules/nativemodules/clipboard/ClipboardModule.java
Labels: framework: android, size: s

#3749 fix(ios): remove the invalid log message
  ios/sdk/component/text/HippyTextManager.mm
Labels: framework: ios, size: xs

#3756 docs(js): add js 3.0 upgrade guidelines
  docs/development/3.0-upgrade-guidelines.md
  docs/development/_sidebar.md
Labels: doc: pages, size: s

#3758 feat(vue): vue component support beforeLoadStyle disabled
  docs/api/hippy-vue/style.md
  driver/js/packages/hippy-vue/src/renderer/element-node.ts
Labels: driver: js, doc: pages, size: s

#3609 fix(android): fix premature text truncation
  renderer/native/android/src/main/java/com/tencent/renderer/node/TextVirtualNode.java
Labels: stale: 60d, renderer: native, size: m, consistency

#3759 fix(android): should hide soft input even input not focus
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInputController.java
Labels: renderer: native, size: xs

#3760 fix(vue3): delete source prop for img
  driver/js/packages/hippy-vue-next/src/runtime/element/hippy-element.ts
Labels: driver: js, size: s

#3761 fix(vue3): skip patch style for same props
  driver/js/packages/hippy-vue-next/src/modules/style.ts
Labels: driver: js, size: s

#3762 fix(ios): animation state of some scenes might be out of sync
  ios/sdk/module/animation2/HippyNextAnimationModule.m
Labels: framework: ios, size: s, action(rebase-merge)

#3764 fix(ios): add a null protection to animator
  ios/sdk/module/animation2/pop/HPOPBasicAnimationInternal.h
Labels: framework: ios, size: xs
