Repository Tencent/Hippy, pull requests merged in 2024-11, with the labels that each got.

#4107 chore(doc): add doc for report
  docs/development/_sidebar.md
  docs/development/report.md
Labels: doc: pages, size: s

#4109 refactor(ios): add delegate method for remote debugging
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo/HippyDemoViewController.h
  framework/examples/ios-demo/HippyDemo/HippyDemoViewController.m
  framework/examples/ios-demo/HippyDemo/MyViewDemo/MyView.h
  framework/examples/ios-demo/HippyDemo/MyViewDemo/MyView.m
  framework/examples/ios-demo/HippyDemo/MyViewDemo/MyViewManager.h
  framework/examples/ios-demo/HippyDemo/MyViewDemo/MyViewManager.mm
  framework/examples/ios-demo/HippyDemo/TurboModuleDemo/TurboBaseModule.h
  framework/examples/ios-demo/HippyDemo/TurboModuleDemo/TurboBaseModule.mm
  framework/examples/ios-demo/HippyDemo/TurboModuleDemo/TurboConfig.h
  framework/examples/ios-demo/HippyDemo/TurboModuleDemo/TurboConfig.m
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bridge/HippyBridgeDelegate.h
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, doc: example, size: s

#4105 fix(devtools): fix DOM tree flickering for animation page
  dom/src/dom/root_node.cc
Labels: dom: tree, size: xs

#4112 fix(devtools): fix network debug information for ios in chrome devtool
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#4116 chore(doc): add react vue performance doc
  docs/api/_sidebar.md
  docs/api/feedback.md
  docs/api/hippy-react/_sidebar.md
  docs/api/hippy-react/customize.md
  docs/api/hippy-react/feedback.md
  docs/api/hippy-react/modules.md
  docs/api/hippy-vue/_sidebar.md
  docs/api/hippy-vue/customize.md
  docs/api/hippy-vue/feedback.md
  docs/api/hippy-vue/vue-native.md
  docs/api/hippy-vue/web.md
  docs/api/performance.md
  docs/api/style/_sidebar.md
  docs/api/style/feedback.md
  docs/development/native-component.md
  docs/development/report.md
Labels: doc: pages, size: l

#4115 fix(doc): update android v8 and module document
  docs/development/_sidebar.md
  docs/development/native-module.md
  docs/development/v8-api.md
Labels: doc: pages, size: s

#4117 fix(core): fix invalid animation crash
  dom/src/dom/animation/animation_manager.cc
Labels: dom: animation, size: xs

#4123 feat(js): update js bundle
  framework/examples/android-demo/res/react/index.android.js
  framework/examples/android-demo/res/react/vendor.android.js
  framework/examples/android-demo/res/vue2/index.android.js
  framework/examples/android-demo/res/vue2/vendor.android.js
  framework/examples/android-demo/res/vue3/asyncComponentFromHttp.android.js
  framework/examples/android-demo/res/vue3/asyncComponentFromLocal.android.js
  framework/examples/android-demo/res/vue3/index.android.js
  framework/examples/android-demo/res/vue3/vendor-manifest.json
  framework/examples/android-demo/res/vue3/vendor.android.js
  framework/examples/ios-demo/res/react/index.ios.js
  framework/examples/ios-demo/res/react/vendor.ios.js
  framework/examples/ios-demo/res/vue2/index.ios.js
  framework/examples/ios-demo/res/vue2/vendor.ios.js
  framework/examples/ios-demo/res/vue3/asyncComponentFromHttp.ios.js
  framework/examples/ios-demo/res/vue3/asyncComponentFromLocal.ios.js
  framework/examples/ios-demo/res/vue3/index.ios.js
  framework/examples/ios-demo/res/vue3/vendor-manifest.json
  framework/examples/ios-demo/res/vue3/vendor.ios.js
  framework/voltron/example/assets/jsbundle/react/index.android.js
  framework/voltron/example/assets/jsbundle/react/vendor.android.js
  framework/voltron/example/assets/jsbundle/vue2/index.android.js
  framework/voltron/example/assets/jsbundle/vue2/vendor.android.js
  framework/voltron/example/assets/jsbundle/vue3/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/vue3/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/vue3/index.android.js
  framework/voltron/example/assets/jsbundle/vue3/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/vue3/vendor.android.js
Labels: doc: example, size: m, framework: voltron

#4124 fix(ios): fcp record of performance api may not working
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/view/UIView+MountEvent.m
Labels: renderer: native, size: s

#4125 fix(ios): dynamic changes to zIndex not working
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/text/HippyText.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.h
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/UIView+Hippy.h
  renderer/native/ios/renderer/component/view/UIView+Hippy.mm
Labels: renderer: native, size: s

#4122 fix(devtools): fix the mapping between DOM tree and UI inspector
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-integration/native/include/devtools/devtools_utils.h
  devtools/devtools-integration/native/src/devtools_utils.cc
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/utils/DevtoolsUtil.java
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: renderer: native, devtools: backend, size: m

#4126 fix(ios): data race issues when bridge and engine dealloc
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSEnginesMapper.mm
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: framework: ios, renderer: native, size: m

#4129 fix(devtools): add reconnect when websocket closed by server
  devtools/devtools-backend/include/api/devtools_backend_service.h
  devtools/devtools-backend/include/tunnel/net_channel.h
  devtools/devtools-backend/include/tunnel/tcp/tcp_channel.h
  devtools/devtools-backend/include/tunnel/tunnel_service.h
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/tunnel/tcp/tcp_channel.cc
  devtools/devtools-backend/src/tunnel/tunnel_service.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
  devtools/devtools-integration/android/src/main/cpp/src/devtools_jni.cc
  devtools/devtools-integration/native/include/devtools/devtools_data_source.h
  devtools/devtools-integration/native/src/devtools_data_source.cc
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, devtools: backend, size: s

#4133 refactor(ios): code clean and structure optimization for HippyBridge
  framework/examples/ios-demo/HippyDemo/TurboModuleDemo/TurboBaseModule.mm
  framework/ios/base/bridge/HippyBridge+BundleLoad.h
  framework/ios/base/bridge/HippyBridge+BundleLoad.mm
  framework/ios/base/bridge/HippyBridge+ModuleManage.h
  framework/ios/base/bridge/HippyBridge+ModuleManage.mm
  framework/ios/base/bridge/HippyBridge+PerformanceAPI.h
  framework/ios/base/bridge/HippyBridge+PerformanceAPI.mm
  framework/ios/base/bridge/HippyBridge+Private.h
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/base/modules/HippyEventDispatcher.mm
  framework/ios/base/modules/HippyModuleData.mm
  framework/ios/module/dev/HippyDevMenu.mm
  framework/ios/module/dev/HippyRedBox.mm
  framework/ios/module/turbo/HippyOCTurboModule.mm
  modules/ios/base/HippyDefines.h
  renderer/native/ios/renderer/HippyComponent.h
  renderer/native/ios/renderer/HippyRootView.mm
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  tests/ios/HippyBridgeTest.mm
  tests/ios/HippyUIManagerTest.mm
  tests/ios/HippyUIViewCategoryTest.m
Labels: framework: ios, renderer: native, module: ios, doc: example, size: xl

#4137 test(ios): add test for event dispatcher and code clean
  docs/development/native-event.md
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/modules/HippyEventDispatcher.h
  framework/ios/base/modules/HippyEventDispatcher.mm
  framework/ios/module/eventobserver/HippyEventObserverModule.mm
  tests/ios/HippyEventDispatcherTest.m
Labels: framework: ios, doc: pages, size: m

#4135 fix(android): java HippyMap leak oom by jni local ref
  android/sdk/src/main/jni/src/jni/convert_utils.cc
Labels: framework: android, size: s

#4140 chore(ios): update hippy demo, adapt to hippy3
  examples/ios-demo/HippyDemo/TestModule.m
  examples/ios-demo/HippyDemo/ViewController.m
Labels: doc: example, size: s

#4139 chore(ios): resolve turbo module typo
  framework/examples/ios-demo/HippyDemo/TurboModuleDemo/TurboBaseModule.mm
  framework/ios/base/modules/HippyModulesSetup.m
  framework/ios/module/turbo/HippyOCTurboModule.mm
  framework/ios/module/turbo/HippyTurboModule.h
Labels: framework: ios, doc: example, size: s
