Repository Tencent/Hippy, pull requests merged in 2024-12, with the labels that each got.

#4141 Bugfix/devtools UI
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: renderer: native, size: s

#4142 fix(devtools): fix json parse error caused by control characters in s…
  devtools/devtools-backend/include/api/adapter/data/domain_metas.h
  devtools/devtools-backend/src/api/adapter/data/domain_metas.cc
  devtools/devtools-backend/src/module/domain/css_domain.cc
  devtools/devtools-backend/src/module/domain/dom_domain.cc
  devtools/devtools-integration/native/include/devtools/devtools_utils.h
  devtools/devtools-integration/native/src/devtools_utils.cc
Labels: devtools: backend, size: m

#4144 fix(ios): thread race when getting ViewManager classes
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: renderer: native, size: s

#4146 refactor(ios): refactor hippyBridge's vfs category methods
  framework/ios/base/bridge/HippyBridge+BundleLoad.mm
  framework/ios/module/imageloader/HippyImageLoaderModule.mm
  framework/ios/module/network/HippyNetWork.mm
  modules/vfs/ios/HippyBridge+VFSLoader.h
  modules/vfs/ios/HippyBridge+VFSLoader.mm
Labels: framework: ios, module: vfs, size: m

#4148 feat(vue): not filter rpx when parse style
  driver/js/packages/hippy-vue-css-loader/src/css-parser.ts
  driver/js/packages/hippy-vue-next-style-parser/src/style-parser/css-parser.ts
Labels: driver: js, size: xs

#4149 feat(ios): nested scroll api support
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  renderer/native/ios/renderer/component/listview/HippyNextBaseListViewManager.m
  renderer/native/ios/renderer/component/listview/HippyNextListTableView.h
  renderer/native/ios/renderer/component/listview/HippyNextListTableView.m
  renderer/native/ios/renderer/component/scrollview/HippyNestedScrollCoordinator.h
  renderer/native/ios/renderer/component/scrollview/HippyNestedScrollCoordinator.m
  renderer/native/ios/renderer/component/scrollview/HippyNestedScrollProtocol.h
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.h
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollViewManager.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollableProtocol.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallViewManager.m
  renderer/native/ios/utils/HippyConvert+NativeRender.h
  renderer/native/ios/utils/HippyConvert+NativeRender.m
  tests/ios/HippyNestedScrollTest.m
Labels: renderer: native, doc: pages, size: l

#4150 chore(ios): add import in HippyBridge for compile compatibility
  framework/ios/base/bridge/HippyBridge.h
Labels: framework: ios, size: xs

#4153 perf(ios): draw backgroundImage asynchronously for performance
  renderer/native/ios/renderer/component/view/HippyView.m
Labels: renderer: native, size: s

#4154 fix(jsc): fix jscctx finalize crash
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: xs

#4155 fix(jsc): fix jsc memery release
  driver/js/src/scope.cc
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, driver: js, size: s

#4156 chore(ios): remove unused smart viewpager component
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.h
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerViewManager.h
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerViewManager.mm
Labels: renderer: native, size: l

#4157 fix(ios): avoid deadlock in native render manager
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: renderer: native, size: m

#4159 fix(ios): optimize variable array usage in convertToCtxValue and jscctx
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/ios/utils/NSObject+CtxValue.mm
Labels: framework: ios, driver: js, size: s

#4161 fix(v8): v8 code cache file broken protect
  driver/js/src/js_driver_utils.cc
  modules/vfs/native/include/vfs/file.h
  modules/vfs/native/src/file.cc
Labels: driver: js, module: vfs, size: s
