Repository Tencent/Hippy, pull requests merged in 2024-03, with the labels that each got.

#3767 build(ios): fix no std:function build error on Xcode15.3
  core/third_party/base/include/base/logging.h
  core/third_party/base/src/platform/ios/logging.cc
Labels: driver: js, size: xs

#3773 fix(android): add ScrollViewRenderNode
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/ScrollViewRenderNode.java
Labels: framework: android, size: s

#3776 build(ios): fix std::function build error on Xcode15.3
  devtools/devtools-backend/include/api/adapter/devtools_screen_adapter.h
  devtools/devtools-backend/include/api/adapter/devtools_tracing_adapter.h
  devtools/devtools-backend/include/tunnel/net_channel.h
  dom/include/dom/layout_node.h
  modules/footstone/include/footstone/logging.h
Labels: dom: tree, module: footstone, devtools: backend, size: xs

#3778 fix(android): setItemPrefetchEnabled to false for recycler view
  modules/android/pool/src/main/java/com/openhippy/pool/RecycleViewPool.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerManager.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewWrapper.java
Labels: renderer: native, module: android, size: s

#3777 fix(ios): fix memory issue when calling JSTurboObjectWithName
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#3781 feat(android): add enableScrollDirectionFix for recycler view
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerView.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/hippylist/HippyRecyclerViewController.java
Labels: renderer: native, size: s

#3782 fix(android): concat log msg only in debug mode
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/LogUtils.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: renderer: native, module: android, size: s

#3779 fix(vue-next): fix js release bundle size too big issue
  docs/api/hippy-vue/vue3.md
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.android.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.ios.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.web-renderer.js
Labels: driver: js, doc: pages, size: s

#3783 feat(ios): print hippy core module logs
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/ios/base/bridge/HippyBridge.mm
  modules/ios/base/HippyLog.mm
  renderer/native/ios/renderer/component/viewPager/HippyViewPager.mm
Labels: framework: ios, driver: js, renderer: native, module: ios, size: s

#3787 fix(android): remove ImageDataHolder recycle
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageDataHolder.java
  renderer/native/android/src/main/java/com/tencent/renderer/component/image/ImageLoader.java
Labels: renderer: native, size: s

#3788 fix(android): compatible HashMap and ArrayList for ArgumentUtils
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/ArgumentUtils.java
Labels: module: android, size: s

#3784 fix(ios): implementation issue with defaultSource prop of Image
  renderer/native/ios/renderer/component/image/HippyImageViewManager.mm
Labels: renderer: native, size: s

#3786 fix(ios): ensure insertHippySubview is called sequentially
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: renderer: native, size: xs

#3785 fix(ios): fix module provider not working and code refactor
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/modules/HippyModulesSetup.h
  framework/ios/base/modules/HippyModulesSetup.m
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.mm
Labels: framework: ios, renderer: native, size: m

#3789 fix(ios): solve some problems of podspec
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
  devtools/devtools-backend/src/module/domain/network_domain.cc
  framework/examples/ios-demo/podfile
  hippy.podspec
Labels: doc: example, devtools: backend, size: s, build: xcode

#3793 feat(vue-next): compatible vue2 component tag name format
  driver/js/packages/hippy-vue-next/__test__/runtime/element/hippy-element.test.ts
  driver/js/packages/hippy-vue-next/src/runtime/component/index.ts
Labels: driver: js, size: s

#3794 feat(vue-next): compatible vue2 component tag name format
  packages/hippy-vue-next/__test__/runtime/element/hippy-element.test.ts
  packages/hippy-vue-next/src/runtime/component/index.ts
Labels: driver: js, size: s

#3790 feat(vue-next): fix hippytext setText
  driver/js/packages/hippy-vue-next/src/runtime/text/hippy-text.ts
Labels: driver: js, size: xs

#3791 feat(vue-next): fix image url style parse
  driver/js/packages/hippy-vue-next-style-parser/src/style-parser/css-parser.ts
Labels: driver: js, size: xs

#3792 feat(vue): fix vue2 HippyText setText
  packages/hippy-vue-next/src/runtime/text/hippy-text.ts
Labels: driver: js, size: xs

#3796 feat(android): support fcp monitor
  driver/js/examples/hippy-react-demo/src/pages/gallery.jsx
  driver/js/examples/hippy-vue-demo/src/pages/menu.vue
  driver/js/examples/hippy-vue-next-demo/src/pages/menu.vue
  driver/js/include/driver/performance/performance_navigation_timing.h
  driver/js/src/modules/performance/performance_navigation_timing_module.cc
  framework/android/connector/driver/js/src/main/cpp/include/connector/js_driver_jni.h
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/connector/driver/js/src/main/java/com/openhippy/connector/JsDriver.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/monitor/DefaultEngineMonitorAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/monitor/HippyEngineMonitorAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/TimeMonitor.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/HippyRootView.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: framework: android, driver: js, renderer: native, module: android, size: m

#3800 feat(android): add BaseEngineContext interface
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineContext.java
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/common/BaseEngineContext.java
  renderer/native/android/src/main/java/com/tencent/renderer/FrameworkProxy.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRender.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: framework: android, renderer: native, module: android, size: s

#3799 fix(ios): fix timing issue of backgroundImage prop
  renderer/native/ios/renderer/component/view/HippyView.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: renderer: native, size: s

#3801 fix(ios): thread race of componentDataByName in UIManager
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: renderer: native, size: s

#3802 fix(ios): fix conversion crash from oc object to CtxValue
  driver/js/src/napi/jsc/jsc_ctx.cc
  framework/ios/utils/NSObject+CtxValue.mm
  tests/ios/HippyOC2CtxValueTest.mm
Labels: framework: ios, driver: js, size: m

#3804 test(ios): add unit test infrastructure for ios project
  .github/CODEOWNERS
  framework/examples/ios-demo/podfile
  hippy.podspec
  renderer/native/ios/renderer/HippyUIManager+Private.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  tests/ios/HippyUIManagerTest.mm
Labels: renderer: native, doc: example, size: m, gh: owner, build: xcode
