Repository Tencent/Hippy, pull requests merged in 2024-09, with the labels that each got.

#4012 fix(ios): onShow event of modal component not working
  driver/js/examples/hippy-react-demo/src/components/Modal/index.jsx
  renderer/native/ios/renderer/HippyComponentData.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: driver: js, renderer: native, size: s

#4013 refactor(ios): remove unused code in scope and update demo
  driver/js/include/driver/scope.h
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.m
  framework/ios/base/bridge/HippyBridge.mm
Labels: framework: ios, driver: js, doc: example, size: s

#4015 fix(android): add try catch for vfs processor chain get
  modules/vfs/android/build.gradle
  modules/vfs/android/src/main/java/com/tencent/vfs/VfsManager.java
Labels: module: vfs, size: s

#4016 fix(ios): null pointer exception of bridge setup in rare scenarios
  framework/ios/base/bridge/HippyBridge.mm
Labels: framework: ios, size: xs

#4018 build(voltron): resolve voltron build error
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
Labels: size: xs, framework: voltron

#4017 fix(ios): fix object_data_map crash when jsc_vm and jsc_ctx released …
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/include/driver/vm/jsc/jsc_vm.h
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: s

#4019 fix(ios): resolve engine reuse issue
  dom/include/dom/dom_manager.h
  dom/include/dom/layer_optimized_render_manager.h
  dom/src/dom/dom_manager.cc
  framework/ios/base/bridge/HippyBridge+Private.h
  framework/ios/base/bridge/HippyBridge.mm
  renderer/native/ios/renderer/HippyUIManager+Private.h
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/UIView+Render.h
  renderer/native/ios/renderer/UIView+Render.mm
  renderer/native/ios/renderer/UIView+RenderManager.h
  renderer/native/ios/renderer/component/listview/HippyNextBaseListView.mm
  renderer/native/ios/renderer/component/listview/HippyNextBaseListViewManager.mm
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
Labels: framework: ios, dom: tree, renderer: native, size: l

#4020 Bugfix/mutex crash
  dom/include/dom/layout_node.h
  dom/src/dom/root_node.cc
  dom/src/dom/taitank_layout_node.cc
  dom/src/dom/yoga_layout_node.cc
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/include/driver/vm/jsc/jsc_vm.h
  driver/js/src/napi/jsc/jsc_ctx.cc
  driver/js/src/vm/jsc/jsc_vm.cc
Labels: driver: js, dom: tree, size: m

#4021 fix(ios): resolve jsc_try_catch invalid issue
  driver/js/include/driver/napi/jsc/jsc_try_catch.h
  driver/js/src/napi/jsc/jsc_try_catch.cc
  framework/ios/base/bridge/HippyBridge.mm
  modules/ios/base/HippyAssert.m
Labels: framework: ios, driver: js, module: ios, size: s

#4022 refactor(ios): add a uiManager getter for UIView
  renderer/native/ios/renderer/HippyUIManager.h
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/listview/HippyNextBaseListItemViewManager.m
  renderer/native/ios/renderer/component/listview/HippyNextBaseListView.mm
  renderer/native/ios/renderer/component/listview/HippyNextBaseListViewDataSource.m
  renderer/native/ios/renderer/component/listview/HippyNextBaseListViewManager.m
  renderer/native/ios/renderer/component/smartViewPager/NativeRenderSmartViewPagerView.mm
  renderer/native/ios/renderer/component/view/UIView+Render.h
  renderer/native/ios/renderer/component/view/UIView+Render.m
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.h
  renderer/native/ios/renderer/component/waterfalllist/HippyWaterfallView.mm
  tests/ios/HippyUIViewCategoryTest.m
Labels: renderer: native, size: m

#4004 fix(vue-next): fix vuejs ugrade issue
  driver/js/examples/hippy-vue-next-demo/package.json
  driver/js/examples/hippy-vue-next-ssr-demo/README.md
  driver/js/examples/hippy-vue-next-ssr-demo/package.json
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/webpack-ssr-config/client.dev.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/webpack-ssr-config/client.entry.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/webpack-ssr-config/server.dev.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/webpack-ssr-config/server.entry.js
  driver/js/examples/hippy-vue-next-ssr-demo/src/app.vue
  driver/js/examples/hippy-vue-next-ssr-demo/src/main.ts
  driver/js/packages/hippy-vue-next-compiler-ssr/package.json
  driver/js/packages/hippy-vue-next-compiler-ssr/src/transforms/ssrInjectCssVars.ts
  driver/js/packages/hippy-vue-next-compiler-ssr/src/transforms/ssrInjectFallthroughAttrs.ts
  driver/js/packages/hippy-vue-next-compiler-ssr/src/transforms/ssrTransformComponent.ts
  driver/js/packages/hippy-vue-next-compiler-ssr/src/transforms/ssrTransformSuspense.ts
  driver/js/packages/hippy-vue-next-server-renderer/package.json
  driver/js/packages/hippy-vue-next-style-parser/package.json
  driver/js/packages/hippy-vue-next/package.json
  driver/js/packages/hippy-vue-next/src/patch-prop.ts
Labels: driver: js, size: m

#4024 fix(ios): resolve hot reload issue
  driver/js/src/modules/contextify_module.cc
  framework/examples/ios-demo/HippyDemo.xcodeproj/project.pbxproj
  framework/examples/ios-demo/HippyDemo/AppDelegate.m
  framework/examples/ios-demo/HippyDemo/DemoConfigs.h
  framework/examples/ios-demo/HippyDemo/RenderPage/HippyDemoViewController.m
  framework/ios/base/bridge/HippyBridge+Private.h
  framework/ios/base/bridge/HippyBridge.mm
  modules/vfs/ios/VFSUriHandler.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.h
  renderer/native/ios/renderer/NativeRenderManager.mm
Labels: framework: ios, driver: js, renderer: native, module: vfs, doc: example, size: s

#4025 fix(ios): resolve sandbox dir issue in debug mode
  framework/ios/base/bridge/HippyBridge.h
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/module/loader/HippyFileHandler.mm
  modules/ios/base/HippyUtils.h
  modules/ios/base/HippyUtils.m
  renderer/native/ios/renderer/HippyRootView.mm
  tests/ios/HippyUtilsTest.m
Labels: framework: ios, renderer: native, module: ios, size: s

#4026 fix(ios): keyboard related events not working for TextView
  renderer/native/ios/renderer/component/textinput/HippyBaseTextInput.h
  renderer/native/ios/renderer/component/textinput/HippyBaseTextInput.m
  renderer/native/ios/renderer/component/textinput/HippyTextField.h
  renderer/native/ios/renderer/component/textinput/HippyTextField.m
  renderer/native/ios/renderer/component/textinput/HippyTextView.h
  renderer/native/ios/renderer/component/textinput/HippyTextView.mm
  renderer/native/ios/renderer/component/textinput/HippyTextViewManager.mm
Labels: renderer: native, size: m

#4027 fix(ios): onAttachedToWindow event not triggered
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/listview/HippyNextBaseListView.mm
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.mm
Labels: renderer: native, size: s

#4028 refactor(ios): rewrite bundle loading process
  framework/ios/base/bridge/HippyBridge.mm
  framework/ios/base/bundleoperations/HippyBundleExecutionOperation.h
  framework/ios/base/bundleoperations/HippyBundleExecutionOperation.m
  framework/ios/base/bundleoperations/HippyBundleLoadOperation.h
  framework/ios/base/bundleoperations/HippyBundleLoadOperation.mm
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.h
  framework/ios/base/bundleoperations/HippyBundleOperationQueue.m
Labels: framework: ios, size: l

#4030 fix(ios): accuracy of ViewPager's onPageScroll and ScrollStateChanged API
  renderer/native/ios/renderer/component/viewPager/HippyViewPager.mm
Labels: renderer: native, size: s

#4032 Feat/ul refresh scroll 2.17
  packages/hippy-vue-native-components/src/ul-refresh.js
Labels: driver: js, size: s

#4040 fix(ios): resolve compatibility issue when using ResponseSenderBlock
  framework/ios/base/modules/HippyModuleMethod.mm
Labels: framework: ios, size: s

#4041 fix(ios): resolve boolean ctx value conversion issue
  framework/ios/utils/NSObject+CtxValue.h
  framework/ios/utils/NSObject+CtxValue.mm
  tests/ios/HippyCtxValueConvertTest.mm
Labels: framework: ios, size: s

#4044 feat(vue-next): fix vue next version on 3.4.32
  driver/js/examples/hippy-vue-next-demo/package.json
  driver/js/examples/hippy-vue-next-ssr-demo/package.json
  driver/js/packages/hippy-vue-next-compiler-ssr/package.json
  driver/js/packages/hippy-vue-next-server-renderer/package.json
  driver/js/packages/hippy-vue-next-style-parser/package.json
  driver/js/packages/hippy-vue-next/package.json
Labels: driver: js, size: s

#4029 feat(ios): add initialContentIndex prop for ListView
  ios/sdk/component/listview/HippyBaseListView.h
  ios/sdk/component/listview/HippyBaseListView.m
  ios/sdk/component/listview/HippyBaseListViewManager.m
Labels: framework: ios, size: xs

#4045 fix(ios): type error when conversion of bool value to ctx value
  framework/ios/utils/NSObject+CtxValue.mm
  tests/ios/HippyCtxValueConvertTest.mm
  tests/ios/HippyOC2CtxValueTest.mm
Labels: framework: ios, size: s

#4046 fix(ios): nullptr exception of engine resources in rare scenarios
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#4048 feat(android): compatible with custom event register
  docs/development/android-3.0-upgrade-guidelines.md
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/annotation/HippyControllerProps.java
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/uimanager/ControllerUpdateManger.java
  renderer/native/android/src/main/java/com/tencent/renderer/NativeRenderer.java
Labels: renderer: native, module: android, doc: pages, size: s

#4049 fix(android): support work reuse with group id
  framework/android/connector/dom/src/main/cpp/include/connector/dom_jni.h
  framework/android/connector/dom/src/main/cpp/src/dom_jni.cc
  framework/android/connector/dom/src/main/java/com/openhippy/connector/DomManager.java
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/examples/android-demo/src/main/java/com/openhippy/example/HippyEngineWrapper.kt
  modules/footstone/include/footstone/worker.h
  modules/footstone/src/worker.cc
Labels: framework: android, module: footstone, doc: example, size: m

#3983 feat(vue-next): minify webpack bundle size
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.android-vendor.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.android.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.ios-vendor.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.ios.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.dev.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.web-renderer.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.web.dev.js
  driver/js/examples/hippy-react-demo/scripts/hippy-webpack.web.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.android-vendor.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.android.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.ios-vendor.js
  driver/js/examples/hippy-vue-demo/scripts/hippy-webpack.ios.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.android-vendor.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.android.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.ios-vendor.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.ios.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/webpack-ssr-config/client.android.vendor.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/webpack-ssr-config/client.base.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/webpack-ssr-config/client.dev.js
  driver/js/examples/hippy-vue-next-ssr-demo/scripts/webpack-ssr-config/client.ios.vendor.js
  driver/js/package-lock.json
  driver/js/package.json
  driver/js/packages/hippy-vue-css-loader/src/css-loader.ts
  driver/js/packages/hippy-vue-next-style-parser/__test__/style-parser/color-parser.test.ts
  driver/js/packages/hippy-vue-next-style-parser/src/style-match/css-map.ts
  driver/js/packages/hippy-vue-next-style-parser/src/style-parser/css-parser.ts
  driver/js/packages/hippy-vue-next/__test__/patch-prop.test.ts
  driver/js/packages/hippy-vue-next/src/patch-prop.ts
  framework/examples/android-demo/res/vue3/asyncComponentFromHttp.android.js
  framework/examples/android-demo/res/vue3/asyncComponentFromLocal.android.js
  framework/examples/android-demo/res/vue3/index.android.js
  framework/examples/android-demo/res/vue3/vendor-manifest.json
  framework/examples/android-demo/res/vue3/vendor.android.js
  framework/examples/ios-demo/res/vue3/asyncComponentFromHttp.ios.js
  framework/examples/ios-demo/res/vue3/asyncComponentFromLocal.ios.js
  framework/examples/ios-demo/res/vue3/index.ios.js
  framework/examples/ios-demo/res/vue3/vendor-manifest.json
  framework/examples/ios-demo/res/vue3/vendor.ios.js
  framework/voltron/example/assets/jsbundle/vue3/asyncComponentFromHttp.android.js
  framework/voltron/example/assets/jsbundle/vue3/asyncComponentFromLocal.android.js
  framework/voltron/example/assets/jsbundle/vue3/index.android.js
  framework/voltron/example/assets/jsbundle/vue3/vendor-manifest.json
  framework/voltron/example/assets/jsbundle/vue3/vendor.android.js
Labels: driver: js, doc: example, size: m, framework: voltron
