Repository Tencent/Hippy, pull requests merged in 2024-01, with the labels that each got.

#3702 fix(ios): optimize creation time of lazy-load list items
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/waterfalllist/NativeRenderObjectWaterfallItem.mm
Labels: renderer: native, size: s

#3703 fix(vue-next): remove vue prod devtools global sign for ios&android
  examples/hippy-vue-next-demo/scripts/hippy-webpack.android-vendor.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.android.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.ios-vendor.js
  examples/hippy-vue-next-demo/scripts/hippy-webpack.ios.js
Labels: doc: example, size: xs

#3704 fix(vue-next): remove vue prod devtools global sign for ios&android
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.android-vendor.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.android.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.ios-vendor.js
  driver/js/examples/hippy-vue-next-demo/scripts/hippy-webpack.ios.js
Labels: driver: js, size: xs

#3705 feat(android): add bugly app id register
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/libraryloader/LibraryLoader.java
  framework/android/src/main/java/com/tencent/mtt/hippy/utils/BuglyUtils.java
Labels: framework: android, size: s

#3706 feat(android): add bugly app id register
  android/sdk/src/main/java/com/tencent/mtt/hippy/HippyEngine.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/bridge/libraryloader/LibraryLoader.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/utils/BuglyUtils.java
  examples/android-demo/src/main/java/com/tencent/mtt/hippy/example/MyActivity.java
  layout/android/java/com/tencent/smtt/flexbox/FlexNode.java
Labels: framework: android, dom: layout, doc: example, size: s

#3684 fix(ios): lower main thread performance impact by preparing images
  modules/ios/image/HippyDefaultImageProvider.m
  modules/ios/image/HippyImageProviderProtocol.h
  modules/ios/image/NSData+DataType.m
  renderer/native/ios/renderer/component/image/HippyImageViewManager.mm
Labels: renderer: native, module: ios, size: m

#3710 chore(ios): fix demo build problem
  framework/examples/ios-demo/HippyDemo/Info.plist
Labels: doc: example, size: xs

#3713 feat(android): add ENABLE_BUGLY_REPORT config
  android/sdk/build.gradle
  android/sdk/gradle.properties
  android/sdk/src/main/java/com/tencent/mtt/hippy/utils/BuglyUtils.java
Labels: framework: android, size: xs

#3711 feat(android): add ENABLE_BUGLY_REPORT config
  framework/android/build.gradle
  framework/android/gradle.properties
  framework/android/src/main/java/com/tencent/mtt/hippy/utils/BuglyUtils.java
Labels: framework: android, size: xs

#3714 fix(ios): showScrollIndicator not working on horizontal list
  renderer/native/ios/renderer/component/listview/NativeRenderBaseListView.mm
Labels: renderer: native, size: s

#3717 fix(ios): showsXXXScrollIndicator property of scrollview not working
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.mm
Labels: renderer: native, size: s

#3716 fix(ios): optimize perf of ComponentMap and support multi-rootView
  renderer/native/ios/renderer/HippyComponentMap.h
  renderer/native/ios/renderer/HippyComponentMap.mm
  renderer/native/ios/renderer/HippyUIManager.mm
Labels: renderer: native, size: s

#3718 chore(ios): update demo info.plist file
  framework/examples/ios-demo/HippyDemo/Info.plist
Labels: doc: example, size: xs

#3720 fix(voltron): resolve remoteServerUrl parse version id failed
  framework/voltron/CHANGELOG.md
  framework/voltron/lib/inspector/dev_remote_server_data.dart
  framework/voltron/pubspec.yaml
  framework/voltron/test/flutter_render_test.dart
Labels: size: s, action(squash-merge): failed, framework: voltron

#3723 feat(vue): update postcss dependencies
  driver/js/package.json
  driver/js/packages/hippy-vue-loader/package.json
Labels: driver: js, size: xs

#3728 fix(vfs): OnJniDelegateInvokeSync call after OnDestroyVfs
  modules/vfs/android/src/main/cpp/src/handler/jni_delegate_handler.cc
Labels: module: vfs, size: s

#3731 fix(layout): fix layout border default css direction
  dom/src/dom/taitank_layout_node.cc
Labels: dom: tree, size: xs

#3730 fix(dom): add log for deserializer crash
  modules/footstone/include/footstone/deserializer.h
  modules/footstone/src/deserializer.cc
  renderer/native/android/src/main/cpp/src/renderer/native_render_jni.cc
Labels: renderer: native, module: footstone, size: s

#3729 fix(dom): add deserializer log
  modules/footstone/include/footstone/deserializer.h
  modules/footstone/src/deserializer.cc
Labels: module: footstone, size: xs

#3734 fix(dom): remove some redunant log
  modules/footstone/include/footstone/deserializer.h
  modules/footstone/src/deserializer.cc
Labels: module: footstone, size: xs

#3699 docs(ios): update iOS integration guide
  docs/development/native-integration.md
Labels: doc: pages, size: m

#3738 chore(ios): fix typos and update code comment
  modules/ios/base/HippyUtils.h
Labels: module: ios, size: s

#3739 fix(ios): images with non-encoded urls are not displayed
  ios/sdk/component/image/HippyImageView.m
Labels: framework: ios, size: xs

#3740 fix(ios): a rare multithreaded race crash when getting imageProviders
  ios/sdk/base/HippyBridge.mm
Labels: framework: ios, size: s, action(rebase-merge): failed

#3741 feat(android): add raw point for touch event dispatch
  android/sdk/src/main/java/com/tencent/mtt/hippy/dom/node/HippyNativeGestureSpan.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/NativeGestureDispatcher.java
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/NativeGestureProcessor.java
Labels: framework: android, size: m

#3743 fix(android): change raw name to window
  android/sdk/src/main/java/com/tencent/mtt/hippy/uimanager/NativeGestureDispatcher.java
Labels: framework: android, size: s

#3744 fix(vue-next): compatible vue patchProp parameter type change
  driver/js/packages/hippy-vue-next/src/patch-prop.ts
Labels: driver: js, size: xs

#3698 fix(ios): remove unused initialization param of HippyRootView & doc update
  docs/en-us/ios/integration.md
  docs/ios/integration.md
  examples/ios-demo/HippyDemo/ViewController.m
  ios/sdk/base/HippyBridge.h
  ios/sdk/base/HippyRootView.h
  ios/sdk/base/HippyRootView.mm
Labels: framework: ios, doc: example, doc: pages, size: m
