Repository Tencent/Hippy, pull requests merged in 2025-02, with the labels that each got.

#4183 fix(ios): listview endReached not working when preloadItemNumber is 0
  renderer/native/ios/renderer/component/listview/HippyNextBaseListView.mm
Labels: renderer: native, size: xs

#4185 fix(ios): potential thread race in Vsync manager
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/HippyVsyncManager.h
  renderer/native/ios/renderer/HippyVsyncManager.m
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/RenderVsyncManager.h
  renderer/native/ios/renderer/RenderVsyncManager.m
Labels: renderer: native, size: m

#4184 fix(ios): fix jsc call c crash
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: s

#4186 refactor(ios): remove all unnecessary autorelease pool
  framework/ios/base/bridge/HippyBridge+BundleLoad.mm
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/utils/NSObject+CtxValue.mm
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/NativeRenderManager.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyShadowTextView.mm
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
Labels: framework: ios, renderer: native, size: l

#4189 feat(ohos): hippy ohos publish doc
  PUBLISH.md
Labels: size: xs

#4191 fix(core): fix cpp analyze results
  modules/footstone/include/footstone/check.h
  modules/footstone/src/deserializer.cc
  modules/footstone/src/worker.cc
  modules/footstone/src/worker_manager.cc
Labels: module: footstone, size: s

#4188 fix(doc): update release version
  docs/README.md
  docs/development/android-3.0-integration-guidelines.md
Labels: doc: pages, size: xs

#4198 fix(ohos): fix pager change index bug
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/components/pager_view.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/pager_view.cc
Labels: size: s

#4199 fix(core): rollback android thread join anr
  modules/footstone/src/worker.cc
Labels: module: footstone, size: xs

#4200 feat(ohos): list scrollToIndex support scrollAlign for vl
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/arkui/list_node.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/utils/hr_convert_utils.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/arkui/list_node.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/list_view.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/waterfall_view.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/utils/hr_convert_utils.cc
Labels: doc: pages, size: s

#4202 feat(ohos): hippy support ohos doc
  docs/README.md
  docs/_coverpage.md
  docs/architecture/_sidebar.md
  docs/architecture/introduction.md
  docs/architecture/render/ohos/native-render.md
  docs/assets/img/ohos_custom_c_comp.png
  docs/assets/img/ohos_custom_ts_comp.png
  docs/assets/img/ohos_hippy_arch.png
  docs/assets/img/ohos_ts_op_c_comp.png
  docs/development/_sidebar.md
  docs/development/debug.md
  docs/development/demo.md
  docs/development/native-adapter.md
  docs/development/native-component.md
  docs/development/native-integration.md
  docs/development/native-module.md
  docs/development/ohos-integration-guidelines.md
  docs/feature/feature2.0/custom-font.md
  docs/feature/feature2.0/jsi.md
  framework/examples/ohos-demo/src/main/ets/entryability/EntryAbility.ets
  framework/examples/ohos-demo/src/main/ets/fonts/TTTGB.otf
  framework/examples/ohos-demo/src/main/ets/hippy_extend/ExampleAPIProvider.ets
  framework/examples/ohos-demo/src/main/ets/hippy_extend/ExampleViewA.ets
  framework/examples/ohos-demo/src/main/resources/rawfile/fonts/TTTGB.otf
  framework/ohos/README.md
  framework/ohos/oh-package.json5
Labels: doc: example, doc: pages, size: l

#4205 fix(ios): resolve animation thread race & add protection for running script
  ios/sdk/base/executors/HippyJSCExecutor.mm
  ios/sdk/module/animation2/HippyNextAnimationModule.m
Labels: framework: ios, size: s

#4204 fix(ios): optimize smoothness of nested scroll in special scenarios
  renderer/native/ios/renderer/component/scrollview/HippyNestedScrollCoordinator.m
  renderer/native/ios/renderer/component/scrollview/HippyNestedScrollProtocol.h
Labels: renderer: native, size: s
