Repository Tencent/Hippy, pull requests merged in 2025-08, with the labels that each got.

#4379 feat(ohos): support jsvm net debug
  devtools/devtools-backend/CMakeLists.txt
  devtools/devtools-backend/include/ohos/jsh_debug_connection.h
  devtools/devtools-backend/include/ohos/jsh_get_url_connection.h
  devtools/devtools-backend/include/tunnel/ws/web_socket_channel.h
  devtools/devtools-backend/src/api/devtools_backend_service.cc
  devtools/devtools-backend/src/module/domain_dispatch.cc
  devtools/devtools-backend/src/ohos/jsh_debug_connection.cc
  devtools/devtools-backend/src/ohos/jsh_get_url_connection.cc
  devtools/devtools-backend/src/tunnel/ws/web_socket_channel.cc
  docs/assets/img/ohos_jsvm_debug1.png
  docs/assets/img/ohos_jsvm_debug2.png
  docs/assets/img/ohos_jsvm_debug3.png
  docs/development/debug.md
  driver/js/CMakeLists.txt
  driver/js/include/driver/vm/jsh/inspector/jsh_inspector_client_impl.h
  driver/js/include/driver/vm/jsh/jsh_vm.h
  driver/js/src/js_driver_utils.cc
  driver/js/src/vm/jsh/inspector/jsh_inspector_client_impl.cc
  driver/js/src/vm/jsh/jsh_vm.cc
  framework/ohos/build-profile.json5
  hippy.podspec
  modules/ohos/oh_napi/src/oh_napi_task_runner.cc
Labels: driver: js, doc: pages, devtools: backend, size: l, build: xcode

#4387 feat/update_ico
  docs/assets/img/hippy-logo.ico
  docs/index.html
Labels: doc: pages, size: xs

#4391 feat(doc): modify en doc
  docs/README.md
Labels: doc: pages, size: xs

#4395 feat(ohos): upgrade to 3.3.2 version
  docs/development/native-integration.md
  docs/development/ohos-integration-guidelines.md
  framework/examples/ohos-har-demo/oh-package.json5
  framework/ohos/CHANGELOG.md
  framework/ohos/oh-package.json5
Labels: doc: example, doc: pages, size: s
