Repository Tencent/Hippy, pull requests merged in 2025-07, with the labels that each got.

#4354 feat(ios): add a setter api for default window size in Dimensions
  framework/examples/ios-demo/HippyDemo/HippyDemoViewController.m
  framework/ios/base/HippyDeviceBaseInfo.mm
  framework/ios/base/bridge/HippyBridgeDelegate.h
Labels: framework: ios, doc: example, size: s

#4361 chore(ios): bind dimensions cache data to bridge instance
  framework/ios/base/HippyDeviceBaseInfo.mm
  framework/ios/base/bridge/HippyBridge+Private.h
  framework/ios/base/bridge/HippyBridge.mm
Labels: framework: ios, size: s

#4362 fix(ios): string with null character support in bridge
  driver/js/src/vm/jsc/jsc_vm.cc
  framework/ios/utils/NSObject+CtxValue.mm
  tests/ios/HippyCtxValueConvertTest.mm
Labels: framework: ios, driver: js, size: s

#4364 chore(ios): Xcode 26 compatibility
  framework/ios/debug/websocket/HippySRWebSocket.m
Labels: framework: ios, size: xs

#4371 fix(ohos): crash protect for std stod exception
  framework/ohos/src/main/cpp/impl/renderer/native/src/text_measure/text_measurer.cc
Labels: size: s
