Repository Tencent/Hippy, pull requests merged in 2025-01, with the labels that each got.

#4162 fix(jsc): fix ios c autorelease
  modules/footstone/src/platform/ios/looper_driver.cc
Labels: module: footstone, size: xs

#4163 fix(core): fix code owner file
  .github/CODEOWNERS
Labels: size: s, gh: owner

#4164 fix(ios): occasional crash of CFRunloop in looper driver
  modules/footstone/src/platform/ios/looper_driver.cc
Labels: module: footstone, size: xs

#4165 fix(core): fix ios thread joinable terminate crash
  framework/ios/base/executors/HippyJSEnginesMapper.mm
Labels: framework: ios, size: xs

#4166 fix(core): try fix ios hash throw overflow crash
  driver/js/src/napi/jsc/jsc_ctx.cc
Labels: driver: js, size: xs

#4170 feat(react): add text input type
  driver/js/packages/hippy-react/src/components/text-input.tsx
Labels: driver: js

#4167 fix(core): fix android scope null when init engine exception
  framework/android/connector/driver/js/src/main/cpp/src/js_driver_jni.cc
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
Labels: framework: android, size: xs

#4173 fix(core): fix c++ stack overflow
  driver/js/include/driver/scope.h
  driver/js/src/base/js_convert_utils.cc
  driver/js/src/modules/performance/performance_module.cc
  driver/js/src/modules/performance/performance_navigation_timing_module.cc
  driver/js/src/scope.cc
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/ios/module/turbo/HippyOCTurboModule.mm
Labels: framework: ios, driver: js, size: s

#4179 fix(ohos): fix remote server url parse
  framework/ohos/src/main/ets/hippy_framework/devsupport/DevRemoteServerData.ets
Labels: size: xs
