Repository Tencent/Hippy, pull requests merged in 2025-06, with the labels that each got.

#4328 fix(ios): rtl layout issue for scroll component
  renderer/native/ios/renderer/component/scrollview/HippyScrollView.mm
Labels: renderer: native, size: xs

#4331 fix(ohos): fix draw text to custom node dirty flag
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/arkui/arkui_node.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/components/rich_text_view.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/arkui/arkui_node.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/rich_text_view.cc
Labels: size: s

#4336 feat(ohos): add worker module for perf
  framework/ohos/src/main/ets/hippy_library/HippyLibrary.ets
Labels: size: xs

#4342 fix(ohos): fix scroll event notify frequency
  framework/ohos/src/main/cpp/impl/renderer/native/src/arkui/scroll_node.cc
Labels: size: xs

#4344 fix(ohos): fix scroll event notify frequency boundary case
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/components/base_view.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/components/scroll_view.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/base_view.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/scroll_view.cc
Labels: size: s

#4345 fix(ohos): fix scroll event notify frequency boundary case
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/arkui/scroll_node.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/components/scroll_view.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/arkui/scroll_node.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/scroll_view.cc
Labels: size: s

#4349 fix(ohos): fix pager scroll event perf
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/components/pager_view.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/pager_view.cc
Labels: size: s
