Repository Tencent/Hippy, pull requests merged in 2025-03, with the labels that each got.

#4208 fix(ios): resolve occasional index OOB when no items in ViewPager
  renderer/native/ios/renderer/component/viewPager/HippyViewPager.mm
Labels: renderer: native, size: s

#4212 fix(ohos): HippyRemoteBundleLoader crash protect
  framework/ohos/src/main/ets/hippy_framework/adapter/file/FileRequestAdapter.ets
  framework/ohos/src/main/ets/hippy_framework/bridge/bundleloader/HippyRemoteBundleLoader.ets
Labels: size: xs

#4214 fix(core): fix DomNode cb_map erase bug
  dom/src/dom/dom_node.cc
Labels: dom: tree, size: xs

#4215 fix(ohos): fix NativeRenderSerializer write obj not map
  framework/ohos/src/main/ets/renderer_native/serialization/NativeRenderSerializer.ets
Labels: size: s

#4216 fix(ohos): fix ScrollView event
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/components/scroll_view.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/base_view.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/scroll_view.cc
Labels: size: s

#4217 fix(ohos): fix import problem
  framework/ohos/src/main/ets/renderer_native/NativeRenderBuilderForCApi.ets
Labels: size: xs

#4220 fix(ohos): fix HippyHttpRequest
  framework/ohos/src/main/ets/hippy_framework/adapter/http/DefaultHttpAdapter.ets
  framework/ohos/src/main/ets/hippy_framework/adapter/http/HippyHttpRequest.ets
Labels: size: xs

#4221 fix(ios): resolve gestures related bugs
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: renderer: native, size: s

#4218 refactor(ios): add oc wrapper for vfs module
  framework/ios/base/bridge/HippyBridge+VFS.h
  framework/ios/base/bridge/HippyBridge+VFS.mm
  hippy.podspec
  modules/vfs/ios/HippyVFSDefines.h
  renderer/native/ios/renderer/component/image/HippyImageViewManager.mm
  tests/ios/HippyFileHandlerTest.mm
Labels: framework: ios, renderer: native, module: vfs, size: m, build: xcode

#4223 refactor(ios): replace deprecated UIGraphics API with recommended alt…
  ios/sdk/component/image/HippyImageView.m
  ios/sdk/component/view/HippyView.m
  ios/sdk/debug/devtools/inspector/model/HippyPageModel.m
Labels: framework: ios, size: s

#4222 refactor(ios): replace deprecated UIGraphics API with alternative
  framework/examples/ios-demo/HippyDemo/HippyDemoViewController.m
  renderer/native/ios/renderer/component/image/HippyImageView.m
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: renderer: native, doc: example, size: m

#4225 fix(ohos): fix jsh finalize crash
  driver/js/include/driver/napi/jsh/jsh_ctx.h
  driver/js/src/napi/jsh/jsh_ctx.cc
Labels: driver: js, size: s

#4227 feat(ohos): custom font adjust
  docs/feature/feature2.0/custom-font.md
  framework/examples/ohos-c-demo/src/main/ets/pages/Index.ets
  framework/examples/ohos-demo/src/main/ets/entryability/EntryAbility.ets
  framework/examples/ohos-demo/src/main/ets/hippy_extend/ExampleAPIProvider.ets
  framework/examples/ohos-demo/src/main/ets/hippy_extend/ExampleFontAdapter.ets
  framework/examples/ohos-demo/src/main/ets/pages/PageConfiguration.ets
  framework/examples/ohos-har-demo/src/main/ets/pages/Index.ets
  framework/ohos/src/main/ets/hippy_framework/HippyEngine.ets
  framework/ohos/src/main/ets/hippy_framework/HippyEngineContextImpl.ets
  framework/ohos/src/main/ets/hippy_framework/HippyGlobalConfigs.ets
  framework/ohos/src/main/ets/hippy_framework/adapter/font/DefaultFontAdapter.ets
  framework/ohos/src/main/ets/hippy_framework/adapter/font/HippyFontAdapter.ets
  framework/ohos/src/main/ets/hippy_framework/bridge/HippyAPIProvider.ets
  framework/ohos/src/main/ets/hippy_framework/index.ets
  framework/ohos/src/main/ets/renderer_native/FrameworkProxy.ets
  framework/ohos/src/main/ets/renderer_native/NativeRender.ets
  framework/ohos/src/main/ets/renderer_native/NativeRenderImpl.ets
Labels: doc: example, doc: pages, size: m

#4229 feat(ohos): doc for integration question
  docs/development/ohos-integration-guidelines.md
Labels: doc: pages, size: xs

#4230 feat(ohos): add layout engine comment
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/api_c/hippy.h
Labels: size: xs

#4231 fix(ohos): fix OnResourceLoadEnd crash
  framework/ohos/src/main/cpp/impl/connector/src/js_driver_napi.cc
Labels: size: xs

#4232 fix(ios): resolve touch handler issue
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: renderer: native, size: s

#4233 fix(ohos): fix c create root multithread safe
  framework/ohos/src/main/cpp/impl/renderer/native/src/api_c/hippy.cc
Labels: size: xs

#4237 fix(ios): add protection when setting unsupported prop for component
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: renderer: native, size: s

#4238 fix(ios): resolve touch events not paired issue under special scenarios
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: renderer: native, size: s

#4239 docs(js): remove deprecated editable related props in demo
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  driver/js/examples/hippy-react-demo/src/components/ListView/index.jsx
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-list.vue
  driver/js/examples/hippy-vue-next-demo/src/components/demo/demo-list.vue
Labels: driver: js, doc: pages, size: s

#4240 fix(ohos): fix v8 debug chrome cmd crash
  driver/js/src/vm/v8/inspector/v8_inspector_client_impl.cc
Labels: driver: js, size: s
