Repository Tencent/Hippy, pull requests merged in 2025-09, with the labels that each got.

#4415 fix(core): vsync event used by frame is stopped by animation ending
  dom/include/dom/root_node.h
  dom/src/dom/animation/animation_manager.cc
  dom/src/dom/root_node.cc
  driver/js/src/modules/animation_frame_module.cc
Labels: driver: js, dom: animation, dom: tree

#4401 fix(example): prevent text truncation from localization component
  driver/js/examples/hippy-react-demo/src/externals/Localization/index.jsx
Labels: driver: js, size: xs

#4404 feat(ios): iOS 26 liquid glass support
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  driver/js/examples/hippy-react-demo/src/components/LiquidGlassiOS/index.jsx
  driver/js/examples/hippy-react-demo/src/components/index.js
  driver/js/examples/hippy-react-demo/src/routes.js
  driver/js/examples/hippy-vue-demo/src/components/demos/demo-button.vue
  framework/examples/ios-demo/Assets.xcassets/NewPage.imageset/Contents.json
  framework/examples/ios-demo/Assets.xcassets/NewPage.imageset/newpage@2x.png
  framework/examples/ios-demo/Assets.xcassets/NewPage.imageset/newpage@3x.png
  framework/examples/ios-demo/Assets.xcassets/NewPageSelected.imageset/Contents.json
  framework/examples/ios-demo/Assets.xcassets/NewPageSelected.imageset/newpage_highlight@2x.png
  framework/examples/ios-demo/Assets.xcassets/NewPageSelected.imageset/newpage_highlight@3x.png
  framework/examples/ios-demo/Assets.xcassets/Setting.imageset/Contents.json
  framework/examples/ios-demo/Assets.xcassets/Setting.imageset/setting@2x.png
  framework/examples/ios-demo/Assets.xcassets/Setting.imageset/setting@3x.png
  framework/examples/ios-demo/Assets.xcassets/SettingSelected.imageset/Contents.json
  framework/examples/ios-demo/Assets.xcassets/SettingSelected.imageset/setting_highlight@3x.png
  framework/examples/ios-demo/Assets.xcassets/SettingSelected.imageset/setting_hightlight@2x.png
  framework/examples/ios-demo/Assets.xcassets/TipsImage.imageset/Contents.json
  framework/examples/ios-demo/Assets.xcassets/TipsImage.imageset/tips@2x.png
  framework/examples/ios-demo/Assets.xcassets/TipsImage.imageset/tips@3x.png
  framework/examples/ios-demo/HippyDemo/HomePage/HomePageView.xib
  framework/examples/ios-demo/HippyDemo/HomePage/HomePageViewController.h
  framework/examples/ios-demo/HippyDemo/HomePage/HomePageViewController.mm
  renderer/native/ios/renderer/component/view/HippyView.h
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: driver: js, renderer: native, doc: example, doc: pages, size: l

#4418 fix(android): fix height param size of onContentChange event
  renderer/native/android/src/main/java/com/tencent/mtt/hippy/views/textinput/HippyTextInput.java
Labels: renderer: native, size: xs
