Repository Tencent/Hippy, pull requests merged in 2025-05, with the labels that each got.

#4301 feat(doc): update android integration document
  README.md
  docs/assets/img/android-studio-jdk.png
  docs/development/android-3.0-integration-guidelines.md
  docs/development/demo.md
Labels: doc: pages, size: s

#4306 chore(devtools): remove debug assert when inspect non-exist node
  devtools/devtools-integration/native/src/adapter/impl/hippy_dom_tree_adapter.cc
Labels: devtools: backend, size: xs

#4307 refactor(ios): exception optimization and remove redundant autorelease
  driver/js/src/scope.cc
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, driver: js, size: s

#4309 feat(ohos): add custom HippyRoot demo
  framework/examples/ohos-har-demo/src/main/ets/entryability/EntryAbility.ets
  framework/examples/ohos-har-demo/src/main/ets/pages/CustomHippyRoot.ets
  framework/examples/ohos-har-demo/src/main/ets/pages/Index2.ets
  framework/examples/ohos-har-demo/src/main/resources/base/profile/main_pages.json
  framework/examples/ohos-har-demo/src/main/resources/rawfile/react/assets/defaultSource.jpg
  framework/examples/ohos-har-demo/src/main/resources/rawfile/react/assets/hippyLogoWhite.png
  framework/examples/ohos-har-demo/src/main/resources/rawfile/react/asyncComponentFromHttp.ohos.js
  framework/examples/ohos-har-demo/src/main/resources/rawfile/react/asyncComponentFromLocal.ohos.js
  framework/examples/ohos-har-demo/src/main/resources/rawfile/react/index.ohos.js
  framework/examples/ohos-har-demo/src/main/resources/rawfile/react/vendor-manifest.json
  framework/examples/ohos-har-demo/src/main/resources/rawfile/react/vendor.ohos.js
  framework/ohos/src/main/ets/renderer_native/HippyRootView.ets
Labels: doc: example

#4308 refactor(ios): open class feature switch for hermes
  driver/js/src/napi/hermes/hermes_ctx.cc
Labels: driver: js, size: xs

#4310 fix(ios): exception may occur while setting linearGradient prop
  ios/sdk/component/view/HippyViewManager.mm
  ios/sdk/utils/HippyGradientObject.m
Labels: framework: ios, size: xs

#4312 chore(ios): update demo and docs
  docs/api/hippy-react/components.md
  docs/api/hippy-vue/components.md
  framework/examples/ios-demo/HippyDemo/HippyDemoViewController.m
  xcodeinitscript.sh
Labels: doc: example, doc: pages, size: s

#4313 docs(home): update hippy document link
  docs/README.md
Labels: doc: pages, size: xs

#4316 feat(ohos): add native scroll demo
  driver/js/examples/hippy-vue-demo/src/components/native-demos/demo-native-scroll.vue
  driver/js/examples/hippy-vue-demo/src/components/native-demos/index.js
  driver/js/examples/hippy-vue-demo/src/main-native.js
  framework/examples/ohos-demo/src/main/ets/hippy_extend/ExampleAPIProvider.ets
  framework/examples/ohos-demo/src/main/ets/hippy_extend/scroll_view_extend/MyBottomView.ets
  framework/examples/ohos-demo/src/main/ets/hippy_extend/scroll_view_extend/MyScrollView.ets
  framework/examples/ohos-demo/src/main/ets/hippy_extend/scroll_view_extend/MyTabBarView.ets
  framework/examples/ohos-demo/src/main/ets/hippy_extend/scroll_view_extend/MyTopView.ets
  framework/examples/ohos-demo/src/main/resources/rawfile/vue2/index.ohos.js
  framework/examples/ohos-demo/src/main/resources/rawfile/vue2/vendor.ohos.js
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/custom_ts_view.cc
Labels: driver: js, doc: example, size: m

#4317 fix(android): only delete flatten image should invalidate parent
  renderer/native/android/src/main/java/com/tencent/renderer/node/RenderNode.java
Labels: renderer: native, size: xs

#4318 fix(ohos): Non-200 status code structure return
  framework/ohos/src/main/ets/hippy_framework/adapter/http/HttpTaskCallbackImpl.ets
Labels: size: xs

#4319 fix(ios): very occasional exception while setting context name of JSC
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#4322 fix(ohos): fix image span for list item recycle
  framework/ohos/src/main/cpp/impl/renderer/native/src/components/rich_text_view.cc
Labels: size: s
