Repository Tencent/Hippy, pull requests merged in 2025-04, with the labels that each got.

#4241 build(ios): build compatibility of devtools module with cmake 4.0
  xcodeinitscript.sh
Labels: size: xs

#4242 fix(ios): char_traits compile error for xcode 16.3
  dom/include/dom/dom_argument.h
  dom/src/dom/dom_argument.cc
  modules/footstone/include/footstone/deserializer.h
  modules/footstone/include/footstone/string_view.h
  modules/footstone/src/deserializer.cc
Labels: dom: tree, module: footstone, size: s

#4245 fix(android): fix github jobs error
  driver/js/src/js_driver_utils.cc
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
Labels: driver: js, size: xs, framework: voltron

#4244 build(voltron): resolve voltron build failures
  framework/ios/base/executors/HippyJSExecutor.mm
  framework/voltron/core/src/bridge/bridge_ffi_impl.cc
  framework/voltron/core/src/bridge/ios/VoltronJSCExecutor.mm
Labels: framework: ios, size: xs, framework: voltron

#4246 fix(ios): 1px gap in gradient background under special circumstances
  renderer/native/ios/renderer/component/view/HippyView.m
Labels: renderer: native, size: xs

#4248 fix(ios): optimization of nested scroll in multi-layer nested scenarios
  renderer/native/ios/renderer/component/scrollview/HippyNestedScrollCoordinator.m
  renderer/native/ios/renderer/component/scrollview/HippyNestedScrollProtocol.h
Labels: renderer: native, size: s

#4252 chore(ios): remove debug assert in touch handler to avoid interference
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: renderer: native, size: xs

#4247 fix(ios): char_traits compile error for xcode 16.3
  core/third_party/base/include/base/unicode_string_view.h
Labels: driver: js, size: s

#4253 Bugfix/ohos fix update dimension
  framework/ohos/src/main/ets/hippy_framework/HippyEngineManagerImpl.ets
  framework/ohos/src/main/ets/hippy_framework/adapter/device/DefaultDeviceAdapter.ets
  framework/ohos/src/main/ets/hippy_framework/adapter/device/HippyDeviceAdapter.ets
  framework/ohos/src/main/ets/hippy_framework/bridge/HippyBridgeManagerImpl.ets
  framework/ohos/src/main/ets/hippy_framework/modules/javascript/Dimensions.ets
  framework/ohos/src/main/ets/renderer_native/FrameworkProxy.ets
  framework/ohos/src/main/ets/renderer_native/HippyRenderView.ets
  framework/ohos/src/main/ets/renderer_native/NativeRender.ets
  framework/ohos/src/main/ets/renderer_native/NativeRenderImpl.ets
  framework/ohos/src/main/ets/support/utils/DimensionsUtil.ets
Labels: size: s

#4254 feat(ohos): add ModuleListener
  framework/examples/ohos-c-demo/src/main/ets/pages/Index.ets
  framework/examples/ohos-demo/src/main/ets/pages/PageConfiguration.ets
  framework/examples/ohos-har-demo/src/main/ets/pages/Index.ets
  framework/ohos/src/main/ets/hippy_framework/HippyEngine.ets
  framework/ohos/src/main/ets/hippy_framework/HippyEngineContextImpl.ets
  framework/ohos/src/main/ets/hippy_framework/HippyEngineManagerImpl.ets
  framework/ohos/src/main/ets/hippy_framework/adapter/monitor/DefaultEngineMonitorAdapter.ets
  framework/ohos/src/main/ets/hippy_framework/adapter/monitor/HippyEngineMonitorAdapter.ets
  framework/ohos/src/main/ets/hippy_framework/index.ets
Labels: doc: example, size: m

#4256 fix(ohos): fix UpdateTextMeasurer crash
  framework/ohos/src/main/cpp/impl/renderer/native/src/native_render_provider.cc
Labels: size: xs

#4257 fix(ios): memory optimization & fix potential thread race in shadowView
  renderer/native/ios/renderer/component/view/HippyShadowView+Internal.h
  renderer/native/ios/renderer/component/view/HippyShadowView.mm
Labels: renderer: native, size: s

#4258 fix(ios): resolve potential thread race in performance api
  framework/ios/base/bridge/HippyBridge+PerformanceAPI.mm
Labels: framework: ios, size: s

#4262 fix(ios): abnormal background color drawing with corner radius
  modules/ios/base/HippyConvert.m
  renderer/native/ios/renderer/component/view/HippyBorderDrawing.h
  renderer/native/ios/renderer/component/view/HippyBorderDrawing.m
  renderer/native/ios/renderer/component/view/HippyView.h
  renderer/native/ios/renderer/component/view/HippyView.m
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: renderer: native, module: ios, size: l

#4273 fix(ohos): fix http user agent
  framework/ohos/src/main/ets/hippy_framework/adapter/http/HippyHttpRequest.ets
Labels: size: xs

#4275 feat(ohos): font weight scale follow system setting
  framework/ohos/src/main/cpp/impl/connector/src/native_renderer_napi.cc
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/native_render_manager.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/text_measure/text_measurer.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/utils/hr_pixel_utils.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/native_render_manager.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/text_measure/text_measurer.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/utils/hr_pixel_utils.cc
  framework/ohos/src/main/ets/hippy_framework/HippyEngineManagerImpl.ets
  framework/ohos/src/main/ets/hippy_framework/connector/NativeRenderer.ets
  framework/ohos/src/main/ets/hippy_library/HippyLibrary.ets
  framework/ohos/src/main/ets/support/utils/PixelUtil.ets
Labels: size: m

#4270 refactor(ios): refactor and obsolete code removal
  framework/ios/base/bridge/HippyBridgeDelegate.h
  modules/ios/base/HippyLog.h
  renderer/native/ios/renderer/HippyComponentData.h
  renderer/native/ios/renderer/HippyComponentData.mm
  renderer/native/ios/renderer/HippyFont.h
  renderer/native/ios/renderer/HippyFont.mm
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/text/HippyTextManager.mm
  renderer/native/ios/renderer/component/view/HippyViewManager.h
  renderer/native/ios/renderer/component/view/HippyViewManager.mm
Labels: framework: ios, renderer: native, module: ios, size: m

#4276 fix(android): add MonitorGroup for HippyEngineMonitorAdapter
  framework/android/src/main/java/com/tencent/mtt/hippy/HippyEngineManagerImpl.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/monitor/DefaultEngineMonitorAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/adapter/monitor/HippyEngineMonitorAdapter.java
  framework/android/src/main/java/com/tencent/mtt/hippy/bridge/HippyBridgeManagerImpl.java
  modules/android/hippy_support/src/main/java/com/tencent/mtt/hippy/utils/TimeMonitor.java
Labels: framework: android, module: android, size: s

#4281 fix(ohos): engine init param check log
  framework/ohos/src/main/ets/hippy_framework/HippyEngine.ets
Labels: size: xs

#4283 fix(ios): fix jsc ctx finalize crash
  driver/js/include/driver/napi/js_ctx.h
  driver/js/include/driver/napi/jsc/jsc_ctx.h
  driver/js/src/napi/jsc/jsc_ctx.cc
  driver/js/src/scope.cc
Labels: driver: js, size: s

#4285 fix(ios): dynamic size adaptation support of modal component
  renderer/native/ios/renderer/HippyUIManager.mm
  renderer/native/ios/renderer/component/modal/HippyModalHostView.m
  renderer/native/ios/renderer/component/modal/HippyModalHostViewController.m
  renderer/native/ios/renderer/component/modal/HippyModalHostViewManager.mm
Labels: renderer: native, size: s

#4286 fix(ohos): fix useNormalizedOHMUrl and dynamic import
  framework/ohos/src/main/ets/hippy_framework/index.ets
Labels: size: xs

#4287 fix(ios): nested sub text not responds to click event in touch handler
  renderer/native/ios/renderer/touch_handler/HippyTouchHandler.mm
Labels: renderer: native, size: xs

#4288 refactor(ios): hermes ctx code update
  driver/js/src/napi/hermes/hermes_ctx.cc
Labels: driver: js, size: s

#4292 Feature/ohos c interface use ts view
  framework/examples/ohos-c-demo/src/main/cpp/biz_view_manager.cpp
  framework/examples/ohos-c-demo/src/main/cpp/biz_view_manager.h
  framework/examples/ohos-c-demo/src/main/cpp/napi_init.cpp
  framework/examples/ohos-c-demo/src/main/cpp/types/libdemo/Index.d.ts
  framework/examples/ohos-c-demo/src/main/ets/pages/Index.ets
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/api_c/hippy.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/native_render_impl.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/native_render_manager.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/native_render_provider.h
  framework/ohos/src/main/cpp/impl/renderer/native/include/renderer/uimanager/hr_view_manager.h
  framework/ohos/src/main/cpp/impl/renderer/native/src/api_c/hippy.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/native_render_impl.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/native_render_manager.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/native_render_provider.cc
  framework/ohos/src/main/cpp/impl/renderer/native/src/uimanager/hr_view_manager.cc
  framework/ohos/src/main/ets/hippy_framework/HippyEngine.ets
  framework/ohos/src/main/ets/hippy_framework/HippyEngineManagerImpl.ets
  framework/ohos/src/main/ets/renderer_native/HippyRenderView.ets
  framework/ohos/src/main/ets/renderer_native/HippyRootView.ets
  framework/ohos/src/main/ets/renderer_native/NativeRenderImpl.ets
  framework/ohos/src/main/ets/renderer_native/NativeRenderProvider.ets
  framework/ohos/src/main/ets/renderer_native/index.ets
Labels: doc: example, size: m

#4293 refactor(ios): remove redundant lock in js engine
  framework/ios/base/executors/HippyJSExecutor.mm
Labels: framework: ios, size: s

#4294 fix(ios): onChange not fired under password mode of input component
  renderer/native/ios/renderer/component/text/HippyShadowText.mm
  renderer/native/ios/renderer/component/textinput/HippyTextField.m
  renderer/native/ios/renderer/component/textinput/HippyTextView.mm
Labels: renderer: native, size: s
